In [ ]:
#|default_exp data.serializer

# Serializer

> MARIS `.csv` data Serializer classes

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#|export
from __future__ import annotations
from fastcore.basics import store_attr
import pandas as pd
import re
import glob
from pathlib import Path
import xarray as xr
import numpy as np

pd.set_option('display.max_rows', 500)

## Serializer -

In [ ]:
#|export
class Serializer():
    """Serializer abstract class"""
    def __init__(self, 
                 fname:str, # File name path and name
                 dst:str, # Path of folder that will receive created .csv
                 col_id:str='ref_id', # Name of the unique id column in loaded .csv
                 #col_names:List[str]=['displaytext'] # Columns name as part of file name generated
                 col_names=['displaytext'] # Columns name as part of file name generated
                ):
        pass

## NetCDFSerializer -

In [ ]:
#|export
class NetCDFSerializer():
    """Serialize MARIS .csv to NetCDF4"""
    def __init__(self, 
                 fname:str, # File name path and name
                 cols_station:[str]=['latitude', 'longitude'], # Name of the lon. and lat. columns
                 col_depth:str='sampdepth' # Name of the depth column
                ):
        store_attr()
        self.df = self.load_data()

    def load_data(self):
        self.df = pd.read_csv(Path(self.fname))   
        return self.df
    
    def preview_dims_len(self, verbose=False):
        #sparsity = 1 - np.sum(self._n_depth_by_stations().values) / (self.n_stations()*self.n_samples())
        print(f'NetCDF dimensions size: N_STATIONS: {self.n_stations()} | N_SAMPLES: {self.n_samples()}')
    
    def n_stations(self):
        return len(self.df[self.cols_station].drop_duplicates())
        
    def _n_depth_by_stations(self):
        return self.df.groupby(self.cols_station)[self.col_depth].nunique()
    
    def n_samples(self):
        return np.max(self._n_depth_by_stations().sort_values(ascending=False))

In [ ]:
#|export
def flatten_cols(cols):
    new_cols = []
    for p1, p2 in cols:
        sep = '_' if p2 else ''
        new_cols.append(p2 + sep + p1)
    return new_cols

### Overview of MARIS datasets NetCDF dimensions

In [ ]:
dst = '/Users/franckalbinet/pro/IAEA/MARIS/data/csv/*'
mrs_dims = {'name': [], 'n_stations': [], 'n_samples': []}
for f in glob.glob(dst):
    serializer = NetCDFSerializer(f)
    mrs_dims['name'].append(Path(f).name)
    mrs_dims['n_stations'].append(serializer.n_stations())
    mrs_dims['n_samples'].append(serializer.n_samples())
df_mrs_dims = pd.DataFrame(mrs_dims)

In [ ]:
df_mrs_dims.sort_values(by=['n_stations', 'n_samples'], ascending=False).reset_index(drop=True)

                                                  name  n_stations  n_samples
0                    395-bailly-du-bois-et-al-2020.csv       23262         82
1                        99-aoyama-and-hirose-2004.csv        5772         63
2    191-ospar-comission-s-radioactive-substances-c...        3151          8
3                           84-maff-now-cefas-2004.csv        2679         24
4                                   402-cchdo-2018.csv        2353         33
5                        95-ipsn-cea-now-irsn-2004.csv        1856          1
6                             100-helcom-mors-2018.csv        1648         22
7                                  103-radnor-2010.csv        1621         13
8                            237-takata-et-al-2018.csv        1261         17
9        120-nra-nuclear-regulation-authority-2013.csv         934         10
10                           225-takata-et-al-2016.csv         847         28
11   119-mext-ministry-of-education-culture-sports-...         531         11
12                                   207-meri-2020.csv         511          4
13                                   203-meri-2016.csv         493          5
14                                   205-meri-2018.csv         466          4
15                                   206-meri-2019.csv         450          5
16                                   204-meri-2017.csv         442          5
17                                   202-meri-2015.csv         399          9
18                            401-olsen-et-al-2016.csv         358         38
19                                97-aspamard-2004.csv         355         30
20                        190-schlitzer-et-al-2018.csv         311        114
21                            400-boyer-et-al-n-d-.csv         311         21
22                              159-buesseler-2018.csv         255          8
23                                396-ostlund-n-d-.csv         240         27
24                          374-ostlund-et-al-1987.csv         224         80
25                           234-aoyama-et-al-2013.csv         187          1
26                          136-otosaka-et-al-2010.csv         155         39
27                        118-kaeriyama-et-al-2013.csv         122          1
28                      397-ostlund-and-grall-1987.csv          92         32
29                           117-oikawa-et-al-2013.csv          87         13
30                       219-polikarpov-et-al-1991.csv          84          1
31                              157-buesseler-2018.csv          82         13
32                              158-buesseler-2018.csv          81          7
33                          156-yoshida-et-al-2015.csv          76          5
34     121-tepco-tokyo-electric-power-company-2011.csv          73          3
35                           233-aoyama-et-al-2013.csv          62          1
36                        155-buesseler-et-al-2012.csv          54          9
37                   126-fukushima-prefecture-2011.csv          46          2
38                     64-östlund-and-stoiver-1988.csv          44         26
39        124-moe-ministry-of-the-environment-2011.csv          42         10
40   139-mext-ministry-of-education-culture-sports-...          42          2
41                     65-östlund-and-stoiver-1988.csv          41         24
42     680-tepco-tokyo-electric-power-company-2021.csv          41          3
43                               531-leppänen-2013.csv          41          1
44                               428-yu-et-al-2015.csv          35          3
45                       30-östlund-and-grall-1991.csv          34         12
46                      115-casacuberta-et-al-2013.csv          34          6
47                         114-charette-et-al-2013.csv          34          5
48       128-nra-nuclear-regulation-authority-2013.csv          34          1
49                            222-huang-et-al-2019.csv          33          5
50                           44-aarkrog-et-al-1989.csv          33          2
51       682-nra-nuclear-regulation-authority-2021.csv          32         14
52                     168-vivo-vilches-et-al-2018.csv          30         10
53                        501-yii-and-mahmood-2011.csv          30          1
54                              469-sartandel-2020.csv          30          1
55                              470-sartandel-2015.csv          30          1
56                            380-smith-et-al-2020.csv          29         11
57                             10-fukai-et-al-1980.csv          28          9
58                              101-ito-et-al-2007.csv          27          9
59                        223-buesseler-et-al-2018.csv          26          6
60        125-moe-ministry-of-the-environment-2012.csv          26          3
61                            232-honda-et-al-2012.csv          26          3
62                           116-suzuki-et-al-2013.csv          25         22
63                      373-castrillejo-et-al-2017.csv          25          7
64                          685-chamizo-et-al-2021.csv          24         24
65                                506-mahmood-2018.csv          24          1
66                             332-diab-et-al-2019.csv          24          1
67                           41-aarkrog-et-al-1994.csv          23          6
68                         198-skjerdal-et-al-2017.csv          22          2
69   321-département-de-suivi-des-centres-d-expérim...          21          6
70                     66-östlund-and-stoiver-1988.csv          20         19
71                      122-casacuberta-et-al-2018.csv          20         12
72                           106-yamada-et-al-2006.csv          20          1
73                            183-bokor-et-al-2016.csv          20          1
74                         56-kaeriyama-et-al-2014.csv          19         10
75                  137-jcg-japan-coast-guard-2011.csv          18          2
76                      105-theng-and-mohamed-2005.csv          17          3
77                          331-ramadan-et-al-2018.csv          17          1
78                             152-zhou-et-al-2018.csv          15          4
79                        6-kautsky-and-eicke-1982.csv          15          1
80   322-département-de-suivi-des-centres-d-expérim...          15          1
81                           31-aarkrog-et-al-1992.csv          14          6
82                     109-gulin-and-stokozov-2005.csv          14          1
83                      77-strand-and-nikitin-1993.csv          13          4
84                         197-skjerdal-et-al-2015.csv          13          1
85                    220-bologa-and-patrascu-1994.csv          12          2
86                   123-fukushima-prefecture-2013.csv          12          1
87                     162-gómez-guzmán-et-al-2014.csv          12          1
88                         113-kitamura-et-al-2013.csv          12          1
89                                  381-smith-2020.csv          11         14
90                           399-andrié-et-al-1988.csv          11         13
91                            441-godoy-et-al-2003.csv          11          1
92                                   497-khan-2012.csv          11          1
93       683-nra-nuclear-regulation-authority-2021.csv          10         10
94                         150-petrinec-et-al-2013.csv          10          1
95       684-nra-nuclear-regulation-authority-2021.csv          10          1
96                         28-ballestra-et-al-1984.csv           9          7
97                             52-amano-et-al-1996.csv           9          7
98                              9-fukai-et-al-1980.csv           9          1
99                             335-el-saharty-2013.csv           9          1
100                   398-andrié-and-merlivat-1988.csv           8         23
101      439-continental-shelf-associates-inc-1999.csv           8          1
102    679-tepco-tokyo-electric-power-company-2021.csv           8          1
103      681-nra-nuclear-regulation-authority-2021.csv           7          1
104                          409-cherry-et-al-1987.csv           7          1
105                            559-fiev-et-al-2013.csv           7          1
106                          337-arafat-et-al-2017.csv           7          1
107                  127-fukushima-prefecture-2013.csv           6          2
108                          415-heldal-et-al-2003.csv           6          1
109     425-usdoe-office-of-legacy-management-2013.csv           6          1
110                  169-villa-alfageme-et-al-2019.csv           5         25
111                      333-noureddine-et-al-2008.csv           5         10
112  140-mext-ministry-of-education-culture-sports-...           5          5
113                      336-atta-and-zakaria-2014.csv           5          1
114                      324-noureddine-et-al-2006.csv           5          1
115                                 538-brown-1999.csv           5          1
116                             325-lee-et-al-2006.csv           4          7
117                      326-benmansour-et-al-2006.csv           4          4
118                              568-johansen-2020.csv           4          1
119                        509-johansen-et-al-2015.csv           4          1
120                           484-saito-et-al-2003.csv           4          1
121                                   25-nies-1989.csv           3         19
122                    161-gómez-guzmán-et-al-2013.csv           3         10
123                       334-laissaoui-et-al-2008.csv           3          4
124                              408-carvalho-2011.csv           3          2
125                               567-germain-1995.csv           3          1
126                                 544-uddin-2019.csv           3          1
127                          107-yamada-et-al-2006.csv           2         11
128                            20-fukai-et-al-1982.csv           2          6
129                            486-alam-et-al-1999.csv           2          1
130                           483-cunha-et-al-1993.csv           2          1
131                            15-fukai-et-al-1981.csv           2          1
132                          3-top-and-clarke-1983.csv           1         18
133                         218-delbono-et-al-2016.csv           1         12
134                      328-noureddine-et-al-2007.csv           1          8
135                327-benkrid-and-noureddine-2007.csv           1          7
136                         166-bressac-et-al-2017.csv           1          5
137                         165-chamizo-et-al-2016.csv           1          5
138                           22-fowler-et-al-1983.csv           1          5
139                        14-ballestra-et-al-1980.csv           1          1
140                     403-al-qaradawi-et-al-2015.csv           1          1
141                       495-suriyanarayanan-2010.csv           1          1
142                                 468-samad-2014.csv           1          1
143                           475-inoue-et-al-2005.csv           1          1
144                     24-heyraud-and-cherry-1983.csv           1          1
145                            160-pham-et-al-2010.csv           1          1
146                            417-holm-et-al-1994.csv           1          1
147                       507-momoshima-et-al-2012.csv           1          1
148                               562-joensen-2011.csv           1          1
149                   472-antovic-and-antovic-2011.csv           1          0

### Converting one dataset to NetCDF

In [ ]:
#fname = 'files/41-aarkrog-et-al-1994-test.csv'
fname = '/Users/franckalbinet/pro/IAEA/MARIS/data/csv/84-maff-now-cefas-2004.csv'

In [ ]:
serializer = NetCDFSerializer(fname)

In [ ]:
serializer.preview_dims_len()

NetCDF dimensions size: N_STATIONS: 2679 | N_SAMPLES: 24

In [ ]:
serializer.df.shape

(33306, 79)

In [ ]:
# Should I sort it by data/time (begperiod)?
#serializer.df['N_STATIONS'] = list(zip(serializer.df.latitude, serializer.df.longitude))

In [ ]:
df = serializer.df.copy()

In [ ]:
df.columns

Index(['sample_id', 'area_id', 'areaname', 'samptype_id', 'samptype', 'ref_id',
       'displaytext', 'zoterourl', 'ref_note', 'datbase', 'lab_id', 'lab',
       'latitude', 'longitude', 'begperiod', 'endperiod', 'samplingyear',
       'totdepth', 'sampdepth', 'station', 'samplabcode', 'species_id',
       'taxonname', 'taxonrank', 'biogroup', 'taxondb', 'taxondbid',
       'taxondburl', 'taxonrepname', 'bodypar_id', 'bodypar', 'sliceup',
       'slicedown', 'sedtype_id', 'sedtype', 'sedrepname', 'nuclide_id',
       'nusymbol', 'volume', 'salinity', 'temperatur', 'filtered', 'filtpore',
       'samparea', 'drywt', 'wetwt', 'percentwt', 'sampmet_id', 'sampmet',
       'prepmet_id', 'prepmet', 'drymet_id', 'drymet', 'counmet_id', 'counmet',
       'decayedto', 'detection', 'activity', 'uncertaint', 'unit_id', 'unit',
       'vartype', 'freq', 'rangelow', 'rangeupp', 'profile', 'transect_id',
       'measure_note', 'shapetype_id', 'profile_id', 'sampnote',
       'ref_fulltext', 'ref_yearpub', 'ref_sampleTypes', 'LongLat',
       'displaycoordinates', 'DisplayLong', 'DisplayLat', 'id'],
      dtype='object')

In [ ]:
df.head()

,latitude,longitude,sampdepth,nusymbol,activity,uncertaint,begperiod
24290,54.393333,-3.485000,0.0,137Cs,166.87,NaN,1962-01-08
12856,54.433333,-3.535556,0.0,134Cs,NaN,NaN,1962-01-08
24291,54.393333,-3.485000,0.0,134Cs,NaN,NaN,1962-01-08
12855,54.433333,-3.535556,0.0,137Cs,179.82,NaN,1962-01-08
11773,54.433333,-3.535556,0.0,134Cs,NaN,NaN,1962-01-22

In [ ]:
# Convert `begperiod` to datetime
df['begperiod'] = pd.to_datetime(df['begperiod'])

In [ ]:
df = df[['latitude', 'longitude', 'sampdepth', 'nusymbol', 'activity', 'uncertaint', 'begperiod']].sort_values(by="begperiod")

In [ ]:
df.head()

,latitude,longitude,sampdepth,nusymbol,activity,uncertaint,begperiod
24290,54.393333,-3.485000,0.0,137Cs,166.87,NaN,1962-01-08
12856,54.433333,-3.535556,0.0,134Cs,NaN,NaN,1962-01-08
24291,54.393333,-3.485000,0.0,134Cs,NaN,NaN,1962-01-08
12855,54.433333,-3.535556,0.0,137Cs,179.82,NaN,1962-01-08
11773,54.433333,-3.535556,0.0,134Cs,NaN,NaN,1962-01-22

### Pivoting it to get `nusymbol` as column names

In [ ]:
df['nusymbol'].unique()

array(['137Cs', '134Cs', '137Cs/134Cs'], dtype=object)

In [ ]:
df.head()

,latitude,longitude,sampdepth,nusymbol,activity,uncertaint,begperiod
24290,54.393333,-3.485000,0.0,137Cs,166.87,NaN,1962-01-08
12856,54.433333,-3.535556,0.0,134Cs,NaN,NaN,1962-01-08
24291,54.393333,-3.485000,0.0,134Cs,NaN,NaN,1962-01-08
12855,54.433333,-3.535556,0.0,137Cs,179.82,NaN,1962-01-08
11773,54.433333,-3.535556,0.0,134Cs,NaN,NaN,1962-01-22

In [ ]:
df_pivoted = pd.pivot_table(df, values=['activity', 'uncertaint'], 
                            index=['latitude', 'longitude', 'sampdepth', 'begperiod'],
                            columns=['nusymbol'])
df_pivoted.sort_values(by=['begperiod', 'sampdepth'], inplace=True)
df_pivoted.reset_index(inplace=True)
df_pivoted.columns = flatten_cols(df_pivoted.columns)
df_pivoted

,latitude,longitude,sampdepth,begperiod,134Cs_activity,137Cs_activity,137Cs/134Cs_activity,134Cs_uncertaint,137Cs_uncertaint,137Cs/134Cs_uncertaint
0,54.393333,-3.485000,0.0,1962-01-08,NaN,166.87,NaN,NaN,NaN,NaN
1,54.433333,-3.535556,0.0,1962-01-08,NaN,179.82,NaN,NaN,NaN,NaN
2,54.393333,-3.485000,0.0,1962-01-22,NaN,186.48,NaN,NaN,NaN,NaN
3,54.433333,-3.535556,0.0,1962-01-22,NaN,293.41,NaN,NaN,NaN,NaN
4,54.393333,-3.485000,0.0,1962-02-07,NaN,335.96,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12747,51.791389,1.167222,0.0,1989-12-19,26.76,221.16,8.3,1.5,1.55,0.47
12748,51.973333,1.381111,0.0,1989-12-19,NaN,23.53,NaN,NaN,0.75,NaN
12749,52.154722,1.606944,0.0,1989-12-19,NaN,28.47,NaN,NaN,0.80,NaN
12750,52.211667,1.626111,0.0,1989-12-19,NaN,52.64,NaN,NaN,0.84,NaN
12751,52.452778,1.738889,0.0,1989-12-19,NaN,32.50,NaN,NaN,0.75,NaN

### Creating `N_STATIONS` and `N_SAMPLES` indexes (NetCDF dimensions)

In [ ]:
df_pivoted['N_STATIONS'] = list(zip(df_pivoted.latitude, df_pivoted.longitude))

In [ ]:
df_pivoted.head()

,latitude,longitude,sampdepth,begperiod,134Cs_activity,137Cs_activity,137Cs/134Cs_activity,134Cs_uncertaint,137Cs_uncertaint,137Cs/134Cs_uncertaint,N_STATIONS
0,54.393333,-3.485000,0.0,1962-01-08,NaN,166.87,NaN,NaN,NaN,NaN,"(54.3933333333333, -3.485)"
1,54.433333,-3.535556,0.0,1962-01-08,NaN,179.82,NaN,NaN,NaN,NaN,"(54.4333333333333, -3.53555555555556)"
2,54.393333,-3.485000,0.0,1962-01-22,NaN,186.48,NaN,NaN,NaN,NaN,"(54.3933333333333, -3.485)"
3,54.433333,-3.535556,0.0,1962-01-22,NaN,293.41,NaN,NaN,NaN,NaN,"(54.4333333333333, -3.53555555555556)"
4,54.393333,-3.485000,0.0,1962-02-07,NaN,335.96,NaN,NaN,NaN,NaN,"(54.3933333333333, -3.485)"

In [ ]:
idx, cols = pd.factorize(df_pivoted['N_STATIONS'])

In [ ]:
df_pivoted['N_STATIONS'] = idx
df_pivoted.sort_values(by=['N_STATIONS', 'sampdepth'])

,latitude,longitude,sampdepth,begperiod,134Cs_activity,137Cs_activity,137Cs/134Cs_activity,134Cs_uncertaint,137Cs_uncertaint,137Cs/134Cs_uncertaint,N_STATIONS
0,54.393333,-3.485000,0.0,1962-01-08,NaN,166.87,NaN,NaN,NaN,NaN,0
2,54.393333,-3.485000,0.0,1962-01-22,NaN,186.48,NaN,NaN,NaN,NaN,0
4,54.393333,-3.485000,0.0,1962-02-07,NaN,335.96,NaN,NaN,NaN,NaN,0
6,54.393333,-3.485000,0.0,1962-02-20,NaN,426.98,NaN,NaN,NaN,NaN,0
8,54.393333,-3.485000,0.0,1962-03-08,NaN,805.86,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
12639,55.970833,-2.408611,0.0,1989-08-11,NaN,24.94,NaN,NaN,1.50,NaN,2645
12655,55.970833,-2.408611,0.0,1989-09-08,NaN,22.31,NaN,NaN,1.49,NaN,2645
12672,55.970833,-2.408611,0.0,1989-10-06,NaN,24.18,NaN,NaN,1.50,NaN,2645
12690,55.970833,-2.408611,0.0,1989-11-04,NaN,26.61,NaN,NaN,1.57,NaN,2645
12745,55.970833,-2.408611,0.0,1989-12-15,NaN,24.59,NaN,NaN,0.74,NaN,2645

In [ ]:
station = 74
df_pivoted.query("N_STATIONS == @station")[['N_STATIONS', 'latitude', 'longitude', 'sampdepth', 'begperiod', 
                                            '134Cs_activity', '137Cs_activity', '137Cs/134Cs_activity']].sort_values(by='sampdepth')

,N_STATIONS,latitude,longitude,sampdepth,begperiod,134Cs_activity,137Cs_activity,137Cs/134Cs_activity
2401,74,56.666667,-6.133333,0.0,1972-10-15,22.940,182.040,7.90
1938,74,56.666667,-6.133333,0.0,1972-01-15,27.750,132.090,4.80
1975,74,56.666667,-6.133333,0.0,1972-03-15,49.580,284.160,5.70
2009,74,56.666667,-6.133333,0.0,1972-04-15,43.660,299.700,6.90
2030,74,56.666667,-6.133333,0.0,1972-05-15,37.740,281.570,7.50
2307,74,56.666667,-6.133333,0.0,1972-06-15,44.030,286.380,6.50
2329,74,56.666667,-6.133333,0.0,1972-07-15,22.940,138.750,6.00
2382,74,56.666667,-6.133333,0.0,1972-09-15,27.010,196.840,7.30
10698,74,56.666667,-6.133333,0.0,1984-11-25,16.190,212.060,13.10
2438,74,56.666667,-6.133333,0.0,1972-11-15,42.180,317.090,7.50
2453,74,56.666667,-6.133333,0.0,1972-12-15,22.940,178.340,7.80
12543,74,56.666667,-6.133333,3.0,1989-05-05,NaN,29.020,NaN
12499,74,56.666667,-6.133333,3.0,1989-04-08,NaN,36.490,NaN
1344,74,56.666667,-6.133333,3.0,1967-12-12,NaN,94.720,NaN
10973,74,56.666667,-6.133333,3.0,1985-07-05,NaN,287.980,NaN
12423,74,56.666667,-6.133333,3.0,1989-01-21,NaN,29.120,NaN
10785,74,56.666667,-6.133333,3.0,1985-01-28,13.690,292.470,21.40
10255,74,56.666667,-6.133333,3.0,1984-06-26,12.090,323.760,26.80
9465,74,56.666667,-6.133333,3.0,1983-08-15,15.170,411.630,27.10
10159,74,56.666667,-6.133333,3.0,1984-04-30,13.300,304.410,22.90
10028,74,56.666667,-6.133333,3.0,1984-01-17,8.140,302.410,37.10
9539,74,56.666667,-6.133333,3.0,1983-09-02,23.910,491.260,20.50
11062,74,56.666667,-6.133333,3.0,1985-08-18,NaN,211.500,NaN
9309,74,56.666667,-6.133333,3.0,1983-05-23,14.010,404.400,28.90
11705,74,56.666667,-6.133333,3.0,1987-03-27,10.100,89.930,8.90
12709,74,56.666667,-6.133333,3.0,1989-11-25,NaN,34.430,NaN
12287,74,56.666667,-6.133333,3.0,1988-08-06,NaN,63.410,NaN
12132,74,56.666667,-6.133333,3.0,1988-04-11,NaN,50.360,NaN
12240,74,56.666667,-6.133333,3.0,1988-07-03,NaN,134.620,NaN
11684,74,56.666667,-6.133333,3.0,1987-02-24,6.340,72.750,11.50
11803,74,56.666667,-6.133333,3.0,1987-06-29,4.810,76.940,16.00
11640,74,56.666667,-6.133333,3.0,1987-01-09,5.440,70.870,13.00
11820,74,56.666667,-6.133333,3.0,1987-07-21,4.410,94.340,21.40
11627,74,56.666667,-6.133333,3.0,1987-01-05,10.840,118.370,10.90
11828,74,56.666667,-6.133333,3.0,1987-08-01,10.480,65.580,6.30
11230,74,56.666667,-6.133333,3.0,1985-12-15,NaN,35.250,NaN
11623,74,56.666667,-6.133333,3.0,1986-12-18,12.470,91.990,7.40
11608,74,56.666667,-6.133333,3.0,1986-12-06,24.140,174.220,7.20
12105,74,56.666667,-6.133333,3.0,1988-03-08,6.810,65.460,9.60
11583,74,56.666667,-6.133333,3.0,1986-11-11,19.310,137.440,7.10
8486,74,56.666667,-6.133333,3.0,1982-04-26,25.100,579.690,23.10
11524,74,56.666667,-6.133333,3.0,1986-08-27,25.110,159.230,6.30
11356,74,56.666667,-6.133333,3.0,1986-03-21,NaN,162.950,NaN
11973,74,56.666667,-6.133333,3.0,1987-11-24,13.110,57.660,4.40
8088,74,56.666667,-6.133333,3.0,1982-01-27,44.630,938.660,21.00
8759,74,56.666667,-6.133333,3.0,1982-08-19,13.180,426.220,32.30
7260,74,56.666667,-6.133333,3.0,1981-04-14,34.980,620.750,17.70
5414,74,56.666667,-6.133333,3.0,1978-04-20,108.300,1039.330,9.60
7479,74,56.666667,-6.133333,3.0,1981-07-15,40.890,806.020,19.70
5190,74,56.666667,-6.133333,3.0,1977-09-02,110.000,871.680,7.90
5134,74,56.666667,-6.133333,3.0,1977-07-25,117.360,895.990,7.60
5025,74,56.666667,-6.133333,3.0,1977-04-14,216.340,1609.170,7.40
4966,74,56.666667,-6.133333,3.0,1977-03-08,297.740,2279.530,7.70
4895,74,56.666667,-6.133333,3.0,1976-12-18,131.830,880.120,6.70
4808,74,56.666667,-6.133333,3.0,1976-10-08,76.110,486.700,6.40
4746,74,56.666667,-6.133333,3.0,1976-08-04,71.560,423.210,5.90
4515,74,56.666667,-6.133333,3.0,1975-11-07,120.620,682.280,5.70
4433,74,56.666667,-6.133333,3.0,1975-08-26,128.390,692.270,5.40
4382,74,56.666667,-6.133333,3.0,1975-07-15,103.600,520.960,5.00
4360,74,56.666667,-6.133333,3.0,1975-07-04,102.860,504.310,4.90
4340,74,56.666667,-6.133333,3.0,1975-06-15,86.950,470.270,5.40
4303,74,56.666667,-6.133333,3.0,1975-05-15,103.970,551.670,5.30
4272,74,56.666667,-6.133333,3.0,1975-05-06,107.300,525.400,4.90
4202,74,56.666667,-6.133333,3.0,1975-03-04,67.155,342.435,5.15
5460,74,56.666667,-6.133333,3.0,1978-06-08,103.600,1045.470,10.10
5530,74,56.666667,-6.133333,3.0,1978-08-11,86.840,828.690,9.50
5317,74,56.666667,-6.133333,3.0,1978-02-02,85.100,801.640,9.40
5571,74,56.666667,-6.133333,3.0,1978-09-14,76.740,944.050,12.30
7076,74,56.666667,-6.133333,3.0,1981-01-27,14.240,289.850,20.40
6611,74,56.666667,-6.133333,3.0,1980-05-31,41.770,632.130,15.10
6582,74,56.666667,-6.133333,3.0,1980-05-03,67.040,977.730,14.60
6556,74,56.666667,-6.133333,3.0,1980-04-22,49.280,760.940,15.40
6352,74,56.666667,-6.133333,3.0,1980-04-09,35.660,604.150,16.90
6152,74,56.666667,-6.133333,3.0,1980-02-10,24.730,428.810,17.30
6034,74,56.666667,-6.133333,3.0,1979-10-24,37.320,543.770,14.60
5956,74,56.666667,-6.133333,3.0,1979-09-13,40.090,586.630,14.60
11750,74,56.666667,-6.133333,3.0,1987-05-06,9.790,100.550,10.30
5840,74,56.666667,-6.133333,3.0,1979-05-22,72.585,856.645,11.80
5719,74,56.666667,-6.133333,3.0,1979-01-17,60.530,676.720,11.20
5630,74,56.666667,-6.133333,3.0,1978-11-04,41.630,514.890,12.40
5888,74,56.666667,-6.133333,3.0,1979-06-30,62.350,842.750,13.50
10262,74,56.666667,-6.133333,25.0,1984-06-26,7.910,293.850,37.10
11686,74,56.666667,-6.133333,25.0,1987-02-24,5.580,62.320,11.20
11527,74,56.666667,-6.133333,30.0,1986-08-27,22.000,143.470,6.50
10977,74,56.666667,-6.133333,30.0,1985-07-05,21.650,255.610,11.80
10166,74,56.666667,-6.133333,30.0,1984-04-30,7.660,326.110,42.60
10791,74,56.666667,-6.133333,30.0,1985-01-28,14.240,280.250,19.70
11806,74,56.666667,-6.133333,30.0,1987-06-29,NaN,86.070,NaN
11636,74,56.666667,-6.133333,45.0,1987-01-05,16.670,150.830,9.00
12722,74,56.666667,-6.133333,50.0,1989-11-25,NaN,32.660,NaN
11611,74,56.666667,-6.133333,50.0,1986-12-06,33.340,203.640,6.10
12249,74,56.666667,-6.133333,50.0,1988-07-03,NaN,52.450,NaN
11237,74,56.666667,-6.133333,55.0,1985-12-15,14.200,184.420,13.00
10267,74,56.666667,-6.133333,55.0,1984-06-26,11.580,294.490,25.40
11808,74,56.666667,-6.133333,60.0,1987-06-29,NaN,84.000,NaN
10796,74,56.666667,-6.133333,60.0,1985-01-28,7.480,263.240,35.20
11528,74,56.666667,-6.133333,60.0,1986-08-27,16.850,97.990,5.80
10979,74,56.666667,-6.133333,60.0,1985-07-05,NaN,236.590,NaN
10704,74,56.666667,-6.133333,60.0,1984-11-25,10.320,208.290,20.20
11063,74,56.666667,-6.133333,60.0,1985-08-18,11.540,167.420,14.50
11708,74,56.666667,-6.133333,65.0,1987-03-27,10.110,89.640,8.90
11982,74,56.666667,-6.133333,65.0,1987-11-24,NaN,45.520,NaN
11984,74,56.666667,-6.133333,70.0,1987-11-24,NaN,46.460,NaN
10169,74,56.666667,-6.133333,70.0,1984-04-30,11.780,331.060,28.10
12303,74,56.666667,-6.133333,75.0,1988-08-06,5.060,65.720,13.00
12559,74,56.666667,-6.133333,75.0,1989-05-05,NaN,37.590,NaN
12109,74,56.666667,-6.133333,90.0,1988-03-08,7.970,74.150,9.30
11638,74,56.666667,-6.133333,90.0,1987-01-05,18.000,159.700,8.90
11643,74,56.666667,-6.133333,90.0,1987-01-09,NaN,82.310,NaN
12433,74,56.666667,-6.133333,100.0,1989-01-23,NaN,18.030,NaN
12252,74,56.666667,-6.133333,100.0,1988-07-03,NaN,64.810,NaN
11612,74,56.666667,-6.133333,100.0,1986-12-06,32.980,195.120,5.90
12513,74,56.666667,-6.133333,105.0,1989-04-08,NaN,19.010,NaN
11239,74,56.666667,-6.133333,105.0,1985-12-15,NaN,180.860,NaN
12728,74,56.666667,-6.133333,110.0,1989-11-25,NaN,32.290,NaN
11064,74,56.666667,-6.133333,120.0,1985-08-18,NaN,171.570,NaN
10706,74,56.666667,-6.133333,130.0,1984-11-25,8.720,199.100,22.80
12306,74,56.666667,-6.133333,145.0,1988-08-06,NaN,71.200,NaN
11753,74,56.666667,-6.133333,145.0,1987-05-06,7.830,110.970,14.20
12435,74,56.666667,-6.133333,160.0,1989-01-23,NaN,26.850,NaN
11644,74,56.666667,-6.133333,170.0,1987-01-09,NaN,78.290,NaN
11645,74,56.666667,-6.133333,170.0,1987-01-13,8.090,62.560,7.70
12110,74,56.666667,-6.133333,175.0,1988-03-08,6.860,76.900,11.20
11626,74,56.666667,-6.133333,175.0,1986-12-18,8.470,69.920,8.30
11823,74,56.666667,-6.133333,180.0,1987-07-21,NaN,72.780,NaN
12565,74,56.666667,-6.133333,180.0,1989-05-05,NaN,33.930,NaN
12516,74,56.666667,-6.133333,186.0,1989-04-08,NaN,42.610,NaN
11585,74,56.666667,-6.133333,190.0,1986-11-11,12.690,101.510,8.00

In [ ]:
# Number of different depth measurements by station
df_pivoted.groupby('N_STATIONS')['sampdepth'].nunique().sort_values(ascending=False)

N_STATIONS
74      24
77      19
1006    14
1003    14
1005    13
        ..
1132     1
1131     1
1130     1
1129     1
2645     1
Name: sampdepth, Length: 2646, dtype: int64

In [ ]:
#def get_rank(grp):
#    grp['N_SAMPLES'] = (grp['sampdepth'].rank() - 1).astype(int)
#    return grp

In [ ]:
# df = df.groupby(['N_STATIONS','sampdepth']).apply(get_rank)