# Microsoft Access to CSV

In [40]:
#| export
import pandas as pd
import subprocess
import io

## Read MDB file

Creating a function to read MDB file and return a dictionary of pandas DataFrames

In [41]:
#| export

def read_mdb_tables(mdb_path):
    """
    Uses MDB Tools to read tables from an MDB file and returns them as pandas DataFrames.

    Args:
    mdb_path (str): The file path to the MDB file.

    Returns:
    dict: A dictionary where keys are table names and values are DataFrames containing the table data.
    """
    # Get a list of table names using mdb-tables
    table_names = subprocess.check_output(['mdb-tables', '-1', mdb_path]).decode().splitlines()

    # Read each table into a DataFrame using mdb-export and store in a dictionary
    tables = {}
    for table in table_names:
        command = ['mdb-export', mdb_path, table]
        output = subprocess.check_output(command).decode()
        tables[table] = pd.read_csv(io.StringIO(output))

    return tables

Path to the MDB file

In [42]:
mdb_path='/home/marisco/downloads/marisco/_data/accdb/ospar/20241021/OSPAR_Env_Concentrations_20241021.mdb'

Read the MDB file and return a dictionary of pandas DataFrames

In [46]:
df=read_mdb_tables(mdb_path)

In [47]:
df.keys()

dict_keys(['Biota data', 'Seawater data', 'Seawater_Station_Dictionary'])

In [51]:
for key in df.keys():
    print(key)
    print(df[key].head())
    print('-'*100)

Biota data
   ID Contracting Party  RSC Sub-division             Station ID Sample ID  \
0   1           Belgium                 8  Kloosterzande-Schelde  DA 17531
1   2           Belgium                 8  Kloosterzande-Schelde  DA 17534
2   3           Belgium                 8  Kloosterzande-Schelde  DA 17537
3   4           Belgium                 8  Kloosterzande-Schelde  DA 17540
4   5           Belgium                 8  Kloosterzande-Schelde  DA 17531

   LatD  LatM  LatS LatDir  LongD  ...      Sampling date  Nuclide Value type  \
0    51  23.0  36.0      N      4  ...  03/03/10 00:00:00    137Cs          <
1    51  23.0  36.0      N      4  ...  06/14/10 00:00:00    137Cs          <
2    51  23.0  36.0      N      4  ...  09/27/10 00:00:00    137Cs          <
3    51  23.0  36.0      N      4  ...  12/08/10 00:00:00    137Cs          <
4    51  23.0  36.0      N      4  ...  03/03/10 00:00:00    226Ra          <

  Activity or MDA Uncertainty        Unit Data provider Measurement Comment  \
0        0.326416         NaN  Bq/kg f.w.       SCK•CEN                 NaN
1        0.442704         NaN  Bq/kg f.w.       SCK•CEN                 NaN
2        0.412989         NaN  Bq/kg f.w.       SCK•CEN                 NaN
3        0.202768         NaN  Bq/kg f.w.       SCK•CEN                 NaN
4        0.652833         NaN  Bq/kg f.w.       SCK•CEN                 NaN

  Sample Comment Reference Comment
0            NaN               NaN
1            NaN               NaN
2            NaN               NaN
3            NaN               NaN
4            NaN               NaN

[5 rows x 27 columns]
----------------------------------------------------------------------------------------------------
Seawater data
   ID Contracting Party  RSC Sub-division   Station ID Sample ID  LatD  LatM  \
0   1           Belgium               8.0  Belgica-W01    WNZ 01    51  22.0
1   2           Belgium               8.0  Belgica-W02    WNZ 02    51  13.0
2   3           Belgium               8.0  Belgica-W03    WNZ 03    51  11.0
3   4           Belgium               8.0  Belgica-W04    WNZ 04    51  25.0
4   5           Belgium               8.0  Belgica-W05    WNZ 05    51  24.0

   LatS LatDir  LongD  ...      Sampling date  Nuclide Value type  \
0  31.0      N      3  ...  01/27/10 00:00:00    137Cs          <
1  25.0      N      2  ...  01/27/10 00:00:00    137Cs          <
2   4.0      N      2  ...  01/27/10 00:00:00    137Cs          <
3  13.0      N      3  ...  01/27/10 00:00:00    137Cs          <
4  58.0      N      2  ...  01/26/10 00:00:00    137Cs          <

  Activity or MDA  Uncertainty  Unit Data provider Measurement Comment  \
0            0.20          NaN  Bq/l       SCK•CEN                 NaN
1            0.27          NaN  Bq/l       SCK•CEN                 NaN
2            0.26          NaN  Bq/l       SCK•CEN                 NaN
3            0.25          NaN  Bq/l       SCK•CEN                 NaN
4            0.20          NaN  Bq/l       SCK•CEN                 NaN

   Sample Comment  Reference Comment
0             NaN                NaN
1             NaN                NaN
2             NaN                NaN
3             NaN                NaN
4             NaN                NaN

[5 rows x 25 columns]
----------------------------------------------------------------------------------------------------
Seawater_Station_Dictionary
   ID Contracting_Party Station_ID  RSC_Region      LatDD    LongDD
0   1             Spain     MAS-01           1  43.634444 -3.578056
1   2             Spain     MAS-04           1  43.000000 -9.366667
2   3             Spain     MAS-05           1  42.250000 -8.900000
3   4             Spain     MAS-06           1  37.050000 -7.333333
4   5             Spain     MAB-07           1  36.416667 -6.316667
----------------------------------------------------------------------------------------------------

## MDB to CSV

Read the MDB file and save each table as a CSV file

In [56]:
#| export
def mdb2csv(mdb_path, out_dir=None):
    """
    Converts tables from an MDB file to CSV files in the specified directory.
    Args:
    mdb_path (str): The file path to the MDB file.
    out_dir (str, optional): The directory to output CSV files. If None, uses mdb_path directory with a 'csv' subfolder.
    Raises:
    FileNotFoundError: If the specified out_dir does not exist and cannot be created.
    """
    df = read_mdb_tables(mdb_path)
    if out_dir is None:
        out_dir = os.path.join(os.path.dirname(mdb_path), 'csv')
    
    if not os.path.exists(out_dir):
        try:
            os.makedirs(out_dir)
        except OSError as e:
            raise FileNotFoundError(f"Failed to create output directory {out_dir}: {e.strerror}")

    for key, dataframe in df.items():
        csv_path = os.path.join(out_dir, f'{key}.csv')
        dataframe.to_csv(csv_path, index=False)
        print(f"Table {key} exported to {csv_path}")

In [60]:
mdb2csv(mdb_path)

Table Biota data exported to /home/marisco/downloads/marisco/_data/accdb/ospar/20241021/csv/Biota data.csv
Table Seawater data exported to /home/marisco/downloads/marisco/_data/accdb/ospar/20241021/csv/Seawater data.csv
Table Seawater_Station_Dictionary exported to /home/marisco/downloads/marisco/_data/accdb/ospar/20241021/csv/Seawater_Station_Dictionary.csv