In [ ]:
#| default_exp handlers.geotraces

# Geotraces
> Data pipeline (handler) to convert BODC Geotraces seawater dataset

Ref: 
    
    - https://www.geotraces.org/geotraces-intermediate-data-product-2021/
    - zotero MARIS geotraces entry (2018 only?): https://www.zotero.org/groups/2432820/maris/items/97UIMEXN


BODC bottle id

temperature, oxygen, station (optional), samplabcode

List of all accepted maris master db cols:
- sample_id
- sampquality
- ref_id
- osamcod
- samplabcode
- samptype_id
- lab_id
- station
- aqcs
- sedtrap
- aqcsyear
- aqcsmonth
- totdepth
- sampdepth
- volume
- salinity
- temperatur
- filtered
- acid
- oxygen
- samparea
- sliceup
- slicedown
- sieved
- organic
- oxic
- drytemp
- drywt
- wetwt
- percentwt
- filtpore
- sampnote
- begperiod
- endperiod
- sedtype_id
- drymet_id
- species_id
- bodypar_id
- sampmet_id
- prepmet_id
- gfe
- Commonname
- TaxonRepName
- SedRepName
- shiftedcoordinates
- shiftedLong
- shiftedLat
- longitude
- latitude

TODO & QUESTIONS:

- salinity, temperature, oxygen, station(?), samplabcode (BODC bottle ID?)
- How to handle this unit? U_236_238_T_RATIO_BOTTLE [per 10^12]

## Packages import

In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
#| export
from tqdm import tqdm
from pathlib import Path
import fastcore.all as fc
import pandas as pd
import numpy as np
import re

from marisco.callbacks import (
    Callback, 
    Transformer, 
    SanitizeLonLatCB, 
    EncodeTimeCB,
    ReshapeLongToWide
)

from marisco.metadata import (
    GlobAttrsFeeder, 
    BboxCB,
    DepthRangeCB, 
    TimeRangeCB,
    ZoteroCB,
    KeyValuePairCB
)

from marisco.configs import (
    lut_path, 
    cdl_cfg, 
    cfg, 
    nc_tpl_path, 
    Enums
)

from marisco.serializers import NetCDFEncoder

In [ ]:
pd.set_option('display.max_rows', 200)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

So again, the 1 million question is still there: what constitutes a single sample in the context of Geotraces?

## Input and output file names

In [ ]:
# | exports
fname_in = '../../_data/geotraces/GEOTRACES_IDP2021_v2/seawater/ascii/GEOTRACES_IDP2021_Seawater_Discrete_Sample_Data_v2.csv'
fname_out = '../../_data/output/190-geotraces-2021.nc'

## Load data

In [ ]:
#| exports
load_data = lambda fname: pd.read_csv(fname_in)

In [ ]:
#| eval: false
df = load_data(fname_in)
print(f'df shape: {df.shape}')
df.head()

df shape: (105417, 1188)

,Cruise,Station:METAVAR:INDEXED_TEXT,Type,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],Operator's Cruise Name:METAVAR:INDEXED_TEXT,Ship Name:METAVAR:INDEXED_TEXT,Period:METAVAR:INDEXED_TEXT,...,QV:SEADATANET.581,Co_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.582,Ni_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.583,Cu_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.584,Zn_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.585,QV:ODV:SAMPLE
0,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
1,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
2,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
3,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
4,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1

In [ ]:
#| hide
#| eval: false
def find_print_col(s, cols, lower=True):
    cols = cols if not lower else [col.lower() for col in cols]
    for col in cols:
        if s in col: print(col)

find_print_col('sal', df.columns)
find_print_col('tmp', df.columns)
find_print_col('oxy', df.columns)
find_print_col('U_236_238', df.columns, lower=False)

ctdsal_d_conc_sensor [pss-78]
salinity_d_conc_bottle
salinity_d_conc_pump
salinity_d_conc_fish
salinity_d_conc_uway
salinity_d_conc_boat_pump
ctdtmp_t_value_sensor [deg c]
oxygen_d_conc_bottle [umol/kg]
ctdoxy_d_conc_sensor [umol/kg]
U_236_238_T_RATIO_BOTTLE [per 10^12]

## Data transformation pipeline

### Select columns of interest

In [ ]:
#| exports
common_coi = ['yyyy-mm-ddThh:mm:ss.sss', 'Longitude [degrees_east]',
              'Latitude [degrees_north]', 'Bot. Depth [m]', 'DEPTH [m]', 'BODC Bottle Number:INTEGER']

nuclides_pattern = ['^TRITI', '^Th_228', '^Th_23[024]', '^Pa_231', 
                    '^U_236_[DT]', '^Be_', '^Cs_137', '^Pb_210', '^Po_210',
                    '^Ra_22[3468]', 'Np_237', '^Pu_239_[D]', '^Pu_240', '^Pu_239_Pu_240',
                    '^I_129', '^Ac_227']  

class SelectColsOfInterestCB(Callback):
    "Select columns of interest."
    def __init__(self, common_coi, nuclides_pattern): fc.store_attr()
    def __call__(self, tfm):
        nuc_of_interest = [c for c in tfm.df.columns if 
                           any(re.match(pattern, c) for pattern in self.nuclides_pattern)]

        tfm.df = tfm.df[self.common_coi + nuc_of_interest]

In [ ]:
#| eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern)
])

In [ ]:
#| eval: false
df_test = tfm()
print(f'df_test shape: {df_test.shape}')
df_test.head()

df_test shape: (105417, 86)

,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],DEPTH [m],BODC Bottle Number:INTEGER,TRITIUM_D_CONC_BOTTLE [TU],Cs_137_D_CONC_BOTTLE [uBq/kg],I_129_D_CONC_BOTTLE [atoms/kg],Np_237_D_CONC_BOTTLE [uBq/kg],...,Th_230_TP_CONC_PUMP [uBq/kg],Th_230_SPT_CONC_PUMP [uBq/kg],Th_230_LPT_CONC_PUMP [uBq/kg],Th_232_TP_CONC_PUMP [pmol/kg],Th_232_SPT_CONC_PUMP [pmol/kg],Th_232_LPT_CONC_PUMP [pmol/kg],Th_234_SPT_CONC_PUMP [mBq/kg],Th_234_LPT_CONC_PUMP [mBq/kg],Po_210_TP_CONC_UWAY [mBq/kg],Pb_210_TP_CONC_UWAY [mBq/kg]
0,2014-05-17T22:29:00,349.29999,38.4329,4854.0,2957.1,1214048,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-05-17T22:29:00,349.29999,38.4329,4854.0,2957.2,1214039,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-05-17T22:29:00,349.29999,38.4329,4854.0,2957.2,1214027,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-05-17T22:29:00,349.29999,38.4329,4854.0,2957.2,1214018,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-05-17T22:29:00,349.29999,38.4329,4854.0,2957.2,1214036,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

`BODC Bottle Number:INTEGER` field allows to characterize uniquely a sample as shown below:

In [ ]:
#| eval: false
cols_measurements = [col for col in df_test.columns if col not in common_coi]

unique_key = ['BODC Bottle Number:INTEGER']

df_test.dropna(subset=cols_measurements, how='all', inplace=True);
print(f'df_test shape after dropping rows with no measurements: {df_test.shape}')
print(f'df_test duplicated keys: {df_test[unique_key].duplicated().sum()}')

df_test[df_test[unique_key].duplicated(keep=False)].sort_values(by=unique_key)

df_test shape after dropping rows with no measurements: (9389, 86)
df_test duplicated keys: 0

Empty DataFrame
Columns: [yyyy-mm-ddThh:mm:ss.sss, Longitude [degrees_east], Latitude [degrees_north], Bot. Depth [m], DEPTH [m], BODC Bottle Number:INTEGER, TRITIUM_D_CONC_BOTTLE [TU], Cs_137_D_CONC_BOTTLE [uBq/kg], I_129_D_CONC_BOTTLE [atoms/kg], Np_237_D_CONC_BOTTLE [uBq/kg], Pu_239_D_CONC_BOTTLE [uBq/kg], Pu_239_Pu_240_D_CONC_BOTTLE [uBq/kg], Pu_240_D_CONC_BOTTLE [uBq/kg], U_236_D_CONC_BOTTLE [atoms/kg], U_236_T_CONC_BOTTLE [atoms/kg], U_236_D_CONC_FISH [atoms/kg], Cs_137_D_CONC_UWAY [uBq/kg], Pu_239_Pu_240_D_CONC_UWAY [uBq/kg], Pa_231_D_CONC_BOTTLE [uBq/kg], Pb_210_D_CONC_BOTTLE [mBq/kg], Po_210_D_CONC_BOTTLE [mBq/kg], Ra_224_D_CONC_BOTTLE [mBq/kg], Ra_226_D_CONC_BOTTLE [mBq/kg], Ra_228_T_CONC_BOTTLE [mBq/kg], Ra_228_D_CONC_BOTTLE [mBq/kg], Th_230_T_CONC_BOTTLE [uBq/kg], Th_230_D_CONC_BOTTLE [uBq/kg], Th_232_T_CONC_BOTTLE [pmol/kg], Th_232_D_CONC_BOTTLE [pmol/kg], Th_234_T_CONC_BOTTLE [mBq/kg], Ac_227_D_CONC_PUMP [uBq/kg], Be_7_T_CONC_PUMP [uBq/kg], Be_7_D_CONC_PUMP [uBq/kg], Ra_223_D_CONC_PUMP [mBq/kg], Ra_224_D_CONC_PUMP [mBq/kg], Ra_226_D_CONC_PUMP [mBq/kg], Ra_228_T_CONC_PUMP [mBq/kg], Ra_228_D_CONC_PUMP [mBq/kg], Th_228_D_CONC_PUMP [uBq/kg], Th_234_T_CONC_PUMP [mBq/kg], Pa_231_D_CONC_FISH [uBq/kg], Pb_210_D_CONC_FISH [mBq/kg], Po_210_D_CONC_FISH [mBq/kg], Ra_226_D_CONC_FISH [mBq/kg], Ra_228_T_CONC_FISH [mBq/kg], Th_230_D_CONC_FISH [uBq/kg], Th_232_D_CONC_FISH [pmol/kg], Th_234_T_CONC_FISH [mBq/kg], Pa_231_D_CONC_UWAY [uBq/kg], Po_210_D_CONC_UWAY [mBq/kg], Pb_210_D_CONC_UWAY [mBq/kg], Ra_224_D_CONC_UWAY [mBq/kg], Ra_226_D_CONC_UWAY [mBq/kg], Ra_228_D_CONC_UWAY [mBq/kg], Th_228_D_CONC_UWAY [uBq/kg], Th_230_D_CONC_UWAY [uBq/kg], Th_232_D_CONC_UWAY [pmol/kg], Th_234_T_CONC_UWAY [mBq/kg], Pa_231_D_CONC_BOAT_PUMP [uBq/kg], Th_230_D_CONC_BOAT_PUMP [uBq/kg], Th_232_D_CONC_BOAT_PUMP [pmol/kg], Pa_231_D_CONC_SUBICE_PUMP [uBq/kg], Th_230_D_CONC_SUBICE_PUMP [uBq/kg], Th_232_D_CONC_SUBICE_PUMP [pmol/kg], Th_234_T_CONC_SUBICE_PUMP [mBq/kg], Po_210_TP_CONC_BOTTLE [mBq/kg], Pb_210_TP_CONC_BOTTLE [mBq/kg], Po_210_SPT_CONC_PUMP [mBq/kg], Po_210_LPT_CONC_PUMP [mBq/kg], Pb_210_SPT_CONC_PUMP [mBq/kg], Pb_210_LPT_CONC_PUMP [mBq/kg], Pa_231_TP_CONC_PUMP [uBq/kg], Pa_231_SPT_CONC_PUMP [uBq/kg], Pa_231_LPT_CONC_PUMP [uBq/kg], Th_228_SPT_CONC_PUMP [uBq/kg], Th_228_LPT_CONC_PUMP [uBq/kg], Th_230_TP_CONC_PUMP [uBq/kg], Th_230_SPT_CONC_PUMP [uBq/kg], Th_230_LPT_CONC_PUMP [uBq/kg], Th_232_TP_CONC_PUMP [pmol/kg], Th_232_SPT_CONC_PUMP [pmol/kg], Th_232_LPT_CONC_PUMP [pmol/kg], Th_234_SPT_CONC_PUMP [mBq/kg], Th_234_LPT_CONC_PUMP [mBq/kg], Po_210_TP_CONC_UWAY [mBq/kg], Pb_210_TP_CONC_UWAY [mBq/kg]]
Index: []

[0 rows x 86 columns]

### Reshape: wide to long

So that we can extract information such as sample methodology, filtering status, units included in Geotraces nuclides name.

In [ ]:
#| exports
class WideToLongCB(Callback):
    """
    Get Geotraces nuclide names as values not column names 
    to extract contained information (unit, sampling method, ...).
    """
    def __init__(self, common_coi, nuclides_pattern, 
                 var_name='nuclide', value_name='value'): 
        fc.store_attr()
        
    def __call__(self, tfm):
        nuc_of_interest = [c for c in tfm.df.columns if 
                           any(re.match(pattern, c) for pattern in self.nuclides_pattern)]
        tfm.df = pd.melt(tfm.df, id_vars=self.common_coi, value_vars=nuc_of_interest, 
                          var_name=self.var_name, value_name=self.value_name)
        tfm.df.dropna(subset='value', inplace=True)

In [ ]:
#| eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern)
])
df_test = tfm()
df_test.shape

(26745, 8)

### Extract

#### Unit

In [ ]:
#| exports
class ExtractUnitCB(Callback):
    """
    Extract units from nuclide names.
    """
    def __init__(self, var_name='nuclide'): 
        fc.store_attr()
        self.unit_col_name = cdl_cfg()['vars']['suffixes']['unit']['name']

    def extract_unit(self, s):
        match = re.search(r'\[(.*?)\]', s)
        return match.group(1) if match else None
        
    def __call__(self, tfm):
        tfm.df[self.unit_col_name] = tfm.df[self.var_name].apply(self.extract_unit)

In [ ]:
#| eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB()
])

df_test = tfm()
df_test.head()

,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],DEPTH [m],BODC Bottle Number:INTEGER,nuclide,value,_unit
9223,2010-10-17T00:13:29,350.33792,38.3271,2827.0,17.8,842525,TRITIUM_D_CONC_BOTTLE [TU],0.733,TU
9231,2010-10-17T00:13:29,350.33792,38.3271,2827.0,34.7,842528,TRITIUM_D_CONC_BOTTLE [TU],0.696,TU
9237,2010-10-17T00:13:29,350.33792,38.3271,2827.0,67.5,842531,TRITIUM_D_CONC_BOTTLE [TU],0.718,TU
9244,2010-10-17T00:13:29,350.33792,38.3271,2827.0,91.9,842534,TRITIUM_D_CONC_BOTTLE [TU],0.709,TU
9256,2010-10-17T00:13:29,350.33792,38.3271,2827.0,136.6,842540,TRITIUM_D_CONC_BOTTLE [TU],0.692,TU

#### Filtering status

In [ ]:
#| exports
phase = {
    'D': {'filt': 1, 'group': 'seawater'},
    'T': {'filt': 2, 'group': 'seawater'},
    'TP': {'filt': 1, 'group': 'suspended-matter'}, 
    'LPT': {'filt': 1, 'group': 'suspended-matter'},
    'SPT': {'filt': 1, 'group': 'suspended-matter'}}

In [ ]:
#| exports
class ExtractFilteringStatusCB(Callback):
    "Extract filtering status from nuclide names."
    def __init__(self, phase, var_name='nuclide'): 
        fc.store_attr()
        self.filt_col_name = cdl_cfg()['vars']['suffixes']['filtered']['name']

    def extract_filt_status(self, s):
        matched_string = self.match(s)
        return self.phase[matched_string.group(1)]['filt'] if matched_string else None

    def match(self, s):
        return re.search(r'_(' + '|'.join(self.phase.keys()) + ')_', s)
        
    def extract_group(self, s):
        matched_string = self.match(s)
        return self.phase[matched_string.group(1)]['group'] if matched_string else None
        
    def __call__(self, tfm):
        tfm.df[self.filt_col_name] = tfm.df[self.var_name].apply(self.extract_filt_status)
        tfm.df['group'] = tfm.df[self.var_name].apply(self.extract_group)

In [ ]:
#|eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase)
])

df_test = tfm()
df_test.head()

,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],DEPTH [m],BODC Bottle Number:INTEGER,nuclide,value,_unit,_filt,group
9223,2010-10-17T00:13:29,350.33792,38.3271,2827.0,17.8,842525,TRITIUM_D_CONC_BOTTLE [TU],0.733,TU,1,seawater
9231,2010-10-17T00:13:29,350.33792,38.3271,2827.0,34.7,842528,TRITIUM_D_CONC_BOTTLE [TU],0.696,TU,1,seawater
9237,2010-10-17T00:13:29,350.33792,38.3271,2827.0,67.5,842531,TRITIUM_D_CONC_BOTTLE [TU],0.718,TU,1,seawater
9244,2010-10-17T00:13:29,350.33792,38.3271,2827.0,91.9,842534,TRITIUM_D_CONC_BOTTLE [TU],0.709,TU,1,seawater
9256,2010-10-17T00:13:29,350.33792,38.3271,2827.0,136.6,842540,TRITIUM_D_CONC_BOTTLE [TU],0.692,TU,1,seawater

#### Sampling method

In [ ]:
#| exports
# To be validated
smp_method = {
    'BOTTLE': 1,
    'FISH': 18,
    'PUMP': 14,
    'UWAY': 24}

In [ ]:
#| exports
class ExtractSamplingMethodCB(Callback):
    "Extract sampling method from nuclide names."
    def __init__(self, smp_method, var_name='nuclide'): 
        fc.store_attr()
        self.smp_method_col_name = cdl_cfg()['vars']['suffixes']['sampling_method']['name']

    def extract_smp_method(self, s):
        match = re.search(r'_(' + '|'.join(self.smp_method.keys()) + ') ', s)
        return self.smp_method[match.group(1)] if match else None
        
    def __call__(self, tfm):
        tfm.df[self.smp_method_col_name] = tfm.df[self.var_name].apply(self.extract_smp_method)

In [ ]:
#| eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method)
])

df_test = tfm()
df_test.head()

,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],DEPTH [m],BODC Bottle Number:INTEGER,nuclide,value,_unit,_filt,group,_sampmet
9223,2010-10-17T00:13:29,350.33792,38.3271,2827.0,17.8,842525,TRITIUM_D_CONC_BOTTLE [TU],0.733,TU,1,seawater,1
9231,2010-10-17T00:13:29,350.33792,38.3271,2827.0,34.7,842528,TRITIUM_D_CONC_BOTTLE [TU],0.696,TU,1,seawater,1
9237,2010-10-17T00:13:29,350.33792,38.3271,2827.0,67.5,842531,TRITIUM_D_CONC_BOTTLE [TU],0.718,TU,1,seawater,1
9244,2010-10-17T00:13:29,350.33792,38.3271,2827.0,91.9,842534,TRITIUM_D_CONC_BOTTLE [TU],0.709,TU,1,seawater,1
9256,2010-10-17T00:13:29,350.33792,38.3271,2827.0,136.6,842540,TRITIUM_D_CONC_BOTTLE [TU],0.692,TU,1,seawater,1

### Remap to MARIS nuclide names

In [ ]:
#| exports
nuclides_name = {'TRITIUM': 'h3', 'Pu_239_Pu_240': 'pu239_240_tot'}

In [ ]:
#| exports
class RenameNuclideCB(Callback):
    "Remap nuclides name to MARIS standard."
    def __init__(self, nuclides_name, var_name='nuclide'): 
        fc.store_attr()
        self.patterns = ['_D', '_T', '_TP', '_LPT', '_SPT']

    def extract_nuclide_name(self, s):
        match = re.search(r'(.*?)(' + '|'.join(self.patterns) + ')', s)
        return match.group(1) if match else None

    def standardize_name(self, s):
        s = self.extract_nuclide_name(s)
        return self.nuclides_name[s] if s in self.nuclides_name else s.lower().replace('_', '')
        
    def __call__(self, tfm):
        tfm.df[self.var_name] = tfm.df[self.var_name].apply(self.standardize_name)

In [ ]:
#|eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name)
])

df_test = tfm()
df_test.head()

,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],DEPTH [m],BODC Bottle Number:INTEGER,nuclide,value,_unit,_filt,group,_sampmet
9223,2010-10-17T00:13:29,350.33792,38.3271,2827.0,17.8,842525,h3,0.733,TU,1,seawater,1
9231,2010-10-17T00:13:29,350.33792,38.3271,2827.0,34.7,842528,h3,0.696,TU,1,seawater,1
9237,2010-10-17T00:13:29,350.33792,38.3271,2827.0,67.5,842531,h3,0.718,TU,1,seawater,1
9244,2010-10-17T00:13:29,350.33792,38.3271,2827.0,91.9,842534,h3,0.709,TU,1,seawater,1
9256,2010-10-17T00:13:29,350.33792,38.3271,2827.0,136.6,842540,h3,0.692,TU,1,seawater,1

In [ ]:
#| eval: false
df_test.nuclide.unique()

array(['h3', 'cs137', 'i129', 'np237', 'pu239', 'pu239_240_tot', 'pu240',
       'u236', 'pa231', 'pb210', 'po210', 'ra224', 'ra226', 'ra228',
       'th230', 'th232', 'th234', 'ac227', 'be7', 'ra223', 'th228'],
      dtype=object)

In [ ]:
(~df_test[df_test.nuclide == 'th232']['value'].isna()).sum()

3544

In [ ]:
df_test[df_test['_unit'] == 'pmol/kg']['nuclide'].value_counts()

nuclide
th232    3544
Name: count, dtype: int64

### Standardize unit

In [ ]:
df_test['_unit'].unique()

array(['TU', 'uBq/kg', 'atoms/kg', 'mBq/kg', 'pmol/kg'], dtype=object)

In [ ]:
#| exports
units_lut = {
    'TU': {'id': 7, 'factor': 1},
    'uBq/kg': {'id': 3, 'factor': 1e-6},
    'atoms/kg': {'id': 9, 'factor': 1},
    'mBq/kg': {'id': 3, 'factor': 1e-3}}

In [ ]:
{k: v['factor'] for k, v in units_lut.items()}

{'TU': 1, 'uBq/kg': 1e-06, 'atoms/kg': 1, 'mBq/kg': 0.001}

In [ ]:
df_test['_unit']

df_test['value'] *= df_test['_unit'].map({k: v['factor'] for k, v in units_lut.items()})
df_test['value']

9223       0.733000
9231       0.696000
9237       0.718000
9244       0.709000
9256       0.692000
             ...
8378864    0.000213
8379044    0.000201
8379071    0.000394
8379153    0.000212
8379186    0.000077
Name: value, Length: 26745, dtype: float64

In [ ]:
df_test[df_test.nuclide == 'th232']

,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],DEPTH [m],BODC Bottle Number:INTEGER,nuclide,value,_unit,_filt,group,_sampmet
2241882,2014-05-31T22:38:28,300.16269,13.6500,524.0,9.4,1181468,th232,NaN,pmol/kg,2,seawater,1
2241883,2014-06-01T13:05:29,300.01309,14.6611,3275.0,10.0,1181471,th232,NaN,pmol/kg,2,seawater,1
2241884,2014-06-01T13:05:29,300.01309,14.6611,3275.0,25.4,1181474,th232,NaN,pmol/kg,2,seawater,1
2241885,2014-06-01T13:05:29,300.01309,14.6611,3275.0,65.5,1181477,th232,NaN,pmol/kg,2,seawater,1
2241886,2014-06-01T13:05:29,300.01309,14.6611,3275.0,76.1,1181480,th232,NaN,pmol/kg,2,seawater,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7998216,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,1751.5,1130756,th232,NaN,pmol/kg,1,suspended-matter,14
7998239,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,2552.6,1130795,th232,NaN,pmol/kg,1,suspended-matter,14
7998256,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,2801.6,1130789,th232,NaN,pmol/kg,1,suspended-matter,14
7998270,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,3499.6,1130783,th232,NaN,pmol/kg,1,suspended-matter,14
7998277,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,4004.1,1130780,th232,NaN,pmol/kg,1,suspended-matter,14

In [ ]:
#| exports
class StandardizeUnitCB(Callback):
    "Remap unit to MARIS standard ones and apply conversion where needed."
    def __init__(self, units_lut, var_name='value'): 
        fc.store_attr()
        self.unit_col_name = cdl_cfg()['vars']['suffixes']['unit']['name']
        
    def __call__(self, tfm):
        # Convert/rescale values
        print(self.var_name)
        print({k: v['factor'] for k, v in self.units_lut.items()})
        tfm.df[self.var_name] *= tfm.df[self.unit_col_name].map(
            {k: v['factor'] for k, v in self.units_lut.items()})
        
        # Match MARIS unit id
        tfm.df[self.unit_col_name] = tfm.df[self.unit_col_name].map(
            {k: v['id'] for k, v in self.units_lut.items()})

In [ ]:
#|eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut)
])

df_test = tfm()
print(df_test.head())
print(df_test.columns)

value
{'TU': 1, 'uBq/kg': 1e-06, 'atoms/kg': 1, 'mBq/kg': 0.001}
     yyyy-mm-ddThh:mm:ss.sss  Longitude [degrees_east]  \
9223     2010-10-17T00:13:29                 350.33792
9231     2010-10-17T00:13:29                 350.33792
9237     2010-10-17T00:13:29                 350.33792
9244     2010-10-17T00:13:29                 350.33792
9256     2010-10-17T00:13:29                 350.33792

      Latitude [degrees_north]  Bot. Depth [m]  DEPTH [m]  \
9223                   38.3271          2827.0       17.8
9231                   38.3271          2827.0       34.7
9237                   38.3271          2827.0       67.5
9244                   38.3271          2827.0       91.9
9256                   38.3271          2827.0      136.6

      BODC Bottle Number:INTEGER nuclide  value  _unit  _filt     group  \
9223                      842525      h3  0.733    7.0      1  seawater
9231                      842528      h3  0.696    7.0      1  seawater
9237                      842531      h3  0.718    7.0      1  seawater
9244                      842534      h3  0.709    7.0      1  seawater
9256                      842540      h3  0.692    7.0      1  seawater

      _sampmet
9223         1
9231         1
9237         1
9244         1
9256         1
Index(['yyyy-mm-ddThh:mm:ss.sss', 'Longitude [degrees_east]',
       'Latitude [degrees_north]', 'Bot. Depth [m]', 'DEPTH [m]',
       'BODC Bottle Number:INTEGER', 'nuclide', 'value', '_unit', '_filt',
       'group', '_sampmet'],
      dtype='object')

In [ ]:
df_test[df_test.nuclide == 'th232']

,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],DEPTH [m],BODC Bottle Number:INTEGER,nuclide,value,_unit,_filt,group,_sampmet
2241882,2014-05-31T22:38:28,300.16269,13.6500,524.0,9.4,1181468,th232,NaN,NaN,2,seawater,1
2241883,2014-06-01T13:05:29,300.01309,14.6611,3275.0,10.0,1181471,th232,NaN,NaN,2,seawater,1
2241884,2014-06-01T13:05:29,300.01309,14.6611,3275.0,25.4,1181474,th232,NaN,NaN,2,seawater,1
2241885,2014-06-01T13:05:29,300.01309,14.6611,3275.0,65.5,1181477,th232,NaN,NaN,2,seawater,1
2241886,2014-06-01T13:05:29,300.01309,14.6611,3275.0,76.1,1181480,th232,NaN,NaN,2,seawater,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7998216,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,1751.5,1130756,th232,NaN,NaN,1,suspended-matter,14
7998239,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,2552.6,1130795,th232,NaN,NaN,1,suspended-matter,14
7998256,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,2801.6,1130789,th232,NaN,NaN,1,suspended-matter,14
7998270,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,3499.6,1130783,th232,NaN,NaN,1,suspended-matter,14
7998277,2013-12-12T02:21:05,217.04300,-11.0359,4961.0,4004.1,1130780,th232,NaN,NaN,1,suspended-matter,14

### Rename common columns

In [ ]:
#| exports
def renaming_rules():
    "Define column names renaming rules."
    vars = cdl_cfg()['vars']
    return {
        'yyyy-mm-ddThh:mm:ss.sss': vars['defaults']['time']['name'],
        'Longitude [degrees_east]': vars['defaults']['lon']['name'],
        'Latitude [degrees_north]': vars['defaults']['lat']['name'],
        'DEPTH [m]': vars['defaults']['smp_depth']['name'],
        'Bot. Depth [m]': vars['defaults']['tot_depth']['name'],
        'BODC Bottle Number:INTEGER': cdl_cfg()['dim']['name']
    }

In [ ]:
#| exports
class RenameColumnCB(Callback):
    "Renaming variables to MARIS standard names."
    def __init__(self, renaming_rules=renaming_rules): fc.store_attr()
    def __call__(self, tfm):
        lut = self.renaming_rules()
        new_col_names = [lut[name] if name in lut else name for name in tfm.df.columns]
        tfm.df.columns = new_col_names

In [ ]:
#|eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules)
])

df_test = tfm()
df_test.head()

,time,lon,lat,tot_depth,smp_depth,sample,nuclide,value,_unit,_filt,group,_sampmet
9223,2010-10-17T00:13:29,350.33792,38.3271,2827.0,17.8,842525,h3,0.733,7.0,1,seawater,1
9231,2010-10-17T00:13:29,350.33792,38.3271,2827.0,34.7,842528,h3,0.696,7.0,1,seawater,1
9237,2010-10-17T00:13:29,350.33792,38.3271,2827.0,67.5,842531,h3,0.718,7.0,1,seawater,1
9244,2010-10-17T00:13:29,350.33792,38.3271,2827.0,91.9,842534,h3,0.709,7.0,1,seawater,1
9256,2010-10-17T00:13:29,350.33792,38.3271,2827.0,136.6,842540,h3,0.692,7.0,1,seawater,1

### Unshift longitudes

In [ ]:
#| exports
class UnshiftLongitudeCB(Callback):
    "Longitudes are coded between 0 and 360 in Geotraces. We rescale it between -180 and 180 instead."
    def __init__(self): 
        self.lon_col_name = cdl_cfg()['vars']['defaults']['lon']['name']
    
    def __call__(self, tfm):
        tfm.df[self.lon_col_name] = tfm.df[self.lon_col_name] - 180

In [ ]:
#| eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules),
    UnshiftLongitudeCB()
])

df_test = tfm()
df_test.head()

,time,lon,lat,tot_depth,smp_depth,sample,nuclide,value,_unit,_filt,group,_sampmet
9223,2010-10-17T00:13:29,170.33792,38.3271,2827.0,17.8,842525,h3,0.733,7.0,1,seawater,1
9231,2010-10-17T00:13:29,170.33792,38.3271,2827.0,34.7,842528,h3,0.696,7.0,1,seawater,1
9237,2010-10-17T00:13:29,170.33792,38.3271,2827.0,67.5,842531,h3,0.718,7.0,1,seawater,1
9244,2010-10-17T00:13:29,170.33792,38.3271,2827.0,91.9,842534,h3,0.709,7.0,1,seawater,1
9256,2010-10-17T00:13:29,170.33792,38.3271,2827.0,136.6,842540,h3,0.692,7.0,1,seawater,1

### Dispatch to groups

In [ ]:
#| exports
class DispatchToGroupCB(Callback):
    "Convert to a dictionary of dataframe with sample type (seawater,...) as keys."
    def __init__(self, group_name='group'): 
        fc.store_attr()
        
    def __call__(self, tfm):
        tfm.dfs = dict(tuple(tfm.df.groupby(self.group_name)))
        for key in tfm.dfs:
            tfm.dfs[key] = tfm.dfs[key].drop(self.group_name, axis=1)

In [ ]:
#|eval: false
df = pd.read_csv(fname_in)

tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules),
    UnshiftLongitudeCB(),
    DispatchToGroupCB()
])

dfs_test = tfm()
print(f'dfs_test keys: {dfs_test.keys()}')
print(dfs_test['seawater'].head())

dfs_test keys: dict_keys(['seawater', 'suspended-matter'])
                     time        lon      lat  tot_depth  smp_depth  sample  \
9223  2010-10-17T00:13:29  170.33792  38.3271     2827.0       17.8  842525
9231  2010-10-17T00:13:29  170.33792  38.3271     2827.0       34.7  842528
9237  2010-10-17T00:13:29  170.33792  38.3271     2827.0       67.5  842531
9244  2010-10-17T00:13:29  170.33792  38.3271     2827.0       91.9  842534
9256  2010-10-17T00:13:29  170.33792  38.3271     2827.0      136.6  842540

     nuclide  value  _unit  _filt  _sampmet
9223      h3  0.733    7.0      1         1
9231      h3  0.696    7.0      1         1
9237      h3  0.718    7.0      1         1
9244      h3  0.709    7.0      1         1
9256      h3  0.692    7.0      1         1

In [ ]:
dfs_test.keys()

dict_keys(['seawater', 'suspended-matter'])

In [ ]:
nuclide_counts = dfs_test['seawater']['nuclide'].value_counts()
print(nuclide_counts.sort_values(ascending=False))

nuclide
th234            3504
th230            2436
th232            2361
pa231            2194
ra226            1783
h3               1185
ra228             915
ra224             827
th228             753
ra223             657
pb210             533
po210             524
u236              407
be7               266
i129              258
cs137             150
pu240              89
pu239              89
np237              88
ac227              61
pu239_240_tot      59
Name: count, dtype: int64

In [ ]:
# Count non-NaN measurements per nuclide
nuclide_counts = (dfs_test['suspended-matter']
                 [dfs_test['suspended-matter']['value'].notna()]  # Filter out NaN values
                 ['nuclide']
                 .value_counts()
                 .sort_values(ascending=False))

print(nuclide_counts)

nuclide
th234    2559
th230    1171
pa231    1129
th228     784
pb210     397
po210     383
Name: count, dtype: int64

In [ ]:
th232_values = dfs_test['seawater'][dfs_test['seawater']['nuclide'] == 'th232']['value'].dropna()

# Display the values
print(th232_values)

Series([], Name: value, dtype: float64)

In [ ]:
# Get the filtered DataFrame
filtered_df = dfs_test['seawater'][dfs_test['seawater']['nuclide'] == 'th232'][['sample', 'nuclide', 'value']]

# Iterate over each row
for idx, row in filtered_df.iterrows():
    print(f"Sample: {row['sample']}, Nuclide: {row['nuclide']}, Value: {row['value']}")

Sample: 1181468, Nuclide: th232, Value: nan
Sample: 1181471, Nuclide: th232, Value: nan
Sample: 1181474, Nuclide: th232, Value: nan
Sample: 1181477, Nuclide: th232, Value: nan
Sample: 1181480, Nuclide: th232, Value: nan
Sample: 1181483, Nuclide: th232, Value: nan
Sample: 1181486, Nuclide: th232, Value: nan
Sample: 1181489, Nuclide: th232, Value: nan
Sample: 1181492, Nuclide: th232, Value: nan
Sample: 1181495, Nuclide: th232, Value: nan
Sample: 1181498, Nuclide: th232, Value: nan
Sample: 1181501, Nuclide: th232, Value: nan
Sample: 1181504, Nuclide: th232, Value: nan
Sample: 1181507, Nuclide: th232, Value: nan
Sample: 1181510, Nuclide: th232, Value: nan
Sample: 1181513, Nuclide: th232, Value: nan
Sample: 1181516, Nuclide: th232, Value: nan
Sample: 1181519, Nuclide: th232, Value: nan
Sample: 1181522, Nuclide: th232, Value: nan
Sample: 1181525, Nuclide: th232, Value: nan
Sample: 1181528, Nuclide: th232, Value: nan
Sample: 1181531, Nuclide: th232, Value: nan
Sample: 637577, Nuclide: th232, Value: nan
Sample: 637568, Nuclide: th232, Value: nan
Sample: 637559, Nuclide: th232, Value: nan
Sample: 637550, Nuclide: th232, Value: nan
Sample: 637544, Nuclide: th232, Value: nan
Sample: 637538, Nuclide: th232, Value: nan
Sample: 637535, Nuclide: th232, Value: nan
Sample: 637529, Nuclide: th232, Value: nan
Sample: 637523, Nuclide: th232, Value: nan
Sample: 637517, Nuclide: th232, Value: nan
Sample: 637514, Nuclide: th232, Value: nan
Sample: 637511, Nuclide: th232, Value: nan
Sample: 637721, Nuclide: th232, Value: nan
Sample: 637712, Nuclide: th232, Value: nan
Sample: 637703, Nuclide: th232, Value: nan
Sample: 637694, Nuclide: th232, Value: nan
Sample: 637688, Nuclide: th232, Value: nan
Sample: 637682, Nuclide: th232, Value: nan
Sample: 637679, Nuclide: th232, Value: nan
Sample: 637673, Nuclide: th232, Value: nan
Sample: 637667, Nuclide: th232, Value: nan
Sample: 637661, Nuclide: th232, Value: nan
Sample: 637658, Nuclide: th232, Value: nan
Sample: 637655, Nuclide: th232, Value: nan
Sample: 630341, Nuclide: th232, Value: nan
Sample: 630329, Nuclide: th232, Value: nan
Sample: 630323, Nuclide: th232, Value: nan
Sample: 630317, Nuclide: th232, Value: nan
Sample: 630308, Nuclide: th232, Value: nan
Sample: 630299, Nuclide: th232, Value: nan
Sample: 630290, Nuclide: th232, Value: nan
Sample: 630284, Nuclide: th232, Value: nan
Sample: 638009, Nuclide: th232, Value: nan
Sample: 638000, Nuclide: th232, Value: nan
Sample: 637991, Nuclide: th232, Value: nan
Sample: 637976, Nuclide: th232, Value: nan
Sample: 637970, Nuclide: th232, Value: nan
Sample: 637967, Nuclide: th232, Value: nan
Sample: 637961, Nuclide: th232, Value: nan
Sample: 637955, Nuclide: th232, Value: nan
Sample: 637949, Nuclide: th232, Value: nan
Sample: 637946, Nuclide: th232, Value: nan
Sample: 637943, Nuclide: th232, Value: nan
Sample: 638153, Nuclide: th232, Value: nan
Sample: 638144, Nuclide: th232, Value: nan
Sample: 638135, Nuclide: th232, Value: nan
Sample: 638126, Nuclide: th232, Value: nan
Sample: 638120, Nuclide: th232, Value: nan
Sample: 638114, Nuclide: th232, Value: nan
Sample: 638111, Nuclide: th232, Value: nan
Sample: 638105, Nuclide: th232, Value: nan
Sample: 638099, Nuclide: th232, Value: nan
Sample: 638093, Nuclide: th232, Value: nan
Sample: 638090, Nuclide: th232, Value: nan
Sample: 638087, Nuclide: th232, Value: nan
Sample: 638297, Nuclide: th232, Value: nan
Sample: 638288, Nuclide: th232, Value: nan
Sample: 638279, Nuclide: th232, Value: nan
Sample: 638270, Nuclide: th232, Value: nan
Sample: 638264, Nuclide: th232, Value: nan
Sample: 638258, Nuclide: th232, Value: nan
Sample: 638255, Nuclide: th232, Value: nan
Sample: 638249, Nuclide: th232, Value: nan
Sample: 638243, Nuclide: th232, Value: nan
Sample: 638237, Nuclide: th232, Value: nan
Sample: 638234, Nuclide: th232, Value: nan
Sample: 638231, Nuclide: th232, Value: nan
Sample: 636983, Nuclide: th232, Value: nan
Sample: 636974, Nuclide: th232, Value: nan
Sample: 636965, Nuclide: th232, Value: nan
Sample: 636959, Nuclide: th232, Value: nan
Sample: 636953, Nuclide: th232, Value: nan
Sample: 636950, Nuclide: th232, Value: nan
Sample: 636944, Nuclide: th232, Value: nan
Sample: 636938, Nuclide: th232, Value: nan
Sample: 636932, Nuclide: th232, Value: nan
Sample: 636929, Nuclide: th232, Value: nan
Sample: 636926, Nuclide: th232, Value: nan
Sample: 630941, Nuclide: th232, Value: nan
Sample: 630929, Nuclide: th232, Value: nan
Sample: 630923, Nuclide: th232, Value: nan
Sample: 630914, Nuclide: th232, Value: nan
Sample: 630908, Nuclide: th232, Value: nan
Sample: 630902, Nuclide: th232, Value: nan
Sample: 630896, Nuclide: th232, Value: nan
Sample: 630890, Nuclide: th232, Value: nan
Sample: 630884, Nuclide: th232, Value: nan
Sample: 637136, Nuclide: th232, Value: nan
Sample: 637127, Nuclide: th232, Value: nan
Sample: 637118, Nuclide: th232, Value: nan
Sample: 637109, Nuclide: th232, Value: nan
Sample: 637103, Nuclide: th232, Value: nan
Sample: 637097, Nuclide: th232, Value: nan
Sample: 637094, Nuclide: th232, Value: nan
Sample: 637088, Nuclide: th232, Value: nan
Sample: 637082, Nuclide: th232, Value: nan
Sample: 637076, Nuclide: th232, Value: nan
Sample: 637073, Nuclide: th232, Value: nan
Sample: 637070, Nuclide: th232, Value: nan
Sample: 639545, Nuclide: th232, Value: nan
Sample: 639536, Nuclide: th232, Value: nan
Sample: 639527, Nuclide: th232, Value: nan
Sample: 639512, Nuclide: th232, Value: nan
Sample: 639506, Nuclide: th232, Value: nan
Sample: 639503, Nuclide: th232, Value: nan
Sample: 639497, Nuclide: th232, Value: nan
Sample: 639491, Nuclide: th232, Value: nan
Sample: 639485, Nuclide: th232, Value: nan
Sample: 639482, Nuclide: th232, Value: nan
Sample: 639479, Nuclide: th232, Value: nan
Sample: 638348, Nuclide: th232, Value: nan
Sample: 638339, Nuclide: th232, Value: nan
Sample: 638330, Nuclide: th232, Value: nan
Sample: 638321, Nuclide: th232, Value: nan
Sample: 638315, Nuclide: th232, Value: nan
Sample: 638309, Nuclide: th232, Value: nan
Sample: 639998, Nuclide: th232, Value: nan
Sample: 639992, Nuclide: th232, Value: nan
Sample: 639986, Nuclide: th232, Value: nan
Sample: 639980, Nuclide: th232, Value: nan
Sample: 639977, Nuclide: th232, Value: nan
Sample: 639974, Nuclide: th232, Value: nan
Sample: 631961, Nuclide: th232, Value: nan
Sample: 631949, Nuclide: th232, Value: nan
Sample: 631943, Nuclide: th232, Value: nan
Sample: 631937, Nuclide: th232, Value: nan
Sample: 631931, Nuclide: th232, Value: nan
Sample: 631925, Nuclide: th232, Value: nan
Sample: 631919, Nuclide: th232, Value: nan
Sample: 631916, Nuclide: th232, Value: nan
Sample: 631913, Nuclide: th232, Value: nan
Sample: 631904, Nuclide: th232, Value: nan
Sample: 638708, Nuclide: th232, Value: nan
Sample: 638699, Nuclide: th232, Value: nan
Sample: 638690, Nuclide: th232, Value: nan
Sample: 638681, Nuclide: th232, Value: nan
Sample: 638675, Nuclide: th232, Value: nan
Sample: 638669, Nuclide: th232, Value: nan
Sample: 638666, Nuclide: th232, Value: nan
Sample: 638660, Nuclide: th232, Value: nan
Sample: 638654, Nuclide: th232, Value: nan
Sample: 638648, Nuclide: th232, Value: nan
Sample: 638645, Nuclide: th232, Value: nan
Sample: 638642, Nuclide: th232, Value: nan
Sample: 638915, Nuclide: th232, Value: nan
Sample: 638906, Nuclide: th232, Value: nan
Sample: 638897, Nuclide: th232, Value: nan
Sample: 638891, Nuclide: th232, Value: nan
Sample: 638885, Nuclide: th232, Value: nan
Sample: 638882, Nuclide: th232, Value: nan
Sample: 638876, Nuclide: th232, Value: nan
Sample: 638870, Nuclide: th232, Value: nan
Sample: 638864, Nuclide: th232, Value: nan
Sample: 638861, Nuclide: th232, Value: nan
Sample: 638858, Nuclide: th232, Value: nan
Sample: 639419, Nuclide: th232, Value: nan
Sample: 639410, Nuclide: th232, Value: nan
Sample: 639401, Nuclide: th232, Value: nan
Sample: 639392, Nuclide: th232, Value: nan
Sample: 639386, Nuclide: th232, Value: nan
Sample: 639380, Nuclide: th232, Value: nan
Sample: 639377, Nuclide: th232, Value: nan
Sample: 639371, Nuclide: th232, Value: nan
Sample: 639365, Nuclide: th232, Value: nan
Sample: 639359, Nuclide: th232, Value: nan
Sample: 639356, Nuclide: th232, Value: nan
Sample: 639353, Nuclide: th232, Value: nan
Sample: 633848, Nuclide: th232, Value: nan
Sample: 633836, Nuclide: th232, Value: nan
Sample: 633830, Nuclide: th232, Value: nan
Sample: 633827, Nuclide: th232, Value: nan
Sample: 633824, Nuclide: th232, Value: nan
Sample: 633812, Nuclide: th232, Value: nan
Sample: 633806, Nuclide: th232, Value: nan
Sample: 633803, Nuclide: th232, Value: nan
Sample: 633800, Nuclide: th232, Value: nan
Sample: 635999, Nuclide: th232, Value: nan
Sample: 635987, Nuclide: th232, Value: nan
Sample: 635981, Nuclide: th232, Value: nan
Sample: 635978, Nuclide: th232, Value: nan
Sample: 635975, Nuclide: th232, Value: nan
Sample: 635963, Nuclide: th232, Value: nan
Sample: 635957, Nuclide: th232, Value: nan
Sample: 635954, Nuclide: th232, Value: nan
Sample: 635951, Nuclide: th232, Value: nan
Sample: 635942, Nuclide: th232, Value: nan
Sample: 842525, Nuclide: th232, Value: nan
Sample: 842531, Nuclide: th232, Value: nan
Sample: 842543, Nuclide: th232, Value: nan
Sample: 842618, Nuclide: th232, Value: nan
Sample: 842549, Nuclide: th232, Value: nan
Sample: 842552, Nuclide: th232, Value: nan
Sample: 842438, Nuclide: th232, Value: nan
Sample: 842555, Nuclide: th232, Value: nan
Sample: 842441, Nuclide: th232, Value: nan
Sample: 842444, Nuclide: th232, Value: nan
Sample: 842447, Nuclide: th232, Value: nan
Sample: 842453, Nuclide: th232, Value: nan
Sample: 842459, Nuclide: th232, Value: nan
Sample: 842465, Nuclide: th232, Value: nan
Sample: 842468, Nuclide: th232, Value: nan
Sample: 842471, Nuclide: th232, Value: nan
Sample: 842066, Nuclide: th232, Value: nan
Sample: 842069, Nuclide: th232, Value: nan
Sample: 842072, Nuclide: th232, Value: nan
Sample: 842075, Nuclide: th232, Value: nan
Sample: 842078, Nuclide: th232, Value: nan
Sample: 842081, Nuclide: th232, Value: nan
Sample: 842084, Nuclide: th232, Value: nan
Sample: 842087, Nuclide: th232, Value: nan
Sample: 842090, Nuclide: th232, Value: nan
Sample: 842093, Nuclide: th232, Value: nan
Sample: 842096, Nuclide: th232, Value: nan
Sample: 842099, Nuclide: th232, Value: nan
Sample: 842141, Nuclide: th232, Value: nan
Sample: 842144, Nuclide: th232, Value: nan
Sample: 842147, Nuclide: th232, Value: nan
Sample: 842150, Nuclide: th232, Value: nan
Sample: 842153, Nuclide: th232, Value: nan
Sample: 842156, Nuclide: th232, Value: nan
Sample: 842159, Nuclide: th232, Value: nan
Sample: 842162, Nuclide: th232, Value: nan
Sample: 842165, Nuclide: th232, Value: nan
Sample: 842168, Nuclide: th232, Value: nan
Sample: 842171, Nuclide: th232, Value: nan
Sample: 842174, Nuclide: th232, Value: nan
Sample: 842195, Nuclide: th232, Value: nan
Sample: 842198, Nuclide: th232, Value: nan
Sample: 842201, Nuclide: th232, Value: nan
Sample: 842204, Nuclide: th232, Value: nan
Sample: 842678, Nuclide: th232, Value: nan
Sample: 842681, Nuclide: th232, Value: nan
Sample: 842684, Nuclide: th232, Value: nan
Sample: 842687, Nuclide: th232, Value: nan
Sample: 842690, Nuclide: th232, Value: nan
Sample: 842693, Nuclide: th232, Value: nan
Sample: 842696, Nuclide: th232, Value: nan
Sample: 842699, Nuclide: th232, Value: nan
Sample: 842741, Nuclide: th232, Value: nan
Sample: 842744, Nuclide: th232, Value: nan
Sample: 842747, Nuclide: th232, Value: nan
Sample: 842750, Nuclide: th232, Value: nan
Sample: 842753, Nuclide: th232, Value: nan
Sample: 842756, Nuclide: th232, Value: nan
Sample: 842759, Nuclide: th232, Value: nan
Sample: 842762, Nuclide: th232, Value: nan
Sample: 842765, Nuclide: th232, Value: nan
Sample: 842768, Nuclide: th232, Value: nan
Sample: 842771, Nuclide: th232, Value: nan
Sample: 842774, Nuclide: th232, Value: nan
Sample: 842801, Nuclide: th232, Value: nan
Sample: 842804, Nuclide: th232, Value: nan
Sample: 842807, Nuclide: th232, Value: nan
Sample: 842810, Nuclide: th232, Value: nan
Sample: 842813, Nuclide: th232, Value: nan
Sample: 842816, Nuclide: th232, Value: nan
Sample: 842819, Nuclide: th232, Value: nan
Sample: 842822, Nuclide: th232, Value: nan
Sample: 842825, Nuclide: th232, Value: nan
Sample: 842828, Nuclide: th232, Value: nan
Sample: 842831, Nuclide: th232, Value: nan
Sample: 842834, Nuclide: th232, Value: nan
Sample: 842876, Nuclide: th232, Value: nan
Sample: 842879, Nuclide: th232, Value: nan
Sample: 842882, Nuclide: th232, Value: nan
Sample: 842885, Nuclide: th232, Value: nan
Sample: 842888, Nuclide: th232, Value: nan
Sample: 842891, Nuclide: th232, Value: nan
Sample: 842894, Nuclide: th232, Value: nan
Sample: 842897, Nuclide: th232, Value: nan
Sample: 842900, Nuclide: th232, Value: nan
Sample: 842903, Nuclide: th232, Value: nan
Sample: 842906, Nuclide: th232, Value: nan
Sample: 842909, Nuclide: th232, Value: nan
Sample: 841550, Nuclide: th232, Value: nan
Sample: 841556, Nuclide: th232, Value: nan
Sample: 841568, Nuclide: th232, Value: nan
Sample: 841574, Nuclide: th232, Value: nan
Sample: 841577, Nuclide: th232, Value: nan
Sample: 841580, Nuclide: th232, Value: nan
Sample: 841583, Nuclide: th232, Value: nan
Sample: 841625, Nuclide: th232, Value: nan
Sample: 841628, Nuclide: th232, Value: nan
Sample: 841631, Nuclide: th232, Value: nan
Sample: 841634, Nuclide: th232, Value: nan
Sample: 841640, Nuclide: th232, Value: nan
Sample: 841646, Nuclide: th232, Value: nan
Sample: 841652, Nuclide: th232, Value: nan
Sample: 841655, Nuclide: th232, Value: nan
Sample: 841658, Nuclide: th232, Value: nan
Sample: 841715, Nuclide: th232, Value: nan
Sample: 841721, Nuclide: th232, Value: nan
Sample: 841733, Nuclide: th232, Value: nan
Sample: 841739, Nuclide: th232, Value: nan
Sample: 841742, Nuclide: th232, Value: nan
Sample: 841745, Nuclide: th232, Value: nan
Sample: 841748, Nuclide: th232, Value: nan
Sample: 841790, Nuclide: th232, Value: nan
Sample: 841793, Nuclide: th232, Value: nan
Sample: 841796, Nuclide: th232, Value: nan
Sample: 841799, Nuclide: th232, Value: nan
Sample: 841805, Nuclide: th232, Value: nan
Sample: 841814, Nuclide: th232, Value: nan
Sample: 841817, Nuclide: th232, Value: nan
Sample: 841820, Nuclide: th232, Value: nan
Sample: 841823, Nuclide: th232, Value: nan
Sample: 841889, Nuclide: th232, Value: nan
Sample: 841895, Nuclide: th232, Value: nan
Sample: 841907, Nuclide: th232, Value: nan
Sample: 841913, Nuclide: th232, Value: nan
Sample: 841916, Nuclide: th232, Value: nan
Sample: 841919, Nuclide: th232, Value: nan
Sample: 841922, Nuclide: th232, Value: nan
Sample: 841964, Nuclide: th232, Value: nan
Sample: 841967, Nuclide: th232, Value: nan
Sample: 842207, Nuclide: th232, Value: nan
Sample: 842210, Nuclide: th232, Value: nan
Sample: 842216, Nuclide: th232, Value: nan
Sample: 842222, Nuclide: th232, Value: nan
Sample: 842228, Nuclide: th232, Value: nan
Sample: 842231, Nuclide: th232, Value: nan
Sample: 842234, Nuclide: th232, Value: nan
Sample: 842336, Nuclide: th232, Value: nan
Sample: 842339, Nuclide: th232, Value: nan
Sample: 842342, Nuclide: th232, Value: nan
Sample: 842348, Nuclide: th232, Value: nan
Sample: 842354, Nuclide: th232, Value: nan
Sample: 842357, Nuclide: th232, Value: nan
Sample: 842360, Nuclide: th232, Value: nan
Sample: 842363, Nuclide: th232, Value: nan
Sample: 842366, Nuclide: th232, Value: nan
Sample: 842369, Nuclide: th232, Value: nan
Sample: 842411, Nuclide: th232, Value: nan
Sample: 842414, Nuclide: th232, Value: nan
Sample: 842417, Nuclide: th232, Value: nan
Sample: 842420, Nuclide: th232, Value: nan
Sample: 842423, Nuclide: th232, Value: nan
Sample: 842426, Nuclide: th232, Value: nan
Sample: 842429, Nuclide: th232, Value: nan
Sample: 842432, Nuclide: th232, Value: nan
Sample: 842435, Nuclide: th232, Value: nan
Sample: 841970, Nuclide: th232, Value: nan
Sample: 841973, Nuclide: th232, Value: nan
Sample: 842009, Nuclide: th232, Value: nan
Sample: 842012, Nuclide: th232, Value: nan
Sample: 842015, Nuclide: th232, Value: nan
Sample: 842018, Nuclide: th232, Value: nan
Sample: 842021, Nuclide: th232, Value: nan
Sample: 841976, Nuclide: th232, Value: nan
Sample: 842024, Nuclide: th232, Value: nan
Sample: 845123, Nuclide: th232, Value: nan
Sample: 845834, Nuclide: th232, Value: nan
Sample: 845129, Nuclide: th232, Value: nan
Sample: 845132, Nuclide: th232, Value: nan
Sample: 845141, Nuclide: th232, Value: nan
Sample: 845144, Nuclide: th232, Value: nan
Sample: 845147, Nuclide: th232, Value: nan
Sample: 845150, Nuclide: th232, Value: nan
Sample: 845153, Nuclide: th232, Value: nan
Sample: 844976, Nuclide: th232, Value: nan
Sample: 844979, Nuclide: th232, Value: nan
Sample: 844985, Nuclide: th232, Value: nan
Sample: 844991, Nuclide: th232, Value: nan
Sample: 844997, Nuclide: th232, Value: nan
Sample: 845000, Nuclide: th232, Value: nan
Sample: 845003, Nuclide: th232, Value: nan
Sample: 845006, Nuclide: th232, Value: nan
Sample: 845027, Nuclide: th232, Value: nan
Sample: 845030, Nuclide: th232, Value: nan
Sample: 845033, Nuclide: th232, Value: nan
Sample: 845009, Nuclide: th232, Value: nan
Sample: 845036, Nuclide: th232, Value: nan
Sample: 845042, Nuclide: th232, Value: nan
Sample: 845045, Nuclide: th232, Value: nan
Sample: 844712, Nuclide: th232, Value: nan
Sample: 844715, Nuclide: th232, Value: nan
Sample: 844718, Nuclide: th232, Value: nan
Sample: 844721, Nuclide: th232, Value: nan
Sample: 844724, Nuclide: th232, Value: nan
Sample: 844727, Nuclide: th232, Value: nan
Sample: 844730, Nuclide: th232, Value: nan
Sample: 844736, Nuclide: th232, Value: nan
Sample: 844739, Nuclide: th232, Value: nan
Sample: 844742, Nuclide: th232, Value: nan
Sample: 844745, Nuclide: th232, Value: nan
Sample: 844748, Nuclide: th232, Value: nan
Sample: 844751, Nuclide: th232, Value: nan
Sample: 844754, Nuclide: th232, Value: nan
Sample: 844757, Nuclide: th232, Value: nan
Sample: 844763, Nuclide: th232, Value: nan
Sample: 844769, Nuclide: th232, Value: nan
Sample: 844775, Nuclide: th232, Value: nan
Sample: 844778, Nuclide: th232, Value: nan
Sample: 844877, Nuclide: th232, Value: nan
Sample: 844880, Nuclide: th232, Value: nan
Sample: 844883, Nuclide: th232, Value: nan
Sample: 844886, Nuclide: th232, Value: nan
Sample: 844889, Nuclide: th232, Value: nan
Sample: 844781, Nuclide: th232, Value: nan
Sample: 845828, Nuclide: th232, Value: nan
Sample: 844967, Nuclide: th232, Value: nan
Sample: 844970, Nuclide: th232, Value: nan
Sample: 845405, Nuclide: th232, Value: nan
Sample: 845411, Nuclide: th232, Value: nan
Sample: 845417, Nuclide: th232, Value: nan
Sample: 845420, Nuclide: th232, Value: nan
Sample: 845423, Nuclide: th232, Value: nan
Sample: 845426, Nuclide: th232, Value: nan
Sample: 845429, Nuclide: th232, Value: nan
Sample: 845432, Nuclide: th232, Value: nan
Sample: 845435, Nuclide: th232, Value: nan
Sample: 845438, Nuclide: th232, Value: nan
Sample: 845444, Nuclide: th232, Value: nan
Sample: 845450, Nuclide: th232, Value: nan
Sample: 845456, Nuclide: th232, Value: nan
Sample: 845459, Nuclide: th232, Value: nan
Sample: 845462, Nuclide: th232, Value: nan
Sample: 845645, Nuclide: th232, Value: nan
Sample: 845648, Nuclide: th232, Value: nan
Sample: 845651, Nuclide: th232, Value: nan
Sample: 845654, Nuclide: th232, Value: nan
Sample: 845657, Nuclide: th232, Value: nan
Sample: 845660, Nuclide: th232, Value: nan
Sample: 845663, Nuclide: th232, Value: nan
Sample: 845669, Nuclide: th232, Value: nan
Sample: 845672, Nuclide: th232, Value: nan
Sample: 845675, Nuclide: th232, Value: nan
Sample: 845720, Nuclide: th232, Value: nan
Sample: 845678, Nuclide: th232, Value: nan
Sample: 845723, Nuclide: th232, Value: nan
Sample: 845726, Nuclide: th232, Value: nan
Sample: 845732, Nuclide: th232, Value: nan
Sample: 845735, Nuclide: th232, Value: nan
Sample: 845741, Nuclide: th232, Value: nan
Sample: 845747, Nuclide: th232, Value: nan
Sample: 845750, Nuclide: th232, Value: nan
Sample: 845753, Nuclide: th232, Value: nan
Sample: 845942, Nuclide: th232, Value: nan
Sample: 845948, Nuclide: th232, Value: nan
Sample: 845951, Nuclide: th232, Value: nan
Sample: 845957, Nuclide: th232, Value: nan
Sample: 845960, Nuclide: th232, Value: nan

### Rehape: long to wide

In [ ]:
class ReshapeLongToWide(Callback):
    "Convert data from long to wide with renamed columns."
    def __init__(self, 
                 unique_id: str='sample', # Column to use as unique index
                 columns: str='nuclide', # Column whose values will become column names
                 values: str='value', # Column containing values of each nuclide
                 ):
        fc.store_attr()
        self.derived_cols = self._get_derived_cols()
    
    def _get_derived_cols(self):
        "Retrieve all possible derived vars (e.g 'unc', 'dl', ...) from configs."
        return [value['name'] for value in cdl_cfg()['vars']['suffixes'].values()]

    def renamed_cols(self, cols):
        "Flatten columns name."
        return [inner if outer == "value" else f'{inner}{outer}' if inner else outer
                for outer, inner in cols]
        
    def set_index(self, df):
        "Set the index of the dataframe using the unique id column."
        df.index.name = self.unique_id
        return df

    def pivot(self, df):
        derived_coi = [col for col in self.derived_cols if col in df.columns]
        common_cols = list(set(df.columns) - 
                           set([self.columns] + [self.values] + derived_coi + [self.unique_id]))
                
        pivot_df = df.pivot_table(index=[self.unique_id] + common_cols,
                                  columns=self.columns,
                                  values=[self.values] + derived_coi,
                                  fill_value=np.nan,
                                  aggfunc=lambda x: x
                                  ).reset_index()
        
        # pivot_df = pivot_df.set_index(self.unique_id)
        return pivot_df

    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp] = self.pivot(tfm.dfs[grp])
            tfm.dfs[grp].columns = self.renamed_cols(tfm.dfs[grp].columns)

In [ ]:
#|eval: false
tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules),
    UnshiftLongitudeCB(),
    DispatchToGroupCB(),
    ReshapeLongToWide()
])

dfs_test = tfm()
print('shape: ', dfs_test['seawater'].shape)
print('columns: ', dfs_test['seawater'] .columns)
dfs_test['seawater'].head()

shape:  (8779, 90)
columns:  Index(['sample', 'time', 'lat', 'lon', 'tot_depth', 'smp_depth', 'ac227_filt',
       'be7_filt', 'cs137_filt', 'h3_filt', 'i129_filt', 'np237_filt',
       'pa231_filt', 'pb210_filt', 'po210_filt', 'pu239_filt',
       'pu239_240_tot_filt', 'pu240_filt', 'ra223_filt', 'ra224_filt',
       'ra226_filt', 'ra228_filt', 'th228_filt', 'th230_filt', 'th232_filt',
       'th234_filt', 'u236_filt', 'ac227_sampmet', 'be7_sampmet',
       'cs137_sampmet', 'h3_sampmet', 'i129_sampmet', 'np237_sampmet',
       'pa231_sampmet', 'pb210_sampmet', 'po210_sampmet', 'pu239_sampmet',
       'pu239_240_tot_sampmet', 'pu240_sampmet', 'ra223_sampmet',
       'ra224_sampmet', 'ra226_sampmet', 'ra228_sampmet', 'th228_sampmet',
       'th230_sampmet', 'th232_sampmet', 'th234_sampmet', 'u236_sampmet',
       'ac227_unit', 'be7_unit', 'cs137_unit', 'h3_unit', 'i129_unit',
       'np237_unit', 'pa231_unit', 'pb210_unit', 'po210_unit', 'pu239_unit',
       'pu239_240_tot_unit', 'pu240_unit', 'ra223_unit', 'ra224_unit',
       'ra226_unit', 'ra228_unit', 'th228_unit', 'th230_unit', 'th232_unit',
       'th234_unit', 'u236_unit', 'ac227', 'be7', 'cs137', 'h3', 'i129',
       'np237', 'pa231', 'pb210', 'po210', 'pu239', 'pu239_240_tot', 'pu240',
       'ra223', 'ra224', 'ra226', 'ra228', 'th228', 'th230', 'th232', 'th234',
       'u236'],
      dtype='object')

,sample,time,lat,lon,tot_depth,smp_depth,ac227_filt,be7_filt,cs137_filt,h3_filt,...,pu240,ra223,ra224,ra226,ra228,th228,th230,th232,th234,u236
0,194730,2007-07-30T10:37:19,75.0005,-145.9999,181.0,25.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.034914,NaN
1,194732,2007-07-30T10:37:19,75.0005,-145.9999,181.0,49.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037409,NaN
2,194737,2007-07-30T10:37:19,75.0005,-145.9999,181.0,74.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033527,NaN
3,194748,2007-07-30T10:37:19,75.0005,-145.9999,181.0,100.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.034267,NaN
4,194750,2007-07-31T08:55:44,77.5033,-146.0138,197.0,4.7,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for v in dfs_test['seawater']['th232']:
    print(v)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

Let's also have a quick look at how many nuclides are measured by sample:

In [ ]:
#| eval: false
common_cols = [
    'lon',
    'lat', 
    'smp_depth',
    'tot_depth', 
    'time'
]

derived_cols = [value['name'] for value in cdl_cfg()['vars']['suffixes'].values()]
cois = common_cols + derived_cols
measurement_cols = [col for col in dfs_test['seawater'].columns if col not in cois]
non_nan_counts = dfs_test['seawater'][measurement_cols].notna().sum(axis=1)

print(non_nan_counts.sort_values(ascending=False))

4531    23
4135    23
3791    23
4207    23
6657    21
        ..
3820     5
3818     5
3816     5
3814     5
8778     5
Length: 8779, dtype: int64

### Parse time

In [ ]:
#| export
class ParseTimeCB(Callback):
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['time'] = pd.to_datetime(tfm.dfs[k].time, format='ISO8601')

In [ ]:
#|eval: false
df = pd.read_csv(fname_in)

tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules),
    UnshiftLongitudeCB(),
    DispatchToGroupCB(),
    ReshapeLongToWide(),
    ParseTimeCB()
])

print('time data type: ', tfm()['seawater'].time.dtype)

time data type:  datetime64[ns]

### Encode time (seconds since ...)

In [ ]:
#|eval: false
df = pd.read_csv(fname_in)

tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules),
    UnshiftLongitudeCB(),
    DispatchToGroupCB(),
    ReshapeLongToWide(),
    ParseTimeCB(),
    EncodeTimeCB(cfg())
])

dfs_test = tfm()['seawater']
dfs_test.head()

,sample,time,lat,lon,tot_depth,smp_depth,ac227_filt,be7_filt,cs137_filt,h3_filt,...,pu240,ra223,ra224,ra226,ra228,th228,th230,th232,th234,u236
0,194730,1185791839,75.0005,-145.9999,181.0,25.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.034914,NaN
1,194732,1185791839,75.0005,-145.9999,181.0,49.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037409,NaN
2,194737,1185791839,75.0005,-145.9999,181.0,74.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033527,NaN
3,194748,1185791839,75.0005,-145.9999,181.0,100.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.034267,NaN
4,194750,1185872144,77.5033,-146.0138,197.0,4.7,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Sanitize coordinates

In [ ]:
#|eval: false
df = pd.read_csv(fname_in)

tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules),
    UnshiftLongitudeCB(),
    DispatchToGroupCB(),
    ReshapeLongToWide(),
    ParseTimeCB(),
    EncodeTimeCB(cfg()),
    SanitizeLonLatCB()
])
dfs_test = tfm()['seawater']
dfs_test.head()

,sample,time,lat,lon,tot_depth,smp_depth,ac227_filt,be7_filt,cs137_filt,h3_filt,...,pu240,ra223,ra224,ra226,ra228,th228,th230,th232,th234,u236
0,194730,1185791839,75.0005,-145.9999,181.0,25.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.034914,NaN
1,194732,1185791839,75.0005,-145.9999,181.0,49.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037409,NaN
2,194737,1185791839,75.0005,-145.9999,181.0,74.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033527,NaN
3,194748,1185791839,75.0005,-145.9999,181.0,100.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.034267,NaN
4,194750,1185872144,77.5033,-146.0138,197.0,4.7,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## NetCDF encoder

### Example change logs

In [ ]:
#|eval: false
df = pd.read_csv(fname_in)

tfm = Transformer(df, cbs=[
    SelectColsOfInterestCB(common_coi, nuclides_pattern),
    WideToLongCB(common_coi, nuclides_pattern),
    ExtractUnitCB(),
    ExtractFilteringStatusCB(phase),
    ExtractSamplingMethodCB(smp_method),
    RenameNuclideCB(nuclides_name),
    StandardizeUnitCB(units_lut),
    RenameColumnCB(renaming_rules),
    UnshiftLongitudeCB(),
    DispatchToGroupCB(),
    ReshapeLongToWide(),
    ParseTimeCB(),
    EncodeTimeCB(cfg()),
    SanitizeLonLatCB()
])

tfm();

In [ ]:
#|eval: false
tfm.logs

['Select columns of interest.',
 '\n    Get Geotraces nuclide names as values not column names \n    to extract contained information (unit, sampling method, ...).\n    ',
 '\n    Extract units from nuclide names.\n    ',
 'Extract filtering status from nuclide names.',
 'Extract sampling method from nuclide names.',
 'Remap nuclides name to MARIS standard.',
 'Remap unit to MARIS standard ones and apply conversion where needed.',
 'Renaming variables to MARIS standard names.',
 'Longitudes are coded between 0 and 360 in Geotraces. We rescale it between -180 and 180 instead.',
 'Convert to a dictionary of dataframe with sample type (seawater,...) as keys.',
 'Convert data from long to wide with renamed columns.',
 'Encode time as `int` representing seconds since xxx.',
 'Drop rows with invalid longitude & latitude values. Convert `,` separator to `.` separator.']

### Feed global attributes

In [ ]:
#| export
kw = ['oceanography', 'Earth Science > Oceans > Ocean Chemistry> Radionuclides',
      'Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure',
      'Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments',
      'Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes',
      'Earth Science > Oceans > Water Quality > Ocean Contaminants',
      'Earth Science > Biological Classification > Animals/Vertebrates > Fish',
      'Earth Science > Biosphere > Ecosystems > Marine Ecosystems',
      'Earth Science > Biological Classification > Animals/Invertebrates > Mollusks',
      'Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans',
      'Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)']

In [ ]:
#| export
def get_attrs(tfm, zotero_key, kw=kw):
    return GlobAttrsFeeder(tfm.dfs, cbs=[
        BboxCB(),
        DepthRangeCB(),
        TimeRangeCB(cfg()),
        ZoteroCB(zotero_key, cfg=cfg()),
        KeyValuePairCB('keywords', ', '.join(kw)),
        KeyValuePairCB('publisher_postprocess_logs', ', '.join(tfm.logs))
        ])()

In [ ]:
#|eval: false
zotero_metadata = get_attrs(tfm, zotero_key='97UIMEXN', kw=kw)
print('Keys: ', zotero_metadata.keys())
print('Title: ', zotero_metadata['title'])

Keys:  dict_keys(['geospatial_lat_min', 'geospatial_lat_max', 'geospatial_lon_min', 'geospatial_lon_max', 'geospatial_bounds', 'time_coverage_start', 'time_coverage_end', 'title', 'summary', 'creator_name', 'keywords', 'publisher_postprocess_logs'])
Title:  The GEOTRACES Intermediate Data Product 2017

In [ ]:
#| export
# def enums_xtra(tfm, vars):
#    "Retrieve a subset of the lengthy enum as 'species_t' for instance"
#    enums = Enums(lut_src_dir=lut_path(), cdl_enums=cdl_cfg()['enums'])
#    xtras = {}
#    for var in vars:
#        unique_vals = tfm.unique(var)
#        if unique_vals.any():
#            xtras[f'{var}_t'] = enums.filter(f'{var}_t', unique_vals)
#    return xtras

### Encoding

In [ ]:
#| export
def encode(fname_in, fname_out, nc_tpl_path, **kwargs):
    df = pd.read_csv(fname_in)
    tfm = Transformer(df, cbs=[
        SelectColsOfInterestCB(common_coi, nuclides_pattern),
        WideToLongCB(common_coi, nuclides_pattern),
        ExtractUnitCB(),
        ExtractFilteringStatusCB(phase),
        ExtractSamplingMethodCB(smp_method),
        RenameNuclideCB(nuclides_name),
        StandardizeUnitCB(units_lut),
        RenameColumnCB(renaming_rules),
        UnshiftLongitudeCB(),
        DispatchToGroupCB(),
        ReshapeLongToWide(),
        ParseTimeCB(),
        EncodeTimeCB(cfg()),
        SanitizeLonLatCB()
    ])
    tfm()
    encoder = NetCDFEncoder(tfm.dfs, 
                            src_fname=nc_tpl_path,
                            dest_fname=fname_out, 
                            global_attrs=get_attrs(tfm, zotero_key='97UIMEXN', kw=kw),
                            verbose=kwargs.get('verbose', False),
                            # enums_xtra=enums_xtra(tfm, vars=['species', 'body_part'])
                           )
    encoder.encode()

In [ ]:
#|eval: false
encode(fname_in, fname_out, nc_tpl_path(), verbose=True)

--------------------------------------------------------------------------------
Group: seawater, Variable: sample
[ 194730  194732  194737 ... 1901732 1901735 1901738]
--------------------------------------------------------------------------------
Group: seawater, Variable: lon
[-145.9999 -145.9999 -145.9999 ...    0.927     3.245     3.245 ]
--------------------------------------------------------------------------------
Group: seawater, Variable: lat
[75.0005 75.0005 75.0005 ... 60.197  78.1354 78.1354]
--------------------------------------------------------------------------------
Group: seawater, Variable: smp_depth
[25.7 49.5 74.6 ...  0.5  7.  16. ]
--------------------------------------------------------------------------------
Group: seawater, Variable: tot_depth
[ 181.  181.  181. ...  760. 1028. 1028.]
--------------------------------------------------------------------------------
Group: seawater, Variable: time
[1185791839 1185791839 1185791839 ... 1439421999 1440279578 1440279578]
--------------------------------------------------------------------------------
Group: seawater, Variable: h3
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: h3_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: h3_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: h3_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: be7
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: be7_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: be7_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: be7_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: i129
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: i129_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: i129_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: i129_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: cs137
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: cs137_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: cs137_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: cs137_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: pb210
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: pb210_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: pb210_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: pb210_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: po210
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: po210_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: po210_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: po210_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra223
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra223_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra223_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra223_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra224
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra224_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra224_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra224_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra226
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra226_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra226_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra226_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra228
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra228_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra228_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: ra228_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: th228
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: th228_filt
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: th228_sampmet
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: th228_unit
[nan nan nan ... nan nan nan]
--------------------------------------------------------------------------------
Group: seawater, Variable: th232
[nan nan nan ... nan nan nan]

ValueError: setting an array element with a sequence.