In [ ]:
#| default_exp netcdf_to_csv

# NetCDF to Open Refine CSV (WIP)

***

## Packages import

In [ ]:

from pathlib import Path # This module offers classes representing filesystem paths
import xarray as xr
from netCDF4 import Dataset
import pandas as pd
import xarray as xr
import numpy as np
from marisco.callbacks import (Callback, Transformer,
                               EncodeTimeCB, SanitizeLonLatCB)
import fastcore.all as fc # package that brings fastcore functionality, see https://fastcore.fast.ai/.
from cftime import num2pydate 
from marisco.configs import cfg, lut_path, nuc_lut_path, cdl_cfg
from marisco.serializers import OpenRefineCsvEncoder

dict_values([{'name': '_unc', 'dtype': 'f4', 'attrs': {'long_name': ' uncertainty', 'standard_name': '_uncertainty'}}, {'name': '_dl', 'dtype': 'dl_t', 'attrs': {'long_name': ' detection limit', 'standard_name': '_detection_limit'}}, {'name': '_vol', 'dtype': 'f4', 'attrs': {'long_name': ' volume', 'standard_name': '_volume'}}, {'name': '_sal', 'dtype': 'f4', 'attrs': {'long_name': ' salinity', 'standard_name': '_sal'}}, {'name': '_temp', 'dtype': 'f4', 'attrs': {'long_name': ' temperature', 'standard_name': '_temp'}}, {'name': '_filt', 'dtype': 'filt_t', 'attrs': {'long_name': ' filtered', 'standard_name': '_filtered'}}, {'name': '_counmet', 'dtype': 'counmet_t', 'attrs': {'long_name': ' counting method', 'standard_name': '_counting_method'}}, {'name': '_sampmet', 'dtype': 'sampmet_t', 'attrs': {'long_name': ' sampling method', 'standard_name': '_sampling_method'}}, {'name': '_prepmet', 'dtype': 'prepmet_t', 'attrs': {'long_name': ' preparation method', 'standard_name': '_preparation_method'}}, {'name': '_unit', 'dtype': 'unit_t', 'attrs': {'long_name': ' unit', 'standard_name': '_unit'}}])

Get the current working directory (cwd). .

In [ ]:
Path.cwd()

Path('/home/marisco/downloads/marisco/nbs/handlers')

In [ ]:
fname_in = '../../_data/output/ospar_19950103_2021214.nc'
fname_out = '../../_data/output/ospar_test.csv'

### Load NetCDF

load netcdf4 data

In [ ]:
def netcdf4_to_df(fname_in):
    # read nc file
    netcdf4_data = Dataset(fname_in, "r")
    # Create dictionary of dataframes
    dfs={}
    for group in (netcdf4_data.groups.keys()):
        ds = xr.open_dataset(fname_in, group=group,  decode_times=False)
        dfs[group]=ds.to_dataframe()
    netcdf4_data.close()
    return(dfs)

In [ ]:
dfs = netcdf4_to_df(fname_in)
dfs['biota']

,sample,lon,lat,time,bio_group,species,body_part,h3,h3_dl,h3_unit,...,pu238_dl,pu238_unit,am241,am241_unc,am241_dl,am241_unit,pu239_240_tot,pu239_240_tot_unc,pu239_240_tot_dl,pu239_240_tot_unit
biota,,,,,,,,,,,,,,,,,,,,,
0,0,-4.901945,55.725277,1640908800,13,394,19,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,0.3510,0.066,2,5
1,1,-3.240556,54.968887,1640908800,11,96,56,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,NaN,NaN,-1,-1
2,2,-3.791389,58.565834,1640908800,13,394,19,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,0.0938,0.018,2,5
3,3,-3.647778,58.618610,1640908800,13,394,19,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,1.5400,0.310,2,5
4,4,-2.398056,55.964722,1640908800,11,96,56,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,NaN,NaN,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7992,15305,7.566667,54.348331,789350400,4,99,52,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,NaN,NaN,-1,-1
7993,15306,7.566667,54.348331,789350400,4,99,25,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,NaN,NaN,-1,-1
7994,15307,-3.566111,54.455002,789264000,13,394,19,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,NaN,NaN,-1,-1
7995,15308,-3.566111,54.455002,789264000,13,394,19,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,NaN,NaN,-1,-1
7996,15309,-3.566111,54.455002,789264000,13,394,19,NaN,-1,-1,...,-1,-1,NaN,NaN,-1,-1,NaN,NaN,-1,-1

In [ ]:
dfs['seawater'].columns

Index(['sample', 'lon', 'lat', 'smp_depth', 'time', 'h3', 'h3_unc', 'h3_dl',
       'h3_unit', 'tc99', 'tc99_unc', 'tc99_dl', 'tc99_unit', 'cs137',
       'cs137_unc', 'cs137_dl', 'cs137_unit', 'po210', 'po210_unc', 'po210_dl',
       'po210_unit', 'ra226', 'ra226_unc', 'ra226_dl', 'ra226_unit', 'ra228',
       'ra228_unc', 'ra228_dl', 'ra228_unit', 'pu239_240_tot',
       'pu239_240_tot_unc', 'pu239_240_tot_dl', 'pu239_240_tot_unit'],
      dtype='object')

### Transpose Nuclides

In [ ]:
#| export
# Define cols that are not nuclides
sample_cols_grp = {'seawater': ['sample','lon', 'lat', 'smp_depth', 'time'],
           #'sediment': ['sample', 'lon', 'lat', 'depth', 'time', 'sed_type'],
           'biota': ['sample', 'lon', 'lat', 'time', 'species', 'body_part']}

In [ ]:
def allowed_nuclides():
    df=pd.read_excel(nuc_lut_path())
    return(df[['nuclide_id','nusymbol']])

In [ ]:
allowed_nuclides()

     nuclide_id      nusymbol
0            -1           NaN
1             0             0
2             1            3H
3             2           7Be
4             3           14C
..          ...           ...
129         138    T-BETA-40K
130         139          55Fe
131         140  144Ce, 144Pr
132         141   240Pu/239Pu
133         142   241Pu/239Pu

[134 rows x 2 columns]

In [ ]:
derived_cols = [value['name'] for value in cdl_cfg()['vars']['suffixes'].values()]
derived_cols

['_unc',
 '_dl',
 '_vol',
 '_sal',
 '_temp',
 '_filt',
 '_counmet',
 '_sampmet',
 '_prepmet',
 '_unit']

0               NaN
1                 0
2                3H
3               7Be
4               14C
           ...
129      T-BETA-40K
130            55Fe
131    144Ce, 144Pr
132     240Pu/239Pu
133     241Pu/239Pu
Name: nusymbol, Length: 134, dtype: object

In [ ]:
derived_nuc_cols= x for x in allowed_nuclides()['nusymbol']

In [ ]:
nuc=allowed_nuclides()['nusymbol'][2]
nuc

'3H'

In [ ]:
nuc+(derived_cols[0])

'3H_unc'

In [ ]:
for nuc in allowed_nuclides()['nusymbol']:
    nuc.join(x) for x in derived_cols

nan
0
3H
7Be
14C
40K
51Cr
54Mn
57Co
58Co
60Co
65Zn
89Sr
90Sr
95Zr
95Nb
99Tc
103Ru
106Ru
106Rh
106mAg
108Ag
108mAg
110mAg
124Sb
125Sb
129mTe
129I
131I
127Cs
134Cs
137Cs
140Ba
140La
141Ce
144Ce
147Pm
154Eu
155Eu
210Pb
212Pb
214Pb
207Bi
211Bi
214Bi
210Po
220Rn
222Rn
223Ra
224Ra
225Ra
226Ra
228Ra
228Ac
227Th
228Th
232Th
234Th
234Pa
234U
235U
238U
237Np
239Np
238Pu
239Pu
240Pu
241Pu
240Am
241Am
242Cm
243Cm
244Cm
134,137Cs
239,240Pu
239,240Pu III,IV
239,240Pu V,VI
243,244Cm
238Pu/239,240Pu
241Am/239,240Pu
137Cs/134Cs
109Cd
152Eu
59Fe
153Gd
192Ir
238,240Pu
86Rb
46Sc
113Sn
117mSn
208Tl
99Mo
99mTc
105Ru
129Te
132Te
132I
135I
136Cs
T-BETA
T-ALPHA
133I
230Th
231Pa
236U
111Ag
116mIn
123mTe
127Sb
133Ba
139Ce
201Tl
203Hg
22Na
234mPa
243Am
75Se
85Sr
88Y
140Ce
212Bi
236U/238U
125I
137mBa
232U
233Pa
106Ru,106Rh
T-U
T-BETA-40K
55Fe
144Ce, 144Pr
240Pu/239Pu
241Pu/239Pu

In [ ]:
self.derived_cols = [value['name'] for value in cdl_cfg()['vars']['suffixes'].values()]

In [ ]:
cdl_cfg()['vars']['suffixes'].values()

In [ ]:
#| export
class TransposeNuclideColumns(Callback):
    
    " Transpose NetCDF nuclide data."
    def __init__(self, cols_grp=sample_cols_grp): fc.store_attr()
    
    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp]=self.transpose_nuclides(tfm.dfs[grp], grp)
            
    def transpose_nuclides(self, df, group):
        df_sample_cols=self.cols_grp[group]
        
        
        
        nuclide_unc_unit_cols=list(set(df.columns) - set(sample_cols))
        unc_cols=[x for x in nuclide_unc_unit_cols if '_unc' in x]
        unit_cols=[x for x in nuclide_unc_unit_cols if '_unit' in x]
        dl_cols=[x for x in nuclide_unc_unit_cols if '_dl' in x]
        nuclide_cols= list(set(nuclide_unc_unit_cols) - set(unit_cols+unc_cols+dl_cols))
              
        # Transpose nuclide_cols
        nuclide_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=nuclide_cols, var_name='nuclide', value_name='activity')
        
        # Transpose unc_cols
        unc_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=unc_cols, var_name='nuclide', value_name='uncertainty')
        unc_df['nuclide'] = unc_df['nuclide'].str.replace('_unc', '')    
            
        # Transpose unit_cols
        unit_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=unit_cols, var_name='nuclide', value_name='unit_id')       
        unit_df['nuclide'] = unit_df['nuclide'].str.replace('_unit', '')
        
        # Transpose dl_cols
        dl_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=dl_cols, var_name='nuclide', value_name='dl')       
        dl_df['nuclide'] = dl_df['nuclide'].str.replace('_dl', '')        
        
        # Combine nuclide_df, unc_df, unit_df and dl_df
        combine_on=sample_cols+['nuclide']
        df = pd.merge(nuclide_df, unc_df,  how='outer', left_on= combine_on, right_on = combine_on)
        df = pd.merge(df, unit_df,  how='outer', left_on= combine_on, right_on = combine_on)
        df = pd.merge(df, dl_df,  how='outer', left_on= combine_on, right_on = combine_on)
        
        # Keep all rows where 'activity' is not 'nan' OR 'uncertainty' is not 'nan' OR 'dl' is not 'nan' OR'unit_id' not equal 0.
        df=df[(df['activity'].notna()) | (df['uncertainty'].notna()) | (df['dl'].notna()) | (df['unit_id'] != 0 )]
        return(df)

In [ ]:
#| export
class TransposeNuclideColumns(Callback):
    
    " Transpose NetCDF nuclide data."
    def __init__(self, cols_grp=sample_cols_grp): fc.store_attr()
    
    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp]=self.transpose_nuclides(tfm.dfs[grp], grp)
            
    def transpose_nuclides(self, df, group):
        sample_cols=self.cols_grp[group]
        
        nuclide_unc_unit_cols=list(set(df.columns) - set(sample_cols))
        unc_cols=[x for x in nuclide_unc_unit_cols if '_unc' in x]
        unit_cols=[x for x in nuclide_unc_unit_cols if '_unit' in x]
        dl_cols=[x for x in nuclide_unc_unit_cols if '_dl' in x]
        nuclide_cols= list(set(nuclide_unc_unit_cols) - set(unit_cols+unc_cols+dl_cols))
              
        # Transpose nuclide_cols
        nuclide_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=nuclide_cols, var_name='nuclide', value_name='activity')
        
        # Transpose unc_cols
        unc_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=unc_cols, var_name='nuclide', value_name='uncertainty')
        unc_df['nuclide'] = unc_df['nuclide'].str.replace('_unc', '')    
            
        # Transpose unit_cols
        unit_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=unit_cols, var_name='nuclide', value_name='unit_id')       
        unit_df['nuclide'] = unit_df['nuclide'].str.replace('_unit', '')
        
        # Transpose dl_cols
        dl_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=dl_cols, var_name='nuclide', value_name='dl')       
        dl_df['nuclide'] = dl_df['nuclide'].str.replace('_dl', '')        
        
        # Combine nuclide_df, unc_df, unit_df and dl_df
        combine_on=sample_cols+['nuclide']
        df = pd.merge(nuclide_df, unc_df,  how='outer', left_on= combine_on, right_on = combine_on)
        df = pd.merge(df, unit_df,  how='outer', left_on= combine_on, right_on = combine_on)
        df = pd.merge(df, dl_df,  how='outer', left_on= combine_on, right_on = combine_on)
        
        # Keep all rows where 'activity' is not 'nan' OR 'uncertainty' is not 'nan' OR 'dl' is not 'nan' OR'unit_id' not equal 0.
        df=df[(df['activity'].notna()) | (df['uncertainty'].notna()) | (df['dl'].notna()) | (df['unit_id'] != 0 )]
        return(df)

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns()])
tfm()

{'seawater':        sample       lon        lat  smp_depth        time        nuclide  \
 0           0  3.188056  51.375278        3.0  1264550400          cs137
 1           0  3.188056  51.375278        3.0  1264550400             h3
 2           0  3.188056  51.375278        3.0  1264550400          po210
 3           0  3.188056  51.375278        3.0  1264550400  pu239_240_tot
 4           0  3.188056  51.375278        3.0  1264550400          ra226
 ...       ...       ...        ...        ...         ...            ...
 70625   18855 -4.086389  53.123333        0.0  1617753600          po210
 70626   18855 -4.086389  53.123333        0.0  1617753600  pu239_240_tot
 70627   18855 -4.086389  53.123333        0.0  1617753600          ra226
 70628   18855 -4.086389  53.123333        0.0  1617753600          ra228
 70629   18855 -4.086389  53.123333        0.0  1617753600           tc99

        activity  uncertainty  unit_id  dl
 0           0.2          NaN        1   3
 1           NaN          NaN       -1  -1
 2           NaN          NaN       -1  -1
 3           NaN          NaN       -1  -1
 4           NaN          NaN       -1  -1
 ...         ...          ...      ...  ..
 70625       NaN          NaN       -1  -1
 70626       NaN          NaN       -1  -1
 70627       NaN          NaN       -1  -1
 70628       NaN          NaN       -1  -1
 70629       NaN          NaN       -1  -1

 [70630 rows x 10 columns],
 'biota':        sample       lon        lat        time  species  body_part  \
 0           0 -4.901945  55.725277  1640908800      394         19
 1           0 -4.901945  55.725277  1640908800      394         19
 2           0 -4.901945  55.725277  1640908800      394         19
 3           0 -4.901945  55.725277  1640908800      394         19
 4           0 -4.901945  55.725277  1640908800      394         19
 ...       ...       ...        ...         ...      ...        ...
 87962   15309 -3.566111  54.455002   789264000      394         19
 87963   15309 -3.566111  54.455002   789264000      394         19
 87964   15309 -3.566111  54.455002   789264000      394         19
 87965   15309 -3.566111  54.455002   789264000      394         19
 87966   15309 -3.566111  54.455002   789264000      394         19

              nuclide  activity  uncertainty  unit_id   dl
 0              am241       NaN          NaN     -1.0 -1.0
 1          bio_group      13.0          NaN      NaN  NaN
 2              cs137       NaN          NaN     -1.0 -1.0
 3                 h3       NaN          NaN     -1.0 -1.0
 4              pb210       NaN          NaN     -1.0 -1.0
 ...              ...       ...          ...      ...  ...
 87962          pu238       NaN          NaN     -1.0 -1.0
 87963  pu239_240_tot       NaN          NaN     -1.0 -1.0
 87964          ra226       NaN          NaN     -1.0 -1.0
 87965          ra228       NaN          NaN     -1.0 -1.0
 87966           tc99     838.0        33.52      5.0  2.0

 [87967 rows x 11 columns]}

***

### Parse Time

In [ ]:
#| export
class ParseTimeCB(Callback):
    def __init__(self, cfg): fc.store_attr()
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['time'] = tfm.dfs[k]['time'].apply(self.format_time)
    def format_time(self, x): 
        return num2pydate(x, units=self.cfg['units']['time'])

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg())])
tfm()

{'seawater':        sample       lon        lat  smp_depth       time        nuclide  \
 0           0  3.188056  51.375278        3.0 2010-01-27          cs137
 1           0  3.188056  51.375278        3.0 2010-01-27             h3
 2           0  3.188056  51.375278        3.0 2010-01-27          po210
 3           0  3.188056  51.375278        3.0 2010-01-27  pu239_240_tot
 4           0  3.188056  51.375278        3.0 2010-01-27          ra226
 ...       ...       ...        ...        ...        ...            ...
 70625   18855 -4.086389  53.123333        0.0 2021-04-07          po210
 70626   18855 -4.086389  53.123333        0.0 2021-04-07  pu239_240_tot
 70627   18855 -4.086389  53.123333        0.0 2021-04-07          ra226
 70628   18855 -4.086389  53.123333        0.0 2021-04-07          ra228
 70629   18855 -4.086389  53.123333        0.0 2021-04-07           tc99

        activity  uncertainty  unit_id  dl
 0           0.2          NaN        1   3
 1           NaN          NaN       -1  -1
 2           NaN          NaN       -1  -1
 3           NaN          NaN       -1  -1
 4           NaN          NaN       -1  -1
 ...         ...          ...      ...  ..
 70625       NaN          NaN       -1  -1
 70626       NaN          NaN       -1  -1
 70627       NaN          NaN       -1  -1
 70628       NaN          NaN       -1  -1
 70629       NaN          NaN       -1  -1

 [70630 rows x 10 columns],
 'biota':        sample       lon        lat       time  species  body_part  \
 0           0 -4.901945  55.725277 2021-12-31      394         19
 1           0 -4.901945  55.725277 2021-12-31      394         19
 2           0 -4.901945  55.725277 2021-12-31      394         19
 3           0 -4.901945  55.725277 2021-12-31      394         19
 4           0 -4.901945  55.725277 2021-12-31      394         19
 ...       ...       ...        ...        ...      ...        ...
 87962   15309 -3.566111  54.455002 1995-01-05      394         19
 87963   15309 -3.566111  54.455002 1995-01-05      394         19
 87964   15309 -3.566111  54.455002 1995-01-05      394         19
 87965   15309 -3.566111  54.455002 1995-01-05      394         19
 87966   15309 -3.566111  54.455002 1995-01-05      394         19

              nuclide  activity  uncertainty  unit_id   dl
 0              am241       NaN          NaN     -1.0 -1.0
 1          bio_group      13.0          NaN      NaN  NaN
 2              cs137       NaN          NaN     -1.0 -1.0
 3                 h3       NaN          NaN     -1.0 -1.0
 4              pb210       NaN          NaN     -1.0 -1.0
 ...              ...       ...          ...      ...  ...
 87962          pu238       NaN          NaN     -1.0 -1.0
 87963  pu239_240_tot       NaN          NaN     -1.0 -1.0
 87964          ra226       NaN          NaN     -1.0 -1.0
 87965          ra228       NaN          NaN     -1.0 -1.0
 87966           tc99     838.0        33.52      5.0  2.0

 [87967 rows x 11 columns]}

***

### Sample Type

In [ ]:
#| export
# Define sample types groups
sample_type_lut = {'seawater': 1,
           'sediment': 2,
           'biota': 3,
           'suspended matter': 4}

In [ ]:
#| export
class LookupSampleType(Callback):
    def __init__(self, lut=sample_type_lut): fc.store_attr()
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['samptype_id'] = self.lut[k]

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg()),
                            LookupSampleType()])
tfm()

{'seawater':        sample       lon        lat  smp_depth       time        nuclide  \
 0           0  3.188056  51.375278        3.0 2010-01-27          cs137
 1           0  3.188056  51.375278        3.0 2010-01-27             h3
 2           0  3.188056  51.375278        3.0 2010-01-27          po210
 3           0  3.188056  51.375278        3.0 2010-01-27  pu239_240_tot
 4           0  3.188056  51.375278        3.0 2010-01-27          ra226
 ...       ...       ...        ...        ...        ...            ...
 70625   18855 -4.086389  53.123333        0.0 2021-04-07          po210
 70626   18855 -4.086389  53.123333        0.0 2021-04-07  pu239_240_tot
 70627   18855 -4.086389  53.123333        0.0 2021-04-07          ra226
 70628   18855 -4.086389  53.123333        0.0 2021-04-07          ra228
 70629   18855 -4.086389  53.123333        0.0 2021-04-07           tc99

        activity  uncertainty  unit_id  dl  samptype_id
 0           0.2          NaN        1   3            1
 1           NaN          NaN       -1  -1            1
 2           NaN          NaN       -1  -1            1
 3           NaN          NaN       -1  -1            1
 4           NaN          NaN       -1  -1            1
 ...         ...          ...      ...  ..          ...
 70625       NaN          NaN       -1  -1            1
 70626       NaN          NaN       -1  -1            1
 70627       NaN          NaN       -1  -1            1
 70628       NaN          NaN       -1  -1            1
 70629       NaN          NaN       -1  -1            1

 [70630 rows x 11 columns],
 'biota':        sample       lon        lat       time  species  body_part  \
 0           0 -4.901945  55.725277 2021-12-31      394         19
 1           0 -4.901945  55.725277 2021-12-31      394         19
 2           0 -4.901945  55.725277 2021-12-31      394         19
 3           0 -4.901945  55.725277 2021-12-31      394         19
 4           0 -4.901945  55.725277 2021-12-31      394         19
 ...       ...       ...        ...        ...      ...        ...
 87962   15309 -3.566111  54.455002 1995-01-05      394         19
 87963   15309 -3.566111  54.455002 1995-01-05      394         19
 87964   15309 -3.566111  54.455002 1995-01-05      394         19
 87965   15309 -3.566111  54.455002 1995-01-05      394         19
 87966   15309 -3.566111  54.455002 1995-01-05      394         19

              nuclide  activity  uncertainty  unit_id   dl  samptype_id
 0              am241       NaN          NaN     -1.0 -1.0            3
 1          bio_group      13.0          NaN      NaN  NaN            3
 2              cs137       NaN          NaN     -1.0 -1.0            3
 3                 h3       NaN          NaN     -1.0 -1.0            3
 4              pb210       NaN          NaN     -1.0 -1.0            3
 ...              ...       ...          ...      ...  ...          ...
 87962          pu238       NaN          NaN     -1.0 -1.0            3
 87963  pu239_240_tot       NaN          NaN     -1.0 -1.0            3
 87964          ra226       NaN          NaN     -1.0 -1.0            3
 87965          ra228       NaN          NaN     -1.0 -1.0            3
 87966           tc99     838.0        33.52      5.0  2.0            3

 [87967 rows x 12 columns]}

***

### Nuclide lookup

In [ ]:
#| export
def get_nucnames_lut():
    fname = lut_path() / 'dbo_nuclide.xlsx'
    df_nuclide = pd.read_excel(fname, usecols=['nuclide_id', 'nc_name'])
    return df_nuclide.set_index('nc_name').to_dict()['nuclide_id']

In [ ]:
# | export
class LookupNuclideIdCB(Callback):
    "Lookup MARIS nuclide_id."
    def __init__(self,
                 fn_lut=get_nucnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg()),
                            LookupSampleType(),
                            LookupNuclideIdCB(),
                            ])
tfm()

/tmp/ipykernel_20515/3936730841.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)

{'seawater':        sample       lon        lat  smp_depth       time        nuclide  \
 0           0  3.188056  51.375278        3.0 2010-01-27          cs137
 1           0  3.188056  51.375278        3.0 2010-01-27             h3
 2           0  3.188056  51.375278        3.0 2010-01-27          po210
 3           0  3.188056  51.375278        3.0 2010-01-27  pu239_240_tot
 4           0  3.188056  51.375278        3.0 2010-01-27          ra226
 ...       ...       ...        ...        ...        ...            ...
 70625   18855 -4.086389  53.123333        0.0 2021-04-07          po210
 70626   18855 -4.086389  53.123333        0.0 2021-04-07  pu239_240_tot
 70627   18855 -4.086389  53.123333        0.0 2021-04-07          ra226
 70628   18855 -4.086389  53.123333        0.0 2021-04-07          ra228
 70629   18855 -4.086389  53.123333        0.0 2021-04-07           tc99

        activity  uncertainty  unit_id  dl  samptype_id  nuclide_id
 0           0.2          NaN        1   3            1          33
 1           NaN          NaN       -1  -1            1           1
 2           NaN          NaN       -1  -1            1          47
 3           NaN          NaN       -1  -1            1          77
 4           NaN          NaN       -1  -1            1          53
 ...         ...          ...      ...  ..          ...         ...
 70625       NaN          NaN       -1  -1            1          47
 70626       NaN          NaN       -1  -1            1          77
 70627       NaN          NaN       -1  -1            1          53
 70628       NaN          NaN       -1  -1            1          54
 70629       NaN          NaN       -1  -1            1          15

 [70630 rows x 12 columns],
 'biota':        sample       lon        lat       time  species  body_part  \
 0           0 -4.901945  55.725277 2021-12-31      394         19
 1           0 -4.901945  55.725277 2021-12-31      394         19
 2           0 -4.901945  55.725277 2021-12-31      394         19
 3           0 -4.901945  55.725277 2021-12-31      394         19
 4           0 -4.901945  55.725277 2021-12-31      394         19
 ...       ...       ...        ...        ...      ...        ...
 87962   15309 -3.566111  54.455002 1995-01-05      394         19
 87963   15309 -3.566111  54.455002 1995-01-05      394         19
 87964   15309 -3.566111  54.455002 1995-01-05      394         19
 87965   15309 -3.566111  54.455002 1995-01-05      394         19
 87966   15309 -3.566111  54.455002 1995-01-05      394         19

              nuclide  activity  uncertainty  unit_id   dl  samptype_id  \
 0              am241       NaN          NaN     -1.0 -1.0            3
 1          bio_group      13.0          NaN      NaN  NaN            3
 2              cs137       NaN          NaN     -1.0 -1.0            3
 3                 h3       NaN          NaN     -1.0 -1.0            3
 4              pb210       NaN          NaN     -1.0 -1.0            3
 ...              ...       ...          ...      ...  ...          ...
 87962          pu238       NaN          NaN     -1.0 -1.0            3
 87963  pu239_240_tot       NaN          NaN     -1.0 -1.0            3
 87964          ra226       NaN          NaN     -1.0 -1.0            3
 87965          ra228       NaN          NaN     -1.0 -1.0            3
 87966           tc99     838.0        33.52      5.0  2.0            3

       nuclide_id
 0             72
 1      bio_group
 2             33
 3              1
 4             41
 ...          ...
 87962         67
 87963         77
 87964         53
 87965         54
 87966         15

 [87967 rows x 13 columns]}

In [ ]:
tfm.dfs['biota']

,sample,lon,lat,time,species,body_part,nuclide,activity,uncertainty,unit_id,dl,samptype_id,nuclide_id
0,0,-4.901945,55.725277,2021-12-31,394,19,am241,NaN,NaN,-1.0,-1.0,3,72
1,0,-4.901945,55.725277,2021-12-31,394,19,bio_group,13.0,NaN,NaN,NaN,3,bio_group
2,0,-4.901945,55.725277,2021-12-31,394,19,cs137,NaN,NaN,-1.0,-1.0,3,33
3,0,-4.901945,55.725277,2021-12-31,394,19,h3,NaN,NaN,-1.0,-1.0,3,1
4,0,-4.901945,55.725277,2021-12-31,394,19,pb210,NaN,NaN,-1.0,-1.0,3,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87962,15309,-3.566111,54.455002,1995-01-05,394,19,pu238,NaN,NaN,-1.0,-1.0,3,67
87963,15309,-3.566111,54.455002,1995-01-05,394,19,pu239_240_tot,NaN,NaN,-1.0,-1.0,3,77
87964,15309,-3.566111,54.455002,1995-01-05,394,19,ra226,NaN,NaN,-1.0,-1.0,3,53
87965,15309,-3.566111,54.455002,1995-01-05,394,19,ra228,NaN,NaN,-1.0,-1.0,3,54
87966,15309,-3.566111,54.455002,1995-01-05,394,19,tc99,838.0,33.52,5.0,2.0,3,15

***

### Include ref_id

TODO: Create lut for the ref_id?

In [ ]:
#| export
def get_ref_id():
    ref_id = 191
    return ref_id

In [ ]:
# | export
class LookupRefIdCB(Callback):
    "Lookup MARIS nuclide_id."
    def __init__(self,
                 fn_lut=get_ref_id):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['ref_id'] = lut

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg()),
                            LookupSampleType(),
                            LookupNuclideIdCB(),
                            LookupRefIdCB(get_ref_id)
                            ])
tfm()

/tmp/ipykernel_20515/3936730841.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)

{'seawater':        sample       lon        lat  smp_depth       time        nuclide  \
 0           0  3.188056  51.375278        3.0 2010-01-27          cs137
 1           0  3.188056  51.375278        3.0 2010-01-27             h3
 2           0  3.188056  51.375278        3.0 2010-01-27          po210
 3           0  3.188056  51.375278        3.0 2010-01-27  pu239_240_tot
 4           0  3.188056  51.375278        3.0 2010-01-27          ra226
 ...       ...       ...        ...        ...        ...            ...
 70625   18855 -4.086389  53.123333        0.0 2021-04-07          po210
 70626   18855 -4.086389  53.123333        0.0 2021-04-07  pu239_240_tot
 70627   18855 -4.086389  53.123333        0.0 2021-04-07          ra226
 70628   18855 -4.086389  53.123333        0.0 2021-04-07          ra228
 70629   18855 -4.086389  53.123333        0.0 2021-04-07           tc99

        activity  uncertainty  unit_id  dl  samptype_id  nuclide_id  ref_id
 0           0.2          NaN        1   3            1          33     191
 1           NaN          NaN       -1  -1            1           1     191
 2           NaN          NaN       -1  -1            1          47     191
 3           NaN          NaN       -1  -1            1          77     191
 4           NaN          NaN       -1  -1            1          53     191
 ...         ...          ...      ...  ..          ...         ...     ...
 70625       NaN          NaN       -1  -1            1          47     191
 70626       NaN          NaN       -1  -1            1          77     191
 70627       NaN          NaN       -1  -1            1          53     191
 70628       NaN          NaN       -1  -1            1          54     191
 70629       NaN          NaN       -1  -1            1          15     191

 [70630 rows x 13 columns],
 'biota':        sample       lon        lat       time  species  body_part  \
 0           0 -4.901945  55.725277 2021-12-31      394         19
 1           0 -4.901945  55.725277 2021-12-31      394         19
 2           0 -4.901945  55.725277 2021-12-31      394         19
 3           0 -4.901945  55.725277 2021-12-31      394         19
 4           0 -4.901945  55.725277 2021-12-31      394         19
 ...       ...       ...        ...        ...      ...        ...
 87962   15309 -3.566111  54.455002 1995-01-05      394         19
 87963   15309 -3.566111  54.455002 1995-01-05      394         19
 87964   15309 -3.566111  54.455002 1995-01-05      394         19
 87965   15309 -3.566111  54.455002 1995-01-05      394         19
 87966   15309 -3.566111  54.455002 1995-01-05      394         19

              nuclide  activity  uncertainty  unit_id   dl  samptype_id  \
 0              am241       NaN          NaN     -1.0 -1.0            3
 1          bio_group      13.0          NaN      NaN  NaN            3
 2              cs137       NaN          NaN     -1.0 -1.0            3
 3                 h3       NaN          NaN     -1.0 -1.0            3
 4              pb210       NaN          NaN     -1.0 -1.0            3
 ...              ...       ...          ...      ...  ...          ...
 87962          pu238       NaN          NaN     -1.0 -1.0            3
 87963  pu239_240_tot       NaN          NaN     -1.0 -1.0            3
 87964          ra226       NaN          NaN     -1.0 -1.0            3
 87965          ra228       NaN          NaN     -1.0 -1.0            3
 87966           tc99     838.0        33.52      5.0  2.0            3

       nuclide_id  ref_id
 0             72     191
 1      bio_group     191
 2             33     191
 3              1     191
 4             41     191
 ...          ...     ...
 87962         67     191
 87963         77     191
 87964         53     191
 87965         54     191
 87966         15     191

 [87967 rows x 14 columns]}

In [ ]:
tfm.dfs['biota'].head()

,sample,lon,lat,time,species,body_part,nuclide,activity,uncertainty,unit_id,dl,samptype_id,nuclide_id,ref_id
0,0,-4.901945,55.725277,2021-12-31,394,19,am241,NaN,NaN,-1.0,-1.0,3,72,191
1,0,-4.901945,55.725277,2021-12-31,394,19,bio_group,13.0,NaN,NaN,NaN,3,bio_group,191
2,0,-4.901945,55.725277,2021-12-31,394,19,cs137,NaN,NaN,-1.0,-1.0,3,33,191
3,0,-4.901945,55.725277,2021-12-31,394,19,h3,NaN,NaN,-1.0,-1.0,3,1,191
4,0,-4.901945,55.725277,2021-12-31,394,19,pb210,NaN,NaN,-1.0,-1.0,3,41,191

### Rename columns

In [ ]:
#| export
# Define columns of interest by sample type
coi_grp = {'seawater': ['sample', 'lon', 'lat', 'depth', 'time', 'activity',
                     'uncertainty', 'unit_id', 'dl', , 'nuclide_id'],
            'biota' : ['sample', 'lon', 'lat', 'depth', 'time', 'species_id', 'body_part',
                'activity', 'uncertainty', 'unit_id', 'dl', 'samptype_id', 'nuclide_id']}

In [ ]:
#| export
# Define column names renaming rules
renaming_rules = {
    'lat': 'latitude',
    'lon': 'longitude',
    'time': 'begperiod',
    'depth': 'sampdepth',
    'nuclide': 'nuclide_id',
    'uncertainty': 'uncertaint',
    'dl': 'detection',
    'sed_type': 'sedtype_id (0)',
    'species_id': 'species_id (0)',
    'body_part': 'bodypar_id',
}

In [ ]:
#| export
class RenameColumnCB(Callback):
    def __init__(self,
                 coi=coi_grp,
                 renaming_rules=renaming_rules):
        fc.store_attr()

    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            # Select cols of interest
            tfm.dfs[k] = tfm.dfs[k].loc[:, self.coi[k]]

            # Rename cols
            tfm.dfs[k].rename(columns=self.renaming_rules, inplace=True)

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg()),
                            LookupSampleType(),
                            LookupNuclideIdCB(),
                            RenameColumnCB()
                            ])
tfm()

/tmp/ipykernel_111562/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_111562/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_111562/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)

{'seawater':         sample  longitude   latitude  sampdepth  begperiod     nuclide_id  \
 8            0  11.078300  54.349998        0.0 1986-05-09          cs134
 9            0  11.078300  54.349998        0.0 1986-05-09          cs137
 38           1  10.316700  54.500000        0.0 1986-05-11          cs134
 39           1  10.316700  54.500000        0.0 1986-05-11          cs137
 69           2  21.026600  55.305000        0.0 2019-02-12          cs137
 ...        ...        ...        ...        ...        ...            ...
 144248    4818  18.235001  58.583302      460.0 1996-07-25          cs134
 144249    4818  18.235001  58.583302      460.0 1996-07-25          cs137
 144257    4818  18.235001  58.583302      460.0 1996-07-25          pu238
 144259    4818  18.235001  58.583302      460.0 1996-07-25  pu239_240_tot
 144265    4818  18.235001  58.583302      460.0 1996-07-25           sr90

            activity  uncertaint  unit_id  detection  samptype_id  nuclide_id
 8       1360.000000  476.000000        1        NaN            1          31
 9       2410.000000  506.100006        1        NaN            1          33
 38       301.000000   18.059999        1        NaN            1          31
 39       502.000000  155.619995        1        NaN            1          33
 69         1.760000         NaN        1        NaN            1          33
 ...             ...         ...      ...        ...          ...         ...
 144248     1.766667    0.330200        1        NaN            1          31
 144249    77.733330    1.315500        1        NaN            1          33
 144257     0.000345    0.000075        1        NaN            1          67
 144259     0.002310    0.000231        1        NaN            1          77
 144265    14.800000    0.296000        1        NaN            1          12

 [11416 rows x 12 columns],
 'sediment':         sample  longitude   latitude  sampdepth  begperiod  sedtype_id (0)  \
 13           0    10.9975  55.375301       38.0 2001-02-01               0
 30           0    10.9975  55.375301       38.0 2001-02-01               0
 38           0    10.9975  55.375301       38.0 2001-02-01               0
 57           1    10.9975  55.375000       38.0 2002-02-26               0
 74           1    10.9975  55.375000       38.0 2002-02-26               0
 ...        ...        ...        ...        ...        ...             ...
 103856    2360    22.1000  64.566704      106.0 1987-08-14              61
 103873    2360    22.1000  64.566704      106.0 1987-08-14              61
 103875    2360    22.1000  64.566704      106.0 1987-08-14              61
 103897    2361    12.2500  54.583302       19.0 1998-09-23              62
 103900    2361    12.2500  54.583302       19.0 1998-09-23              62

         nuclide_id    activity  uncertaint  unit_id  detection  samptype_id  \
 13           cs137    2.608667    0.273417        3        NaN            2
 30           ra226   14.366667    1.436667        3        NaN            2
 38           th232   16.916666    1.691667        3        NaN            2
 57           cs137   10.258333    1.184083        3        NaN            2
 74           ra226   18.673334    1.867333        3        NaN            2
 ...            ...         ...         ...      ...        ...          ...
 103856         k40  555.000000   11.100000        3        NaN            2
 103873       ru106   13.400000    5.092000        3        NaN            2
 103875       sb125    9.700000    1.649000        3        NaN            2
 103897       cs137    5.300000    0.112000        3        NaN            2
 103900         k40  324.399994    3.244000        3        NaN            2

         nuclide_id
 13              33
 30              53
 38              59
 57              33
 74              53
 ...            ...
 103856           4
 103873          17
 103875          24
 103897          33
 103900           4

 [7605 rows x 13 columns],
 'biota':         sample  longitude   latitude  sampdepth  begperiod  species_id (0)  \
 11           0   9.410000  54.310001        2.0 2011-12-11              50
 12           0   9.410000  54.310001        2.0 2011-12-11              50
 14           0   9.410000  54.310001        2.0 2011-12-11              50
 20           0   9.410000  54.310001        2.0 2011-12-11              50
 63           1  10.000000  54.450001        4.0 2011-12-13              99
 ...        ...        ...        ...        ...        ...             ...
 204062    3924  27.450001  59.279999        0.0 2003-11-26              50
 204114    3925  27.450001  59.279999        0.0 2004-12-30              50
 204166    3926  27.450001  59.279999        0.0 2002-10-25              50
 204218    3927  27.450001  59.279999        0.0 2005-12-14              50
 204270    3928  27.540001  59.257999        0.0 2011-05-04              50

         bodypar_id  nuclide_id   activity  uncertaint  unit_id  detection  \
 11              52        co60    0.00848         NaN        3        NaN
 12              52       cs134    0.00545         NaN        3        NaN
 14              52       cs137    0.77600    0.029488        3        NaN
 20              52         k40  117.00000    4.212000        3        NaN
 63              52        co60    0.00972         NaN        3        NaN
 ...            ...         ...        ...         ...      ...        ...
 204062           1       cs137    5.80000    0.290000        3        NaN
 204114           1       cs137    6.50000    0.260000        3        NaN
 204166           1       cs137    9.76000    0.585600        3        NaN
 204218           1       cs137    6.80000    0.136000        3        NaN
 204270           1       cs137    3.00000    0.090000        3        NaN

         samptype_id  nuclide_id
 11                3           9
 12                3          31
 14                3          33
 20                3           4
 63                3           9
 ...             ...         ...
 204062            3          33
 204114            3          33
 204166            3          33
 204218            3          33
 204270            3          33

 [14211 rows x 14 columns]}

***

### Encoding

In [ ]:
#| export
def encode(fname_in, fname_out, **kwargs):
    dfs = netcdf4_to_df(fname_in)
    tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                                ParseTimeCB(cfg()),
                                LookupSampleType(),
                                LookupNuclideIdCB(),
                                RenameColumnCB()
                                ])
    
    encoder = OpenRefineCsvEncoder(tfm(), 
                            dest_fname=fname_out, 
                            **kwargs)
    encoder.encode()
    return encoder

In [ ]:
encode(fname_in, fname_out, verbose=False)

/tmp/ipykernel_111562/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_111562/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_111562/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)