In [ ]:
#| default_exp handlers.data_format_transformation

# Data format transformation

> A data pipeline handler that transforms MARIS data between different formats. The primary focus is converting NetCDF data into human-readable formats (like CSV, Excel) while preserving data integrity and maintaining standardized variable names and units. This handler implements a modular transformation pipeline using callbacks for each processing step.

:::{.callout-tip}

For new MARIS users, please refer to [Understanding MARIS Data Formats (NetCDF and Open Refine)](https://github.com/franckalbinet/marisco/tree/main/install_configure_guide) for detailed information.

:::

# Dependencies
> Required packages and internal modules for data format transformations

In [ ]:
#| export
from pathlib import Path
from netCDF4 import Dataset
import pandas as pd
from fastcore.basics import patch, store_attr
import fastcore.all as fc
from typing import Dict

from marisco.configs import (
    NC_VARS,
    OR_VARS,
    NC_GROUPS,
    Enums,
    lut_path
)

from marisco.callbacks import (
    Callback,
    Transformer,
    DecodeTimeCB
)  
    
from marisco.decoders import (
        NetCDFDecoder
    )

## Configuration and File Paths

In [ ]:
# | exports
fname_in =  Path('../../_data/output/100-HELCOM-MORS-2024.nc')
fname_out = fname_in.with_suffix('.csv')

## Data Loading

Load and validate data from standardized MARIS NetCDF files. The NetCDF files follow CF conventions and include standardized variable names, units, and metadata according to MARIS specifications.

In [ ]:
#| exports
def load_to_dataframes(fname:str, verbose: bool = False):
    """Load NetCDF groups into DataFrames with standardized column names."""
    dfs = {}
    with Dataset(fname, 'r') as nc:
        for group_name in nc.groups:
            group = nc.groups[group_name]
            # Get all variables in the group
            data = {}
            for var_name, var in group.variables.items():
                if var_name not in group.dimensions:  # Skip dimension variables
                    data[var_name] = var[:]
            # Convert to DataFrame
            df = pd.DataFrame(data)
            # Rename columns using NC_VARS mapping
            rename_map = {nc_var: col for col, nc_var in NC_VARS.items() 
                         if nc_var in df.columns}
            df = df.rename(columns=rename_map)
            dfs[group_name.upper()] = df
            if verbose:
                print(f"Loaded group {group_name} with columns: {df.columns.tolist()}")
    
    return dfs

In [ ]:
#|eval: false

dfs = load_to_dataframes(fname_in, verbose=True)

Loaded group biota with columns: ['LON', 'LAT', 'SMP_DEPTH', 'TIME', 'NUCLIDE', 'VALUE', 'UNIT', 'DL', 'BIO_GROUP', 'SPECIES', 'BODY_PART', 'DRYWT', 'WETWT']
Loaded group seawater with columns: ['LON', 'LAT', 'SMP_DEPTH', 'TOT_DEPTH', 'TIME', 'NUCLIDE', 'VALUE', 'UNIT', 'DL', 'FILT']
Loaded group sediment with columns: ['LON', 'LAT', 'TOT_DEPTH', 'TIME', 'AREA', 'NUCLIDE', 'VALUE', 'UNIT', 'DL', 'SED_TYPE', 'TOP', 'BOTTOM']

# Validate NetCDF Enumerations

Verify that enumerated values in the NetCDF file match MARIS lookup tables.

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: The enumeration validation process is a diagnostic step that identifies inconsistencies between NetCDF enumerations and MARIS lookup tables. While this validation does not modify the dataset, it generates detailed feedback about any mismatches or undefined values. 


:::

In [ ]:
#| exports
class ValidateEnumsCB(Callback):
    "Validate enumeration mappings between NetCDF file and MARIS lookup tables."
    def __init__(self, 
                src_fname: str,  # Path to NetCDF file
                enums: Enums,    # MARIS lookup table enums
                verbose: bool = False
                ):
        fc.store_attr()
        
    def __call__(self, tfm: Transformer):
        """Process each group in the NetCDF file and validate its enums."""
        with Dataset(self.src_fname, 'r') as nc:
            for group_name in nc.groups:
                group = nc.groups[group_name]
                self._validate_group(group, group_name)
    
    def _validate_group(self, group, group_name: str):
        """Validate enum mappings for a specific group."""
        for var_name, var in group.variables.items():
            if not hasattr(var.datatype, 'enum_dict'): 
                continue
            
            nc_enum_dict = var.datatype.enum_dict
            if self.verbose:
                print(f"nc_enum_dict [{var_name}]:", nc_enum_dict)

            # Get original column name from NC_VARS mapping
            original_col = next((col for col, nc_var in NC_VARS.items() 
                               if nc_var == var_name), None)
            if not original_col: 
                continue

            # Compare enum mappings
            self._compare_mappings(
                nc_enum_dict,
                self.enums.types[original_col],
                group_name,
                var_name,
                original_col
            )
    
    def _compare_mappings(self, nc_dict: dict, lut_dict: dict, 
                         group_name: str, var_name: str, col_name: str):
        """Compare NetCDF enum dictionary with lookup table dictionary."""
        if self.verbose:
            print(f"lut_enum [{col_name}]:", lut_dict)
            
        # Check for mismatches between NetCDF and lookup table
        for key, value in nc_dict.items():
            if key not in lut_dict or lut_dict[key] != value:
                print(f"\nWarning: Enum mismatch in {group_name}/{var_name}")
                print(f"NetCDF value: {key} -> {value}")
                print(f"Lookup value: {key} -> {lut_dict.get(key, 'Not found')}")

In [ ]:
#| eval: false
dfs = load_to_dataframes(fname_in)
tfm = Transformer(
    dfs,
    cbs=[
        ValidateEnumsCB(
            src_fname=fname_in,
            enums=Enums(lut_src_dir=lut_path()),
            #verbose=True
        ),
    ]
)

tfm()

{'BIOTA':              LON        LAT  SMP_DEPTH        TIME  NUCLIDE       VALUE  UNIT  \
 0      12.316667  54.283333        NaN  1348358400       31    0.010140     5
 1      12.316667  54.283333        NaN  1348358400        4  135.300003     5
 2      12.316667  54.283333        NaN  1348358400        9    0.013980     5
 3      12.316667  54.283333        NaN  1348358400       33    4.338000     5
 4      12.316667  54.283333        NaN  1348358400       31    0.009614     5
 ...          ...        ...        ...         ...      ...         ...   ...
 14868  19.000000  54.583302       61.0  1519603200       53    0.043000     5
 14869  15.500000  54.333302       65.0  1518480000        4   98.000000     5
 14870  15.500000  54.333302       65.0  1518480000       33    3.690000     5
 14871  15.500000  54.333302       65.0  1518480000       53    0.049000     5
 14872  19.433300  54.363899        NaN  1538524800       33    0.830000     5

        DL  BIO_GROUP  SPECIES  BODY_PART       DRYWT  WETWT
 0       2          4       99         52  174.934433  948.0
 1       1          4       99         52  174.934433  948.0
 2       2          4       99         52  174.934433  948.0
 3       1          4       99         52  174.934433  948.0
 4       2          4       99         52  177.935120  964.0
 ...    ..        ...      ...        ...         ...    ...
 14868   1          4      191          3  120.000000  500.0
 14869   1          4      191         52  112.500000  500.0
 14870   1          4      191         52  112.500000  500.0
 14871   1          4      191         52  112.500000  500.0
 14872   1          4      247         52         NaN  120.0

 [14873 rows x 13 columns],
 'SEAWATER':              LON        LAT  SMP_DEPTH  TOT_DEPTH        TIME  NUCLIDE  \
 0      29.333300  60.083302        0.0        NaN  1337731200       33
 1      29.333300  60.083302       29.0        NaN  1337731200       33
 2      23.150000  59.433300        0.0        NaN  1339891200       33
 3      27.983299  60.250000        0.0        NaN  1337817600       33
 4      27.983299  60.250000       39.0        NaN  1337817600       33
 ...          ...        ...        ...        ...         ...      ...
 20237  14.200000  54.006802        4.0       12.0  1434931200       12
 20238  14.667200  54.499500        4.0       20.0  1435017600       12
 20239  14.334200  54.750500        4.0       17.0  1435017600       12
 20240  13.500200  54.916500        4.0       47.0  1435104000       12
 20241  13.500200  54.916500       45.0       47.0  1435104000       12

            VALUE  UNIT  DL  FILT
 0       5.300000     1   1     0
 1      19.900000     1   1     0
 2      25.500000     1   1     0
 3      17.000000     1   1     0
 4      22.200001     1   1     0
 ...          ...   ...  ..   ...
 20237   6.600000     1   1     1
 20238   6.900000     1   1     1
 20239   6.800000     1   1     1
 20240   7.300000     1   1     1
 20241   5.500000     1   1     1

 [20242 rows x 10 columns],
 'SEDIMENT':            LON        LAT  TOT_DEPTH        TIME  AREA  NUCLIDE        VALUE  \
 0      24.0000  59.666698       71.0  1339891200     0       53    35.000000
 1      24.0000  59.666698       71.0  1339891200     0       53    36.000000
 2      28.8433  59.860001       23.0  1344556800     0       53    38.000000
 3      28.8433  59.860001       23.0  1344556800     0       53    36.000000
 4      28.8433  59.860001       23.0  1344556800     0       53    30.000000
 ...        ...        ...        ...         ...   ...      ...          ...
 63863  21.0830  59.035999      171.0  1465430400     0       33     8.916443
 63864  21.0830  59.035999      171.0  1465430400     0       33     5.992929
 63865  19.7297  61.066700      131.0  1464480000     0       33  2164.945801
 63866  19.7297  61.066700      131.0  1464480000     0       33  2523.279053
 63867  19.7297  61.066700      131.0  1464480000     0       33  3929.780029

        UNIT  DL  SED_TYPE   TOP  BOTTOM
 0         4   1         0  15.0    20.0
 1         4   1         0  20.0    27.0
 2         4   1         0   0.0     2.0
 3         4   1         0   2.0     4.0
 4         4   1         0   4.0     6.0
 ...     ...  ..       ...   ...     ...
 63863     4   1        50  18.0    20.0
 63864     4   1        50  20.0    22.0
 63865     4   1        59   0.0     2.0
 63866     4   1        51   2.0     4.0
 63867     4   1        50   4.0     6.0

 [63868 rows x 12 columns]}

# Validate NetCDF Variables

Verify that variable names in the NetCDF file match those used in MARIS ternminogy,

In [ ]:
#| exports
class ValidateNetCDFVarsCB(Callback):
    " Validate that all variables in the NetCDF file are included in NC_VARS mapping. Identifies and reports any unmapped variables."
    def __init__(self, 
                src_fname: str,  # Path to NetCDF file
                verbose: bool = False
                ):
        fc.store_attr()
        
    def __call__(self, tfm: Transformer):
        """Check each group's variables against NC_VARS mapping."""
        unmapped_vars = {}
        
        with Dataset(self.src_fname, 'r') as nc:
            for group_name in nc.groups:
                group = nc.groups[group_name]
                group_vars = set(group.variables.keys())
                mapped_vars = {v for k, v in NC_VARS.items()}
                unmapped = group_vars - mapped_vars - {'id'}  # Exclude dimension variables
                
                if unmapped:
                    unmapped_vars[group_name] = unmapped
                    if self.verbose:
                        print(f"\nWarning: Unmapped variables in group {group_name}:")
                        print(f"Variables: {unmapped}")

In [ ]:
#| eval: false
dfs = load_to_dataframes(fname_in)
tfm = Transformer(
    dfs,
    cbs=[
        ValidateNetCDFVarsCB(
            src_fname=fname_in,
            verbose=True
        ),
    ]
)

tfm()

{'BIOTA':              LON        LAT  SMP_DEPTH        TIME  NUCLIDE       VALUE  UNIT  \
 0      12.316667  54.283333        NaN  1348358400       31    0.010140     5
 1      12.316667  54.283333        NaN  1348358400        4  135.300003     5
 2      12.316667  54.283333        NaN  1348358400        9    0.013980     5
 3      12.316667  54.283333        NaN  1348358400       33    4.338000     5
 4      12.316667  54.283333        NaN  1348358400       31    0.009614     5
 ...          ...        ...        ...         ...      ...         ...   ...
 14868  19.000000  54.583302       61.0  1519603200       53    0.043000     5
 14869  15.500000  54.333302       65.0  1518480000        4   98.000000     5
 14870  15.500000  54.333302       65.0  1518480000       33    3.690000     5
 14871  15.500000  54.333302       65.0  1518480000       53    0.049000     5
 14872  19.433300  54.363899        NaN  1538524800       33    0.830000     5

        DL  BIO_GROUP  SPECIES  BODY_PART       DRYWT  WETWT
 0       2          4       99         52  174.934433  948.0
 1       1          4       99         52  174.934433  948.0
 2       2          4       99         52  174.934433  948.0
 3       1          4       99         52  174.934433  948.0
 4       2          4       99         52  177.935120  964.0
 ...    ..        ...      ...        ...         ...    ...
 14868   1          4      191          3  120.000000  500.0
 14869   1          4      191         52  112.500000  500.0
 14870   1          4      191         52  112.500000  500.0
 14871   1          4      191         52  112.500000  500.0
 14872   1          4      247         52         NaN  120.0

 [14873 rows x 13 columns],
 'SEAWATER':              LON        LAT  SMP_DEPTH  TOT_DEPTH        TIME  NUCLIDE  \
 0      29.333300  60.083302        0.0        NaN  1337731200       33
 1      29.333300  60.083302       29.0        NaN  1337731200       33
 2      23.150000  59.433300        0.0        NaN  1339891200       33
 3      27.983299  60.250000        0.0        NaN  1337817600       33
 4      27.983299  60.250000       39.0        NaN  1337817600       33
 ...          ...        ...        ...        ...         ...      ...
 20237  14.200000  54.006802        4.0       12.0  1434931200       12
 20238  14.667200  54.499500        4.0       20.0  1435017600       12
 20239  14.334200  54.750500        4.0       17.0  1435017600       12
 20240  13.500200  54.916500        4.0       47.0  1435104000       12
 20241  13.500200  54.916500       45.0       47.0  1435104000       12

            VALUE  UNIT  DL  FILT
 0       5.300000     1   1     0
 1      19.900000     1   1     0
 2      25.500000     1   1     0
 3      17.000000     1   1     0
 4      22.200001     1   1     0
 ...          ...   ...  ..   ...
 20237   6.600000     1   1     1
 20238   6.900000     1   1     1
 20239   6.800000     1   1     1
 20240   7.300000     1   1     1
 20241   5.500000     1   1     1

 [20242 rows x 10 columns],
 'SEDIMENT':            LON        LAT  TOT_DEPTH        TIME  AREA  NUCLIDE        VALUE  \
 0      24.0000  59.666698       71.0  1339891200     0       53    35.000000
 1      24.0000  59.666698       71.0  1339891200     0       53    36.000000
 2      28.8433  59.860001       23.0  1344556800     0       53    38.000000
 3      28.8433  59.860001       23.0  1344556800     0       53    36.000000
 4      28.8433  59.860001       23.0  1344556800     0       53    30.000000
 ...        ...        ...        ...         ...   ...      ...          ...
 63863  21.0830  59.035999      171.0  1465430400     0       33     8.916443
 63864  21.0830  59.035999      171.0  1465430400     0       33     5.992929
 63865  19.7297  61.066700      131.0  1464480000     0       33  2164.945801
 63866  19.7297  61.066700      131.0  1464480000     0       33  2523.279053
 63867  19.7297  61.066700      131.0  1464480000     0       33  3929.780029

        UNIT  DL  SED_TYPE   TOP  BOTTOM
 0         4   1         0  15.0    20.0
 1         4   1         0  20.0    27.0
 2         4   1         0   0.0     2.0
 3         4   1         0   2.0     4.0
 4         4   1         0   4.0     6.0
 ...     ...  ..       ...   ...     ...
 63863     4   1        50  18.0    20.0
 63864     4   1        50  20.0    22.0
 63865     4   1        59   0.0     2.0
 63866     4   1        51   2.0     4.0
 63867     4   1        50   4.0     6.0

 [63868 rows x 12 columns]}

# Remap to human readable

In [ ]:
#| exports
class ConvertToHumanReadableCB(Callback):
    """
    Convert enum values in DataFrames to their human-readable format.
    Uses the enum dictionary keys as the human-readable values.
    """
    def __init__(self, 
                src_fname: str,  # Path to NetCDF file
                verbose: bool = False
                ):
        fc.store_attr()
        
    def __call__(self, tfm: Transformer):
        """Convert numeric enum values to human-readable strings."""
        with Dataset(self.src_fname, 'r') as nc:
            for group_name, df in tfm.dfs.items():
                nc_group_name = NC_GROUPS[group_name]
                group = nc.groups[nc_group_name]
                
                if self.verbose:
                    print ('Processing {group} enums ...')
                
                # Process each variable that has an enum
                for var_name, var in group.variables.items():
                    if hasattr(var.datatype, 'enum_dict'):
                        if self.verbose:
                            print(f"Found enum variable '{var_name}' in group '{group_name}'")
                            print(f"Enum values: {var.datatype.enum_dict}")
                        
                        # Get the original column name from NC_VARS mapping
                        original_col = next((col for col, nc_var in NC_VARS.items() 
                                          if nc_var == var_name), None)
                        
                        if original_col and original_col in df.columns:
                            enum_dict = {v: k for k, v in var.datatype.enum_dict.items()}
                            tfm.dfs[group_name][original_col] = df[original_col].map(enum_dict)
                            
                            if self.verbose:
                                print(f"Converted {original_col} to human readable format in {group_name}")
                                print("-" * 80)

In [ ]:
#| eval: false
dfs = load_to_dataframes(fname_in)
tfm = Transformer(
    dfs,
    cbs=[
        ConvertToHumanReadableCB(
            src_fname=fname_in,
            verbose=True
        ),
    ]
)

tfm()

Processing {group} enums ...
Found enum variable 'nuclide' in group 'BIOTA'
Enum values: {'NOT APPLICABLE': -1, 'NOT AVAILABLE': 0, 'h3': 1, 'be7': 2, 'c14': 3, 'k40': 4, 'cr51': 5, 'mn54': 6, 'co57': 7, 'co58': 8, 'co60': 9, 'zn65': 10, 'sr89': 11, 'sr90': 12, 'zr95': 13, 'nb95': 14, 'tc99': 15, 'ru103': 16, 'ru106': 17, 'rh106': 18, 'ag106m': 19, 'ag108': 20, 'ag108m': 21, 'ag110m': 22, 'sb124': 23, 'sb125': 24, 'te129m': 25, 'i129': 28, 'i131': 29, 'cs127': 30, 'cs134': 31, 'cs137': 33, 'ba140': 34, 'la140': 35, 'ce141': 36, 'ce144': 37, 'pm147': 38, 'eu154': 39, 'eu155': 40, 'pb210': 41, 'pb212': 42, 'pb214': 43, 'bi207': 44, 'bi211': 45, 'bi214': 46, 'po210': 47, 'rn220': 48, 'rn222': 49, 'ra223': 50, 'ra224': 51, 'ra225': 52, 'ra226': 53, 'ra228': 54, 'ac228': 55, 'th227': 56, 'th228': 57, 'th232': 59, 'th234': 60, 'pa234': 61, 'u234': 62, 'u235': 63, 'u238': 64, 'np237': 65, 'np239': 66, 'pu238': 67, 'pu239': 68, 'pu240': 69, 'pu241': 70, 'am240': 71, 'am241': 72, 'cm242': 73, 'cm243': 74, 'cm244': 75, 'cs134_137_tot': 76, 'pu239_240_tot': 77, 'pu239_240_iii_iv_tot': 78, 'pu239_240_v_vi_tot': 79, 'cm243_244_tot': 80, 'pu238_pu239_240_tot_ratio': 81, 'am241_pu239_240_tot_ratio': 82, 'cs137_134_ratio': 83, 'cd109': 84, 'eu152': 85, 'fe59': 86, 'gd153': 87, 'ir192': 88, 'pu238_240_tot': 89, 'rb86': 90, 'sc46': 91, 'sn113': 92, 'sn117m': 93, 'tl208': 94, 'mo99': 95, 'tc99m': 96, 'ru105': 97, 'te129': 98, 'te132': 99, 'i132': 100, 'i135': 101, 'cs136': 102, 'tbeta': 103, 'talpha': 104, 'i133': 105, 'th230': 106, 'pa231': 107, 'u236': 108, 'ag111': 109, 'in116m': 110, 'te123m': 111, 'sb127': 112, 'ba133': 113, 'ce139': 114, 'tl201': 116, 'hg203': 117, 'na22': 122, 'pa234m': 123, 'am243': 124, 'se75': 126, 'sr85': 127, 'y88': 128, 'ce140': 129, 'bi212': 130, 'u236_238_ratio': 131, 'i125': 132, 'ba137m': 133, 'u232': 134, 'pa233': 135, 'ru106_rh106_tot': 136, 'tu': 137, 'tbeta40k': 138, 'fe55': 139, 'ce144_pr144_tot': 140, 'pu240_pu239_ratio': 141, 'u233': 142, 'pu239_242_tot': 143, 'ac227': 144}
Converted NUCLIDE to human readable format in BIOTA
--------------------------------------------------------------------------------
Found enum variable 'unit' in group 'BIOTA'
Enum values: {'Not applicable': -1, 'NOT AVAILABLE': 0, 'Bq per m3': 1, 'Bq per m2': 2, 'Bq per kg': 3, 'Bq per kgd': 4, 'Bq per kgw': 5, 'kg per kg': 6, 'TU': 7, 'DELTA per mill': 8, 'atom per kg': 9, 'atom per kgd': 10, 'atom per kgw': 11, 'atom per l': 12, 'Bq per kgC': 13}
Converted UNIT to human readable format in BIOTA
--------------------------------------------------------------------------------
Found enum variable 'dl' in group 'BIOTA'
Enum values: {'Not applicable': -1, 'Not available': 0, 'Detected value': 1, 'Detection limit': 2, 'Not detected': 3, 'Derived': 4}
Converted DL to human readable format in BIOTA
--------------------------------------------------------------------------------
Found enum variable 'bio_group' in group 'BIOTA'
Enum values: {'Not applicable': -1, 'Not available': 0, 'Birds': 1, 'Crustaceans': 2, 'Echinoderms': 3, 'Fish': 4, 'Mammals': 5, 'Molluscs': 6, 'Others': 7, 'Plankton': 8, 'Polychaete worms': 9, 'Reptile': 10, 'Seaweeds and plants': 11, 'Cephalopods': 12, 'Gastropods': 13, 'Bivalves': 14}
Converted BIO_GROUP to human readable format in BIOTA
--------------------------------------------------------------------------------
Found enum variable 'species' in group 'BIOTA'

{'BIOTA':              LON        LAT  SMP_DEPTH        TIME NUCLIDE       VALUE  \
 0      12.316667  54.283333        NaN  1348358400   cs134    0.010140
 1      12.316667  54.283333        NaN  1348358400     k40  135.300003
 2      12.316667  54.283333        NaN  1348358400    co60    0.013980
 3      12.316667  54.283333        NaN  1348358400   cs137    4.338000
 4      12.316667  54.283333        NaN  1348358400   cs134    0.009614
 ...          ...        ...        ...         ...     ...         ...
 14868  19.000000  54.583302       61.0  1519603200   ra226    0.043000
 14869  15.500000  54.333302       65.0  1518480000     k40   98.000000
 14870  15.500000  54.333302       65.0  1518480000   cs137    3.690000
 14871  15.500000  54.333302       65.0  1518480000   ra226    0.049000
 14872  19.433300  54.363899        NaN  1538524800   cs137    0.830000

              UNIT               DL BIO_GROUP             SPECIES  \
 0      Bq per kgw  Detection limit      Fish        Gadus morhua
 1      Bq per kgw   Detected value      Fish        Gadus morhua
 2      Bq per kgw  Detection limit      Fish        Gadus morhua
 3      Bq per kgw   Detected value      Fish        Gadus morhua
 4      Bq per kgw  Detection limit      Fish        Gadus morhua
 ...           ...              ...       ...                 ...
 14868  Bq per kgw   Detected value      Fish  Platichthys flesus
 14869  Bq per kgw   Detected value      Fish  Platichthys flesus
 14870  Bq per kgw   Detected value      Fish  Platichthys flesus
 14871  Bq per kgw   Detected value      Fish  Platichthys flesus
 14872  Bq per kgw   Detected value      Fish   Perca fluviatilis

                                    BODY_PART       DRYWT  WETWT
 0                        Flesh without bones  174.934433  948.0
 1                        Flesh without bones  174.934433  948.0
 2                        Flesh without bones  174.934433  948.0
 3                        Flesh without bones  174.934433  948.0
 4                        Flesh without bones  177.935120  964.0
 ...                                      ...         ...    ...
 14868  Whole animal eviscerated without head  120.000000  500.0
 14869                    Flesh without bones  112.500000  500.0
 14870                    Flesh without bones  112.500000  500.0
 14871                    Flesh without bones  112.500000  500.0
 14872                    Flesh without bones         NaN  120.0

 [14873 rows x 13 columns],
 'SEAWATER':              LON        LAT  SMP_DEPTH  TOT_DEPTH        TIME NUCLIDE  \
 0      29.333300  60.083302        0.0        NaN  1337731200   cs137
 1      29.333300  60.083302       29.0        NaN  1337731200   cs137
 2      23.150000  59.433300        0.0        NaN  1339891200   cs137
 3      27.983299  60.250000        0.0        NaN  1337817600   cs137
 4      27.983299  60.250000       39.0        NaN  1337817600   cs137
 ...          ...        ...        ...        ...         ...     ...
 20237  14.200000  54.006802        4.0       12.0  1434931200    sr90
 20238  14.667200  54.499500        4.0       20.0  1435017600    sr90
 20239  14.334200  54.750500        4.0       17.0  1435017600    sr90
 20240  13.500200  54.916500        4.0       47.0  1435104000    sr90
 20241  13.500200  54.916500       45.0       47.0  1435104000    sr90

            VALUE       UNIT              DL           FILT
 0       5.300000  Bq per m3  Detected value  Not available
 1      19.900000  Bq per m3  Detected value  Not available
 2      25.500000  Bq per m3  Detected value  Not available
 3      17.000000  Bq per m3  Detected value  Not available
 4      22.200001  Bq per m3  Detected value  Not available
 ...          ...        ...             ...            ...
 20237   6.600000  Bq per m3  Detected value            Yes
 20238   6.900000  Bq per m3  Detected value            Yes
 20239   6.800000  Bq per m3  Detected value            Yes
 20240   7.300000  Bq per m3  Detected value            Yes
 20241   5.500000  Bq per m3  Detected value            Yes

 [20242 rows x 10 columns],
 'SEDIMENT':            LON        LAT  TOT_DEPTH        TIME           AREA NUCLIDE  \
 0      24.0000  59.666698       71.0  1339891200  Not available   ra226
 1      24.0000  59.666698       71.0  1339891200  Not available   ra226
 2      28.8433  59.860001       23.0  1344556800  Not available   ra226
 3      28.8433  59.860001       23.0  1344556800  Not available   ra226
 4      28.8433  59.860001       23.0  1344556800  Not available   ra226
 ...        ...        ...        ...         ...            ...     ...
 63863  21.0830  59.035999      171.0  1465430400  Not available   cs137
 63864  21.0830  59.035999      171.0  1465430400  Not available   cs137
 63865  19.7297  61.066700      131.0  1464480000  Not available   cs137
 63866  19.7297  61.066700      131.0  1464480000  Not available   cs137
 63867  19.7297  61.066700      131.0  1464480000  Not available   cs137

              VALUE        UNIT              DL       SED_TYPE   TOP  BOTTOM
 0        35.000000  Bq per kgd  Detected value  Not available  15.0    20.0
 1        36.000000  Bq per kgd  Detected value  Not available  20.0    27.0
 2        38.000000  Bq per kgd  Detected value  Not available   0.0     2.0
 3        36.000000  Bq per kgd  Detected value  Not available   2.0     4.0
 4        30.000000  Bq per kgd  Detected value  Not available   4.0     6.0
 ...            ...         ...             ...            ...   ...     ...
 63863     8.916443  Bq per kgd  Detected value   Glacial clay  18.0    20.0
 63864     5.992929  Bq per kgd  Detected value   Glacial clay  20.0    22.0
 63865  2164.945801  Bq per kgd  Detected value       Soft mud   0.0     2.0
 63866  2523.279053  Bq per kgd  Detected value      Soft clay   2.0     4.0
 63867  3929.780029  Bq per kgd  Detected value   Glacial clay   4.0     6.0

 [63868 rows x 12 columns]}

## Standardize Time

In [ ]:
#| eval: false
dfs = load_to_dataframes(fname_in)
tfm = Transformer(
    dfs,
    cbs=[
        DecodeTimeCB(),
    ]
)

tfm()

print(tfm.dfs['BIOTA']['TIME'])

0       2012-09-23
1       2012-09-23
2       2012-09-23
3       2012-09-23
4       2012-09-23
           ...
14868   2018-02-26
14869   2018-02-13
14870   2018-02-13
14871   2018-02-13
14872   2018-10-03
Name: TIME, Length: 14873, dtype: datetime64[ns]

## Review all callbacks

In [ ]:
#| eval: false
dfs = load_to_dataframes(fname_in)
tfm = Transformer(
    dfs,
    cbs=[
        ValidateEnumsCB(
            src_fname=fname_in,
            enums=Enums(lut_src_dir=lut_path())
            ),
        ValidateNetCDFVarsCB(
            src_fname=fname_in
            ),            
        ConvertToHumanReadableCB(
            src_fname=fname_in),      
        DecodeTimeCB()
    ]
)

tfm()

print(tfm.dfs['BIOTA'])

             LON        LAT  SMP_DEPTH       TIME NUCLIDE       VALUE  \
0      12.316667  54.283333        NaN 2012-09-23   cs134    0.010140
1      12.316667  54.283333        NaN 2012-09-23     k40  135.300003
2      12.316667  54.283333        NaN 2012-09-23    co60    0.013980
3      12.316667  54.283333        NaN 2012-09-23   cs137    4.338000
4      12.316667  54.283333        NaN 2012-09-23   cs134    0.009614
...          ...        ...        ...        ...     ...         ...
14868  19.000000  54.583302       61.0 2018-02-26   ra226    0.043000
14869  15.500000  54.333302       65.0 2018-02-13     k40   98.000000
14870  15.500000  54.333302       65.0 2018-02-13   cs137    3.690000
14871  15.500000  54.333302       65.0 2018-02-13   ra226    0.049000
14872  19.433300  54.363899        NaN 2018-10-03   cs137    0.830000

             UNIT               DL BIO_GROUP             SPECIES  \
0      Bq per kgw  Detection limit      Fish        Gadus morhua
1      Bq per kgw   Detected value      Fish        Gadus morhua
2      Bq per kgw  Detection limit      Fish        Gadus morhua
3      Bq per kgw   Detected value      Fish        Gadus morhua
4      Bq per kgw  Detection limit      Fish        Gadus morhua
...           ...              ...       ...                 ...
14868  Bq per kgw   Detected value      Fish  Platichthys flesus
14869  Bq per kgw   Detected value      Fish  Platichthys flesus
14870  Bq per kgw   Detected value      Fish  Platichthys flesus
14871  Bq per kgw   Detected value      Fish  Platichthys flesus
14872  Bq per kgw   Detected value      Fish   Perca fluviatilis

                                   BODY_PART       DRYWT  WETWT
0                        Flesh without bones  174.934433  948.0
1                        Flesh without bones  174.934433  948.0
2                        Flesh without bones  174.934433  948.0
3                        Flesh without bones  174.934433  948.0
4                        Flesh without bones  177.935120  964.0
...                                      ...         ...    ...
14868  Whole animal eviscerated without head  120.000000  500.0
14869                    Flesh without bones  112.500000  500.0
14870                    Flesh without bones  112.500000  500.0
14871                    Flesh without bones  112.500000  500.0
14872                    Flesh without bones         NaN  120.0

[14873 rows x 13 columns]

In [ ]:
tfm.dfs['BIOTA']['TIME']

0       2012-09-23
1       2012-09-23
2       2012-09-23
3       2012-09-23
4       2012-09-23
           ...
14868   2018-02-26
14869   2018-02-13
14870   2018-02-13
14871   2018-02-13
14872   2018-10-03
Name: TIME, Length: 14873, dtype: datetime64[ns]

In [ ]:
tfm.dfs['BIOTA'].columns

Index(['LON', 'LAT', 'SMP_DEPTH', 'TIME', 'NUCLIDE', 'VALUE', 'UNIT', 'DL',
       'BIO_GROUP', 'SPECIES', 'BODY_PART', 'DRYWT', 'WETWT'],
      dtype='object')

## Decoding NETCDF

In [ ]:
#| export
def decode(
    fname_in: str, # Input file name
    dest_out: str | None = None, # Output file name (optional)
    output_format: str = 'csv',
    remap_vars: Dict[str, str] = OR_VARS,
    verbose: bool = False,
    **kwargs # Additional arguments
    ) -> None:
    "Decode data from NetCDF."
    dfs = load_to_dataframes(fname_in)
    print (dfs)
    tfm = Transformer(
        dfs,
        cbs=[
            ValidateEnumsCB(
                src_fname=fname_in,
                enums=Enums(lut_src_dir=lut_path())
                ),
            ValidateNetCDFVarsCB(
                src_fname=fname_in
                ),            
            ConvertToHumanReadableCB(
                src_fname=fname_in),      
            DecodeTimeCB()
        ]
    )    
    
    tfm()
    decoder = NetCDFDecoder( 
                            dfs=tfm.dfs,
                            fname_in=fname_in,  
                            dest_out=dest_out,                           
                            output_format='csv',
                            remap_vars=OR_VARS,
                            verbose=verbose
                    )
    decoder.decode()

In [ ]:
#|eval: false
fname = Path('../../_data/output/100-HELCOM-MORS-2024.nc')
decode(fname_in=fname, dest_out=fname.with_suffix(''))

{'BIOTA':              LON        LAT  SMP_DEPTH        TIME  NUCLIDE       VALUE  UNIT  \
0      12.316667  54.283333        NaN  1348358400       31    0.010140     5
1      12.316667  54.283333        NaN  1348358400        4  135.300003     5
2      12.316667  54.283333        NaN  1348358400        9    0.013980     5
3      12.316667  54.283333        NaN  1348358400       33    4.338000     5
4      12.316667  54.283333        NaN  1348358400       31    0.009614     5
...          ...        ...        ...         ...      ...         ...   ...
14868  19.000000  54.583302       61.0  1519603200       53    0.043000     5
14869  15.500000  54.333302       65.0  1518480000        4   98.000000     5
14870  15.500000  54.333302       65.0  1518480000       33    3.690000     5
14871  15.500000  54.333302       65.0  1518480000       53    0.049000     5
14872  19.433300  54.363899        NaN  1538524800       33    0.830000     5

       DL  BIO_GROUP  SPECIES  BODY_PART       DRYWT  WETWT
0       2          4       99         52  174.934433  948.0
1       1          4       99         52  174.934433  948.0
2       2          4       99         52  174.934433  948.0
3       1          4       99         52  174.934433  948.0
4       2          4       99         52  177.935120  964.0
...    ..        ...      ...        ...         ...    ...
14868   1          4      191          3  120.000000  500.0
14869   1          4      191         52  112.500000  500.0
14870   1          4      191         52  112.500000  500.0
14871   1          4      191         52  112.500000  500.0
14872   1          4      247         52         NaN  120.0

[14873 rows x 13 columns], 'SEAWATER':              LON        LAT  SMP_DEPTH  TOT_DEPTH        TIME  NUCLIDE  \
0      29.333300  60.083302        0.0        NaN  1337731200       33
1      29.333300  60.083302       29.0        NaN  1337731200       33
2      23.150000  59.433300        0.0        NaN  1339891200       33
3      27.983299  60.250000        0.0        NaN  1337817600       33
4      27.983299  60.250000       39.0        NaN  1337817600       33
...          ...        ...        ...        ...         ...      ...
20237  14.200000  54.006802        4.0       12.0  1434931200       12
20238  14.667200  54.499500        4.0       20.0  1435017600       12
20239  14.334200  54.750500        4.0       17.0  1435017600       12
20240  13.500200  54.916500        4.0       47.0  1435104000       12
20241  13.500200  54.916500       45.0       47.0  1435104000       12

           VALUE  UNIT  DL  FILT
0       5.300000     1   1     0
1      19.900000     1   1     0
2      25.500000     1   1     0
3      17.000000     1   1     0
4      22.200001     1   1     0
...          ...   ...  ..   ...
20237   6.600000     1   1     1
20238   6.900000     1   1     1
20239   6.800000     1   1     1
20240   7.300000     1   1     1
20241   5.500000     1   1     1

[20242 rows x 10 columns], 'SEDIMENT':            LON        LAT  TOT_DEPTH        TIME  AREA  NUCLIDE        VALUE  \
0      24.0000  59.666698       71.0  1339891200     0       53    35.000000
1      24.0000  59.666698       71.0  1339891200     0       53    36.000000
2      28.8433  59.860001       23.0  1344556800     0       53    38.000000
3      28.8433  59.860001       23.0  1344556800     0       53    36.000000
4      28.8433  59.860001       23.0  1344556800     0       53    30.000000
...        ...        ...        ...         ...   ...      ...          ...
63863  21.0830  59.035999      171.0  1465430400     0       33     8.916443
63864  21.0830  59.035999      171.0  1465430400     0       33     5.992929
63865  19.7297  61.066700      131.0  1464480000     0       33  2164.945801
63866  19.7297  61.066700      131.0  1464480000     0       33  2523.279053
63867  19.7297  61.066700      131.0  1464480000     0       33  3929.780029

       UNIT  DL  SED_TYPE   TOP  BOTTOM
0         4   1         0  15.0    20.0
1         4   1         0  20.0    27.0
2         4   1         0   0.0     2.0
3         4   1         0   2.0     4.0
4         4   1         0   4.0     6.0
...     ...  ..       ...   ...     ...
63863     4   1        50  18.0    20.0
63864     4   1        50  20.0    22.0
63865     4   1        59   0.0     2.0
63866     4   1        51   2.0     4.0
63867     4   1        50   4.0     6.0

[63868 rows x 12 columns]}