In [ ]:
#| default_exp handlers.helcom

# HELCOM

> This data pipeline, known as a "handler" in Marisco terminology, is designed to clean, standardize, and encode [HELCOM data](https://helcom.fi/about-us) into `NetCDF` format. The handler processes raw HELCOM data, applying various transformations and lookups to align it with `MARIS` data standards.

Key functions of this handler:

- **Cleans** and **normalizes** raw HELCOM data
- **Applies standardized nomenclature** and units
- **Encodes the processed data** into `NetCDF` format compatible with MARIS requirements

This handler is a crucial component in the Marisco data processing workflow, ensuring HELCOM data is properly integrated into the MARIS database.


Note: *Additionally, an optional encoder (pipeline) is provided below to process data into a `.csv` format compatible with the MARIS master database. This feature is maintained for legacy purposes, as data ingestion was previously performed using OpenRefine.*

:::{.callout-tip}

For new MARIS users, please refer to [Understanding MARIS Data Formats (NetCDF and Open Refine)](https://github.com/franckalbinet/marisco/tree/main/install_configure_guide) for detailed information.

:::

The present notebook pretends to be an instance of [Literate Programming](https://www.wikiwand.com/en/articles/Literate_programming) in the sense that it is a narrative that includes code snippets that are interspersed with explanations. When a function or a class needs to be exported in a dedicated python module (in our case `marisco/handlers/helcom.py`) the code snippet is added to the module using `#| exports` as provided by the wonderful [nbdev](https://nbdev.readthedocs.io/en/latest/) library.

In [ ]:
#| hide
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
#| export
import pandas as pd 
import numpy as np
#from functools import partial 
import fastcore.all as fc 
from pathlib import Path 
#from dataclasses import asdict
from typing import List, Dict, Callable, Tuple, Any 
from collections import OrderedDict, defaultdict
import re
from functools import partial

from marisco.utils import (
    #has_valid_varname, 
    #match_worms, 
    Remapper, 
    ddmm_to_dd,
    #match_maris_lut, 
    Match, 
    get_unique_across_dfs
)

from marisco.callbacks import (
    Callback, 
    Transformer, 
    EncodeTimeCB, 
    AddSampleTypeIdColumnCB,
    AddNuclideIdColumnCB, 
    LowerStripNameCB, 
    SanitizeLonLatCB, 
    #ReshapeLongToWide, 
    CompareDfsAndTfmCB, 
    RemapCB
)

from marisco.metadata import (
    GlobAttrsFeeder, 
    BboxCB, 
    DepthRangeCB, 
    TimeRangeCB, 
    ZoteroCB, 
    KeyValuePairCB
)

from marisco.configs import (
    nuc_lut_path, 
    nc_tpl_path, 
    cfg, 
    #cache_path, 
    #cdl_cfg, 
    Enums, 
    lut_path, 
    species_lut_path, 
    sediments_lut_path, 
    bodyparts_lut_path, 
    detection_limit_lut_path, 
    filtered_lut_path, 
    #area_lut_path, 
    get_lut, 
    unit_lut_path,
    base_path, # not needed here, included to troubleshoot cdl_cfg
    prepmet_lut_path,
    sampmet_lut_path,
    counmet_lut_path, 
    NC_VARS
)

from marisco.encoders import (
    NetCDFEncoder, 
    #OpenRefineCsvEncoder
)

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#| hide
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  # Show full column width

## Configuration & file paths

- **fname_in**: path to the folder containing the HELCOM data in CSV format. The path can be defined as a relative path. 

- **fname_out_nc**: path and filename for the NetCDF output.The path can be defined as a relative path. 

- **Zotero key**: used to retrieve attributes related to the dataset from [Zotero](https://www.zotero.org/). The MARIS datasets include a [library](https://maris.iaea.org/datasets) available on [Zotero](https://www.zotero.org/groups/2432820/maris/library). 

- **ref_id**: refers to the location in Archive of the Zotero library.

In [ ]:
# | exports
fname_in = '../../_data/accdb/mors/csv'
fname_out_nc = '../../_data/output/100-HELCOM-MORS-2024.nc'
zotero_key ='26VMZZ2Q' # HELCOM MORS zotero key
ref_id = 100 # HELCOM MORS reference id as defined by MARIS

## Load data

[Helcom MORS (Monitoring of Radioactive Substances in the Baltic Sea) data](https://helcom.fi/about-us) is provided as a Microsoft Access database. 
[`Mdbtools`](https://github.com/mdbtools/mdbtools) can be used to convert the tables of the Microsoft Access database to `.csv` files on Unix-like OS.
Metadata for the HELCOM MORS dataset is available [here](https://metadata.helcom.fi/geonetwork/srv/fin/catalog.search#/metadata/2fdd2d46-0329-40e3-bf96-cb08c7206a24).

**Example steps**:


1. [Download data](https://metadata.helcom.fi/geonetwork/srv/fin/catalog.search#/metadata/2fdd2d46-0329-40e3-bf96-cb08c7206a24)

2. Install mdbtools via VScode Terminal: 

    ```
    sudo apt-get -y install mdbtools
    ```

3. Install unzip via VScode Terminal:

    ```
    sudo apt-get -y install unzip
    ```

4. In `VS Code` terminal (for instance), navigate to the marisco data folder:

    ```
    cd /home/marisco/downloads/marisco/_data/accdb/mors_19840101_20211231
    ```

5. Unzip `MORS_ENVIRONMENT.zip`:

    ```
    unzip MORS_ENVIRONMENT.zip 
    ```

6. Run `preprocess.sh` to generate the required data files:

    ```
    ./preprocess.sh MORS_ENVIRONMENT.zip
    ```

7. Content of `preprocess.sh` script:

    ```
    #!/bin/bash

    # Example of use: ./preprocess.sh MORS_ENVIRONMENT.zip
    unzip $1
    dbname=$(ls *.accdb)
    mkdir csv
    for table in $(mdb-tables -1 "$dbname"); do
        echo "Export table $table"
        mdb-export "$dbname" "$table" > "csv/$table.csv"
    done
    ```

Once converted to `.csv` files, the data is ready to be loaded into a dictionary of dataframes.

In [ ]:
#| exports
default_smp_types = {  
    'BIO': 'BIOTA', 
    'SEA': 'SEAWATER', 
    'SED': 'SEDIMENT'
}

In [ ]:
#| exports
def load_data(src_dir: str|Path, 
              smp_types: dict = default_smp_types 
             ) -> Dict[str, pd.DataFrame]: 
    "Load HELCOM data and return the data in a dictionary of dataframes with the dictionary key as the sample type."
    src_path = Path(src_dir)
    
    def load_and_merge(file_prefix: str) -> pd.DataFrame:
        try:
            df_meas = pd.read_csv(src_path / f'{file_prefix}02.csv')
            df_smp = pd.read_csv(src_path / f'{file_prefix}01.csv')
            return pd.merge(df_meas, df_smp, on='KEY', how='left')
        except FileNotFoundError as e:
            print(f"Error loading files for {file_prefix}: {e}")
            return pd.DataFrame()  # Return an empty DataFrame if files are not found
    
    return {smp_type: load_and_merge(file_prefix) for file_prefix, smp_type in smp_types.items()}

`dfs` is a dictionary of dataframes created from the Helcom dataset located at the path `fname_in`. The data to be included in each dataframe is sorted by sample type. Each dictionary is defined with a key equal to the sample type.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
print('keys/sample types: ', dfs.keys())
for key in dfs.keys():
    print(f'{key} columns: ', dfs[key].columns)

keys/sample types:  dict_keys(['BIOTA', 'SEAWATER', 'SEDIMENT'])
BIOTA columns:  Index(['KEY', 'NUCLIDE', 'METHOD', '< VALUE_Bq/kg', 'VALUE_Bq/kg', 'BASIS',
       'ERROR%', 'NUMBER', 'DATE_OF_ENTRY_x', 'COUNTRY', 'LABORATORY',
       'SEQUENCE', 'DATE', 'YEAR', 'MONTH', 'DAY', 'STATION',
       'LATITUDE ddmmmm', 'LATITUDE dddddd', 'LONGITUDE ddmmmm',
       'LONGITUDE dddddd', 'SDEPTH', 'RUBIN', 'BIOTATYPE', 'TISSUE', 'NO',
       'LENGTH', 'WEIGHT', 'DW%', 'LOI%', 'MORS_SUBBASIN', 'HELCOM_SUBBASIN',
       'DATE_OF_ENTRY_y'],
      dtype='object')
SEAWATER columns:  Index(['KEY', 'NUCLIDE', 'METHOD', '< VALUE_Bq/m³', 'VALUE_Bq/m³', 'ERROR%_m³',
       'DATE_OF_ENTRY_x', 'COUNTRY', 'LABORATORY', 'SEQUENCE', 'DATE', 'YEAR',
       'MONTH', 'DAY', 'STATION', 'LATITUDE (ddmmmm)', 'LATITUDE (dddddd)',
       'LONGITUDE (ddmmmm)', 'LONGITUDE (dddddd)', 'TDEPTH', 'SDEPTH', 'SALIN',
       'TTEMP', 'FILT', 'MORS_SUBBASIN', 'HELCOM_SUBBASIN', 'DATE_OF_ENTRY_y'],
      dtype='object')
SEDIMENT columns:  Index(['KEY', 'NUCLIDE', 'METHOD', '< VALUE_Bq/kg', 'VALUE_Bq/kg', 'ERROR%_kg',
       '< VALUE_Bq/m²', 'VALUE_Bq/m²', 'ERROR%_m²', 'DATE_OF_ENTRY_x',
       'COUNTRY', 'LABORATORY', 'SEQUENCE', 'DATE', 'YEAR', 'MONTH', 'DAY',
       'STATION', 'LATITUDE (ddmmmm)', 'LATITUDE (dddddd)',
       'LONGITUDE (ddmmmm)', 'LONGITUDE (dddddd)', 'DEVICE', 'TDEPTH',
       'UPPSLI', 'LOWSLI', 'AREA', 'SEDI', 'OXIC', 'DW%', 'LOI%',
       'MORS_SUBBASIN', 'HELCOM_SUBBASIN', 'SUM_LINK', 'DATE_OF_ENTRY_y'],
      dtype='object')

## Add sample type column (REMOVE STEP)

:::{.callout-tip}

**TODO**: The `samptype_id` column is added to the dataframe for legacy reasons (again Open Refine output). Soon we will use a 'decoder' to replace the open refine encoder and the openrefine csv will be created from the netcdf file. 

:::

The sample types (`SEAWATER`, `BIOTA`, `SEDIMENT`, ...) are encoded group names in the NetCDF file produced.

To maintain compatibility with legacy systems, where we create a `csv` and parse using OpenRefine, sample type IDs are included in each DataFrame. This is acheived using the `AddSampleTypeIdColumnCB` callback.

In [ ]:
'''
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[AddSampleTypeIdColumnCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])
tfm()
print(tfm.dfs['SEAWATER'][['KEY', 'samptype_id']].head())
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')
'''

"\n#| eval: false\ndfs = load_data(fname_in)\ntfm = Transformer(dfs, cbs=[AddSampleTypeIdColumnCB(),\n                            CompareDfsAndTfmCB(dfs)\n                            ])\ntfm()\nprint(tfm.dfs['SEAWATER'][['KEY', 'samptype_id']].head())\nprint(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')\n"

## Normalize nuclide names

### Lower & strip nuclide names

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: Some nuclide names contain one or multiple trailing spaces.

:::

This is demonstrated below for the `NUCLIDE` column:

In [ ]:
#| eval: false
df = get_unique_across_dfs(load_data(fname_in), 'NUCLIDE', as_df=True, include_nchars=True)
df['stripped_chars'] = df['value'].str.strip().str.replace(' ', '').str.len()
print(df[df['n_chars'] != df['stripped_chars']])

    index      value  n_chars  stripped_chars
3       3   AM241           8               5
16     16    SR90           7               4
21     21   K40             8               3
27     27     CS137         6               5
37     37     SR90          6               4
55     55   CS137           8               5
57     57    TC99           7               4
66     66  CS137            9               5
78     78      SR90         5               4
80     80   PU238           8               5
88     88   CO60            8               4
89     89   SR90            8               4
93     93   CS134           8               5

To fix this issue, we use the `LowerStripNameCB` callback. For each dataframe in the dictionary of dataframes, it corrects the nuclide name by converting it lowercase, striping any leading or trailing whitespace(s).

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripNameCB(col_src='NUCLIDE')])

for key in tfm().keys():
    print(f'{key} nuclides: ')
    print(tfm()[key]['NUCLIDE'].unique())

BIOTA nuclides:
['cs134' 'k40' 'co60' 'cs137' 'sr90' 'ag108m' 'mn54' 'co58' 'ag110m'
 'zn65' 'sb125' 'pu239240' 'ru106' 'be7' 'ce144' 'pb210' 'po210' 'sb124'
 'sr89' 'zr95' 'te129m' 'ru103' 'nb95' 'ce141' 'la140' 'i131' 'ba140'
 'pu238' 'u235' 'bi214' 'pb214' 'pb212' 'tl208' 'ac228' 'ra223' 'eu155'
 'ra226' 'gd153' 'sn113' 'fe59' 'tc99' 'co57' 'sn117m' 'eu152' 'sc46'
 'rb86' 'ra224' 'th232' 'cs134137' 'am241' 'ra228' 'th228' 'k-40' 'cs138'
 'cs139' 'cs140' 'cs141' 'cs142' 'cs143' 'cs144' 'cs145' 'cs146']
SEAWATER nuclides:
['cs137' 'sr90' 'h3' 'cs134' 'pu238' 'pu239240' 'am241' 'cm242' 'cm244'
 'tc99' 'k40' 'ru103' 'sr89' 'sb125' 'nb95' 'ru106' 'zr95' 'ag110m'
 'cm243244' 'ba140' 'ce144' 'u234' 'u238' 'co60' 'pu239' 'pb210' 'po210'
 'np237' 'pu240' 'mn54']
SEDIMENT nuclides:
['ra226' 'cs137' 'ra228' 'k40' 'sr90' 'cs134137' 'cs134' 'pu239240'
 'pu238' 'co60' 'ru103' 'ru106' 'sb125' 'ag110m' 'ce144' 'am241' 'be7'
 'th228' 'pb210' 'co58' 'mn54' 'zr95' 'ba140' 'po210' 'ra224' 'nb95'
 'pu238240' 'pu241' 'pu239' 'eu155' 'ir192' 'th232' 'cd109' 'sb124' 'zn65'
 'th234' 'tl208' 'pb212' 'pb214' 'bi214' 'ac228' 'ra223' 'u235' 'bi212']

### Remap nuclide names to MARIS data formats

Below, we map nuclide names used by HELCOM to the MARIS standard nuclide names. 

Remapping data provider nomenclatures to MARIS standards is a recurrent operation and is done in a semi-automated manner according to the following pattern:

1. **Inspect** data provider nomenclature:
2. **Match** automatically against MARIS nomenclature (using a fuzzy matching algorithm); 
3. **Fix** potential mismatches; 
4. **Apply** the lookup table to the dataframe.

We will refer to this process as **IMFA** (**I**nspect, **M**atch, **F**ix, **A**pply).

The `get_unique_across_dfs` function is a utility in MARISCO that retrieves unique values from a specified column across all DataFrames. 
Note that there is one DataFrame for each sample type, such as biota, sediment, etc.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripNameCB(col_src='NUCLIDE')])

dfs_output = tfm()

# Transpose to display the dataframe horizontally
get_unique_across_dfs(dfs_output, col_name='NUCLIDE', as_df=True).T

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
index,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
value,cs139,gd153,tc99,ag110m,pb214,th232,sn117m,k40,ra228,ce144,...,po210,pu239,ce141,ru103,cd109,mn54,nb95,cs143,pu241,u235

Let's now create an instance of a [fuzzy matching algorithm](https://www.wikiwand.com/en/articles/Approximate_string_matching) `Remapper`. This instance will match the nuclide names of the HELCOM dataset to the MARIS standard nuclide names.

In [ ]:
#| eval: false
remapper = Remapper(provider_lut_df=get_unique_across_dfs(dfs_output, col_name='NUCLIDE', as_df=True),
                    maris_lut_fn=nuc_lut_path,
                    maris_col_id='nuclide_id',
                    maris_col_name='nc_name',
                    provider_col_to_match='value',
                    provider_col_key='value',
                    fname_cache='nuclides_helcom.pkl')

Lets try to match HELCOM nuclide names to MARIS standard nuclide names as automatically as possible. The `match_score` column allows to assess the results:

In [ ]:
#| eval: false
remapper.generate_lookup_table(as_df=True)
remapper.select_match(match_score_threshold=1, verbose=True)

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

Processing: 100%|██████████| 77/77 [00:01<00:00, 39.09it/s]

63 entries matched the criteria, while 14 entries had a match score of 1 or higher.

           matched_maris_name source_name  match_score
source_key
cs134137                cs137    cs134137            3
pu238240                pu240    pu238240            3
cm243244                cm242    cm243244            3
pu239240                pu239    pu239240            3
cs145                   ce140       cs145            2
cs142                   ce140       cs142            2
cs143                   ce140       cs143            2
cs139                   ce139       cs139            1
cs144                   cs134       cs144            1
k-40                      k40        k-40            1
cs141                   ce141       cs141            1
cs138                   cs134       cs138            1
cs140                   ce140       cs140            1
cs146                   cs136       cs146            1

We can now manually inspect the unmatched nuclide names and create a table to correct them to the MARIS standard:

In [ ]:
#| exports
fixes_nuclide_names = {
    'cs134137': 'cs134_137_tot',
    'cm243244': 'cm243_244_tot',
    'pu239240': 'pu239_240_tot',
    'pu238240': 'pu238_240_tot',
    'cs143': 'cs137',
    'cs145': 'cs137',
    'cs142': 'cs137',
    'cs141': 'cs137',
    'cs144': 'cs137',
    'k-40': 'k40',
    'cs140': 'cs137',
    'cs146': 'cs137',
    'cs139': 'cs137',
    'cs138': 'cs137'
    }

We now include the table `fixes_nuclide_names`, which applies manual corrections to the nuclide names before the remapping process. 
The `generate_lookup_table` function has an `overwrite` parameter (default is `True`), which, when set to `True`, creates a pickle file cache of the lookup table. We can now test the remapping process:

In [ ]:
#| eval: false
remapper.generate_lookup_table(as_df=True, fixes=fixes_nuclide_names)
fc.test_eq(len(remapper.select_match(match_score_threshold=1, verbose=True)), 0)

Processing: 100%|██████████| 77/77 [00:02<00:00, 36.88it/s]

77 entries matched the criteria, while 0 entries had a match score of 1 or higher.

Test passes! We can now create a callback `RemapNuclideNameCB` to remap the nuclide names. Note that we pass `overwrite=False` to the `Remapper` constructor to now use the cached version.

In [ ]:
#| exports
# Create a lookup table for nuclide names
lut_nuclides = lambda df: Remapper(provider_lut_df=df,
                                   maris_lut_fn=nuc_lut_path,
                                   maris_col_id='nuclide_id',
                                   maris_col_name='nc_name',
                                   provider_col_to_match='value',
                                   provider_col_key='value',
                                   fname_cache='nuclides_helcom.pkl').generate_lookup_table(fixes=fixes_nuclide_names, 
                                                                                            as_df=False, overwrite=False)

We now create the callback `RemapNuclideNameCB`, which will remap the nuclide names using the `lut_nuclides` lookup table.

In [ ]:
#| exports
class RemapNuclideNameCB(Callback):
    "Remap data provider nuclide names to MARIS nuclide names."
    def __init__(self, 
                 fn_lut: Callable # Function that returns the lookup table dictionary
                ):
        fc.store_attr()

    def __call__(self, tfm: Transformer):
        df_uniques = get_unique_across_dfs(tfm.dfs, col_name='NUCLIDE', as_df=True)
        #lut = {k: v.matched_maris_name for k, v in self.fn_lut(df_uniques).items()}    
        lut = {k: v.matched_id for k, v in self.fn_lut(df_uniques).items()}    
        for k in tfm.dfs.keys():
            tfm.dfs[k]['NUCLIDE'] = tfm.dfs[k]['NUCLIDE'].replace(lut)

Let's see it in action, along with the `RemapRdnNameCB` callback:

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripNameCB(col_src='NUCLIDE'),
                            RemapNuclideNameCB(lut_nuclides)
                            ])
dfs_out = tfm()

# For instance
dfs_out['BIOTA'].NUCLIDE.unique()

array([31,  4,  9, 33, 12, 21,  6,  8, 22, 10, 24, 77, 17,  2, 37, 41, 47,
       23, 11, 13, 25, 16, 14, 36, 35, 29, 34, 67, 63, 46, 43, 42, 94, 55,
       50, 40, 53, 87, 92, 86, 15,  7, 93, 85, 91, 90, 51, 59, 76, 72, 54,
       57])

### Add Nuclide Id column (REMOVE STEP)

:::{.callout-tip}

**TODO**: The `nuclide_id` column is added to the dataframe for legacy reasons (again Open Refine output). Soon we will use a 'decoder' to replace the open refine encoder and the openrefine csv will be created from the netcdf file. 

:::

The `nuclide_id` column is added to the dataframe for legacy reasons (again Open Refine output).

In [ ]:
'''
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripNameCB(col_src='NUCLIDE'),
                            RemapNuclideNameCB(lut_nuclides),
                            AddNuclideIdColumnCB(col_value='NUCLIDE')
                            ])
dfs_out = tfm()

# For instance
dfs_out['biota'][['NUCLIDE', 'nuclide_id']]
'''

"\n#| eval: false\ndfs = load_data(fname_in)\ntfm = Transformer(dfs, cbs=[LowerStripNameCB(col_src='NUCLIDE'),\n                            RemapNuclideNameCB(lut_nuclides),\n                            AddNuclideIdColumnCB(col_value='NUCLIDE')\n                            ])\ndfs_out = tfm()\n\n# For instance\ndfs_out['biota'][['NUCLIDE', 'nuclide_id']]\n"

## Standardize Time

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: Time/date is provide in the `DATE`, `YEAR`
, `MONTH`, `DAY` columns. Note that the `DATE` contains missing values as indicated below. When missing, we fallback on the `YEAR`, `MONTH`, `DAY` columns. Note also that sometimes `DAY` and `MONTH` contain 0. In this case we systematically set them to 1.

:::

In [ ]:
#| eval: false
dfs = load_data(fname_in)
for key in dfs.keys():
    print(f'{key} DATE null values: ', dfs[key]['DATE'].isna().sum())

BIOTA DATE null values:  84
SEAWATER DATE null values:  494
SEDIMENT DATE null values:  741

In [ ]:
#| exports
class ParseTimeCB(Callback):
    "Parse and standardize time information in the dataframe."
    def __call__(self, tfm: Transformer):
        for df in tfm.dfs.values():
            self._process_dates(df)
            # self._define_beg_period(df) # REMOVE STEP - we will use an OPEN REFINE decoder to replace the open refine encoder. 

    def _process_dates(self, df: pd.DataFrame) -> None:
        "Process and correct date and time information in the DataFrame."
        df['TIME'] = self._parse_date(df)
        self._handle_missing_dates(df)
        self._fill_missing_time(df)

    def _parse_date(self, df: pd.DataFrame) -> pd.Series:
        "Parse the DATE column if present."
        return pd.to_datetime(df['DATE'], format='%m/%d/%y %H:%M:%S', errors='coerce')

    def _handle_missing_dates(self, df: pd.DataFrame):
        "Handle cases where DAY or MONTH is 0 or missing."
        df.loc[df["DAY"] == 0, "DAY"] = 1
        df.loc[df["MONTH"] == 0, "MONTH"] = 1
        
        missing_day_month = (df["DAY"].isna()) & (df["MONTH"].isna()) & (df["YEAR"].notna())
        df.loc[missing_day_month, ["DAY", "MONTH"]] = 1

    def _fill_missing_time(self, df: pd.DataFrame) -> None:
        "Fill missing time values using YEAR, MONTH, and DAY columns."
        missing_time = df['TIME'].isna()
        df.loc[missing_time, 'TIME'] = pd.to_datetime(
            df.loc[missing_time, ['YEAR', 'MONTH', 'DAY']], 
            format='%Y%m%d', 
            errors='coerce'
        )
        
    ''' REMOVE STEP - we will use an OPEN REFINE decoder to replace the open refine encoder. 
    def _define_beg_period(self, df: pd.DataFrame) -> None:
        "Create a standardized date representation for Open Refine."
        df['begperiod'] = df['TIME']
    '''

Apply the transformer for callbacks `ParseTimeCB`. Then, print the `TIME` data for `seawater`.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[ParseTimeCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])
tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')
print(tfm.dfs['SEAWATER'][['TIME']])

                           BIOTA  SEAWATER  SEDIMENT
Number of rows in dfs      14893     20318     37347
Number of rows in tfm.dfs  14893     20318     37347
Number of rows removed         0         0         0

            TIME
0     2012-05-23
1     2012-05-23
2     2012-06-17
3     2012-05-24
4     2012-05-24
...          ...
20313 2015-06-22
20314 2015-06-23
20315 2015-06-23
20316 2015-06-24
20317 2015-06-24

[20318 rows x 1 columns]

The NetCDF time format requires that time be encoded as the number of milliseconds since a specified origin. In our case, the origin is `1970-01-01`, as indicated in the `cdl.toml` file under the `[vars.defaults.time.attrs]` section.

`EncodeTimeCB` converts the HELCOM `time` format to the MARIS NetCDF `time` format.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[ParseTimeCB(),
                            EncodeTimeCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])
tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')

Warning: 1 missing time value(s) in SEDIMENT
                           BIOTA  SEAWATER  SEDIMENT
Number of rows in dfs      14893     20318     37347
Number of rows in tfm.dfs  14893     20318     37346
Number of rows removed         0         0         1

## Sanitize value

We allocate each column containing measurement values (named differently across sample types) into a single column `VALUE` and remove NA where needed.

In [ ]:
#| exports
coi_val = {'SEAWATER' : {'VALUE': 'VALUE_Bq/m³'},
           'BIOTA':  {'VALUE': 'VALUE_Bq/kg'},
           'SEDIMENT': {'VALUE': 'VALUE_Bq/kg'}}

In [ ]:
#| exports
class SanitizeValue(Callback):
    "Sanitize value/measurement by removing blank entries and populating `value` column."
    def __init__(self, 
                 coi: Dict[str, Dict[str, str]] # Columns of interest. Format: {group_name: {'val': 'column_name'}}
                 ): 
        fc.store_attr()

    def __call__(self, tfm: Transformer):
        for grp, df in tfm.dfs.items():
            value_col = self.coi[grp]['VALUE']
            df.dropna(subset=[value_col], inplace=True)
            df['VALUE'] = df[value_col]

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[SanitizeValue(coi_val),
                            CompareDfsAndTfmCB(dfs)
                            ])

tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')

                           BIOTA  SEAWATER  SEDIMENT
Number of rows in dfs      14893     20318     37347
Number of rows in tfm.dfs  14873     20242     37090
Number of rows removed        20        76       257

## Normalize uncertainty

Function `unc_rel2stan` converts uncertainty from relative uncertainty to standard uncertainty.

In [ ]:
#| exports
def unc_rel2stan(
    df: pd.DataFrame, # DataFrame containing measurement and uncertainty columns
    meas_col: str, # Name of the column with measurement values
    unc_col: str # Name of the column with relative uncertainty values (percentages)
) -> pd.Series: # Series with calculated absolute uncertainties
    "Convert relative uncertainty to absolute uncertainty."
    return df.apply(lambda row: row[unc_col] * row[meas_col] / 100, axis=1)

For each sample type in the Helcom dataset, the `UNCERTAINTY` is provided as a relative uncertainty. The column names for both the `VALUE` and the `UNCERTAINTY` vary by sample type. The `coi_units_unc` dictionary defines the column names for the `VALUE` and `UNCERTAINTY` for each sample type.

In [ ]:
#| exports
# Columns of interest
coi_units_unc = [('SEAWATER', 'VALUE_Bq/m³', 'ERROR%_m³'),
                 ('BIOTA', 'VALUE_Bq/kg', 'ERROR%'),
                 ('SEDIMENT', 'VALUE_Bq/kg', 'ERROR%_kg')]

NormalizeUncCB callback normalizes the ``UNCERTAINTY`` by converting from relative uncertainty to standard uncertainty.

In [ ]:
#| exports
class NormalizeUncCB(Callback):
    "Convert from relative error % to standard uncertainty."
    def __init__(self, 
                 fn_convert_unc: Callable=unc_rel2stan, # Function converting relative uncertainty to absolute uncertainty
                 coi: List[Tuple[str, str, str]]=coi_units_unc # List of columns of interest
                ):
        fc.store_attr()
    
    def __call__(self, tfm: Transformer):
        for grp, val, unc in self.coi:
            if grp in tfm.dfs:
                df = tfm.dfs[grp]
                df['UNCERTAINTY'] = self.fn_convert_unc(df, val, unc)

Apply the transformer for callback ``NormalizeUncCB``. Then, print the value (i.e. activity per unit ) and standard uncertainty for each sample type.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[NormalizeUncCB(),
                            SanitizeValue(coi_val)])
tfm()
print(tfm.dfs['SEAWATER'][['VALUE', 'UNCERTAINTY']][:5])
print(tfm.dfs['BIOTA'][['VALUE', 'UNCERTAINTY']][:5])
print(tfm.dfs['SEDIMENT'][['VALUE', 'UNCERTAINTY']][:5])

   VALUE  UNCERTAINTY
0    5.3        1.696
1   19.9        3.980
2   25.5        5.100
3   17.0        4.930
4   22.2        3.996
        VALUE  UNCERTAINTY
0    0.010140          NaN
1  135.300000     4.830210
2    0.013980          NaN
3    4.338000     0.150962
4    0.009614          NaN
   VALUE  UNCERTAINTY
0   35.0         9.10
1   36.0         7.92
2   38.0         9.12
3   36.0         9.00
4   30.0         6.90

## Remap Biota species

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: RUBIN contains codes that are not found in the HELCOM biota dataset. 
:::

For example, 'CH HI;BA', its not in the HELCOM biota dataset. Lets return the uniue RUBIN of the HELCOM biota dataset:

Other unused RUBIN:

In [ ]:
#| eval: false
unique_rubin = dfs['BIOTA']['RUBIN'].unique()
unique_rubin_set = set(unique_rubin)
rubin_lut = list(pd.read_csv(Path(fname_in) / 'RUBIN_NAME.csv')['RUBIN'])
unused_rubins = [rune for rune in rubin_lut if rune not in unique_rubin_set]
print("Unused RUBIN names:", unused_rubins)

Unused RUBIN names: ['CH HI;BA', 'SOLE SOL']

We will remap the HELCOM `RUBIN` column to the MARIS `SPECIES` column using the **IMFA** (**I**nspect, **M**atch, **F**ix, **A**pply) pattern. First lets **inspect** the `RUBIN_NAME.csv` file provided by HELCOM, which describes the nomenclature of biota species.

In [ ]:
#| eval: false
pd.read_csv(Path(fname_in) / 'RUBIN_NAME.csv').head()

   RUBIN_ID     RUBIN    SCIENTIFIC NAME     ENGLISH NAME
0        11  ABRA BRA      ABRAMIS BRAMA            BREAM
1        12  ANGU ANG  ANGUILLA ANGUILLA              EEL
2        13  ARCT ISL  ARCTICA ISLANDICA   ISLAND CYPRINE
3        14  ASTE RUB    ASTERIAS RUBENS  COMMON STARFISH
4        15  CARD EDU      CARDIUM EDULE           COCKLE

In [ ]:
#| eval: false
species_lut_path()

Path('/home/marisco/.marisco/lut/dbo_species_2024_11_19.xlsx')

Now we try to **MATCH** the `SCIENTIFIC NAME` column of HELCOM biota dataset to the `species` column of the MARIS species lookup table, again using a `Remapper` object:

In [ ]:
#| eval: false
remapper = Remapper(provider_lut_df=pd.read_csv(Path(fname_in) / 'RUBIN_NAME.csv'),
                    maris_lut_fn=species_lut_path,
                    maris_col_id='species_id',
                    maris_col_name='species',
                    provider_col_to_match='SCIENTIFIC NAME',
                    provider_col_key='RUBIN',
                    fname_cache='species_helcom.pkl'
                    )

remapper.generate_lookup_table(as_df=True)
remapper.select_match(match_score_threshold=1, verbose=True)

Processing:   0%|          | 0/43 [00:00<?, ?it/s]

Processing: 100%|██████████| 43/43 [00:07<00:00,  5.44it/s]

35 entries matched the criteria, while 8 entries had a match score of 1 or higher.

             matched_maris_name              source_name  match_score
source_key
STIZ LUC      Sander lucioperca  STIZOSTEDION LUCIOPERCA           10
LAMI SAC     Laminaria japonica     LAMINARIA SACCHARINA            7
CARD EDU              Cardiidae            CARDIUM EDULE            6
CH HI;BA        Macoma balthica            CHARA BALTICA            6
ENCH CIM          Echinodermata       ENCHINODERMATA CIM            5
PSET MAX        Pinctada maxima            PSETTA MAXIMA            5
MACO BAL        Macoma balthica           MACOMA BALTICA            1
STUC PEC    Stuckenia pectinata      STUCKENIA PECTINATE            1

Below, we will correct the entries that were not properly matched by the `Remapper` object:

In [ ]:
#| exports
fixes_biota_species = {
    'CHARA BALTICA': 'NOT AVAILABLE', # CHARA BALTICA (RUBIN: CH HI;BA) is not listed in the biota data. 
    'CARDIUM EDULE': 'Cerastoderma edule',
    'LAMINARIA SACCHARINA': 'Saccharina latissima',
    'PSETTA MAXIMA': 'Scophthalmus maximus',
    'STIZOSTEDION LUCIOPERCA': 'Sander luciopercas'}

And give the ``remapper`` another try:

In [ ]:
#| eval: false
remapper.generate_lookup_table(fixes=fixes_biota_species)
remapper.select_match(match_score_threshold=1, verbose=True)

Processing: 100%|██████████| 43/43 [00:07<00:00,  5.53it/s]

39 entries matched the criteria, while 4 entries had a match score of 1 or higher.

             matched_maris_name              source_name  match_score
source_key
ENCH CIM          Echinodermata       ENCHINODERMATA CIM            5
MACO BAL        Macoma balthica           MACOMA BALTICA            1
STIZ LUC      Sander lucioperca  STIZOSTEDION LUCIOPERCA            1
STUC PEC    Stuckenia pectinata      STUCKENIA PECTINATE            1

Visual inspection of the remaining unperfectly matched entries seem acceptable to proceed. 

We can now use the generic `RemapCB` callback to perform the remapping of the `RUBIN` column to the `species` column after having defined the lookup table `lut_biota`.

In [ ]:
#| exports
lut_biota = lambda: Remapper(provider_lut_df=pd.read_csv(Path(fname_in) / 'RUBIN_NAME.csv'),
                             maris_lut_fn=species_lut_path,
                             maris_col_id='species_id',
                             maris_col_name='species',
                             provider_col_to_match='SCIENTIFIC NAME',
                             provider_col_key='RUBIN',
                             fname_cache='species_helcom.pkl'
                             ).generate_lookup_table(fixes=fixes_biota_species, as_df=False, overwrite=False)

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
    RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA')
    ])
tfm()
tfm.dfs['BIOTA'].columns
# For instance:
print(tfm.dfs['BIOTA']['SPECIES'].unique())

[  99  243   50  139  270  192  191  284   84  269  122   96  287  279
  278  288  286  244  129  275  271  285  283  247  120   59  280  274
  273  290  289  272  277  276   21  282  110  281  245  704 1524]

## Remap Biota tissues
Let's inspect the `TISSUE.csv` file provided by HELCOM describing the tissue nomenclature. Biota tissue is known as `body part` in the maris data set.

In [ ]:
#| eval: false
pd.read_csv('../../_data/accdb/mors/csv/TISSUE.csv').head()

   TISSUE                    TISSUE_DESCRIPTION
0       1                            WHOLE FISH
1       2           WHOLE FISH WITHOUT ENTRAILS
2       3  WHOLE FISH WITHOUT HEAD AND ENTRAILS
3       4                      FLESH WITH BONES
4       5          FLESH WITHOUT BONES (FILETS)

In [ ]:
#| eval: false
remapper = Remapper(provider_lut_df=pd.read_csv('../../_data/accdb/mors/csv/TISSUE.csv'),
                    maris_lut_fn=bodyparts_lut_path,
                    maris_col_id='bodypar_id',
                    maris_col_name='bodypar',
                    provider_col_to_match='TISSUE_DESCRIPTION',
                    provider_col_key='TISSUE',
                    fname_cache='tissues_helcom.pkl'
                    )

remapper.generate_lookup_table(as_df=True)
remapper.select_match(match_score_threshold=1, verbose=True)

Processing:   0%|          | 0/29 [00:00<?, ?it/s]

Processing: 100%|██████████| 29/29 [00:00<00:00, 93.09it/s]

21 entries matched the criteria, while 8 entries had a match score of 1 or higher.

,matched_maris_name,source_name,match_score
source_key,,,
3,Flesh without bones,WHOLE FISH WITHOUT HEAD AND ENTRAILS,20
2,Flesh without bones,WHOLE FISH WITHOUT ENTRAILS,13
8,Soft parts,SKIN/EPIDERMIS,10
5,Flesh without bones,FLESH WITHOUT BONES (FILETS),9
1,Whole animal,WHOLE FISH,5
12,Brain,ENTRAILS,5
15,Stomach and intestine,STOMACH + INTESTINE,3
41,Whole animal,WHOLE ANIMALS,1

We address several entries that were not correctly matched by the Remapper object, as detailed below:"

In [ ]:
#| exports
fixes_biota_tissues = {
    'WHOLE FISH WITHOUT HEAD AND ENTRAILS': 'Whole animal eviscerated without head',
    'ENTRAILS': 'Viscera',
    'SKIN/EPIDERMIS': 'Skin'}

In [ ]:
#| eval: false
remapper.generate_lookup_table(as_df=True, fixes=fixes_biota_tissues)
remapper.select_match(match_score_threshold=1, verbose=True)

Processing:  24%|██▍       | 7/29 [00:00<00:00, 59.01it/s]

Processing: 100%|██████████| 29/29 [00:00<00:00, 61.77it/s]

24 entries matched the criteria, while 5 entries had a match score of 1 or higher.

               matched_maris_name                   source_name  match_score
source_key
2             Flesh without bones   WHOLE FISH WITHOUT ENTRAILS           13
5             Flesh without bones  FLESH WITHOUT BONES (FILETS)            9
1                    Whole animal                    WHOLE FISH            5
15          Stomach and intestine           STOMACH + INTESTINE            3
41                   Whole animal                 WHOLE ANIMALS            1

Visual inspection of the remaining unperfectly matched entries seem acceptable to proceed. 

We can now use the generic `RemapCB` callback to perform the remapping of the `TISSUE` column to the `body_part` column after having defined the lookup table `lut_tissues`.

In [ ]:
#| exports
lut_tissues = lambda: Remapper(provider_lut_df=pd.read_csv('../../_data/accdb/mors/csv/TISSUE.csv'),
                               maris_lut_fn=bodyparts_lut_path,
                               maris_col_id='bodypar_id',
                               maris_col_name='bodypar',
                               provider_col_to_match='TISSUE_DESCRIPTION',
                               provider_col_key='TISSUE',
                               fname_cache='tissues_helcom.pkl'
                               ).generate_lookup_table(fixes=fixes_biota_tissues, as_df=False, overwrite=False)

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
    RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),
    RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),
    ])

print(tfm()['BIOTA'][['TISSUE', 'BODY_PART']][:5])

   TISSUE  BODY_PART
0       5         52
1       5         52
2       5         52
3       5         52
4       5         52

## Remap biogroup

`lut_biogroup` reads the file at `species_lut_path()` and from the contents of this file creates a dictionary linking `species_id` to `biogroup_id`.

In [ ]:
#| exports
lut_biogroup = lambda: get_lut(src_dir=species_lut_path().parent, fname=species_lut_path().name, 
                               key='species_id', value='biogroup_id')

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
    RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),
    RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),
    RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA')
    ])

print(tfm()['BIOTA']['BIO_GROUP'].unique())

[ 4  2 14 11  8  3]

## Remap Taxon Information (REVIEW)

:::{.callout-tip}

**FEEDBACK FOR NEXT VERSION**: 
The taxon information is not included in the NetCDF encoding. However, it is used for importing into the MARIS master database via OpenRefine. The `SPECIES` column is used to look up the taxon information. This section should be moved to the `open refine decoder notebook`. Will the `SPECIES` LUT be encoded in the NetCDF enums? 

For now I have removed the `Taxonname`, `TaxonRepName` and `Taxonrank` as they contain strings which will not be encoded in the NetCDF.
:::

In [ ]:
'''
#| exports
# TODO: Include Commonname field after next MARIS data reconciling process.
def get_taxon_info_lut(
    maris_lut:str # Path to the MARIS lookup table (Excel file)
) -> dict: # A dictionary mapping species_id to biogroup_id
    "Retrieve a lookup table for Taxonname from a MARIS lookup table."
    species = pd.read_excel(maris_lut)
    return species[['species_id', 'Taxonname', 'Taxonrank','TaxonDB','TaxonDBID','TaxonDBURL']].set_index('species_id').to_dict()

lut_taxon = lambda: get_taxon_info_lut(species_lut_path())
'''

'\n#| exports\n# TODO: Include Commonname field after next MARIS data reconciling process.\ndef get_taxon_info_lut(\n    maris_lut:str # Path to the MARIS lookup table (Excel file)\n) -> dict: # A dictionary mapping species_id to biogroup_id\n    "Retrieve a lookup table for Taxonname from a MARIS lookup table."\n    species = pd.read_excel(maris_lut)\n    return species[[\'species_id\', \'Taxonname\', \'Taxonrank\',\'TaxonDB\',\'TaxonDBID\',\'TaxonDBURL\']].set_index(\'species_id\').to_dict()\n\nlut_taxon = lambda: get_taxon_info_lut(species_lut_path())\n'

In [ ]:
'''
# | exports
class RemapTaxonInformationCB(Callback):
    "Update taxon information based on MARIS species LUT."
    def __init__(self, fn_lut: Callable):
        self.fn_lut = fn_lut

    def __call__(self, tfm: Transformer):
        lut = self.fn_lut()
        df = tfm.dfs['BIOTA']
        
        df['TaxonRepName'] = df.get('RUBIN', 'Unknown')
        
        taxon_columns = ['Taxonname', 'Taxonrank', 'TaxonDB', 'TaxonDBID', 'TaxonDBURL']
        for col in taxon_columns:
            df[col] = df['SPECIES'].map(lut[col]).fillna('Unknown')
        
        unmatched = df[df['Taxonname'] == 'Unknown']['SPECIES'].unique()
        if len(unmatched) > 0:
            print(f"Unmatched species IDs: {', '.join(unmatched)}")
'''

'\n# | exports\nclass RemapTaxonInformationCB(Callback):\n    "Update taxon information based on MARIS species LUT."\n    def __init__(self, fn_lut: Callable):\n        self.fn_lut = fn_lut\n\n    def __call__(self, tfm: Transformer):\n        lut = self.fn_lut()\n        df = tfm.dfs[\'BIOTA\']\n        \n        df[\'TaxonRepName\'] = df.get(\'RUBIN\', \'Unknown\')\n        \n        taxon_columns = [\'Taxonname\', \'Taxonrank\', \'TaxonDB\', \'TaxonDBID\', \'TaxonDBURL\']\n        for col in taxon_columns:\n            df[col] = df[\'SPECIES\'].map(lut[col]).fillna(\'Unknown\')\n        \n        unmatched = df[df[\'Taxonname\'] == \'Unknown\'][\'SPECIES\'].unique()\n        if len(unmatched) > 0:\n            print(f"Unmatched species IDs: {\', \'.join(unmatched)}")\n'

In [ ]:
'''
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[ 
                            RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA'),
                            RemapTaxonInformationCB(lut_taxon)
                            ])
tfm()
print(tfm.dfs['biota'][['TaxonRepName', 'Taxonname', 'Taxonrank',
                        'TaxonDB','TaxonDBID','TaxonDBURL']].drop_duplicates().head())
'''

"\n#| eval: false\ndfs = load_data(fname_in)\ntfm = Transformer(dfs, cbs=[ \n                            RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),\n                            RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),\n                            RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA'),\n                            RemapTaxonInformationCB(lut_taxon)\n                            ])\ntfm()\nprint(tfm.dfs['biota'][['TaxonRepName', 'Taxonname', 'Taxonrank',\n                        'TaxonDB','TaxonDBID','TaxonDBURL']].drop_duplicates().head())\n"

## Remap Sediment types

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: The `SEDI` values `56` and `73` are not found in the `SEDIMENT_TYPE.csv` lookup table provided. Note also there are many `nan` values in the `SEDIMENT_TYPE.csv` file.

We reassign them to `-99` for now but should be clarified/fixed. This is demonstrated below.

:::

In [ ]:
#| eval: false
df_sed_lut = pd.read_csv(Path(fname_in) / 'SEDIMENT_TYPE.csv')
dfs = load_data(fname_in)

sediment_sedi = set(dfs['SEDIMENT'].SEDI.unique())
lookup_sedi = set(df_sed_lut['SEDI'])
missing = sediment_sedi - lookup_sedi
print(f"Missing SEDI values: {missing if missing else 'None'}")

Missing SEDI values: {56.0, 73.0, nan}

:::{.callout-tip}

**FEEDBACK FOR NEXT VERSION**: 
 ``SedRepName`` is used by OpenRefine. ``SedRepName`` is not included in the NetCDF encoding. Description of the `SedRepName` from [MARIS Data Formats
](https://github.com/franckalbinet/marisco/tree/main/install_configure_guide); 'Name of the sediment as reported by the data provider. The sediment name should be stored exactly as provided, without any modifications'. 

This information will be lost with the latest workflow (creating netcdf and decoding to csv) if we do not include strings in the netcdf encoding. What should we do? For now, I will remove the open refine requirement from the RemapSedimentCB callback. Note I have commented out `SedRepName` in the callback.

Once again, we employ the **IMFA** (Inspect, Match, Fix, Apply) pattern to remap the HELCOM sediment types. Let's inspect the `SEDIMENT_TYPE.csv` file provided by HELCOM describing the sediment type nomenclature:

In [ ]:
#| eval: false
pd.read_csv(Path(fname_in) / 'SEDIMENT_TYPE.csv').head()

   SEDI    SEDIMENT TYPE RECOMMENDED TO BE USED
0   -99          NO DATA                    NaN
1    30  SILT AND GRAVEL                    YES
2     0           GRAVEL                    YES
3     1             SAND                    YES
4     2        FINE SAND                     NO

Let's try to match as many as possible:

In [ ]:
#| eval: false
remapper = Remapper(provider_lut_df=pd.read_csv(Path(fname_in)/'SEDIMENT_TYPE.csv'),
                    maris_lut_fn=sediments_lut_path,
                    maris_col_id='sedtype_id',
                    maris_col_name='sedtype',
                    provider_col_to_match='SEDIMENT TYPE',
                    provider_col_key='SEDI',
                    fname_cache='sediments_helcom.pkl'
                    )

remapper.generate_lookup_table(as_df=True)
remapper.select_match(match_score_threshold=1, verbose=True)

Processing:   0%|          | 0/47 [00:00<?, ?it/s]

Processing: 100%|██████████| 47/47 [00:00<00:00, 94.43it/s]

44 entries matched the criteria, while 3 entries had a match score of 1 or higher.

           matched_maris_name     source_name  match_score
source_key
-99                      Soft         NO DATA            5
 50            Mud and gravel  MUD AND GARVEL            2
 46              Glacial clay    CLACIAL CLAY            1

We address the remaining unmatched values by adding fixes_sediments:

In [ ]:
#| exports
fixes_sediments = {
    'NO DATA': '(Not available)'
}

In [ ]:
#| eval: false
remapper.generate_lookup_table(as_df=True, fixes=fixes_sediments)
remapper.select_match(match_score_threshold=1, verbose=True)

Processing:   0%|          | 0/47 [00:00<?, ?it/s]

Processing: 100%|██████████| 47/47 [00:00<00:00, 96.74it/s]

45 entries matched the criteria, while 2 entries had a match score of 1 or higher.

           matched_maris_name     source_name  match_score
source_key
50             Mud and gravel  MUD AND GARVEL            2
46               Glacial clay    CLACIAL CLAY            1

A visual inspection of the remaining values shows that they are acceptable to proceed.

In [ ]:
#| exports
class RemapSedimentCB(Callback):
    "Update sediment id based on MARIS species LUT (dbo_sedtype.xlsx)."
    
    def __init__(self, 
                 fn_lut: Callable,  # Function that returns the lookup table dictionary
                 sed_grp_name: str = 'SEDIMENT',  # The name of the sediment group
                 replace_lut: dict = None  # Dictionary for replacing SEDI values
                ):
        fc.store_attr()

    def __call__(self, tfm: Transformer):
        "Remap sediment types in the DataFrame using the lookup table and handle specific replacements."
        lut = self.fn_lut()
        
        # Fix inconsistent SEDI values
        tfm.dfs[self.sed_grp_name] = self._fix_inconsistent_sedi(tfm.dfs[self.sed_grp_name], self.replace_lut)
        
        # Get unique SEDI values
        unique_sedi = tfm.dfs[self.sed_grp_name]['SEDI'].unique()
        
        # Get sediment types for unique SEDI values
        sediment_mapping = self._get_sediment_types(unique_sedi, lut)
        
        # Replace SEDI values in the DataFrame using the mapping
        tfm.dfs[self.sed_grp_name]['SED_TYPE'] = tfm.dfs[self.sed_grp_name]['SEDI'].map(sediment_mapping)

    def _fix_inconsistent_sedi(self, df: pd.DataFrame, replace_lut: dict) -> pd.DataFrame:
        "Temporary fix for inconsistent SEDI values. Data provider to confirm and clarify."
        df['SEDI'] = df['SEDI'].replace(replace_lut)
        return df

    def _get_sediment_types(self, unique_sedi: np.ndarray, lut: dict) -> dict:
        "Get sediment types for unique SEDI values and return a mapping dictionary."
        sediment_mapping = {}
        
        for sedi_value in unique_sedi:
            match = lut.get(sedi_value, Match(0, None, None, None))
            if match.matched_id == 0:
                self._print_unmatched_sedi(sedi_value)
            sediment_mapping[sedi_value] = match.matched_id
        
        return sediment_mapping

    def _print_unmatched_sedi(self, 
                              sedi_value: int,  # The `SEDI` value from the DataFrame
                             ) -> None:
        "Print the SEDI value if the matched_id is 0 (i.e. Not available)."
        print(f"Unmatched SEDI: {sedi_value}")

In [ ]:
#| exports
lut_sediments = lambda: Remapper(provider_lut_df=pd.read_csv(Path(fname_in) / 'SEDIMENT_TYPE.csv'),
                                 maris_lut_fn=sediments_lut_path,
                                 maris_col_id='sedtype_id',
                                 maris_col_name='sedtype',
                                 provider_col_to_match='SEDIMENT TYPE',
                                 provider_col_key='SEDI',
                                 fname_cache='sediments_helcom.pkl'
                                 ).generate_lookup_table(fixes=fixes_sediments, as_df=False, overwrite=False)

Reassign the `SEDI` values of `56`, `73`, and `nan` to `-99`:

In [ ]:
#| exports
sed_replace_lut = {
    56: -99,
    73: -99,
    np.nan: -99
}

Utilize the RemapSedimentCB callback to remap the SEDI values in the HELCOM dataset to the corresponding MARIS standard sediment type, referred to as SED_TYPE. After the remapping process, display the SEDI and SED_TYPE columns from the SEDIMENT DataFrame.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[RemapSedimentCB(fn_lut=lut_sediments, replace_lut=sed_replace_lut)])

tfm()

tfm.dfs['SEDIMENT']['SED_TYPE'].unique()

Unmatched SEDI: -99.0

array([ 0,  2, 58, 30, 59, 55, 56, 36, 29, 47,  4, 54, 33,  6, 44, 42, 48,
       61, 57, 28, 49, 32, 45, 39, 46, 38, 31, 60, 62, 26, 53, 52,  1, 51,
       37, 34, 50,  7, 10, 41, 43, 35])

## Remap units

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: The handling of unit types varies between `biota` and `sediment` sample types. For consistency and ease of use, it would be beneficial to have dedicated unit columns for all sample types.

:::

Given the inconsistent handling of units across sample types, we need to define custom mapping rules for standardizing the units. The units available in MARIS are:

In [ ]:
#| eval: false
pd.read_excel(unit_lut_path())[['unit_id', 'unit', 'unit_sanitized']]

    unit_id            unit  unit_sanitized
0        -1  Not applicable  Not applicable
1         0   NOT AVAILABLE   NOT AVAILABLE
2         1           Bq/m3       Bq per m3
3         2           Bq/m2       Bq per m2
4         3           Bq/kg       Bq per kg
5         4          Bq/kgd      Bq per kgd
6         5          Bq/kgw      Bq per kgw
7         6           kg/kg       kg per kg
8         7              TU              TU
9         8      DELTA/mill  DELTA per mill
10        9         atom/kg     atom per kg
11       10        atom/kgd    atom per kgd
12       11        atom/kgw    atom per kgw
13       12          atom/l      atom per l
14       13          Bq/kgC      Bq per kgC

We define unit renaming rules for HELCOM in an **ad hoc** way:

In [ ]:
#| exports
lut_units = {
    'SEAWATER': 1,  # 'Bq/m3'
    'SEDIMENT': 4,  # 'Bq/kgd' for sediment
    'BIOTA': {
        'D': 4,  # 'Bq/kgd'
        'W': 5,  # 'Bq/kgw'
        'F': 5   # 'Bq/kgw' (assumed to be 'Fresh', so set to wet)
    }
}

In [ ]:
#| exports
class RemapUnitCB(Callback):
    "Set the `unit` id column in the DataFrames based on a lookup table."
    def __init__(self, 
                 lut_units: dict=lut_units # Dictionary containing renaming rules for different unit categories
                ):
        fc.store_attr()

    def __call__(self, tfm: Transformer):
        for grp in tfm.dfs.keys():
            if grp in ['SEAWATER', 'SEDIMENT']:
                tfm.dfs[grp]['UNIT'] = self.lut_units[grp]
            else:
                tfm.dfs[grp]['UNIT'] = tfm.dfs[grp]['BASIS'].apply(lambda x: lut_units[grp].get(x, 0))

Apply the transformer for callback `RemapUnitCB()`. Then, print the unique `UNIT` for the `SEAWATER` dataframe.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[RemapUnitCB()])

for grp in ['BIOTA', 'SEDIMENT', 'SEAWATER']:
    print(f"{grp}: {tfm()[grp]['UNIT'].unique()}")

BIOTA: [5 0 4]
SEDIMENT: [4]
SEAWATER: [1]

## Remap detection limit
Detection limits are encoded as follows in MARIS:

In [ ]:
#| eval: false
pd.read_excel(detection_limit_lut_path())

   id            name   name_sanitized
0  -1  Not applicable   Not applicable
1   0   Not Available    Not available
2   1               =   Detected value
3   2               <  Detection limit
4   3              ND     Not detected
5   4              DE          Derived

In [ ]:
#| exports
lut_dl = lambda: pd.read_excel(detection_limit_lut_path(), usecols=['name','id']).set_index('name').to_dict()['id']

Based on columns of interest for each sample type:

In [ ]:
#| exports
coi_dl = {'SEAWATER' : {'VALUE' : 'VALUE_Bq/m³',
                       'UNCERTAINTY' : 'ERROR%_m³',
                       'DL' : '< VALUE_Bq/m³'},
          'BIOTA':  {'VALUE' : 'VALUE_Bq/kg',
                     'UNCERTAINTY' : 'ERROR%',
                     'DL' : '< VALUE_Bq/kg'},
          'SEDIMENT': {
              'VALUE' : 'VALUE_Bq/kg',
              'UNCERTAINTY' : 'ERROR%_kg',
              'DL' : '< VALUE_Bq/kg'}}

We follow the following business logic to encode the detection limit:

`RemapDetectionLimitCB` creates a `detection_limit` column with values determined as follows:
1. Perform a lookup with the appropriate columns value type (or DL) columns (`< VALUE_Bq/m³` or `< VALUE_Bq/kg`) against the table returned from the function `get_detectionlimit_lut`.
2. If `< VALUE_Bq/m³` or `< VALUE_Bq/kg` is NaN but both activity values (`VALUE_Bq/m³` or `VALUE_Bq/kg`) and standard uncertainty (`ERROR%_m³`, `ERROR%`, or `ERROR%_kg`) are provided, then assign the ID of `1` (i.e. "Detected value").
3. For other NaN values in the `detection_limit` column, set them to `0` (i.e. `Not Available`).

In [ ]:
# | exports
class RemapDetectionLimitCB(Callback):
    "Remap value type to MARIS format."
    
    def __init__(self, 
                 coi: dict,  # Configuration options for column names
                 fn_lut: Callable  # Function that returns a lookup table
                ):
        fc.store_attr()

    def __call__(self, tfm: Transformer):
        "Remap detection limits in the DataFrames using the lookup table."
        lut = self.fn_lut()
        
        for grp in tfm.dfs:
            df = tfm.dfs[grp]
            self._update_detection_limit(df, grp, lut)

    def _update_detection_limit(self, 
                                df: pd.DataFrame,  # The DataFrame to modify
                                grp: str,  # The group name to get the column configuration
                                lut: dict  # The lookup table dictionary
                               ) -> None:
        "Update detection limit column in the DataFrame based on lookup table and rules."
        
        # Check if the group exists in coi_dl
        if grp not in coi_dl:
            raise ValueError(f"Group '{grp}' not found in coi_dl configuration.")
        
        # Access column names from coi_dl
        value_col = coi_dl[grp]['VALUE']
        uncertainty_col = coi_dl[grp]['UNCERTAINTY']
        detection_col = coi_dl[grp]['DL']

        # Initialize detection limit column
        df['DL'] = df[detection_col]
        
        # Set detection limits based on conditions
        self._set_detection_limits(df, value_col, uncertainty_col, lut)

    def _set_detection_limits(self, df: pd.DataFrame, value_col: str, uncertainty_col: str, lut: dict) -> None:
        "Set detection limits based on value and uncertainty columns."
        
        # Condition for setting '='
        # 'DL' defaults to equal (i.e. '=') if there is a value and uncertainty and 'DL' value is not 
        # in the lookup table.
        
        condition_eq =(df[value_col].notna() & 
                       df[uncertainty_col].notna() & 
                       ~df['DL'].isin(lut.keys())
        )
        
        df.loc[condition_eq, 'DL'] = '='

        # Set 'Not Available' for unmatched detection limits
        df.loc[~df['DL'].isin(lut.keys()), 'DL'] = 'Not Available'
        
        # Perform lookup to map detection limits
        df['DL'] = df['DL'].map(lut)

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
                            NormalizeUncCB(),
                            SanitizeValue(coi_val),                       
                            RemapUnitCB(),
                            RemapDetectionLimitCB(coi_dl, lut_dl)])


for grp in ['BIOTA', 'SEDIMENT', 'SEAWATER']:
    print(f"{grp}: {tfm()[grp]['DL'].unique()}")

BIOTA: [2 1 0]
SEDIMENT: [1 2 0]
SEAWATER: [1 2 0]

## Remap filtering status

HELCOM filtered status is encoded as follows in the `FILT` column:

In [ ]:
#| eval: false
dfs = load_data(fname_in)
get_unique_across_dfs(dfs, col_name='FILT', as_df=True).head(5)

   index value
0      0     n
1      1     F
2      2     N
3      3   NaN

MARIS uses a different encoding for filtered status:

In [ ]:
#| eval: false
pd.read_excel(filtered_lut_path())

   id            name
0  -1  Not applicable
1   0   Not available
2   1             Yes
3   2              No

For only four categories to remap, the `Remapper` is an overkill. We can use a simple dictionary to map the values:

In [ ]:
#| exports
lut_filtered = {
    'N': 2, # No
    'n': 2, # No
    'F': 1 # Yes
}

`RemapFiltCB` converts the HELCOM `FILT` format to the MARIS `FILT` format.

In [ ]:
#| exports
class RemapFiltCB(Callback):
    "Lookup FILT value in dataframe using the lookup table."
    def __init__(self,
                 lut_filtered: dict=lut_filtered, # Dictionary mapping FILT codes to their corresponding names
                ):
        fc.store_attr()

    def __call__(self, tfm):
        for df in tfm.dfs.values():
            if 'FILT' in df.columns:
                df['FILT'] = df['FILT'].map(lambda x: self.lut_filtered.get(x, 0))

For instance:

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[RemapFiltCB(lut_filtered)])

print(tfm()['SEAWATER']['FILT'].unique())

[0 2 1]

## Add Sample Laboratory code (REVIEW)

:::{.callout-tip}

**FEEDBACK FOR NEXT VERSION**: 
A sample laboratory code allows for entires in the netcdf or csv to be traced back to the samples in the datasource. 
A sample laboratory code is not included in the NetCDF output as it requries string values data types. We planned to include way to reference the entries using the SMP_ID (of data type integer). The SMP_ID works for some datasets (e.g. GEOTRACES) but not for others (e.g. HELCOM). The `KEY` column of the HELCOM dataset contains a unique code that comprises of a station code followed by a integer sequence. Below the uniqueness of the integer part of the `KEY` column is checked. It was found that the integer part of the `KEY` column is not unique.

Possible solutions:
- Use `SMP_ID` to generate unique integer IDs for each sample. Then link the `SMP_ID` to the `samplabcode` using a lookup table. How best to share the lookup table? 
- Use fixed length string IDs for each entry.
- Use VLEN strings in the netcdf and pass the the `samplabcode` as is.

Options will be explored in a separate notebook.
:::

In [ ]:
#| eval: false

def check_unique_key_int(tfm):
    """
    Extracts unique 'KEY' values from specified DataFrames, separates them into string and integer components,
    and groups keys by their integer components.

    Parameters:
    tfm (Transformer): The transformer object containing DataFrames.

    Returns:
    dict: A dictionary with the unique keys, their string and integer components, and grouped keys by integer component.
    """
    # Define the groups to extract keys from
    groups = ['SEAWATER', 'BIOTA', 'SEDIMENT']
    
    # Initialize a set to store unique keys
    unique_keys = set()
    
    # Collect unique keys from each DataFrame
    for grp in groups:
        unique_keys.update(tfm.dfs[grp]['KEY'].unique())
    
    # Initialize a dictionary to group keys by their integer components
    int_key_map = {}
    
    for key in unique_keys:
        # Assuming the integer part starts after the first 5 characters
        int_part = int(key[5:]) if key[5:].isdigit() else None  # Remaining part as integer
        
        if int_part is not None:
            if int_part not in int_key_map:
                int_key_map[int_part] = []  # Initialize list for this integer part
            int_key_map[int_part].append(key)  # Append the complete key to the list
    
    return {
        'int_key_map': int_key_map  # Return the mapping of integer parts to complete keys
    }

In [ ]:
#| eval: false

# Create DataFrame from dictionary and set index name and column name
unique_key_df = pd.DataFrame.from_dict(check_unique_key_int(tfm)).rename_axis('INT COMPONENT OF `KEY`')
unique_key_df=unique_key_df.rename(columns={unique_key_df.columns[0]: 'KEYS'})
unique_key_df.head(5)

                                                                                                                                                                                                                                                                  KEYS
INT COMPONENT OF `KEY`
2007167                                                                                                                                                                                                                                   [SSTUK2007167, SDHIG2007167]
1999018                                                                         [SKRIL1999018, SCLOR1999018, BBFFG1999018, BSSSI1999018, SSTUK1999018, SLVDC1999018, SERPC1999018, WKRIL1999018, WRISO1999018, WSTUK1999018, WIMGW1999018, BCLOR1999018, SSSSI1999018]
1998025                                                                                                                                               [WKRIL1998025, BCLOR1998025, WRISO1998025, WSTUK1998025, SCLOR1998025, BBFFG1998025, WIMGW1998025, SSTUK1998025]
1984001                                                                                                     [BNCRS1984001, BCLOR1984001, BSTUK1984001, BSAAS1984001, WSAAS1984001, SKRIL1984001, WSTUK1984001, SSAAS1984001, WCLOR1984001, SSTUK1984001, SCLOR1984001]
1997007                 [WSTUK1997007, BBFFG1997007, BSSSI1997007, WIMGW1997007, SSSSI1997007, SLEPA1997007, WLREB1997007, BCLOR1997007, WKRIL1997007, WDHIG1997007, SSTUK1997007, SLVDC1997007, BRISO1997007, WLVDC1997007, BSTUK1997007, WRISO1997007, SCLOR1997007]

The INT component of the `KEY` column is not unique.

Sample Laboratory code is currently stored in MARIS master DB but not encoded as NetCDF variable.

Remove the samplabcode column for now.

In [ ]:
'''
# | exports
class AddSampleLabCodeCB(Callback):
    "Remap `KEY` column to `samplabcode` in each DataFrame."
    def __call__(self, tfm: Transformer):
        for grp in tfm.dfs:
            self._remap_sample_id(tfm.dfs[grp])
    
    def _remap_sample_id(self, df: pd.DataFrame):
        df['samplabcode'] = df['KEY']
'''

'\n# | exports\nclass AddSampleLabCodeCB(Callback):\n    "Remap `KEY` column to `samplabcode` in each DataFrame."\n    def __call__(self, tfm: Transformer):\n        for grp in tfm.dfs:\n            self._remap_sample_id(tfm.dfs[grp])\n    \n    def _remap_sample_id(self, df: pd.DataFrame):\n        df[\'samplabcode\'] = df[\'KEY\']\n'

In [ ]:
'''AttributeError
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
                            AddSampleLabCodeCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])

print(tfm()['seawater']['samplabcode'].unique())
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')
'''

"AttributeError\n#| eval: false\ndfs = load_data(fname_in)\ntfm = Transformer(dfs, cbs=[\n                            AddSampleLabCodeCB(),\n                            CompareDfsAndTfmCB(dfs)\n                            ])\n\nprint(tfm()['seawater']['samplabcode'].unique())\nprint(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')\n"

## Add measurement note (REMOVE)

The `measurementnote` column is not included in the NetCDF output as it contains free text which is not suitable for the NetCDF format.

## Add Methods (FOR NEXT VERSION)

:::{.callout-tip}

**FEEDBACK FOR NEXT VERSION**: 

The HELCOM analysis method descriptions currently lack standardization, resulting in 63 unique descriptions for the methods used in the dataset. This variability complicates the integration of counting methods, sample methods, and preparation methods into the NetCDF output. The contents of the description field maps to MARIS NetCDF variables `COUNT_MET`, `SAMP_MET`, and `PREP_MET`. The HELCOM dataset includes 63 unique descriptions. 
Perhaps a LLM could help to standardize the methods?
The MARIS counting method LUT includes methods that are similar. This might be challenging to identify by the LLM (or manually)
:::

The HELCOM dataset includes a look-up table `ANALYSIS_METHOD.csv` which captures the methods used by HELCOM in a description field (free text). Lets review the ANALYSIS METHOD descriptions of HELCOM dataset.

In [ ]:
#| eval: false
analsis_method_df=pd.read_csv(Path(fname_in) / 'ANALYSIS_METHOD.csv')
analsis_method_df.head(3)

,METHOD,COUNTRY,DESCRIPTION
0,BFFG01,6,"Gammaspectrometric analysis with Germanium detectors (p-type HGeLi's and HPGe's and 1 n-type HPGe), with efficiency 20-48% Energy resolution 1.8-2.3 keV at 1.33 MeV (not to in use any more)"
1,BFFG02,6,"Sr-90, a) Y-90 extraction method dried ash and added Y-90 + HCl, Ph adjustment and Y-90 extraction with HDEHP in n-heptane b) Modified version of classic nitric acid method (not to in use any more)"
2,CLOR02,67,"Radiochemical method Radiocaesium separation from seawater samples.134+137Cs was adsorbed on AMP mat, dissolved with NaOH and after purification precipitated as chloroplatinate (Cs2PtCl6).Counting with low background anticoincidence beta counter."

Number of unique ANALYSIS_METHOD DESCRIPTION

In [ ]:
#| eval: false
len(analsis_method_df['DESCRIPTION'].unique())

63

In [ ]:
#| exports
lut_method = lambda: pd.read_csv(Path(fname_in) / 'ANALYSIS_METHOD.csv').set_index('METHOD').to_dict()['DESCRIPTION']

Review of MARIS METHOD LUTs

In [ ]:
#| eval: false
prepmet_lut = pd.read_excel(prepmet_lut_path())
sampmet_lut = pd.read_excel(sampmet_lut_path())
counmet_lut = pd.read_excel(counmet_lut_path())

**DISCUSS** repition of counting method in `counmet_lut`. When should we use each of them?

In [ ]:
#| eval: false
counmet_lut.head(10)

   counmet_id                                  counmet  code
0          -1                           Not applicable   NaN
1           0                            Not available     0
2           1                        Atomic absorption    AA
3           2                                    Alpha   ALP
4           3    Alpha ionization chamber spectrometry  ALPI
5           4  Alpha liquid scintillation spectrometry  ALPL
6           5         Alpha semiconductor spectrometry  ALPS
7           6                              Alpha total  ALPT
8           7            Accelerator mass spectrometry   AMS
9           8                                     Beta   BET

## Add station (REMOVE)

*For MARIS master DB import only (not included in the NetCDF output).*

In [ ]:
#| eval: false
tfm.dfs['BIOTA']['STATION']

0        SD24
1        SD24
2        SD24
3        SD24
4        SD24
         ...
14888     PL1
14889     PL4
14890     PL4
14891     PL4
14892    LZWI
Name: STATION, Length: 14893, dtype: object

In [ ]:
'''
#| exports
class RemapStationIdCB(Callback):
    "Remap Station ID to MARIS format."
    def __init__(self):
        fc.store_attr()

    def __call__(self, tfm: Transformer):
        "Iterate through all DataFrames in the transformer object and remap `STATION` to `station_id`."
        for grp in tfm.dfs.keys(): 
            tfm.dfs[grp]['station'] = tfm.dfs[grp]['STATION']
'''

'\n#| exports\nclass RemapStationIdCB(Callback):\n    "Remap Station ID to MARIS format."\n    def __init__(self):\n        fc.store_attr()\n\n    def __call__(self, tfm: Transformer):\n        "Iterate through all DataFrames in the transformer object and remap `STATION` to `station_id`."\n        for grp in tfm.dfs.keys(): \n            tfm.dfs[grp][\'station\'] = tfm.dfs[grp][\'STATION\']\n'

In [ ]:
'''#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
                            RemapStationIdCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])
tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')
'''

"#| eval: false\ndfs = load_data(fname_in)\ntfm = Transformer(dfs, cbs=[\n                            RemapStationIdCB(),\n                            CompareDfsAndTfmCB(dfs)\n                            ])\ntfm()\nprint(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')\n"

## Add slice position (TOP and BOTTOM)

In [ ]:
#| exports
class RemapSedSliceTopBottomCB(Callback):
    "Remap Sediment slice top and bottom to MARIS format."
    def __call__(self, tfm: Transformer):
        "Iterate through all DataFrames in the transformer object and remap sediment slice top and bottom."
        tfm.dfs['SEDIMENT']['TOP'] = tfm.dfs['SEDIMENT']['UPPSLI']
        tfm.dfs['SEDIMENT']['BOTTOM'] = tfm.dfs['SEDIMENT']['LOWSLI']

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[RemapSedSliceTopBottomCB()])
tfm()
print(tfm.dfs['SEDIMENT'][['TOP','BOTTOM']].head())

    TOP  BOTTOM
0  15.0    20.0
1  20.0    27.0
2   0.0     2.0
3   2.0     4.0
4   4.0     6.0

## Add dry weight, wet weight and percentage weight

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: Entries for the ``BASIS`` value of the ``BIOTA`` dataset report a value of `F` which is not consistent with the HELCOM description provided in the metadata. The `GUIDELINES FOR MONITORING OF RADIOACTIVE SUBSTANCES` was obtained from [here](https://metadata.helcom.fi/geonetwork/srv/fin/catalog.search#/metadata/2fdd2d46-0329-40e3-bf96-cb08c7206a24).

:::

Lets take a look at the BIOTA BASIS values:

In [ ]:
dfs['BIOTA']['BASIS'].unique()

array(['W', nan, 'D', 'F'], dtype=object)

Number of entries for each ``BASIS`` value:

In [ ]:
dfs['BIOTA']['BASIS'].value_counts()

BASIS
W    11167
D     3634
F       25
Name: count, dtype: int64

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: Some entries for ``DW%`` (Dry weight as percentage (%) of fresh weight) are much higher than 100%. Additionally, ``DW%`` is repoted as 0% in some cases.

:::

For BIOTA, the number of entries for ``DW%`` higher than 100%:

In [ ]:
dfs['BIOTA']['DW%'][dfs['BIOTA']['DW%'] > 100].count()

20

For BIOTA, the number of entries for ``DW%`` equal to 0%:

In [ ]:
dfs['BIOTA']['DW%'][dfs['BIOTA']['DW%'] == 0].count()

6

For SEDIMENT, the number of entries for ``DW%`` higher than 100%:

In [ ]:
dfs['SEDIMENT']['DW%'][dfs['SEDIMENT']['DW%'] > 100].count()

621

For SEDIMENT, the number of entries for ``DW%`` equal to 0%:

In [ ]:
dfs['SEDIMENT']['DW%'][dfs['SEDIMENT']['DW%'] == 0].count()

302

Lets take a look at the MARIS description of the `percentwt`, `drywt` and `wetwt` variables:

- `percentwt`: Dry weight as ratio of fresh weight, expressed as a decimal .
- `drywt`: Dry weight in grams.
- `wetwt`: Fresh weight in grams.

HELCOM Description:

**Sediment:**
1. DW%: DRY WEIGHT AS PERCENTAGE (%) OF FRESH WEIGHT.
2. VALUE_Bq/kg: Measured radioactivity concentration in Bq/kg dry wt. in scientific format(e.g. 123 = 1.23E+02, 0.076 = 7.6E-02).

**Biota:**
1. WEIGHT: Average weight (in g) of specimen in the sample
2. DW%: DRY WEIGHT AS PERCENTAGE (%) OF FRESH WEIGHT.
3. BASIS: Code for the basis the value is reported;
        - W=WET WEIGHT
        - D=DRY WEIGHT
        - A= ASH WEIGHT

Lets take a look at the HELCOM dataset, the weight of the sample is not reported for ``SEDIMENT``. However, the percentage dry weight is reported as `DW%`.

In [ ]:
dfs['SEDIMENT'].columns

Index(['KEY', 'NUCLIDE', 'METHOD', '< VALUE_Bq/kg', 'VALUE_Bq/kg', 'ERROR%_kg',
       '< VALUE_Bq/m²', 'VALUE_Bq/m²', 'ERROR%_m²', 'DATE_OF_ENTRY_x',
       'COUNTRY', 'LABORATORY', 'SEQUENCE', 'DATE', 'YEAR', 'MONTH', 'DAY',
       'STATION', 'LATITUDE (ddmmmm)', 'LATITUDE (dddddd)',
       'LONGITUDE (ddmmmm)', 'LONGITUDE (dddddd)', 'DEVICE', 'TDEPTH',
       'UPPSLI', 'LOWSLI', 'AREA', 'SEDI', 'OXIC', 'DW%', 'LOI%',
       'MORS_SUBBASIN', 'HELCOM_SUBBASIN', 'SUM_LINK', 'DATE_OF_ENTRY_y'],
      dtype='object')

The BIOTA dataset reports the weight of the sample as `WEIGHT` and the percentage dry weight as `DW%`. The `BASIS` column describes the basis the value reported

In [ ]:
dfs['BIOTA'].columns

Index(['KEY', 'NUCLIDE', 'METHOD', '< VALUE_Bq/kg', 'VALUE_Bq/kg', 'BASIS',
       'ERROR%', 'NUMBER', 'DATE_OF_ENTRY_x', 'COUNTRY', 'LABORATORY',
       'SEQUENCE', 'DATE', 'YEAR', 'MONTH', 'DAY', 'STATION',
       'LATITUDE ddmmmm', 'LATITUDE dddddd', 'LONGITUDE ddmmmm',
       'LONGITUDE dddddd', 'SDEPTH', 'RUBIN', 'BIOTATYPE', 'TISSUE', 'NO',
       'LENGTH', 'WEIGHT', 'DW%', 'LOI%', 'MORS_SUBBASIN', 'HELCOM_SUBBASIN',
       'DATE_OF_ENTRY_y'],
      dtype='object')

In [ ]:
#| exports
class LookupDryWetPercentWeightCB(Callback):
    "Lookup dry-wet ratio and format for MARIS."
    def __call__(self, tfm: Transformer):
        "Iterate through all DataFrames in the transformer object and apply the dry-wet ratio lookup."
        for grp in tfm.dfs.keys():
            if 'DW%' in tfm.dfs[grp].columns:
                self._apply_dry_wet_ratio(tfm.dfs[grp])
            if 'WEIGHT' in tfm.dfs[grp].columns and 'BASIS' in tfm.dfs[grp].columns:
                self._correct_basis(tfm.dfs[grp])
                self._apply_weight(tfm.dfs[grp])

    def _apply_dry_wet_ratio(self, df: pd.DataFrame) -> None:
        "Apply dry-wet ratio conversion and formatting to the given DataFrame."
        df['PERCENTWT'] = df['DW%'] / 100  # Convert percentage to fraction
        df.loc[df['PERCENTWT'] == 0, 'PERCENTWT'] = np.NaN  # Convert 0% to NaN

    def _correct_basis(self, df: pd.DataFrame) -> None:
        "Correct BASIS values. Assuming F = Fresh weight, so F = W"
        df.loc[df['BASIS'] == 'F', 'BASIS'] = 'W'

    def _apply_weight(self, df: pd.DataFrame) -> None:
        "Apply weight conversion and formatting to the given DataFrame."
        dry_condition = df['BASIS'] == 'D'
        wet_condition = df['BASIS'] == 'W'
        
        df.loc[dry_condition, 'DRYWT'] = df['WEIGHT']
        df.loc[dry_condition & df['PERCENTWT'].notna(), 'WETWT'] = df['WEIGHT'] / df['PERCENTWT']
        
        df.loc[wet_condition, 'WETWT'] = df['WEIGHT']
        df.loc[wet_condition & df['PERCENTWT'].notna(), 'DRYWT'] = df['WEIGHT'] * df['PERCENTWT']

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
                            LookupDryWetPercentWeightCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])

tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')
print('BIOTA:', tfm.dfs['BIOTA'][['PERCENTWT','DRYWT','WETWT']].head())
print('SEDIMENT:', tfm.dfs['SEDIMENT']['PERCENTWT'].head())

                           BIOTA  SEAWATER  SEDIMENT
Number of rows in dfs      14893     20318     37347
Number of rows in tfm.dfs  14893     20318     37347
Number of rows removed         0         0         0

BIOTA:    PERCENTWT      DRYWT  WETWT
0    0.18453  174.93444  948.0
1    0.18453  174.93444  948.0
2    0.18453  174.93444  948.0
3    0.18453  174.93444  948.0
4    0.18458  177.93512  964.0
SEDIMENT: 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: PERCENTWT, dtype: float64

Note that the dry weight is greater than the wet weight for some entries in the BIOTA dataset due to the DW% being greater than 100%, see above. Lets take a look at the number of entries where this is the case:

In [ ]:
tfm.dfs['BIOTA'][['DRYWT','WETWT']][tfm.dfs['BIOTA']['DRYWT'] > tfm.dfs['BIOTA']['WETWT']].count()

DRYWT    20
WETWT    20
dtype: int64

## Standardize Coordinates

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: Column names for geographical coordinates are inconsistent across sample types (biota, sediment, seawater). Sometimes using parentheses, sometimes not.

:::

In [ ]:
#| eval: false
dfs = load_data(fname_in)
for grp in dfs.keys():
    print(f'{grp}: {[col for col in dfs[grp].columns if "LON" in col or "LAT" in col]}')

BIOTA: ['LATITUDE ddmmmm', 'LATITUDE dddddd', 'LONGITUDE ddmmmm', 'LONGITUDE dddddd']
SEAWATER: ['LATITUDE (ddmmmm)', 'LATITUDE (dddddd)', 'LONGITUDE (ddmmmm)', 'LONGITUDE (dddddd)']
SEDIMENT: ['LATITUDE (ddmmmm)', 'LATITUDE (dddddd)', 'LONGITUDE (ddmmmm)', 'LONGITUDE (dddddd)']

:::{.callout-tip}

**FEEDBACK TO DATA PROVIDER**: HELCOM SEAWATER datase includes values of 0 for both latitude and longitude. 

:::

In [ ]:
#| eval: false
def get_invalid_coordinate_df(df, lat_cols, lon_cols):
    invalid_dfs = {}
    
    for lat_col, lon_col in zip(lat_cols, lon_cols):
        # Filter rows where latitude or longitude is NaN or zero
        invalid_df = df[(df[lat_col].isna() | df[lon_col].isna()) | 
                        (df[lat_col] == 0) | (df[lon_col] == 0)]
        
        # Store the invalid DataFrame in the dictionary
        if not invalid_df.empty:
            invalid_dfs[f'{lat_col}_{lon_col}'] = invalid_df

    return invalid_dfs

def print_invalid_coordinates(invalid_dfs, dataset_name):
    for key, invalid_df in invalid_dfs.items():
        print(f'{dataset_name} invalid coordinates for {key}:')
        print(invalid_df.head())

# Define the columns for each dataset
biota_lat_cols = ['LATITUDE ddmmmm', 'LATITUDE dddddd']
biota_lon_cols = ['LONGITUDE ddmmmm', 'LONGITUDE dddddd']

seawater_lat_cols = ['LATITUDE (ddmmmm)', 'LATITUDE (dddddd)']
seawater_lon_cols = ['LONGITUDE (ddmmmm)', 'LONGITUDE (dddddd)']

sediment_lat_cols = ['LATITUDE (ddmmmm)', 'LATITUDE (dddddd)']
sediment_lon_cols = ['LONGITUDE (ddmmmm)', 'LONGITUDE (dddddd)']

# Get invalid coordinate DataFrames for each dataset
biota_invalid_dfs = get_invalid_coordinate_df(dfs['BIOTA'], biota_lat_cols, biota_lon_cols)
seawater_invalid_dfs = get_invalid_coordinate_df(dfs['SEAWATER'], seawater_lat_cols, seawater_lon_cols)
sediment_invalid_dfs = get_invalid_coordinate_df(dfs['SEDIMENT'], sediment_lat_cols, sediment_lon_cols)

# Print only non-empty invalid DataFrames
print_invalid_coordinates(biota_invalid_dfs, 'BIOTA')
print_invalid_coordinates(seawater_invalid_dfs, 'SEAWATER')
print_invalid_coordinates(sediment_invalid_dfs, 'SEDIMENT')

SEAWATER invalid coordinates for LATITUDE (dddddd)_LONGITUDE (dddddd):
                KEY NUCLIDE  METHOD < VALUE_Bq/m³  VALUE_Bq/m³  ERROR%_m³  \
19238  WSTUK2015001      H3  STUK04             <        920.0        0.0
19239  WSTUK2015002      H3  STUK04             <        920.0        0.0
19240  WSTUK2015003      H3  STUK04             <        920.0        0.0
19241  WSTUK2015004      H3  STUK04             <        920.0        0.0
19242  WSTUK2015005      H3  STUK04             <        920.0        0.0

         DATE_OF_ENTRY_x  COUNTRY LABORATORY  SEQUENCE  ...  \
19238  12/07/16 00:00:00       34       STUK   2015001  ...
19239  12/07/16 00:00:00       34       STUK   2015002  ...
19240  12/07/16 00:00:00       34       STUK   2015003  ...
19241  12/07/16 00:00:00       34       STUK   2015004  ...
19242  12/07/16 00:00:00       34       STUK   2015005  ...

      LONGITUDE (ddmmmm)  LONGITUDE (dddddd)  TDEPTH  SDEPTH SALIN  TTEMP  \
19238            23.3761                 0.0    81.0     1.0   NaN    NaN
19239            23.3761                 0.0    81.0    80.0   NaN    NaN
19240            26.2080                 0.0    69.0     1.0   NaN    NaN
19241            26.2080                 0.0    69.0    68.0   NaN    NaN
19242            21.0477                 0.0   173.0     1.0   NaN    NaN

       FILT  MORS_SUBBASIN  HELCOM_SUBBASIN    DATE_OF_ENTRY_y
19238     N             11               11  12/07/16 00:00:00
19239     N             11               11  12/07/16 00:00:00
19240     N             11               11  12/07/16 00:00:00
19241     N             11               11  12/07/16 00:00:00
19242     N              3                3  12/07/16 00:00:00

[5 rows x 27 columns]
SEDIMENT invalid coordinates for LATITUDE (ddmmmm)_LONGITUDE (ddmmmm):
                KEY NUCLIDE  METHOD < VALUE_Bq/kg  VALUE_Bq/kg  ERROR%_kg  \
35783  SDHIG2016236   CS137  DHIG03           NaN       8.2952      2.351

      < VALUE_Bq/m²  VALUE_Bq/m²  ERROR%_m²    DATE_OF_ENTRY_x  ...  LOWSLI  \
35783           NaN   237.500899        NaN  05/13/19 00:00:00  ...     NaN

      AREA  SEDI OXIC  DW%  LOI%  MORS_SUBBASIN HELCOM_SUBBASIN  SUM_LINK  \
35783  NaN   NaN  NaN  NaN   NaN            NaN             NaN       NaN

       DATE_OF_ENTRY_y
35783              NaN

[1 rows x 35 columns]
SEDIMENT invalid coordinates for LATITUDE (dddddd)_LONGITUDE (dddddd):
                KEY NUCLIDE  METHOD < VALUE_Bq/kg  VALUE_Bq/kg  ERROR%_kg  \
35783  SDHIG2016236   CS137  DHIG03           NaN       8.2952      2.351

      < VALUE_Bq/m²  VALUE_Bq/m²  ERROR%_m²    DATE_OF_ENTRY_x  ...  LOWSLI  \
35783           NaN   237.500899        NaN  05/13/19 00:00:00  ...     NaN

      AREA  SEDI OXIC  DW%  LOI%  MORS_SUBBASIN HELCOM_SUBBASIN  SUM_LINK  \
35783  NaN   NaN  NaN  NaN   NaN            NaN             NaN       NaN

       DATE_OF_ENTRY_y
35783              NaN

[1 rows x 35 columns]

In [ ]:
#| exports
class ParseCoordinates(Callback):
    """
    Get geographical coordinates from columns expressed in degrees decimal format 
    or from columns in degrees/minutes decimal format where degrees decimal format is missing.
    """
    def __init__(self, 
                 fn_convert_cor: Callable # Function that converts coordinates from degree-minute to decimal degree format
                 ):
        self.fn_convert_cor = fn_convert_cor

    def __call__(self, tfm:Transformer):
        for df in tfm.dfs.values():
            self._format_coordinates(df)

    def _format_coordinates(self, df:pd.DataFrame) -> None:
        coord_cols = self._get_coord_columns(df.columns)
        
        for coord in ['lat', 'lon']:
            decimal_col, minute_col = coord_cols[f'{coord}_d'], coord_cols[f'{coord}_m']
            
            condition = df[decimal_col].isna() | (df[decimal_col] == 0)
            df[coord.upper()] = np.where(condition,
                                 df[minute_col].apply(self._safe_convert),
                                 df[decimal_col])
        
        df.dropna(subset=['LAT', 'LON'], inplace=True)

    def _get_coord_columns(self, columns) -> dict:
        return {
            'lon_d': self._find_coord_column(columns, 'LON', 'dddddd'),
            'lat_d': self._find_coord_column(columns, 'LAT', 'dddddd'),
            'lon_m': self._find_coord_column(columns, 'LON', 'ddmmmm'),
            'lat_m': self._find_coord_column(columns, 'LAT', 'ddmmmm')
        }

    def _find_coord_column(self, columns, coord_type, coord_format) -> str:
        pattern = re.compile(f'{coord_type}.*{coord_format}', re.IGNORECASE)
        matching_columns = [col for col in columns if pattern.search(col)]
        return matching_columns[0] if matching_columns else None

    def _safe_convert(self, value) -> str:
        if pd.isna(value):
            return value
        try:
            return self.fn_convert_cor(value)
        except Exception as e:
            print(f"Error converting value {value}: {e}")
            return value

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[                    
                            ParseCoordinates(ddmm_to_dd),
                            CompareDfsAndTfmCB(dfs)
                            ])
tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')
print(tfm.dfs['BIOTA'][['LAT','LON']])

                           BIOTA  SEAWATER  SEDIMENT
Number of rows in dfs      14893     20318     37347
Number of rows in tfm.dfs  14893     20318     37346
Number of rows removed         0         0         1

             LAT        LON
0      54.283333  12.316667
1      54.283333  12.316667
2      54.283333  12.316667
3      54.283333  12.316667
4      54.283333  12.316667
...          ...        ...
14888  54.583300  19.000000
14889  54.333300  15.500000
14890  54.333300  15.500000
14891  54.333300  15.500000
14892  54.363900  19.433300

[14893 rows x 2 columns]

Sanitize coordinates drops a row when both longitude & latitude equal 0 or data contains unrealistic longitude & latitude values. Converts longitude & latitude `,` separator to `.` separator."

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
                            ParseCoordinates(ddmm_to_dd),
                            SanitizeLonLatCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])

tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')
print(tfm.dfs['BIOTA'][['LAT','LON']])

                           BIOTA  SEAWATER  SEDIMENT
Number of rows in dfs      14893     20318     37347
Number of rows in tfm.dfs  14893     20318     37346
Number of rows removed         0         0         1

             LAT        LON
0      54.283333  12.316667
1      54.283333  12.316667
2      54.283333  12.316667
3      54.283333  12.316667
4      54.283333  12.316667
...          ...        ...
14888  54.583300  19.000000
14889  54.333300  15.500000
14890  54.333300  15.500000
14891  54.333300  15.500000
14892  54.363900  19.433300

[14893 rows x 2 columns]

## Review all callbacks

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
                            LowerStripNameCB(col_src='NUCLIDE'),
                            RemapNuclideNameCB(lut_nuclides),
                            ParseTimeCB(),
                            EncodeTimeCB(),
                            SanitizeValue(coi_val),       
                            NormalizeUncCB(),
                            RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA'),
                            RemapSedimentCB(fn_lut=lut_sediments, replace_lut=sed_replace_lut),
                            RemapUnitCB(),
                            RemapDetectionLimitCB(coi_dl, lut_dl),
                            RemapFiltCB(lut_filtered),
                            RemapSedSliceTopBottomCB(),
                            LookupDryWetPercentWeightCB(),
                            ParseCoordinates(ddmm_to_dd),
                            SanitizeLonLatCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])

tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')

Warning: 1 missing time value(s) in SEDIMENT

TypeError: unhashable type: 'Match'

In [ ]:
grp = 'BIOTA'
print(f'{grp} columns:')
print(tfm.dfs[grp].columns)
print(tfm.dfs[grp].NUCLIDE.unique())

BIOTA columns:
Index(['KEY', 'NUCLIDE', 'METHOD', '< VALUE_Bq/kg', 'VALUE_Bq/kg', 'BASIS',
       'ERROR%', 'NUMBER', 'DATE_OF_ENTRY_x', 'COUNTRY', 'LABORATORY',
       'SEQUENCE', 'DATE', 'YEAR', 'MONTH', 'DAY', 'STATION',
       'LATITUDE ddmmmm', 'LATITUDE dddddd', 'LONGITUDE ddmmmm',
       'LONGITUDE dddddd', 'SDEPTH', 'RUBIN', 'BIOTATYPE', 'TISSUE', 'NO',
       'LENGTH', 'WEIGHT', 'DW%', 'LOI%', 'MORS_SUBBASIN', 'HELCOM_SUBBASIN',
       'DATE_OF_ENTRY_y', 'TIME', 'VALUE', 'UNCERTAINTY', 'SPECIES',
       'BODY_PART', 'BIO_GROUP', 'UNIT', 'DL', 'PERCENTWT', 'DRYWT', 'WETWT',
       'LAT', 'LON'],
      dtype='object')
[31  4  9 33 12 21  6  8 22 10 24 77 17  2 37 41 47 23 11 13 25 16 14 36
 35 29 34 67 63 46 43 42 94 55 50 40 53 87 92 86 15  7 93 85 91 90 51 59
 76 72 54 57]

CHECK IF THE NUCLIDE IS TO BE INCLUDED AS VALUE OR ID?

For instance, lets inspect dropped rows for SEAWATER:

In [ ]:
print('Number of dropped rows:', tfm.dfs_dropped['SEAWATER'].shape[0])
print('Example of dropped rows:')
tfm.dfs_dropped['SEAWATER'].head(5)

Number of dropped rows: 76
Example of dropped rows:

,KEY,NUCLIDE,METHOD,< VALUE_Bq/m³,VALUE_Bq/m³,ERROR%_m³,DATE_OF_ENTRY_x,COUNTRY,LABORATORY,SEQUENCE,...,LONGITUDE (ddmmmm),LONGITUDE (dddddd),TDEPTH,SDEPTH,SALIN,TTEMP,FILT,MORS_SUBBASIN,HELCOM_SUBBASIN,DATE_OF_ENTRY_y
13439,WRISO2001025,CS137,RISO02,NaN,NaN,10.0,NaN,26,RISO,2001025,...,10.500,10.833333,22.0,20.0,0.00,NaN,N,5,5,NaN
14017,WLEPA2002001,CS134,LEPA02,<,NaN,NaN,NaN,93,LEPA,2002001,...,21.030,21.050000,16.0,0.0,3.77,14.40,N,4,9,NaN
14020,WLEPA2002002,CS134,LEPA02,<,NaN,NaN,NaN,93,LEPA,2002004,...,20.574,20.956667,14.0,0.0,6.57,11.95,N,4,9,NaN
14023,WLEPA2002003,CS134,LEPA02,<,NaN,NaN,NaN,93,LEPA,2002007,...,19.236,19.393333,73.0,0.0,7.00,9.19,N,4,9,NaN
14026,WLEPA2002004,CS134,LEPA02,<,NaN,NaN,NaN,93,LEPA,2002010,...,20.205,20.341700,47.0,0.0,7.06,8.65,N,4,9,NaN

## Rename columns of interest for NetCDF (REMOVE)

> Column names are standardized to MARIS NetCDF format (i.e. PEP8 ).

In [ ]:
'''
#| exports
class SelectAndRenameColumnCB(Callback):
    """Select and rename columns in a DataFrame based on NC_VARS."""
    def __init__(self, 
                 renaming_rules: dict, # A dictionary of renaming rules
                 verbose: bool=False # Whether to print out renaming rules that were not applied
                 ):
        self.renaming_rules = renaming_rules
        self.verbose = verbose

    def __call__(self, tfm: Transformer):
        """Apply column selection and renaming to DataFrames in the transformer, and identify unused rules."""
        for group in tfm.dfs.keys():
            df = tfm.dfs[group]
            df, not_found_keys = self._apply_renaming(df, self.renaming_rules)
            tfm.dfs[group] = df
            
            # Print any renaming rules that were not used
            if not_found_keys and self.verbose:
                print(f"\nGroup '{group}' has the following renaming rules not applied:")
                for old_col in not_found_keys:
                    print(f"Key '{old_col}' from renaming rules was not found in the DataFrame.")

    def _apply_renaming(self, 
                        df: pd.DataFrame, # DataFrame to modify
                        rename_rules: dict # Renaming rules
                        ) -> tuple: # (Renamed and filtered df, Column names from renaming rules that were not found in the DataFrame)
        """
        Select columns based on renaming rules and apply renaming, only for existing columns
        while maintaining the order of the dictionary columns.
        """
        # Filter columns to only those in NC_VARS
        existing_columns = set(df.columns)
        valid_rules = {old_col: new_col for old_col, new_col in rename_rules.items() if old_col in existing_columns}

        # Keep only the columns that are in the renaming rules
        df = df[list(valid_rules.keys())]

        # Apply renaming
        df.rename(columns=valid_rules, inplace=True)

        # Determine which keys were not found
        not_found_keys = set(rename_rules.keys()) - existing_columns
        return df, not_found_keys
'''

'\n#| exports\nclass SelectAndRenameColumnCB(Callback):\n    """Select and rename columns in a DataFrame based on NC_VARS."""\n    def __init__(self, \n                 renaming_rules: dict, # A dictionary of renaming rules\n                 verbose: bool=False # Whether to print out renaming rules that were not applied\n                 ):\n        self.renaming_rules = renaming_rules\n        self.verbose = verbose\n\n    def __call__(self, tfm: Transformer):\n        """Apply column selection and renaming to DataFrames in the transformer, and identify unused rules."""\n        for group in tfm.dfs.keys():\n            df = tfm.dfs[group]\n            df, not_found_keys = self._apply_renaming(df, self.renaming_rules)\n            tfm.dfs[group] = df\n            \n            # Print any renaming rules that were not used\n            if not_found_keys and self.verbose:\n                print(f"\nGroup \'{group}\' has the following renaming rules not applied:")\n                for old_col in not_found_keys:\n                    print(f"Key \'{old_col}\' from renaming rules was not found in the DataFrame.")\n\n    def _apply_renaming(self, \n                        df: pd.DataFrame, # DataFrame to modify\n                        rename_rules: dict # Renaming rules\n                        ) -> tuple: # (Renamed and filtered df, Column names from renaming rules that were not found in the DataFrame)\n        """\n        Select columns based on renaming rules and apply renaming, only for existing columns\n        while maintaining the order of the dictionary columns.\n        """\n        # Filter columns to only those in NC_VARS\n        existing_columns = set(df.columns)\n        valid_rules = {old_col: new_col for old_col, new_col in rename_rules.items() if old_col in existing_columns}\n\n        # Keep only the columns that are in the renaming rules\n        df = df[list(valid_rules.keys())]\n\n        # Apply renaming\n        df.rename(columns=valid_rules, inplace=True)\n\n        # Determine which keys were not found\n        not_found_keys = set(rename_rules.keys()) - existing_columns\n        return df, not_found_keys\n'

In [ ]:
'''
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
                            LowerStripNameCB(col_src='NUCLIDE'),
                            RemapNuclideNameCB(lut_nuclides),
                            ParseTimeCB(),
                            EncodeTimeCB(),
                            SanitizeValue(coi_val),       
                            NormalizeUncCB(),
                            RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA'),
                            RemapSedimentCB(fn_lut=lut_sediments, replace_lut=sed_replace_lut),
                            RemapUnitCB(),
                            RemapDetectionLimitCB(coi_dl, lut_dl),
                            RemapFiltCB(lut_filtered),
                            RemapSedSliceTopBottomCB(),
                            LookupDryWetPercentWeightCB(),
                            ParseCoordinates(ddmm_to_dd),
                            SanitizeLonLatCB(),
                            CompareDfsAndTfmCB(dfs),
                            #SelectAndRenameColumnCB(NC_VARS)
                            ])

tfm()
for grp in tfm.dfs.keys():
    print(f'{grp} columns:')
    print(tfm.dfs[grp].columns)
'''

"\n#| eval: false\ndfs = load_data(fname_in)\ntfm = Transformer(dfs, cbs=[\n                            LowerStripNameCB(col_src='NUCLIDE'),\n                            RemapNuclideNameCB(lut_nuclides),\n                            ParseTimeCB(),\n                            EncodeTimeCB(),\n                            SanitizeValue(coi_val),       \n                            NormalizeUncCB(),\n                            RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),\n                            RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),\n                            RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA'),\n                            RemapSedimentCB(fn_lut=lut_sediments, replace_lut=sed_replace_lut),\n                            RemapUnitCB(),\n                            RemapDetectionLimitCB(coi_dl, lut_dl),\n                            RemapFiltCB(lut_filtered),\n                            RemapSedSliceTopBottomCB(),\n                            LookupDryWetPercentWeightCB(),\n                            ParseCoordinates(ddmm_to_dd),\n                            SanitizeLonLatCB(),\n                            CompareDfsAndTfmCB(dfs),\n                            #SelectAndRenameColumnCB(NC_VARS)\n                            ])\n\ntfm()\nfor grp in tfm.dfs.keys():\n    print(f'{grp} columns:')\n    print(tfm.dfs[grp].columns)\n"

In [ ]:
'''
#| eval: false
tfm.dfs['SEAWATER'].head()
'''

"\n#| eval: false\ntfm.dfs['SEAWATER'].head()\n"

In [ ]:
'''
#| eval: false
tfm.dfs['BIOTA'].head()
'''

"\n#| eval: false\ntfm.dfs['BIOTA'].head()\n"

In [ ]:
'''
#| eval: false
tfm.dfs['SEDIMENT'].head()
'''

"\n#| eval: false\ntfm.dfs['SEDIMENT'].head()\n"

## NetCDF encoder

### Example change logs

In [ ]:
#| eval: false
dfs = load_data(fname_in)

tfm = Transformer(dfs, cbs=[
                            LowerStripNameCB(col_src='NUCLIDE'),
                            RemapNuclideNameCB(lut_nuclides),
                            ParseTimeCB(),
                            EncodeTimeCB(),
                            SanitizeValue(coi_val),       
                            NormalizeUncCB(),
                            RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA'),
                            RemapSedimentCB(fn_lut=lut_sediments, replace_lut=sed_replace_lut),
                            RemapUnitCB(),
                            RemapDetectionLimitCB(coi_dl, lut_dl),
                            RemapFiltCB(lut_filtered),
                            RemapSedSliceTopBottomCB(),
                            LookupDryWetPercentWeightCB(),
                            ParseCoordinates(ddmm_to_dd),
                            SanitizeLonLatCB(),
                            CompareDfsAndTfmCB(dfs)
                            ])

tfm()
tfm.logs

Warning: 1 missing time value(s) in SEDIMENT
Unmatched SEDI: -99.0

["Convert values from 'NUCLIDE' to lowercase, strip spaces, and store in 'None'.",
 'Remap data provider nuclide names to MARIS nuclide names.',
 'Parse and standardize time information in the dataframe.',
 'Encode time as seconds since epoch.',
 'Sanitize value/measurement by removing blank entries and populating `value` column.',
 'Convert from relative error % to standard uncertainty.',
 "Remap values from 'RUBIN' to 'SPECIES' for groups: B, I, O, T, A.",
 "Remap values from 'TISSUE' to 'BODY_PART' for groups: B, I, O, T, A.",
 "Remap values from 'SPECIES' to 'BIO_GROUP' for groups: B, I, O, T, A.",
 'Update sediment id based on MARIS species LUT (dbo_sedtype.xlsx).',
 'Set the `unit` id column in the DataFrames based on a lookup table.',
 'Remap value type to MARIS format.',
 'Lookup FILT value in dataframe using the lookup table.',
 'Remap Sediment slice top and bottom to MARIS format.',
 'Lookup dry-wet ratio and format for MARIS.',
 '\n    Get geographical coordinates from columns expressed in degrees decimal format \n    or from columns in degrees/minutes decimal format where degrees decimal format is missing.\n    ',
 'Drop rows with invalid longitude & latitude values. Convert `,` separator to `.` separator.',
 'Create a dataframe of dropped data. Data included in the `dfs` not in the `tfm`.']

### Feed global attributes

In [ ]:
#| export
kw = ['oceanography', 'Earth Science > Oceans > Ocean Chemistry> Radionuclides',
      'Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure',
      'Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments',
      'Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes',
      'Earth Science > Oceans > Water Quality > Ocean Contaminants',
      'Earth Science > Biological Classification > Animals/Vertebrates > Fish',
      'Earth Science > Biosphere > Ecosystems > Marine Ecosystems',
      'Earth Science > Biological Classification > Animals/Invertebrates > Mollusks',
      'Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans',
      'Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)']

In [ ]:
#| exports
def get_attrs(
    tfm: Transformer, # Transformer object
    zotero_key: str, # Zotero dataset record key
    kw: list = kw # List of keywords
    ) -> dict: # Global attributes
    "Retrieve all global attributes."
    return GlobAttrsFeeder(tfm.dfs, cbs=[
        BboxCB(),
        DepthRangeCB(),
        TimeRangeCB(),
        ZoteroCB(zotero_key, cfg=cfg()),
        KeyValuePairCB('keywords', ', '.join(kw)),
        KeyValuePairCB('publisher_postprocess_logs', ', '.join(tfm.logs))
        ])()

In [ ]:
#| eval: false
get_attrs(tfm, zotero_key=zotero_key, kw=kw)

{'geospatial_lat_min': '31.17',
 'geospatial_lat_max': '65.75',
 'geospatial_lon_min': '9.6333',
 'geospatial_lon_max': '53.5',
 'geospatial_bounds': 'POLYGON ((9.6333 53.5, 31.17 53.5, 31.17 65.75, 9.6333 65.75, 9.6333 53.5))',
 'time_coverage_start': '1984-01-10T00:00:00',
 'time_coverage_end': '2018-12-14T00:00:00',
 'title': 'Environmental database - Helsinki Commission Monitoring of Radioactive Substances',
 'summary': 'MORS Environment database has been used to collate data resulting from monitoring of environmental radioactivity in the Baltic Sea based on HELCOM Recommendation 26/3.\n\nThe database is structured according to HELCOM Guidelines on Monitoring of Radioactive Substances (https://www.helcom.fi/wp-content/uploads/2019/08/Guidelines-for-Monitoring-of-Radioactive-Substances.pdf), which specifies reporting format, database structure, data types and obligatory parameters used for reporting data under Recommendation 26/3.\n\nThe database is updated and quality assured annually by HELCOM MORS EG.',
 'creator_name': '[{"creatorType": "author", "name": "HELCOM MORS"}]',
 'keywords': 'oceanography, Earth Science > Oceans > Ocean Chemistry> Radionuclides, Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure, Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments, Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes, Earth Science > Oceans > Water Quality > Ocean Contaminants, Earth Science > Biological Classification > Animals/Vertebrates > Fish, Earth Science > Biosphere > Ecosystems > Marine Ecosystems, Earth Science > Biological Classification > Animals/Invertebrates > Mollusks, Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans, Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)',
 'publisher_postprocess_logs': "Convert values from 'NUCLIDE' to lowercase, strip spaces, and store in 'None'., Remap data provider nuclide names to MARIS nuclide names., Parse and standardize time information in the dataframe., Encode time as seconds since epoch., Sanitize value/measurement by removing blank entries and populating `value` column., Convert from relative error % to standard uncertainty., Remap values from 'RUBIN' to 'SPECIES' for groups: B, I, O, T, A., Remap values from 'TISSUE' to 'BODY_PART' for groups: B, I, O, T, A., Remap values from 'SPECIES' to 'BIO_GROUP' for groups: B, I, O, T, A., Update sediment id based on MARIS species LUT (dbo_sedtype.xlsx)., Set the `unit` id column in the DataFrames based on a lookup table., Remap value type to MARIS format., Lookup FILT value in dataframe using the lookup table., Remap Sediment slice top and bottom to MARIS format., Lookup dry-wet ratio and format for MARIS., \n    Get geographical coordinates from columns expressed in degrees decimal format \n    or from columns in degrees/minutes decimal format where degrees decimal format is missing.\n    , Drop rows with invalid longitude & latitude values. Convert `,` separator to `.` separator., Create a dataframe of dropped data. Data included in the `dfs` not in the `tfm`."}

:::{.callout-tip}

**FEEDBACK FOR NEXT VERSION**: I have removed enums_xtra as it no longer utilized in the NetCDF encoder. Please confirm if this change is appropriate? 
Please can we disucss the need for enums_xtra? Is the plan to keep it? To simplify, can we pass NC_DTYPES and get the unique values for the DTYPES from all tfm.dfs? Then filter the enums based on the unique values? 

:::

In [ ]:
'''
#| exports
def enums_xtra(
    tfm: Transformer, # Transformer object
    vars: list # List of variables to extract from the transformer. 
    # The list of variales to extract are defined by the NC_VARS dictionary. 
    ):
    "Retrieve a subset of the lengthy enum as `species_t` for instance."
    enums = Enums(lut_src_dir=lut_path())
    xtras = {}
    
    
    for var in vars:
        print(var)
        unique_vals = tfm.unique(var)
        # update this as some vars do not enclude enums. Check the config file. 
        print(tfm.unique(var))
        if unique_vals.any():
            xtras[f'{var}_t'] = enums.filter(f'{var}_t', unique_vals)
    return xtras
    '''

'\n#| exports\ndef enums_xtra(\n    tfm: Transformer, # Transformer object\n    vars: list # List of variables to extract from the transformer. \n    # The list of variales to extract are defined by the NC_VARS dictionary. \n    ):\n    "Retrieve a subset of the lengthy enum as `species_t` for instance."\n    enums = Enums(lut_src_dir=lut_path())\n    xtras = {}\n    \n    \n    for var in vars:\n        print(var)\n        unique_vals = tfm.unique(var)\n        # update this as some vars do not enclude enums. Check the config file. \n        print(tfm.unique(var))\n        if unique_vals.any():\n            xtras[f\'{var}_t\'] = enums.filter(f\'{var}_t\', unique_vals)\n    return xtras\n    '

How are the enums attahced is it at the group level or at the primary level? Enums are created at the primary level.

### <a name="encoding-netcdf"></a>Encoding NetCDF

In [ ]:
#| exports
def encode(
    fname_in: str, # Input file name
    fname_out_nc: str, # Output file name
    **kwargs # Additional arguments
    ) -> None:
    "Encode data to NetCDF."
    dfs = load_data(fname_in)
    tfm = Transformer(dfs, cbs=[
                            LowerStripNameCB(col_src='NUCLIDE'),
                            RemapNuclideNameCB(lut_nuclides),
                            ParseTimeCB(),
                            EncodeTimeCB(),
                            SanitizeValue(coi_val),       
                            NormalizeUncCB(),
                            RemapCB(fn_lut=lut_biota, col_remap='SPECIES', col_src='RUBIN', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_tissues, col_remap='BODY_PART', col_src='TISSUE', dest_grps='BIOTA'),
                            RemapCB(fn_lut=lut_biogroup, col_remap='BIO_GROUP', col_src='SPECIES', dest_grps='BIOTA'),
                            RemapSedimentCB(fn_lut=lut_sediments, replace_lut=sed_replace_lut),
                            RemapUnitCB(),
                            RemapDetectionLimitCB(coi_dl, lut_dl),
                            RemapFiltCB(lut_filtered),
                            RemapSedSliceTopBottomCB(),
                            LookupDryWetPercentWeightCB(),
                            ParseCoordinates(ddmm_to_dd),
                            SanitizeLonLatCB(),
                            ])
    tfm()
    encoder = NetCDFEncoder(tfm.dfs, 
                            dest_fname=fname_out_nc, 
                            global_attrs=get_attrs(tfm, zotero_key=zotero_key, kw=kw),
                            verbose=kwargs.get('verbose', False),
                           )
    encoder.encode()

In [ ]:
#| eval: false
encode(fname_in, fname_out_nc, verbose=True)

Warning: 1 missing time value(s) in SEDIMENT
Unmatched SEDI: -99.0
--------------------------------------------------------------------------------
Group: biota, Variable: lon
--------------------------------------------------------------------------------
Group: biota, Variable: lat
--------------------------------------------------------------------------------
Group: biota, Variable: time
--------------------------------------------------------------------------------
Group: biota, Variable: nuclide
--------------------------------------------------------------------------------
Group: biota, Variable: value
--------------------------------------------------------------------------------
Group: biota, Variable: unit
--------------------------------------------------------------------------------
Group: biota, Variable: dl
--------------------------------------------------------------------------------
Group: biota, Variable: bio_group
--------------------------------------------------------------------------------
Group: biota, Variable: species
--------------------------------------------------------------------------------
Group: biota, Variable: body_part
--------------------------------------------------------------------------------
Group: biota, Variable: drywt
--------------------------------------------------------------------------------
Group: biota, Variable: wetwt
--------------------------------------------------------------------------------
Group: seawater, Variable: lon
--------------------------------------------------------------------------------
Group: seawater, Variable: lat
--------------------------------------------------------------------------------
Group: seawater, Variable: time
--------------------------------------------------------------------------------
Group: seawater, Variable: nuclide
--------------------------------------------------------------------------------
Group: seawater, Variable: value
--------------------------------------------------------------------------------
Group: seawater, Variable: unit
--------------------------------------------------------------------------------
Group: seawater, Variable: dl
--------------------------------------------------------------------------------
Group: seawater, Variable: filt
--------------------------------------------------------------------------------
Group: sediment, Variable: lon
--------------------------------------------------------------------------------
Group: sediment, Variable: lat
--------------------------------------------------------------------------------
Group: sediment, Variable: time
--------------------------------------------------------------------------------
Group: sediment, Variable: area
--------------------------------------------------------------------------------
Group: sediment, Variable: nuclide
--------------------------------------------------------------------------------
Group: sediment, Variable: value
--------------------------------------------------------------------------------
Group: sediment, Variable: unit
--------------------------------------------------------------------------------
Group: sediment, Variable: dl
--------------------------------------------------------------------------------
Group: sediment, Variable: sed_type
--------------------------------------------------------------------------------
Group: sediment, Variable: top
--------------------------------------------------------------------------------
Group: sediment, Variable: bottom

## Open Refine Pipeline (WIP)

### Rename columns for Open Refine

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[
    AddSampleTypeIdColumnCB(),
    LowerStripNameCB(col_src='NUCLIDE'),
    RemapNuclideNameCB(lut_nuclides),
    AddNuclideIdColumnCB(col_value='NUCLIDE'),
    ParseTimeCB(),
    EncodeTimeCB(cfg()),        
    SanitizeValue(coi_val),                       
    NormalizeUncCB(),
    RemapCB(fn_lut=lut_biota, col_remap='species', col_src='RUBIN', dest_grps='biota'),
    RemapCB(lut_tissues, 'body_part', 'TISSUE', 'biota'),
    RemapCB(lut_biogroup, 'bio_group', 'species', 'biota'),
    RemapTaxonInformationCB(lut_taxon),
    RemapSedimentCB(lut_sediments),
    RemapUnitCB(),
    RemapDetectionLimitCB(coi_dl, lut_dl),
    RemapFiltCB(lut_filtered),
    AddSampleLabCodeCB(),
    AddMeasurementNoteCB(lut_method),
    RemapStationIdCB(),
    RemapSedSliceTopBottomCB(),
    LookupDryWetRatio(),
    ParseCoordinates(ddmm_to_dd),
    SanitizeLonLatCB(),
    SelectAndRenameColumnCB(get_renaming_rules, encoding_type='openrefine', verbose=True),
    CompareDfsAndTfmCB(dfs)
    ])

tfm()
print(pd.DataFrame.from_dict(tfm.compare_stats) , '\n')

NameError: name 'RemapTaxonInformationCB' is not defined

**Example of data included in dfs_dropped.**

Main reasons for data to be dropped from dfs:
- No activity value reported (e.g. VALUE_Bq/kg)
- No time value reported.

In [ ]:
#| eval: false
grp='sediment'
#grp='seawater'
#grp='biota'

tfm.dfs_dropped[grp]

,KEY,NUCLIDE,METHOD,< VALUE_Bq/kg,VALUE_Bq/kg,ERROR%_kg,< VALUE_Bq/m²,VALUE_Bq/m²,ERROR%_m²,DATE_OF_ENTRY_x,...,LOWSLI,AREA,SEDI,OXIC,DW%,LOI%,MORS_SUBBASIN,HELCOM_SUBBASIN,SUM_LINK,DATE_OF_ENTRY_y
11784,SLREB1998021,SR90,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,0.02100,55.0,O,NaN,NaN,14.0,14.0,a,NaN
11824,SLVDC1997023,CS137,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,0.02100,55.0,O,NaN,NaN,9.0,9.0,a,NaN
11832,SLVDC1997031,CS137,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,0.02100,55.0,O,NaN,NaN,9.0,9.0,a,NaN
11841,SLVDC1997040,CS137,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,0.02100,55.0,O,NaN,NaN,9.0,9.0,a,NaN
11849,SLVDC1998011,CS137,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,0.02100,55.0,O,NaN,NaN,14.0,14.0,a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39769,SSSSM2021030,CO60,SSSM43,<,NaN,NaN,<,NaN,NaN,09/06/22 00:00:00,...,2.0,0.01608,NaN,NaN,28.200000,15.0,12.0,12.0,NaN,09/06/22 00:00:00
39774,SSSSM2021030,RA226,SSSM43,<,NaN,NaN,<,NaN,NaN,09/06/22 00:00:00,...,2.0,0.01608,NaN,NaN,28.200000,15.0,12.0,12.0,NaN,09/06/22 00:00:00
39775,SSSSM2021030,RA223,SSSM43,<,NaN,NaN,<,NaN,NaN,09/06/22 00:00:00,...,2.0,0.01608,NaN,NaN,28.200000,15.0,12.0,12.0,NaN,09/06/22 00:00:00
39777,SSSSM2021031,CS137,SSSM43,<,NaN,NaN,<,0.0,NaN,09/06/22 00:00:00,...,2.0,0.01608,NaN,NaN,31.993243,NaN,13.0,13.0,NaN,09/06/22 00:00:00
39779,SSSSM2021031,CO60,SSSM43,<,NaN,NaN,<,NaN,NaN,09/06/22 00:00:00,...,2.0,0.01608,NaN,NaN,31.993243,NaN,13.0,13.0,NaN,09/06/22 00:00:00

## Open Refine encoder (WIP)

In [ ]:
#| eval: false
def encode_or(
    fname_in: str, # Input file name
    fname_out_csv: str, # Output file name
    ref_id: str, # Reference ID as defined in MARIS master DB
    **kwargs # Additional arguments
    ) -> None:
    "Encode data to Open Refine CSV."
    dfs = load_data(fname_in)
    tfm = Transformer(dfs, cbs=[
        AddSampleTypeIdColumnCB(),
        LowerStripNameCB(col_src='NUCLIDE'),
        RemapNuclideNameCB(lut_nuclides),
        AddNuclideIdColumnCB(col_value='NUCLIDE'),
        ParseTimeCB(),
        EncodeTimeCB(cfg()),        
        SanitizeValue(coi_val),                       
        NormalizeUncCB(),
        RemapCB(fn_lut=lut_biota, col_remap='species', col_src='RUBIN', dest_grps='biota'),
        RemapCB(lut_tissues, 'body_part', 'TISSUE', 'biota'),
        RemapCB(lut_biogroup, 'bio_group', 'species', 'biota'),
        RemapTaxonInformationCB(lut_taxon),
        RemapSedimentCB(lut_sediments),
        RemapUnitCB(),
        RemapDetectionLimitCB(coi_dl, lut_dl),
        RemapFiltCB(lut_filtered),
        AddSampleLabCodeCB(),
        AddMeasurementNoteCB(lut_method),
        RemapStationIdCB(),
        RemapSedSliceTopBottomCB(),
        LookupDryWetRatio(),
        ParseCoordinates(ddmm_to_dd),
        SanitizeLonLatCB(),
        SelectAndRenameColumnCB(get_renaming_rules, encoding_type='openrefine', verbose=True),
        CompareDfsAndTfmCB(dfs)
        ])
    
    tfm()

    encoder = OpenRefineCsvEncoder(tfm.dfs, 
                                    dest_fname=fname_out_csv, 
                                    ref_id = ref_id,
                                    verbose = True
                                )
    encoder.encode()

In [ ]:
#| eval: false
encode_or(fname_in, fname_out_csv, ref_id, verbose=True)

###  Open Refine Variables not included in Helcom

| Field name      | Full name                | HELCOM     |
|-----------------|--------------------------|------------|
| sampquality     | Sample quality           | N          |
| lab_id          | Laboratory ID            | N          |
| profile_id      | Profile ID               | N          |
| transect_id     | Transect ID              | N          |
| endperiod       | End period               | N          |
| vartype         | Variable type            | N          |
| freq            | Frequency                | N          |
| rl_detection    | Range low detection      | N          |
| rangelow        | Range low                | N          |
| rangeupp        | Range upper              | N          |
| Commonname      | Common name              | N          |
| volume          | Volume                   | N          |
| filtpore        | Filter pore              | N          |
| acid            | Acidified                | N          |
| oxygen          | Oxygen                   | N          |
| samparea        | Sample area              | N          |
| drywt           | Dry weight               | N          |
| wetwt           | Wet weight               | N          |
| sampmet_id      | Sampling method ID       | N          |
| drymet_id       | Drying method ID         | N          |
| prepmet_id      | Preparation method ID    | N          |
| counmet_id      | Counting method ID       | N          |
| refnote         | Reference note           | N          |
| sampnote        | Sample note              | N          |
| gfe             | Good for export          | ?          |

**TODO**:

- Should we use a single encoder for both NetCDF and OpenRefine? If so, should we have a single encode function that accepts a variable 'encoding_type'.

TODO: Include FILT for NetCDF

TODO: Check sediment 'DW%' data that is less than 1%. Is this realistic? Check the 'DW%' data that is 0%. Run below before SelectAndRenameColumnCB.

In [ ]:
#| eval: false
dfs = load_data(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(col_src='NUCLIDE'),
                            ])
tfm()

{'seawater':                 KEY NUCLIDE METHOD < VALUE_Bq/m³  VALUE_Bq/m³  ERROR%_m³  \
 0      WKRIL2012003   cs137    NaN           NaN          5.3  32.000000
 1      WKRIL2012004   cs137    NaN           NaN         19.9  20.000000
 2      WKRIL2012005   cs137    NaN           NaN         25.5  20.000000
 3      WKRIL2012006   cs137    NaN           NaN         17.0  29.000000
 4      WKRIL2012007   cs137    NaN           NaN         22.2  18.000000
 ...             ...     ...    ...           ...          ...        ...
 21211  WSSSM2021005      h3  SSM45           NaN       1030.0  93.203883
 21212  WSSSM2021006      h3  SSM45           NaN       2240.0  43.303571
 21213  WSSSM2021007      h3  SSM45           NaN       2060.0  47.087379
 21214  WSSSM2021008      h3  SSM45           NaN       2300.0  43.478261
 21215  WSSSM2021004      h3  SSM45             <          NaN        NaN

          DATE_OF_ENTRY_x  COUNTRY LABORATORY   SEQUENCE  ...  \
 0      08/20/14 00:00:00     90.0       KRIL  2012003.0  ...
 1      08/20/14 00:00:00     90.0       KRIL  2012004.0  ...
 2      08/20/14 00:00:00     90.0       KRIL  2012005.0  ...
 3      08/20/14 00:00:00     90.0       KRIL  2012006.0  ...
 4      08/20/14 00:00:00     90.0       KRIL  2012007.0  ...
 ...                  ...      ...        ...        ...  ...
 21211  09/06/22 00:00:00     77.0       SSSM   202105.0  ...
 21212  09/06/22 00:00:00     77.0       SSSM   202106.0  ...
 21213  09/06/22 00:00:00     77.0       SSSM   202107.0  ...
 21214  09/06/22 00:00:00     77.0       SSSM   202108.0  ...
 21215  09/06/22 00:00:00     77.0       SSSM   202104.0  ...

       LONGITUDE (ddmmmm)  LONGITUDE (dddddd)  TDEPTH  SDEPTH SALIN  TTEMP  \
 0                29.2000             29.3333     NaN     0.0   NaN    NaN
 1                29.2000             29.3333     NaN    29.0   NaN    NaN
 2                23.0900             23.1500     NaN     0.0   NaN    NaN
 3                27.5900             27.9833     NaN     0.0   NaN    NaN
 4                27.5900             27.9833     NaN    39.0   NaN    NaN
 ...                  ...                 ...     ...     ...   ...    ...
 21211            18.2143             18.3572     NaN     1.0   NaN    NaN
 21212            17.0000             17.0000     NaN     1.0   NaN    NaN
 21213            11.5671             11.9452     NaN     1.0   NaN    NaN
 21214            11.5671             11.9452     NaN     1.0   NaN    NaN
 21215            11.1470             11.2450     NaN     1.0   NaN    NaN

        FILT  MORS_SUBBASIN  HELCOM_SUBBASIN    DATE_OF_ENTRY_y
 0       NaN           11.0             11.0  08/20/14 00:00:00
 1       NaN           11.0             11.0  08/20/14 00:00:00
 2       NaN           11.0              3.0  08/20/14 00:00:00
 3       NaN           11.0             11.0  08/20/14 00:00:00
 4       NaN           11.0             11.0  08/20/14 00:00:00
 ...     ...            ...              ...                ...
 21211     N            1.0              8.0  09/06/22 00:00:00
 21212     N           10.0             10.0  09/06/22 00:00:00
 21213     N           12.0             12.0  09/06/22 00:00:00
 21214     N           12.0             12.0  09/06/22 00:00:00
 21215     N           15.0             18.0  09/06/22 00:00:00

 [21216 rows x 27 columns],
 'sediment':                 KEY NUCLIDE  METHOD < VALUE_Bq/kg  VALUE_Bq/kg  ERROR%_kg  \
 0      SKRIL2012048   ra226     NaN           NaN         35.0      26.00
 1      SKRIL2012049   ra226     NaN           NaN         36.0      22.00
 2      SKRIL2012050   ra226     NaN           NaN         38.0      24.00
 3      SKRIL2012051   ra226     NaN           NaN         36.0      25.00
 4      SKRIL2012052   ra226     NaN           NaN         30.0      23.00
 ...             ...     ...     ...           ...          ...        ...
 39812  SSSSM2020029   ac228  SSSM43           NaN         37.5       5.00
 39813  SSSSM2020030     k40  SSSM43           NaN        526.0       1.72
 39814  SSSSM2020030   cs137  SSSM43           NaN         17.2       2.21
 39815  SSSSM2020031     k40  SSSM43           NaN       1000.0       1.80
 39816  SSSSM2020031   cs137  SSSM43           NaN         64.0       1.20

       < VALUE_Bq/m²  VALUE_Bq/m²  ERROR%_m²    DATE_OF_ENTRY_x  ...  LOWSLI  \
 0               NaN          NaN        NaN  08/20/14 00:00:00  ...    20.0
 1               NaN          NaN        NaN  08/20/14 00:00:00  ...    27.0
 2               NaN          NaN        NaN  08/20/14 00:00:00  ...     2.0
 3               NaN          NaN        NaN  08/20/14 00:00:00  ...     4.0
 4               NaN          NaN        NaN  08/20/14 00:00:00  ...     6.0
 ...             ...          ...        ...                ...  ...     ...
 39812           NaN        255.0       28.0  04/22/22 00:00:00  ...     2.0
 39813           NaN       5690.0        2.0  04/22/22 00:00:00  ...     2.0
 39814           NaN        186.0        2.0  04/22/22 00:00:00  ...     2.0
 39815           NaN      16000.0        2.0  04/22/22 00:00:00  ...     2.0
 39816           NaN       1020.0        1.0  04/22/22 00:00:00  ...     2.0

         AREA  SEDI OXIC    DW%  LOI%  MORS_SUBBASIN HELCOM_SUBBASIN  SUM_LINK  \
 0      0.006   NaN  NaN    NaN   NaN           11.0            11.0       NaN
 1      0.006   NaN  NaN    NaN   NaN           11.0            11.0       NaN
 2      0.006   NaN  NaN    NaN   NaN           11.0            11.0       NaN
 3      0.006   NaN  NaN    NaN   NaN           11.0            11.0       NaN
 4      0.006   NaN  NaN    NaN   NaN           11.0            11.0       NaN
 ...      ...   ...  ...    ...   ...            ...             ...       ...
 39812  0.019   0.0    O  28.73  14.0           13.0            13.0       NaN
 39813  0.019   0.0    O  32.03   NaN           12.0            12.0       NaN
 39814  0.019   0.0    O  32.03   NaN           12.0            12.0       NaN
 39815  0.017   0.0    O  48.77   NaN            1.0             8.0       NaN
 39816  0.017   0.0    O  48.77   NaN            1.0             8.0       NaN

          DATE_OF_ENTRY_y
 0      08/20/14 00:00:00
 1      08/20/14 00:00:00
 2      08/20/14 00:00:00
 3      08/20/14 00:00:00
 4      08/20/14 00:00:00
 ...                  ...
 39812  04/22/22 00:00:00
 39813  04/22/22 00:00:00
 39814  04/22/22 00:00:00
 39815  04/22/22 00:00:00
 39816  04/22/22 00:00:00

 [39817 rows x 35 columns],
 'biota':                 KEY NUCLIDE  METHOD < VALUE_Bq/kg  VALUE_Bq/kg BASIS  ERROR%  \
 0      BVTIG2012041   cs134  VTIG01             <     0.010140     W     NaN
 1      BVTIG2012041     k40  VTIG01                 135.300000     W    3.57
 2      BVTIG2012041    co60  VTIG01             <     0.013980     W     NaN
 3      BVTIG2012041   cs137  VTIG01                   4.338000     W    3.48
 4      BVTIG2012040   cs134  VTIG01             <     0.009614     W     NaN
 ...             ...     ...     ...           ...          ...   ...     ...
 15822  BSSSM2020016     k40  SSSM42           NaN    65.000000     D   10.20
 15823  BSSSM2020016   cs137  SSSM42           NaN     4.500000     D    6.20
 15824  BSSSM2020017     be7  SSSM42           NaN    94.000000     D    3.40
 15825  BSSSM2020017     k40  SSSM42           NaN  1100.000000     D    1.60
 15826  BSSSM2020017   cs137  SSSM42           NaN    13.000000     D    2.50

        NUMBER    DATE_OF_ENTRY_x  COUNTRY  ... BIOTATYPE  TISSUE     NO  \
 0         NaN  02/27/14 00:00:00      6.0  ...         F       5   16.0
 1         NaN  02/27/14 00:00:00      6.0  ...         F       5   16.0
 2         NaN  02/27/14 00:00:00      6.0  ...         F       5   16.0
 3         NaN  02/27/14 00:00:00      6.0  ...         F       5   16.0
 4         NaN  02/27/14 00:00:00      6.0  ...         F       5   17.0
 ...       ...                ...      ...  ...       ...     ...    ...
 15822     NaN  04/22/22 00:00:00     77.0  ...         B      41  319.0
 15823     NaN  04/22/22 00:00:00     77.0  ...         B      41  319.0
 15824     NaN  04/22/22 00:00:00     77.0  ...         P      51    NaN
 15825     NaN  04/22/22 00:00:00     77.0  ...         P      51    NaN
 15826     NaN  04/22/22 00:00:00     77.0  ...         P      51    NaN

        LENGTH  WEIGHT     DW%  LOI%  MORS_SUBBASIN  HELCOM_SUBBASIN  \
 0        45.7   948.0  18.453  92.9            2.0               16
 1        45.7   948.0  18.453  92.9            2.0               16
 2        45.7   948.0  18.453  92.9            2.0               16
 3        45.7   948.0  18.453  92.9            2.0               16
 4        45.9   964.0  18.458  92.9            2.0               16
 ...       ...     ...     ...   ...            ...              ...
 15822     NaN     NaN  41.000   0.0            1.0                8
 15823     NaN     NaN  41.000   0.0            1.0                8
 15824     NaN     NaN  21.000   0.0            1.0                8
 15825     NaN     NaN  21.000   0.0            1.0                8
 15826     NaN     NaN  21.000   0.0            1.0                8

          DATE_OF_ENTRY_y
 0      02/27/14 00:00:00
 1      02/27/14 00:00:00
 2      02/27/14 00:00:00
 3      02/27/14 00:00:00
 4      02/27/14 00:00:00
 ...                  ...
 15822  04/22/22 00:00:00
 15823  04/22/22 00:00:00
 15824  04/22/22 00:00:00
 15825  04/22/22 00:00:00
 15826  04/22/22 00:00:00

 [15827 rows x 33 columns]}

In [ ]:
#| eval: false
grp='sediment'
check_data_sediment=tfm.dfs[grp][(tfm.dfs[grp]['DW%'] < 1) & (tfm.dfs[grp]['DW%'] > 0.001) ]
check_data_sediment

,KEY,NUCLIDE,METHOD,< VALUE_Bq/kg,VALUE_Bq/kg,ERROR%_kg,< VALUE_Bq/m²,VALUE_Bq/m²,ERROR%_m²,DATE_OF_ENTRY_x,...,LOWSLI,AREA,SEDI,OXIC,DW%,LOI%,MORS_SUBBASIN,HELCOM_SUBBASIN,SUM_LINK,DATE_OF_ENTRY_y
30938,SLVEA2010001,cs137,LVEA01,NaN,334.25,1.57,NaN,131.886,41179.0,NaN,...,2.0,0.0151,5.0,O,0.115,0.9,14.0,14.0,NaN,11/11/11 00:00:00
30939,SLVEA2010002,cs137,LVEA01,NaN,343.58,1.49,NaN,132.092,41179.0,NaN,...,4.0,0.0151,5.0,A,0.159,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30940,SLVEA2010003,cs137,LVEA01,NaN,334.69,1.56,NaN,134.390,41179.0,NaN,...,6.0,0.0151,5.0,A,0.189,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30941,SLVEA2010004,cs137,LVEA01,NaN,348.50,1.56,NaN,136.699,41179.0,NaN,...,8.0,0.0151,5.0,A,0.194,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30942,SLVEA2010005,cs137,LVEA01,NaN,258.67,1.73,NaN,104.894,41179.0,NaN,...,10.0,0.0151,5.0,A,0.195,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30943,SLVEA2010006,cs137,LVEA01,NaN,182.02,2.05,NaN,77.523,41179.0,NaN,...,12.0,0.0151,5.0,A,0.221,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30944,SLVEA2010007,cs137,LVEA01,NaN,116.34,2.79,NaN,46.946,41179.0,NaN,...,14.0,0.0151,5.0,A,0.238,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30945,SLVEA2010008,cs137,LVEA01,NaN,94.07,2.61,NaN,38.162,41179.0,NaN,...,16.0,0.0151,5.0,A,0.234,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30946,SLVEA2010009,cs137,LVEA01,NaN,69.70,3.12,NaN,27.444,41179.0,NaN,...,18.0,0.0151,5.0,A,0.242,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30947,SLVEA2010010,cs137,LVEA01,NaN,59.63,3.40,NaN,24.220,41179.0,NaN,...,20.0,0.0151,5.0,A,0.257,0.7,14.0,14.0,NaN,11/11/11 00:00:00
30948,SLVEA2010011,cs137,LVEA01,<,12.24,3.88,<,5.035,41179.0,NaN,...,22.0,0.0151,5.0,A,0.264,0.7,14.0,14.0,NaN,11/11/11 00:00:00
30949,SLVEA2010012,cs137,LVEA01,<,0.83,NaN,<,0.330,41179.0,NaN,...,24.0,0.0151,5.0,A,0.244,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30950,SLVEA2010013,cs137,LVEA01,NaN,331.61,1.40,NaN,125.566,41179.0,NaN,...,2.0,0.0151,5.0,O,0.115,0.9,14.0,14.0,NaN,11/11/11 00:00:00
30951,SLVEA2010014,cs137,LVEA01,NaN,352.06,1.33,NaN,144.516,41179.0,NaN,...,4.0,0.0151,5.0,A,0.164,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30952,SLVEA2010015,cs137,LVEA01,NaN,367.11,1.36,NaN,139.434,41179.0,NaN,...,6.0,0.0151,5.0,A,0.191,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30953,SLVEA2010016,cs137,LVEA01,NaN,328.97,1.42,NaN,124.348,41179.0,NaN,...,8.0,0.0151,5.0,A,0.188,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30954,SLVEA2010017,cs137,LVEA01,NaN,356.30,1.37,NaN,135.447,41179.0,NaN,...,10.0,0.0151,5.0,A,0.179,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30955,SLVEA2010018,cs137,LVEA01,NaN,314.75,1.42,NaN,118.765,41179.0,NaN,...,12.0,0.0151,5.0,A,0.186,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30956,SLVEA2010019,cs137,LVEA01,NaN,261.64,1.52,NaN,104.580,41179.0,NaN,...,14.0,0.0151,5.0,A,0.194,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30957,SLVEA2010020,cs137,LVEA01,NaN,181.00,1.76,NaN,74.058,41179.0,NaN,...,16.0,0.0151,5.0,A,0.209,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30958,SLVEA2010021,cs137,LVEA01,NaN,143.65,2.02,NaN,57.680,41179.0,NaN,...,18.0,0.0151,5.0,A,0.214,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30959,SLVEA2010022,cs137,LVEA01,NaN,109.36,2.15,NaN,42.153,41179.0,NaN,...,20.0,0.0151,5.0,A,0.218,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30960,SLVEA2010023,cs137,LVEA01,NaN,94.12,1.39,NaN,35.873,41179.0,NaN,...,22.0,0.0151,5.0,A,0.212,0.8,14.0,14.0,NaN,11/11/11 00:00:00
30961,SLVEA2010024,cs137,LVEA01,NaN,96.63,1.35,NaN,38.864,41179.0,NaN,...,24.0,0.0151,5.0,A,0.217,0.8,14.0,14.0,NaN,11/11/11 00:00:00

In [ ]:
#| eval: false
grp='sediment'
check_data_sediment=tfm.dfs[grp][(tfm.dfs[grp]['DW%'] == 0) ]
check_data_sediment

,KEY,NUCLIDE,METHOD,< VALUE_Bq/kg,VALUE_Bq/kg,ERROR%_kg,< VALUE_Bq/m²,VALUE_Bq/m²,ERROR%_m²,DATE_OF_ENTRY_x,...,LOWSLI,AREA,SEDI,OXIC,DW%,LOI%,MORS_SUBBASIN,HELCOM_SUBBASIN,SUM_LINK,DATE_OF_ENTRY_y
9824,SERPC1997001,cs134,NaN,NaN,3.80,20.0,NaN,5.75,NaN,NaN,...,2.0,0.008,5.0,A,0.0,0.0,11.0,11.0,a,NaN
9825,SERPC1997001,cs137,NaN,NaN,389.00,4.0,NaN,589.00,NaN,NaN,...,2.0,0.008,5.0,A,0.0,0.0,11.0,11.0,a,NaN
9826,SERPC1997002,cs134,NaN,NaN,4.78,13.0,NaN,12.00,NaN,NaN,...,4.0,0.008,5.0,A,0.0,0.0,11.0,11.0,a,NaN
9827,SERPC1997002,cs137,NaN,NaN,420.00,4.0,NaN,1060.00,NaN,NaN,...,4.0,0.008,5.0,A,0.0,0.0,11.0,11.0,a,NaN
9828,SERPC1997003,cs134,NaN,NaN,3.12,17.0,NaN,12.00,NaN,NaN,...,6.0,0.008,5.0,A,0.0,0.0,11.0,11.0,a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15257,SKRIL1999062,th228,1,NaN,68.00,NaN,NaN,NaN,NaN,NaN,...,15.0,0.006,0.0,O,0.0,0.0,11.0,11.0,a,NaN
15258,SKRIL1999063,k40,1,NaN,1210.00,NaN,NaN,NaN,NaN,NaN,...,21.5,0.006,0.0,O,0.0,0.0,11.0,11.0,a,NaN
15259,SKRIL1999063,ra226,KRIL01,NaN,56.50,NaN,NaN,NaN,NaN,NaN,...,21.5,0.006,0.0,O,0.0,0.0,11.0,11.0,a,NaN
15260,SKRIL1999063,ra228,KRIL01,NaN,72.20,NaN,NaN,NaN,NaN,NaN,...,21.5,0.006,0.0,O,0.0,0.0,11.0,11.0,a,NaN
15261,SKRIL1999063,th228,1,NaN,74.20,NaN,NaN,NaN,NaN,NaN,...,21.5,0.006,0.0,O,0.0,0.0,11.0,11.0,a,NaN

In [ ]:
#| eval: false
grp='biota'
check_data_sediment=tfm.dfs[grp][(tfm.dfs[grp]['DW%'] == 0) ]
check_data_sediment

,KEY,NUCLIDE,METHOD,< VALUE_Bq/kg,VALUE_Bq/kg,BASIS,ERROR%,NUMBER,DATE_OF_ENTRY_x,COUNTRY,...,BIOTATYPE,TISSUE,NO,LENGTH,WEIGHT,DW%,LOI%,MORS_SUBBASIN,HELCOM_SUBBASIN,DATE_OF_ENTRY_y
5971,BERPC1997002,k40,NaN,NaN,116.00,W,3.0,NaN,NaN,91.0,...,F,5,0.0,0.0,0.0,0.0,0.0,11.0,11,NaN
5972,BERPC1997002,cs137,NaN,NaN,12.60,W,4.0,NaN,NaN,91.0,...,F,5,0.0,0.0,0.0,0.0,0.0,11.0,11,NaN
5973,BERPC1997002,cs134,NaN,NaN,0.14,W,18.0,NaN,NaN,91.0,...,F,5,0.0,0.0,0.0,0.0,0.0,11.0,11,NaN
5974,BERPC1997001,k40,NaN,NaN,116.00,W,4.0,NaN,NaN,91.0,...,F,5,0.0,0.0,0.0,0.0,0.0,11.0,11,NaN
5975,BERPC1997001,cs137,NaN,NaN,12.00,W,4.0,NaN,NaN,91.0,...,F,5,0.0,0.0,0.0,0.0,0.0,11.0,11,NaN
5976,BERPC1997001,cs134,NaN,NaN,0.21,W,24.0,NaN,NaN,91.0,...,F,5,0.0,0.0,0.0,0.0,0.0,11.0,11,NaN