# HELCOM (With callbacks)
> Data pipeline (handler) to convert HELCOM data ([source](https://helcom.fi/about-us)) to `NetCDF` format

The data is provided as a Microsoft Access database. `Mdbtools` (https://github.com/mdbtools/mdbtools) is used to convert tables into `.csv` files on Unix-like OS.

## Packages import

In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import fastcore.all as fc
from operator import attrgetter

from netCDF4 import Dataset
from datetime import datetime, timedelta
from cftime import num2date, date2num
from pathlib import Path
from datetime import datetime
import re

from marisco.utils import has_valid_varname, match_worms
from marisco.serializers import to_netcdf
from marisco.configs import get_nc_tpl_path, get_cfgs
from marisco.metadata import Metadata, ZoteroItem

NC_TPL_PATH = get_nc_tpl_path()

## Parameters

In [ ]:
#| params
fname_in = '../../_data/accdb/mors/csv'
fname_out = '../../_data/output/helcom.nc'

## Utils

In [ ]:
def load_helcom(src_dir, 
                smp_types=['SEA', 'SED', 'BIO']):
    "Load HELCOM data and return them as individual dataframe by sample type"
    dfs = {}
    lut_smp_type = {'SEA': 'seawater', 'SED': 'sediment', 'BIO':'biota'}
    for smp_type in smp_types:
        fname_meas = smp_type + '02.csv'
        fname_smp = smp_type + '01.csv'
        df = pd.merge(pd.read_csv(Path(src_dir)/fname_meas), # measurements
                      pd.read_csv(Path(src_dir)/fname_smp), # sample
                      on='KEY', how='left')
        dfs[lut_smp_type[smp_type]] = df
    return dfs

def rename_cols(cols):
    "Flatten multiindex columns"
    new_cols = []
    for outer, inner in cols:
        if not inner:
            new_cols.append(outer)
        else:
            if outer == 'unc':
                new_cols.append(inner + '_' + outer)
            if outer == 'value':
                new_cols.append(inner)
    return new_cols

## Callbacks & Transformer

In [ ]:
class Callback(): order = 0

In [ ]:
class Transformer():
    def __init__(self, dfs, cbs=None): 
        fc.store_attr()
        self.logs = []
        
    def callback(self):
        run_cbs(self.cbs, self)
        
    def __call__(self):
        self.callback()
        return self.dfs

In [ ]:
def run_cbs(cbs, tfm=None):
    for cb in sorted(cbs, key=attrgetter('order')):
        if cb.__doc__: tfm.logs.append(cb.__doc__)
        cb(tfm)

## Configs

In [ ]:
# CONFIGS = {
#     'global_attr': {}
# }

## Load tables

In [ ]:
dfs = load_helcom(fname_in)

In [ ]:
dfs['seawater'].head()

,KEY,NUCLIDE,METHOD,< VALUE_Bq/m³,VALUE_Bq/m³,ERROR%_m³,DATE_OF_ENTRY_x,COUNTRY,LABORATORY,SEQUENCE,...,LONGITUDE (ddmmmm),LONGITUDE (dddddd),TDEPTH,SDEPTH,SALIN,TTEMP,FILT,MORS_SUBBASIN,HELCOM_SUBBASIN,DATE_OF_ENTRY_y
0,WKRIL2012003,CS137,NaN,NaN,5.3,32.0,08/20/14 00:00:00,90,KRIL,2012003,...,29.20,29.3333,NaN,0.0,NaN,NaN,NaN,11,11,08/20/14 00:00:00
1,WKRIL2012004,CS137,NaN,NaN,19.9,20.0,08/20/14 00:00:00,90,KRIL,2012004,...,29.20,29.3333,NaN,29.0,NaN,NaN,NaN,11,11,08/20/14 00:00:00
2,WKRIL2012005,CS137,NaN,NaN,25.5,20.0,08/20/14 00:00:00,90,KRIL,2012005,...,23.09,23.1500,NaN,0.0,NaN,NaN,NaN,11,3,08/20/14 00:00:00
3,WKRIL2012006,CS137,NaN,NaN,17.0,29.0,08/20/14 00:00:00,90,KRIL,2012006,...,27.59,27.9833,NaN,0.0,NaN,NaN,NaN,11,11,08/20/14 00:00:00
4,WKRIL2012007,CS137,NaN,NaN,22.2,18.0,08/20/14 00:00:00,90,KRIL,2012007,...,27.59,27.9833,NaN,39.0,NaN,NaN,NaN,11,11,08/20/14 00:00:00

In [ ]:
dfs['biota'].head()

,KEY,NUCLIDE,METHOD,< VALUE_Bq/kg,VALUE_Bq/kg,BASIS,ERROR%,NUMBER,DATE_OF_ENTRY_x,COUNTRY,...,BIOTATYPE,TISSUE,NO,LENGTH,WEIGHT,DW%,LOI%,MORS_SUBBASIN,HELCOM_SUBBASIN,DATE_OF_ENTRY_y
0,BVTIG2012041,CS134,VTIG01,<,0.010140,W,NaN,NaN,02/27/14 00:00:00,6.0,...,F,5,16.0,45.7,948.0,18.453,92.9,2,16,02/27/14 00:00:00
1,BVTIG2012041,K40,VTIG01,,135.300000,W,3.57,NaN,02/27/14 00:00:00,6.0,...,F,5,16.0,45.7,948.0,18.453,92.9,2,16,02/27/14 00:00:00
2,BVTIG2012041,CO60,VTIG01,<,0.013980,W,NaN,NaN,02/27/14 00:00:00,6.0,...,F,5,16.0,45.7,948.0,18.453,92.9,2,16,02/27/14 00:00:00
3,BVTIG2012041,CS137,VTIG01,,4.338000,W,3.48,NaN,02/27/14 00:00:00,6.0,...,F,5,16.0,45.7,948.0,18.453,92.9,2,16,02/27/14 00:00:00
4,BVTIG2012040,CS134,VTIG01,<,0.009614,W,NaN,NaN,02/27/14 00:00:00,6.0,...,F,5,17.0,45.9,964.0,18.458,92.9,2,16,02/27/14 00:00:00

In [ ]:
dfs['biota'].columns

Index(['KEY', 'NUCLIDE', 'METHOD', '< VALUE_Bq/kg', 'VALUE_Bq/kg', 'BASIS',
       'ERROR%', 'NUMBER', 'DATE_OF_ENTRY_x', 'COUNTRY', 'LABORATORY',
       'SEQUENCE', 'DATE', 'YEAR', 'MONTH', 'DAY', 'STATION',
       'LATITUDE ddmmmm', 'LATITUDE dddddd', 'LONGITUDE ddmmmm',
       'LONGITUDE dddddd', 'SDEPTH', 'RUBIN', 'BIOTATYPE', 'TISSUE', 'NO',
       'LENGTH', 'WEIGHT', 'DW%', 'LOI%', 'MORS_SUBBASIN', 'HELCOM_SUBBASIN',
       'DATE_OF_ENTRY_y'],
      dtype='object')

In [ ]:
dfs['biota']['BIOTATYPE'].unique()

array(['F', 'B', 'P'], dtype=object)

In [ ]:
# 42 of them
dfs['biota']['RUBIN'].unique()

array(['GADU MOR', 'SPRA SPR', 'CLUP HAR', 'MERL MNG', 'LIMA LIM',
       'PLEU PLA', 'PLAT FLE', 'SADU ENT', 'ENGR ENC', 'ESOX LUC',
       'MACO BAL', 'FUCU VES', 'ZOAR VIV', 'OSME EPE', 'MYOX SCO',
       'GYMN CER', 'GAST ACU', 'SCOM SCO', 'MYTI EDU', 'CYPR CAR',
       'ABRA BRA', 'STIZ LUC', 'RUTI RUT', 'PERC FLU', 'MYA ARE',
       'CRAN CRA', 'PLANKTON', 'CARD EDU', 'ARCT ISL', 'CLAD GLO',
       'FURC LUM', 'ANGU ANG', 'FISHLARVAE', 'ENCH CIM', 'ASTE RUB',
       'RHODOPHY', 'LAMI SAC', 'PSET MAX', 'GADU MOR  ', 'POLY FUC',
       'STUC PEC', 'ZANN PALU'], dtype=object)

In [ ]:
df_rubin = pd.read_csv(Path(fname_in) / 'RUBIN_NAME.csv'); df_rubin

    RUBIN_ID       RUBIN          SCIENTIFIC NAME           ENGLISH NAME
0         11    ABRA BRA            ABRAMIS BRAMA                  BREAM
1         12    ANGU ANG        ANGUILLA ANGUILLA                    EEL
2         13    ARCT ISL        ARCTICA ISLANDICA         ISLAND CYPRINE
3         14    ASTE RUB          ASTERIAS RUBENS        COMMON STARFISH
4         15    CARD EDU            CARDIUM EDULE                 COCKLE
5         40    CH HI;BA            CHARA BALTICA       BALTIC STONEWORT
6          2    CLAD GLO     CLADOPHORA GLOMERATA            GREEN ALGAE
7          5    CLUP HAR          CLUPEA HARENGUS                HERRING
8         16    CRAN CRA          CRANGON CRANGON           BROWN SHRIMP
9         17    CYPR CAR          CYPRINUS CARPIO                   CARP
10        18    ENCH CIM       ENCHINODERMATA CIM                      B
11        37    ENGR ENC   ENGRAULIS ENCRASICOLUS       EUROPEAN ANCHOVY
12        19    ESOX LUC              ESOX LUCIUS                   PIKE
13        20  FISHLARVAE              FISH LARVAE                 LARVAE
14         1    FUCU VES        FUCUS VESICULOSUS           BLADDERWRACK
15        39    FURC LUM  FURCELLARIA LUMBRICALIS            RED SEAWEED
16         6    GADU MOR             GADUS MORHUA                    COD
17        34    GAST ACU   GASTEROSTEUS ACULEATUS  3-SPINNED STICKLEBACK
18        36    GYMN CER     GYMNOCEPHALUS CERNUA                  RUFFE
19        21    LAMI SAC     LAMINARIA SACCHARINA             SUGAR KELP
20         9    LIMA LIM          LIMANDA LIMANDA                    DAB
21         3    MACO BAL           MACOMA BALTICA         MACOMA BALTICA
22        22    MERL MNG     MERLANGIUS MERLANGUS                WHITING
23        23     MYA ARE             MYA ARENARIA      SOFT-SHELLED CLAM
24        24    MYOX SCO   MYOXOCEPHALUS SCORPIUS     SHORT-HORN SCULPIN
25        25    MYTI EDU           MYTILUS EDULIS            BLUE MUSSEL
26        26    OSME EPE        OSMERUS EPERLANUS                  SMELT
27        27    PERC FLU        PERCA FLUVIATILIS                  PERCH
28        28    PLANKTON                 PLANKTON               PLANKTON
29         7    PLAT FLE       PLATICHTHYS FLESUS               FLOUNDER
30         8    PLEU PLA    PLEURONECTES PLATESSA                 PLAICE
31        41    POLY FUC    POLYSIPHONIA FUCOIDES      BLACK SIPHON WEED
32        10    PSET MAX            PSETTA MAXIMA                 TURBOT
33        29    RHODOPHY               RHODOPHYTA              RED ALGAE
34        30    RUTI RUT          RUTILUS RUTILUS                  ROUCH
35         4    SADU ENT          SADURIA ENTOMON                SADURIA
36        33    SCOM SCO         SCOMBER SCOMBRUS      ATLANTIC MACKEREL
37        38    SOLE SOL              SOLEA SOLEA             SEA TONGUE
38        31    SPRA SPR        SPRATTUS SPRATTUS                  SPRAT
39        32    STIZ LUC  STIZOSTEDION LUCIOPERCA              PIKEPERCH
40        42    STUC PEC      STUCKENIA PECTINATE          SAGO PONDWEED
41        35    ZOAR VIV        ZOARCES VIVIPARUS                EELPOUT
42        43   ZANN PALU   ZANNICHELLIA PALUSTRIS        HORNED PONDWEED

In [ ]:
sci_name = df_rubin[df_rubin['RUBIN'].isin(dfs['biota']['RUBIN'].unique())]['SCIENTIFIC NAME'].values

In [ ]:
for name, resp in zip(sci_name, resps):
    print(f'SciName in Helcom db: {name}')
    if resp != -1: 
        print(f'# of items: {len(resp)}')
    else:
        print('Unknown!!!')
    print(resp, '\n******************************\n', )

NameError: name 'resps' is not defined

In [ ]:
import requests

In [ ]:
# load 
df_species = pd.read_excel('../files/lut/dbo_species.xlsx');
df_species['species']

0                            Not available
1                      Aristeus antennatus
2                             Apostichopus
3       Saccharina japonica var. religiosa
4                       Siganus fuscescens
                       ...
1606             Gadiculus argenteus thori
1607                      Phorcus lineatus
1608                      Penaeus vannamei
1609                         Raja montagui
1610                  Scophthalmus rhombus
Name: species, Length: 1611, dtype: object

In [ ]:
# for each species
# check aphiaID, how much
for species in df_species['species']:
    print(species)

Not available
Aristeus antennatus
Apostichopus
Saccharina japonica var. religiosa
Siganus fuscescens
Alpheus dentipes
Hexagrammos agrammus
Ditrema temminckii
Parapristipoma trilineatum
Scombrops boops
Pseudopleuronectes schrenki
Desmarestia ligulata
Saccharina japonica
Neodilsea yendoana
Costaria costata
Sargassum yezoense
Acanthephyra pelagica
Sargassum ringgoldianum
Acanthephyra quadrispinosa
Sargassum thunbergii
Sargassum patens
Asterias rubens
Sargassum miyabei
Homarus gammarus
Acanthephyra stylorostratis
Acanthocybium solandri
Acanthopagrus bifasciatus
Acanthophora muscoides
Acanthophora spicifera
Acanthurus triostegus
Actinopterygii
Adamussium colbecki
Ahnfeltiopsis densa
Alepes melanoptera
Ampharetidae
Anchoviella lepidentostole
Anguillidae
Aphroditidae
Arnoglossus
Aurigequula fasciata
Balaenoptera musculus
Balaenoptera physalus
Balistes
Beryciformes
Bryopsis maxima
Callinectes sp.
Callorhinus ursinus
Carassius auratus auratus
Carcharhinus sorrah
Caridae
Clupea harengus
Cathorops spixii
Caulerpa racemosa
Caulerpa scalpelliformis
Caulerpa sertularioides
Cellana radiata
Coscinasterias tenuispina
Centroceras clavulatum
Centropomus parallelus
Crangon crangon
Ceramium diaphanum
Ceramium rubrum
Chaenocephalus aceratus
Chaetodipterus faber
Chaetomorpha antennina
Chaetomorpha linoides
Chelidonichthys kumu
Chelon ramada
Chiloscyllium
Chionodraco hamatus
Chlamys islandica
Chlorophyta
Chondrichthyes
Chrysaora
Cladophora nitellopsis
Cladophora vagabunda
Cladophoropsis membranacea
Clupea
Coccotylus truncatus
Codium fragile
Crassostrea
Cynoscion acoupa
Cynoscion jamaicensis
Cynoscion leiarchus
Engraulis encrasicolus
Cypselurus agoo agoo
Cystophora cristata
Cystoseira barbata
Cystoseira crinita
Decapodiformes
Decapterus russelli
Decapterus scombrinus
Delphinapterus leucas
Delphinus capensis
Diapterus rhombeus
Dicentrarchus punctatus
Fucus vesiculosus
Funchalia woodwardi
Ecklonia bicyclis
Gadus morhua
Ecklonia kurome
Gennadas elegans
Eisenia arborea
Encrasicholina devisi
Enteromorpha
Enteromorpha flexuosa
Enteromorpha intestinalis
Epinephelinae
Epinephelus diacanthus
Exocoetidae
Saccharina latissima
Gracilaria corticata
Ligur ensiferus
Gracilaria debilis
Gracilaria edulis
Gracilariales
Grateloupia elliptica
Grateloupia filicina
Lysmata seticaudata
Gymnogongrus griffithsiae
Mya arenaria
Halichoerus grypus
Macoma balthica
Marthasterias glacialis
Halimeda macroloba
Harengula clupeola
Harpagifer antarcticus
Hemifusus ternatanus
Hemiramphus brasiliensis
Mytilus edulis
Metapenaeus affinis
Heteroscleromorpha
Heterosigma akashiwo
Hilsa ilisha
Metapenaeus monoceros
Metapenaeus stebbingi
Holothuria
Hoplobrotula armata
Hypnea musciformis
Merlangius merlangus
Iridaea cordata
Jania rubens
Meganyctiphanes norvegica
Johnius glaucus
Kappaphycus
Kappaphycus alvarezii
Laevistrombus canarium
Lagenodelphis hosei
Lambia
Laminaria japonica
Laminaria longissima
Larimus breviceps
Laurencia papillosa
Leiognathidae
Leiognathus dussumieri
Lepidochelys olivacea
Leptonychotes weddellii
Limanda yokohamae
Nephrops norvegicus
Neuston
Littoraria undulata
Loligo vulgaris
Lumbrineridae
Lutjanus fulviflamma
Marginisporum aberrans
Megalaspis cordyla
Octopus vulgaris
Menticirrhus americanus
Mesoplodon densirostris
Palaemon longirostris
Metapenaeus brevicornis
Pasiphaea multidentata
Pasiphaea sivado
Parapenaeopsis stylifera
Miichthys miiuy
Mirounga leonina
Brachidontes striatulus
Monodon monoceros
Mugil platanus
Penaeus semisulcatus
Mullus barbatus
Mycteroperca rubra
Philocheras echinulatus
Myelophycus simplex
Mytilus coruscus
Penaeus indicus
Natator depressus
Pandalus jordani
Melicertus kerathurus
Parapenaeus longirostris
Plesionika
Platichthys flesus
Pleuronectes platessa
Nematopalaemon tenuipes
Nematoscelis difficilis
Nemipterus
Aegaeon lacazei
Nephtyidae
Nereididae
Netuma bilineata
Nibea maculata
Oceana serrulata
Palaemon serratus
Ocypode
Odobenus rosmarus
Ogcocephalus vespertilio
Oligoplites saurus
Onuphidae
Opheliidae
Opisthonema oglinum
Opisthopterus tardoore
Orientomysis mitsukurii
Otolithes cuvieri
Padina pavonica
Padina tetrastromatica
Padina vickersiae
Pagellus affinis
Pagophilus groenlandicus
Paguroidea
Pagurus
Systellaspis debilis
Sergestes
Sergestes arcticus
Pampus argenteus
Sergestes arachnipodus
Sergestes henseni
Sergestes prehensilis
Sergestes robustus
Pangasius pangasius
Panulirus homarus
Paracentrotus lividus
Pasiphaea sp.
Pectinariidae
Penaeus
Phoca vitulina
Photopectoralis bindus
Phyllospadix iwatensis
Plectorhinchus mediterraneus
Pleuronectes mochigarei
Pleuronectes obscurus
Plocamium brasiliense
Polynemus paradiseus
Polysiphonia
Sprattus sprattus
Scomber scombrus
Polysiphonia fucoides
Gonostomatidae
Perca fluviatilis
Pomadasys crocro
Porphyra tenera
Potamogeton pectinatus
Priacanthus hamrur
Pseudorhombus malayanus
Pterocladiella capillacea
Pusa caspica
Pusa sibirica
Pylaiella littoralis
Sabellidae
Salangichthys ishikawae
Sarconema filiforme
Sardinella albella
Sardinella brasiliensis
Sardinops melanostictus
Sargassum cymosum
Sargassum linearifolium
Sargassum micracanthum
Xiphias gladius
Sargassum novae-hollandiae
Sargassum oligocystum
Esox lucius
Limanda limanda
Abramis brama
Anguilla anguilla
Arctica islandica
Cerastoderma edule
Cyprinus carpio
Echinodermata
Fish larvae
Myoxocephalus scorpius
Osmerus eperlanus
Plankton
Scophthalmus maximus
Rhodophyta
Rutilus rutilus
Saduria entomon
Sander lucioperca
Gasterosteus aculeatus
Zoarces viviparus
Gymnocephalus cernua
Furcellaria lumbricalis
Cladophora glomerata
Lateolabrax japonicus
Okamejei kenojei
Sebastes pachycephalus
Squalus acanthias
Gadus macrocephalus
Paralichthys olivaceus
Ovalipes punctatus
Pseudopleuronectes yokohamae
Hemitripterus villosus
Clidoderma asperrimum
Microstomus achne
Lepidotrigla microptera
Hexagrammos otakii
Kareius bicoloratus
Pleuronichthys cornutus
Enteroctopus dofleini
Ammodytes personatus
Lophius litulon
Eopsetta grigorjewi
Takifugu porphyreus
Loliolus japonica
Sepia andreana
Sebastes cheni
Portunus trituberculatus
Sebastes schlegelii
Pennahia argentata
Platichthys stellatus
Gadus chalcogrammus
Chelidonichthys spinosus
Conger myriaster
Heterololigo bleekeri
Stichaeus grigorjewi
Pseudopleuronectes herzensteini
Octopus conispadiceus
Hippoglossoides dubius
Cleisthenes pinetorum
Glyptocephalus stelleri
Tanakius kitaharae
Nibea mitsukurii
Dasyatis matsubarai
Verasper moseri
Hemitrygon akajei
Triakis scyllium
Trachurus japonicus
Zeus faber
Pagrus major
Acanthopagrus schlegelii
Dentex tumifrons
Mustelus manazo
Seriola quinqueradiata
Hyperoglyphe japonica
Carcharhinus
Platycephalus
Scomber japonicus
Squatina japonica
Alopias pelagicus
Zenopsis nebulosa
Cynoglossus joyneri
Verasper variegatus
Oncorhynchus keta
Physiculus japonicus
Oplegnathus punctatus
Arothron hispidus
Stereolepis doederleini
Takifugu snyderi
Scomber australasicus
Liparis tanakae
Thamnaconus modestus
Gnathophis nystromi
Sebastes oblongus
Sebastiscus marmoratus
Takifugu pardalis
Mugil cephalus
Ditrema temminckii temminckii
Konosirus punctatus
Tribolodon brandtii
Oncorhynchus masou
Aluterus monoceros
Todarodes pacificus
Myoxocephalus stelleri
Myliobatis tobijei
Scyliorhinus torazame
Lophiomus setigerus
Heterodontus japonicus
Sebastes vulpes
Paraplagusia japonica
Ostrea edulis
Melanogrammus aeglefinus
Pollachius virens
Pollachius pollachius
Sebastes marinus
Anarhichas minor
Anarhichas denticulatus
Reinhardtius hippoglossoides
Trisopterus esmarkii
Micromesistius poutassou
Coryphaenoides rupestris
Argentina silus
Salmo salar
Sebastes viviparus
Buccinum undatum
Fucus serratus
Merluccius merluccius
Littorina littorea
Fucus
Rhodymenia
Solea solea
Trachurus trachurus
Eutrigla gurnardus
Pelvetia canaliculata
Ascophyllum nodosum
Mallotus villosus
Pecten maximus
Hippoglossoides platessoides
Sebastes mentella
Modiolus modiolus
Boreogadus saida
Sepia
Gadus
Sardina pilchardus
Pleuronectiformes
Molva molva
Patella
Crassostrea gigas
Dasyatis pastinaca
Lophius piscatorius
Porphyra umbilicalis
Patella vulgata
Brosme brosme
Glyptocephalus cynoglossus
Galeus melastomus
Chimaera monstrosa
Etmopterus spinax
Dicentrarchus labrax
Osilinus lineatus
Hippoglossus hippoglossus
Cyclopterus lumpus
Molva dypterygia
Microstomus kitt
Fucus distichus
Tapes
Sebastes norvegicus
Phycis blennoides
Fucus spiralis
Laminaria digitata
Dipturus batis
Anarhichas lupus
Lumpenus lampretaeformis
Lycodes vahlii
Argentina sphyraena
Trisopterus minutus
Thunnus
Hyperoplus lanceolatus
Gaidropsarus argentatus
Engraulis japonicus
Mytilus galloprovincialis
Undaria pinnatifida
Chlorophthalmus albatrossis
Sargassum fusiforme
Eisenia bicyclis
Spisula sachalinensis
Strongylocentrotus nudus
Haliotis discus hannai
Dexistes rikuzenius
Ruditapes philippinarum
Apostichopus japonicus
Pterothrissus gissu
Helicolenus hilgendorfii
Buccinum isaotakii
Neptunea intersculpta
Apostichopus nigripunctatus
Sebastes thompsoni
Oratosquilla oratoria
Oncorhynchus kisutch
Erimacrus isenbeckii
Sillago japonica
Trachysalambria curvirostris
Mytilus unguiculatus
Crassostrea nippona
Laminariales
Uroteuthis edulis
Takifugu poecilonotus
Neptunea arthritica
Katsuwonus pelamis
Doederleinia berycoides
Metapenaeopsis dalei
Seriola dumerili
Pseudorhombus pentophthalmus
Stephanolepis cirrhifer
Cookeolus japonicus
Panulirus japonicus
Thunnus orientalis
Halocynthia roretzi
Etrumeus sadina
Cololabis saira
Coryphaena hippurus
Sarda orientalis
Octopus ocellatus
Sardinops sagax
Sphyraena pinguis
Sebastes ventricosus
Occella iburia
Glossanodon semifasciatus
Mizuhopecten yessoensis
Neosalangichthys ishikawae
Bothrocara tanakae
Malacocottus zonurus
Coelorinchus macrochir
Neptunea constricta
Beringius polynematicus
Sebastes nivosus
Pandalus eous
Synaphobranchus kaupii
Sebastolobus macrochir
Marsupenaeus japonicus
Japelion hirasei
Pleurogrammus azonus
Monostroma nitidum
Atheresthes evermanni
Takifugu rubripes
Chionoecetes opilio
Pandalopsis coccinata
Chionoecetes japonicus
Sebastes matsubarae
Scombrops gilberti
Hyporhamphus sajori
Trichiurus lepturus
Alcichthys elongatus
Volutharpa perryi
Mercenaria stimpsoni
Berryteuthis magister
Aptocyclus ventricosus
Euphausia pacifica
Salangichthys microdon
Telmessus acutidens
Ceratophyllum demersum
Pandalus nipponensis
Sebastes owstoni
Cociella crocodilus
Conger japonicus
Sardinella zunasi
Cheilopogon pinnatibarbatus japonicus
Oplegnathus fasciatus
Macridiscus aequilatera
Repomucenus ornatipinnis
Clupea pallasii
Scorpaena neglecta
Scomberomorus niphonius
Leucopsarion petersii
Sebastes scythropus
Strongylura anastomella
Laemonema longipes
Fusitriton oregonensis
Japelion pericochlion
Sebastes steindachneri
Auxis rochei
Lobotes surinamensis
Auxis thazard
Chlorophthalmus borealis
Etelis coruscans
Sebastes inermis
Cynoglossus interruptus
Erilepis zonifer
Tridentiger obscurus
Caranx sexfasciatus
Thunnus thynnus
Takifugu stictonotus
Euthynnus affinis
Synagrops japonicus
Okamejei schmidti
Suggrundus meerdervoortii
Sebastes baramenuke
Pleurogrammus monopterygius
Decapterus maruadsi
Girella punctata
Sphyraena japonica
Ommastrephes bartramii
Sepiella japonica
Sepioteuthis lessoniana
Eucleoteuthis luminosa
Gloiopeltis furcata
Macrobrachium nipponense
Sepia kobiensis
Eriocheir japonica
Magallana nippona
Meretrix lusoria
Chondrus ocellatus
Chondrus elatus
Gloiopeltis
Holothuroidea
Corbicula japonica
Sunetta menstrualis
Pseudorhombus cinnamoneus
Takifugu niphobles
Lagocephalus gloveri
Beryx splendens
Parastichopus nigripunctatus
Venerupis philippinarum
Haliotis
Liparis agassizii
Seriola lalandi
Niphon spinosus
Pleuronichthys japonicus
Sergia lucens
Sphoeroides pachygaster
Coryphaenoides acrolepis
Pseudopleuronectes obscurus
Pyropia yezoensis
Isurus oxyrinchus
Sargassum fulvellum
Prionace glauca
Kajikia audax
Thunnus albacares
Thunnus alalunga
Thunnus obesus
Lamna ditropis
Glyptocidaris crenularis
Asterias amurensis
Sepiida
Congridae
Takifugu
Sargassum horneri
Haliotis discus
Pleuronectidae
Acanthogobius flavimanus
Acanthogobius lactipes
Pholis nebulosa
Hemigrapsus penicillatus
Palaemon paucidens
Mysidae
Zostera marina
Ulva pertusa
Gobiidae
Atherinidae
Tribolodon
Alpheus
Polychaeta
Sebastes
Charybdis japonica
Hemigrapsus
Favonigobius gymnauchen
Palaemon
Planiliza haematocheila
Palaemonidae
Pholis crassispina
Laminaria
Distolasterias nipon
Lophiiformes
Alpheus brevicristatus
Undaria undariodes
Neomysis awatschensis
Alpheidae
Macrobrachium
Hediste
Gymnogobius breunigii
Luidia quinaria
Rhizoprionodon acutus
Carangoides equula
Carcinoplax longimana
Anomura
Spatangoida
Plesiobatis daviesi
Eusphyra blochii
Ruditapes variegata
Sinonovacula constricta
Penaeus monodon
Litopenaeus vannamei
Solenocera crassicornis
Stomatopoda
Teuthida
Octopus
Larimichthys polyactis
Scomberomorini
Channa argus
Ranina ranina
Lates calcarifer
Scomberomorus commerson
Lutjanus malabaricus
Thenus parindicus
Amusium pleuronectes
Loligo
Plectropomus leopardus
Sillago ciliata
Scylla serrata
Pinctada maxima
Lutjanus argentimaculatus
Protonibea diacanthus
Polydactylus macrochir
Rachycentron canadum
Ibacus peronii
Arripis trutta
Sarda australis
Seriola hippos
Choerodon schoenleinii
Panulirus ornatus
Neotrygon kuhlii
Lethrinus nebulosus
Parupeneus multifasciatus
Saccostrea cucullata
Lutjanus sebae
Thunnus maccoyii
Acanthopagrus butcheri
Lambis lambis
Gerres subfasciatus
Zooplankton
Phytoplankton
Rapana venosa
Scapharca inaequivalvis
Ulva intestinalis
Ulva linza
Ceramium virgatum
Gayralia oxysperma
Vertebrata fucoides
Stuckenia pectinata
Rochia nilotica
Ctenochaetus striatus
Serranidae
Turbo setosus
Pandalidae
Gymnosarda unicolor
Epinephelini
Pisces
Liza klunzingeri
Acanthopagrus latus
Liza subviridis
Sparidentex hasta
Otolithes ruber
Crenidens crenidens
Ensis
Gastropoda
Euheterodonta
Scomber
Theragra chalcogramma
Engraulidae
Ostreidae
Phaeophyceae
Porphyra
Ulva reticulata
Perna viridis
Fenneropenaeus indicus
Merluccius
Soleidae
Mugilidae
Marine algae
Scarus rivulatus
Scarus coeruleus
Sardinella fimbriata
Dussumieria acuta
Lutjanus kasmira
Lutjanus rivulatus
Lutjanus bohar
Priacanthus blochii
Pelates quadrilineatus
Epinephelus fasciatus
Upeneus vittatus
Lethrinus laticaudis
Lethrinus lentjan
Lethrinus microdon
Sphyraena barracuda
Alectis indica
Epinephelus latifasciatus
Nemipterus japonicus
Raconda russeliana
Lactarius lactarius
Aetomylaeus bovinus
Pennahia anea
Leiognathus fasciatus
Sardinella longiceps
Tenualosa ilisha
Pellona ditchela
Stolephorus indicus
Setipinna breviceps
Rastrelliger kanagurta
Chanos chanos
Lepturacanthus savala
Epinephelus niveatus
Lutjanus johnii
Carangoides malabaricus
Ablennes hians
Chirocentrus dorab
Scomberomorus cavalla
Scomberomorus semifasciatus
Scomberomorus guttatus
Etrumeus teres
Spondyliosoma cantharus
Brama brama
Dasyatis zugei
Harpadon nehereus
Carcharhinus melanopterus
Penaeus plebejus
Sepia officinalis
Johnius dussumieri
Lutjanus campechanus
Ruditapes decussatus
Carcinus aestuarii
Squilla mantis
Epinephelus polyphekadion
Lutjanus gibbus
Lethrinus mahsena
Epinephelus chlorostigma
Carangoides bajad
Aethaloperca rogaa
Atule mate
Macolor niger
Carangoides fulvoguttatus
Plectropomus areolatus
Cephalopholis argus
Cephalopholis
Scarus sordidus
Scomberomorus tritor
Triaenodon obesus
Pomadasys commersonnii
Monotaxis grandoculis
Plectropomus maculatus
Trachinotus blochii
Pristipomoides filamentosus
Acanthurus gahhm
Acanthurus sohal
Siganus argenteus
Naso unicornis
Chanos
Oedalechilus labiosus
Plectorhinchus gaterinus
Mercenaria mercenaria
Mytilus
Turbo cornutus
Decapoda
Sphyraena
Arius maculatus
Penaeus merguiensis
Tegillarca granosa
Mullus barbatus barbatus
Chamelea gallina
Metanephrops thomsoni
Magallana gigas
Branchiostegus japonicus
Cephalopoda
Lutjanidae
Lethrinidae
Sphyraena argentea
Chirocentrus nudus
Trachinotus
Mugil auratus
Euthynnus alletteratus
Sparus aurata
Pagrus caeruleostictus
Scorpaena scrofa
Pagellus erythrinus
Epinephelus aeneus
Dentex maroccanus
Caranx rhonchus
Sardinella
Siganus
Solea
Diplodus sargus
Lithognathus mormyrus
Oblada melanura
Siganus rivulatus
Chelon labrosus
Cynoscion microlepidotus
Genypterus brasiliensis
Myoxocephalus polyacanthocephalus
Hexagrammos lagocephalus
Hexagrammos decagrammus
Sebastes ciliatus
Lepidopsetta polyxystra
Clupeiformes
Gadidae
Brachyura
Dasyatis
Carcharias
Saurida
Upeneus
Cynoglossus
Scomberomorus
Terapon
Leiognathus
Terapontidae
Caranx
Diplodus
Plectorhinchus flavomaculatus
Salmonidae
Mollusca
Boops boops
Sarpa salpa
Pagellus acarne
Spicara smaris
Diplodus vulgaris
Chelidonichthys lucerna
Sarda sarda
Serranus cabrilla
Diplodus annularis
Pagrus pagrus
Alosa fallax
Belone belone
Dentex dentex
Sphyraena viridensis
Trisopterus capelanus
Arnoglossus laterna
Procambarus clarkii
Nemadactylus macropterus
Pagrus auratus
Jasus edwardsii
Perna canaliculus
Pseudophycis bachus
Haliotis iris
Hoplostethus atlanticus
Rhombosolea leporina
Zygochlamys delicatula
Galeorhinus galeus
Parapercis colias
Tiostrea chilensis
Genypterus blacodes
Evechinus chloroticus
Austrovenus stutchburyi
Micromesistius australis
Macruronus novaezelandiae
Nototodarus
Perna perna
Sepia pharaonis
Turbo bruneus
Portunus sanguinolentus
Charybdis natator
Charybdis lucifera
Panulirus argus
Ethmalosa fimbriata
Sardinella brachysoma
Thryssa mystax
Plicofollis dussumieri
Nibea soldado
Epinephelus melanostigma
Megalops cyprinoides
Decapterus macarellus
Drepane punctata
Sillago sihama
Tylosurus crocodilus crocodilus
Saurida tumbil
Cynoglossus macrostomus
Parupeneus indicus
Synechogobius hasta
Busycotypus canaliculatus
Pampus cinereus
Pomadasys kaakan
Epinephelus coioides
Sepiella inermis
Uroteuthis duvauceli
Stomatella auricula
Cerithium scabridum
Marcia recens
Circe intermedia
Marcia opima
Fulvia fragile
Charybdis feriatus
Charybdis annulata
Atergatis integerrimus
Matuta lunaris
Calappa lophos
Uca annulipes
Chlamys varia
Cololabis adocetus
Seriola lalandi dorsalis
Brunneifusus ternatanus
Metapenaeus joyneri
Epinephelus tauvina
Coilia dussumieri
Carcharhinus dussumieri
Upeneus tragula
Sartoriana spinigera
Lamellidens marginalis
Polydactylus sextarius
Johnius macrorhynus
Hexanematichthys sagor
Sargassum swartzii
Argyrops spinifer
Synodus intermedius
Muraenesox cinereus
Carangoides armatus
Eleutheronema tetradactylum
Mustelus mosis
Nemipterus bipunctatus
Lutjanus quinquelineatus
Platycephalus indicus
Rhabdosargus haffara
Argyrops filamentosus
Brachirus orientalis
Mene maculata
Hemiramphus marginatus
Encrasicholina heteroloba
Trachinotus africanus
Bramidae
Escualosa thoracata
Sepia arabica
Scatophagus argus
Parastromateus niger
Planiliza subviridis
Labeo rohita
Oreochromis niloticus
Cardiidae
Sargassum angustifolium
Pomacea bridgesii
Sebastes fasciatus
Batoidea
Urophycis chuss
Dalatias licha
Trisopterus luscus
Scyliorhinus canicula
Ruvettus pretiosus
Aphanopus carbo
Alepocephalus bairdii
Centroscymnus coelolepis
Loligo forbesii
Lutjanus cyanopterus
Mugil liza
Micropogonias furnieri
Balistes capriscus
Haemulidae
Stenotomus caprinus
Hemanthias leptus
Micropogonias undulatus
Cynoscion nebulosus
Rhomboplites aurorubens
Bothidae
Pogonias cromis
Lutjanus synagris
Netuma thalassina
Sillaginopsis panijus
Leptomelanosoma indicum
Therapon
Pterotolithus maculatus
Ilisha filigera
Hilsa kelee
Pampus chinensis
Palaemon styliferus
Argyrosomus regius
Lutjanus
Sciades
Mullus
Albula vulpes
Selar crumenophthalmus
Centropomus
Sardinella aurita
Harengula humeralis
Diapterus auratus
Gerres cinereus
Haemulon parra
Ocyurus chrysurus
Sphyraena guachancho
Anoplopoma fimbria
Nerita versicolor
Bulla striata
Melongena melongena
Trachycardium muricatum
Isognomon alatus
Brachidontes exustus
Crassostrea virginica
Protothaca granulata
Cittarium pica
Penaeus schmitti
Penaeus notialis
Callinectes sapidus
Callinectes danae
Dasyatidae
Caridea
Nephropidae
Sparus
Sargassum boveanum
Haliotis tuberculata
Littorinidae
Seaweed
Echinoidea
Ostreida
Donax trunculus
Scrobicularia plana
Venus verrucosa
Solen marginatus
Testudines
Mullidae
Amphipoda
Cystosphaera jacquinotii
Daption capense
Desmarestia anceps
Himantothallus grandifolius
Mirounga
Nacella concinna
Notothenia coriiceps
Pygoscelis antarcticus
Pygoscelis papua
Oncorhynchus gorbuscha

In [ ]:
dfs['biota']['TISSUE'].unique()

array([ 5,  1, 41,  3, 51, 43, 42, 12, 10, 18, 52, 20,  8, 54, 53])

In [ ]:
dfs['sediment'].head()

,KEY,NUCLIDE,METHOD,< VALUE_Bq/kg,VALUE_Bq/kg,ERROR%_kg,< VALUE_Bq/m²,VALUE_Bq/m²,ERROR%_m²,DATE_OF_ENTRY_x,...,LOWSLI,AREA,SEDI,OXIC,DW%,LOI%,MORS_SUBBASIN,HELCOM_SUBBASIN,SUM_LINK,DATE_OF_ENTRY_y
0,SKRIL2012048,RA226,NaN,NaN,35.0,26.0,NaN,NaN,NaN,08/20/14 00:00:00,...,20.0,0.006,NaN,NaN,NaN,NaN,11.0,11.0,NaN,08/20/14 00:00:00
1,SKRIL2012049,RA226,NaN,NaN,36.0,22.0,NaN,NaN,NaN,08/20/14 00:00:00,...,27.0,0.006,NaN,NaN,NaN,NaN,11.0,11.0,NaN,08/20/14 00:00:00
2,SKRIL2012050,RA226,NaN,NaN,38.0,24.0,NaN,NaN,NaN,08/20/14 00:00:00,...,2.0,0.006,NaN,NaN,NaN,NaN,11.0,11.0,NaN,08/20/14 00:00:00
3,SKRIL2012051,RA226,NaN,NaN,36.0,25.0,NaN,NaN,NaN,08/20/14 00:00:00,...,4.0,0.006,NaN,NaN,NaN,NaN,11.0,11.0,NaN,08/20/14 00:00:00
4,SKRIL2012052,RA226,NaN,NaN,30.0,23.0,NaN,NaN,NaN,08/20/14 00:00:00,...,6.0,0.006,NaN,NaN,NaN,NaN,11.0,11.0,NaN,08/20/14 00:00:00

## Data transformation pipeline

### Normalize nuclide names

#### Lower & strip

In [ ]:
class LowerStripRdnNameCB(Callback):
    "Convert nuclide names to lowercase & strip any trailing space(s)"
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['NUCLIDE'] = tfm.dfs[k]['NUCLIDE'].apply(lambda x: x.lower().strip())

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB()])
tfm()['seawater']['NUCLIDE'].unique()

array(['cs137', 'sr90', 'h3', 'cs134', 'pu238', 'pu239240', 'am241',
       'cm242', 'cm244', 'tc99', 'k40', 'ru103', 'sr89', 'sb125', 'nb95',
       'ru106', 'zr95', 'ag110m', 'cm243244', 'ba140', 'ce144', 'u234',
       'u238', 'co60', 'pu239', 'pb210', 'po210', 'np237', 'pu240',
       'mn54'], dtype=object)

#### Remap to MARIS nuclide names

In [ ]:
def get_unique_nuclides(dfs):
    "Get list of unique radionuclide types measured across samples"
    nuclides = []
    for k in dfs.keys():
        nuclides += dfs[k]['NUCLIDE'].unique().tolist()
    return nuclides

get_unique_nuclides(tfm.dfs)[:5]

['cs137', 'sr90', 'h3', 'cs134', 'pu238']

In [ ]:
# Check if these variable names consistent with MARIS CDL
has_valid_varname(get_unique_nuclides(tfm.dfs), NC_TPL_PATH)

"pu239240" variable name not found in MARIS CDL
"cm243244" variable name not found in MARIS CDL
"cs134137" variable name not found in MARIS CDL
"pu239240" variable name not found in MARIS CDL
"pu238240" variable name not found in MARIS CDL
"pu239240" variable name not found in MARIS CDL
"cs134137" variable name not found in MARIS CDL
"k-40" variable name not found in MARIS CDL
"cs138" variable name not found in MARIS CDL
"cs139" variable name not found in MARIS CDL
"cs140" variable name not found in MARIS CDL
"cs141" variable name not found in MARIS CDL
"cs142" variable name not found in MARIS CDL
"cs143" variable name not found in MARIS CDL
"cs144" variable name not found in MARIS CDL
"cs145" variable name not found in MARIS CDL
"cs146" variable name not found in MARIS CDL

False

In [ ]:
# Create lut
varnames_lut = {n: n for n in set(get_unique_nuclides(tfm.dfs))}

In [ ]:
# Renaming above mentioned nuclides accordingly
varnames_lut['k-40'] = 'k40'
varnames_lut['cm243244'] = 'cm243_244_tot'
varnames_lut['cs134137'] = 'cs134_137_tot'
varnames_lut['pu239240'] = 'pu239_240_tot'
varnames_lut['pu238240'] = 'pu238_240_tot'

In [ ]:
class RemapRdnNameCB(Callback):
    "Remap to MARIS radionuclide names"
    def __init__(self, lut): fc.store_attr()        
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['NUCLIDE'].replace(self.lut, inplace=True)

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(),
                            RemapRdnNameCB(varnames_lut)])

tfm()['biota']['NUCLIDE'].unique()

array(['cs134', 'k40', 'co60', 'cs137', 'sr90', 'ag108m', 'mn54', 'co58',
       'ag110m', 'zn65', 'sb125', 'pu239_240_tot', 'ru106', 'be7',
       'ce144', 'pb210', 'po210', 'sb124', 'sr89', 'zr95', 'te129m',
       'ru103', 'nb95', 'ce141', 'la140', 'i131', 'ba140', 'pu238',
       'u235', 'bi214', 'pb214', 'pb212', 'tl208', 'ac228', 'ra223',
       'eu155', 'ra226', 'gd153', 'sn113', 'fe59', 'tc99', 'co57',
       'sn117m', 'eu152', 'sc46', 'rb86', 'ra224', 'th232',
       'cs134_137_tot', 'am241', 'ra228', 'th228', 'cs138', 'cs139',
       'cs140', 'cs141', 'cs142', 'cs143', 'cs144', 'cs145', 'cs146'],
      dtype=object)

In [ ]:
has_valid_varname(get_unique_nuclides(tfm.dfs), NC_TPL_PATH);

"cs138" variable name not found in MARIS CDL
"cs139" variable name not found in MARIS CDL
"cs140" variable name not found in MARIS CDL
"cs141" variable name not found in MARIS CDL
"cs142" variable name not found in MARIS CDL
"cs143" variable name not found in MARIS CDL
"cs144" variable name not found in MARIS CDL
"cs145" variable name not found in MARIS CDL
"cs146" variable name not found in MARIS CDL

### Parse time

In [ ]:
class ParseTimeCB(Callback):
    def __call__(self, tfm):
        #format_time = lambda x: date2num(x, units=get_cfgs('units')['time'])
        for k in tfm.dfs.keys():
            # Parse
            tfm.dfs[k]['time'] = pd.to_datetime(tfm.dfs[k].DATE, infer_datetime_format=True)

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(),
                            RemapRdnNameCB(varnames_lut),
                            ParseTimeCB()])

tfm()['seawater']['time'][:5]

0   2012-05-23
1   2012-05-23
2   2012-06-17
3   2012-05-24
4   2012-05-24
Name: time, dtype: datetime64[ns]

### Normalize uncertainty units

In [ ]:
# Make measurement and uncertainty units consistent
def fix_units(df, meas_col, unc_col):
    return df.apply(lambda row: row[unc_col] * row[meas_col]/100, axis=1)    

# Columns of interest
coi_units_unc = [('seawater', 'VALUE_Bq/m³', 'ERROR%_m³'), 
                 ('biota', 'VALUE_Bq/kg', 'ERROR%'),
                 ('sediment', 'VALUE_Bq/kg', 'ERROR%_kg')]

In [ ]:
class NormalizeUncUnitCB(Callback):
    "Convert uncertainty from % to activity unit"
    def __init__(self, coi): fc.store_attr()
    
    def __call__(self, tfm):
        for grp, val, unc in self.coi: 
            tfm.dfs[grp][unc] = self.fix_units(tfm.dfs[grp], val, unc)
            
    def fix_units(self, df, meas_col, unc_col):
        return df.apply(lambda row: row[unc_col] * row[meas_col]/100, axis=1)

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(),
                            RemapRdnNameCB(varnames_lut),
                            ParseTimeCB(),
                            NormalizeUncUnitCB(coi_units_unc)])

tfm()['seawater'][['VALUE_Bq/m³', 'ERROR%_m³']][:5]

   VALUE_Bq/m³  ERROR%_m³
0          5.3      1.696
1         19.9      3.980
2         25.5      5.100
3         17.0      4.930
4         22.2      3.996

### Rename columns

In [ ]:
# Define columns of interest by sample type
coi_grp = {'seawater': ['NUCLIDE', 'VALUE_Bq/m³', 'ERROR%_m³', 'time',
                        'TDEPTH', 'LATITUDE (dddddd)', 'LONGITUDE (dddddd)'],
           'sediment': ['NUCLIDE', 'VALUE_Bq/kg', 'ERROR%_kg', 'time',
                        'TDEPTH', 'LATITUDE (dddddd)', 'LONGITUDE (dddddd)', 
                        'SEDI'],
            'biota': ['NUCLIDE', 'VALUE_Bq/kg', 'ERROR%', 'time',
                        'SDEPTH', 'LATITUDE ddmmmm', 'LONGITUDE ddmmmm',
                        'BIOTATYPE', 'TISSUE']}

In [ ]:
# Define column names renaming rules
renaming_rules = {
    'NUCLIDE': 'nuclide',
    'VALUE_Bq/m³': 'value',
    'VALUE_Bq/kg': 'value',
    'ERROR%_m³': 'unc',
    'ERROR%_kg': 'unc',
    'ERROR%': 'unc',
    'TDEPTH': 'depth',
    'SDEPTH': 'depth',
    'LATITUDE (dddddd)':'lat',
    'LATITUDE ddmmmm': 'lat',
    'LONGITUDE (dddddd)':'lon',
    'LONGITUDE ddmmmm': 'lon',
    # group specific
    'BIOTATYPE': 'bio_group',
    'TISSUE': 'body_part',
    'SEDI': 'sed_type'
}

In [ ]:
class RenameColumnCB(Callback):
    def __init__(self, coi, renaming_rules): fc.store_attr()
    
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            # Select cols of interest
            tfm.dfs[k] = tfm.dfs[k].loc[:, self.coi[k]]
            
            # Rename cols
            tfm.dfs[k].rename(columns=self.renaming_rules, inplace=True)

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(),
                            RemapRdnNameCB(varnames_lut),
                            ParseTimeCB(),
                            NormalizeUncUnitCB(coi_units_unc),
                            RenameColumnCB(coi_grp, renaming_rules)])

tfm()['seawater'].head(5)

  nuclide  value    unc       time  depth      lat      lon
0   cs137    5.3  1.696 2012-05-23    NaN  60.0833  29.3333
1   cs137   19.9  3.980 2012-05-23    NaN  60.0833  29.3333
2   cs137   25.5  5.100 2012-06-17    NaN  59.4333  23.1500
3   cs137   17.0  4.930 2012-05-24    NaN  60.2500  27.9833
4   cs137   22.2  3.996 2012-05-24    NaN  60.2500  27.9833

### Reshape: long to wide

In [ ]:
class ReshapeLongToWide(Callback):
    def __init__(self): fc.store_attr()
    
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            cols = ['nuclide']
            vals = ['value', 'unc']
            idx = list(set(tfm.dfs[k].columns) - set(cols + vals)) # All others

            tfm.dfs[k] = tfm.dfs[k].pivot_table(index=idx, 
                                                columns=cols, 
                                                values=vals).reset_index()

            # Flatten cols name
            tfm.dfs[k].columns = rename_cols(tfm.dfs[k].columns)

            # Set index
            tfm.dfs[k].index.name = 'sample'

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(),
                            RemapRdnNameCB(varnames_lut),
                            ParseTimeCB(),
                            NormalizeUncUnitCB(coi_units_unc),
                            RenameColumnCB(coi_grp, renaming_rules),
                            ReshapeLongToWide()])

tfm()['seawater'].head(5)

,lon,time,depth,lat,ag110m_unc,am241_unc,ba140_unc,ce144_unc,cm242_unc,cm243_244_tot_unc,...,pu240,ru103,ru106,sb125,sr89,sr90,tc99,u234,u238,zr95
sample,,,,,,,,,,,,,,,,,,,,,
0,0.0,2015-04-21,12.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.759,NaN,NaN,NaN,NaN
1,0.0,2015-04-23,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.758,NaN,NaN,NaN,NaN
2,0.0,2015-04-30,13.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,2015-05-19,81.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,2015-05-20,69.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.255,NaN,NaN,NaN,NaN

### Encode time (seconds since ...)

In [ ]:
class EncodeTimeCB(Callback):
    "Encode time as `int` representing seconds since xxx"
    def __call__(self, tfm):
        format_time = lambda x: date2num(x, units=get_cfgs('units')['time'])
        for k in tfm.dfs.keys():    
            tfm.dfs[k]['time'] = tfm.dfs[k]['time'].apply(format_time)

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(),
                            RemapRdnNameCB(varnames_lut),
                            ParseTimeCB(),
                            NormalizeUncUnitCB(coi_units_unc),
                            RenameColumnCB(coi_grp, renaming_rules),
                            ReshapeLongToWide(),
                            EncodeTimeCB()])

tfm()['seawater'].head(5)

,lon,time,depth,lat,ag110m_unc,am241_unc,ba140_unc,ce144_unc,cm242_unc,cm243_244_tot_unc,...,pu240,ru103,ru106,sb125,sr89,sr90,tc99,u234,u238,zr95
sample,,,,,,,,,,,,,,,,,,,,,
0,0.0,1429574400,12.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.759,NaN,NaN,NaN,NaN
1,0.0,1429747200,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.758,NaN,NaN,NaN,NaN
2,0.0,1430352000,13.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,1431993600,81.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,1432080000,69.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.255,NaN,NaN,NaN,NaN

### Sanitize coordinates

In [ ]:
class SanitizeLonLatCB(Callback):
    "Drop row when both longitude & latitude equal 0"
    def __call__(self, tfm):
        tfm.dfs = {grp: (df[(df.lon != 0) & (df.lat != 0)]) 
                   for grp, df in tfm.dfs.items()}

In [ ]:
dfs = load_helcom(fname_in)
tfm = Transformer(dfs, cbs=[LowerStripRdnNameCB(),
                            RemapRdnNameCB(varnames_lut),
                            ParseTimeCB(),
                            NormalizeUncUnitCB(coi_units_unc),
                            RenameColumnCB(coi_grp, renaming_rules),
                            ReshapeLongToWide(),
                            EncodeTimeCB(),
                            SanitizeLonLatCB()])

tfm()['seawater'].head(5)

,lon,time,depth,lat,ag110m_unc,am241_unc,ba140_unc,ce144_unc,cm242_unc,cm243_244_tot_unc,...,pu240,ru103,ru106,sb125,sr89,sr90,tc99,u234,u238,zr95
sample,,,,,,,,,,,,,,,,,,,,,
10,9.6333,544838400,16.0,54.8433,NaN,0.002907,NaN,NaN,0.004369,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
11,9.6333,597628800,17.0,54.8400,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9.6333,690854400,16.0,54.8417,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,9.6333,724464000,17.0,54.8417,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9.6352,629596800,17.0,54.8425,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Visualizing transform steps
tfm.logs

['Convert nuclide names to lowercase & strip any trailing space(s)',
 'Remap to MARIS radionuclide names',
 'Convert uncertainty from % to activity unit',
 'Encode time as `int` representing seconds since xxx',
 'Drop row when both longitude & latitude equal 0']

## Encode to NetCDF

### Feed global attributes

In [ ]:
kw = ['oceanography', 'Earth Science > Oceans > Ocean Chemistry> Radionuclides',
      'Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure',
      'Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments',
      'Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes',
      'Earth Science > Oceans > Water Quality > Ocean Contaminants',
      'Earth Science > Biological Classification > Animals/Vertebrates > Fish',
      'Earth Science > Biosphere > Ecosystems > Marine Ecosystems',
      'Earth Science > Biological Classification > Animals/Invertebrates > Mollusks',
      'Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans',
      'Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)']

In [ ]:
attrs = global_attrs(dfs, zotero_id, 
                     xtras={'keyword': kw,
                            'history': ', '.join(tfm.logs)})

### Metadata

In [ ]:
# Populating NetCDF global attributes metadata
item_id = '26VMZZ2Q'
global_attrs = Metadata(dfs)
CONFIGS['global_attr'] = global_attrs.fill(ZoteroItem(item_id, get_cfgs('zotero')))
CONFIGS['global_attr']

{'id': '',
 'title': 'Environmental database - Helsinki Commission Monitoring of Radioactive Substances',
 'summary': 'MORS Environment database has been used to collate data resulting from monitoring of environmental radioactivity in the Baltic Sea based on HELCOM Recommendation 26/3.\n\nThe database is structured according to HELCOM Guidelines on Monitoring of Radioactive Substances (https://www.helcom.fi/wp-content/uploads/2019/08/Guidelines-for-Monitoring-of-Radioactive-Substances.pdf), which specifies reporting format, database structure, data types and obligatory parameters used for reporting data under Recommendation 26/3.\n\nThe database is updated and quality assured annually by HELCOM MORS EG.',
 'keywords': '',
 'keywords_vocabulary': 'GCMD Science Keywords',
 'keywords_vocabulary_url': 'https://gcmd.earthdata.nasa.gov/static/kms/',
 'record': '',
 'featureType': '',
 'cdm_data_type': '',
 'Conventions': 'CF-1.10 ACDD-1.3',
 'publisher_name': 'Paul MCGINNITY, Iolanda OSVATH, Florence DESCROIX-COMANDUCCI',
 'publisher_email': 'p.mc-ginnity@iaea.org, i.osvath@iaea.org, F.Descroix-Comanducci@iaea.org',
 'publisher_url': 'https://maris.iaea.org',
 'publisher_institution': 'International Atomic Energy Agency - IAEA',
 'creator_name': 'author: HELCOM MORS',
 'institution': '',
 'metadata_link': '',
 'creator_email': '',
 'creator_url': '',
 'references': '',
 'license': 'Without prejudice to the applicable Terms and Conditions (https://nucleus.iaea.org/Pages/Others/Disclaimer.aspx), I hereby agree that any use of the data will contain appropriate acknowledgement of the data source(s) and the IAEA Marine Radioactivity Information System (MARIS).',
 'comment': '',
 'geospatial_lat_min': '31.1667',
 'geospatial_lon_min': '0.0',
 'geospatial_lat_max': '65.6347',
 'geospatial_lon_max': '0.0',
 'geospatial_vertical_min': '-460.0',
 'geospatial_vertical_max': '0',
 'geospatial_bounds': 'POLYGON ((0 0, 31.1667 0, 31.1667 65.6347, 0 65.6347, 0 0))',
 'geospatial_bounds_crs': 'EPSG:4326',
 'time_coverage_start': '1984-01-10T00:00:00',
 'time_coverage_end': '2018-12-12T00:00:00',
 'local_time_zone': '',
 'date_created': '',
 'date_modified': ''}

In [ ]:
kw = ['oceanography', 'Earth Science > Oceans > Ocean Chemistry> Radionuclides',
      'Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure',
      'Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments',
      'Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes',
      'Earth Science > Oceans > Water Quality > Ocean Contaminants',
      'Earth Science > Biological Classification > Animals/Vertebrates > Fish',
      'Earth Science > Biosphere > Ecosystems > Marine Ecosystems',
      'Earth Science > Biological Classification > Animals/Invertebrates > Mollusks',
      'Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans',
      'Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)']

In [ ]:
CONFIGS['global_attr']['keywords'] = ', '.join(kw); CONFIGS

{'global_attr': {'id': '',
  'title': 'Environmental database - Helsinki Commission Monitoring of Radioactive Substances',
  'summary': 'MORS Environment database has been used to collate data resulting from monitoring of environmental radioactivity in the Baltic Sea based on HELCOM Recommendation 26/3.\n\nThe database is structured according to HELCOM Guidelines on Monitoring of Radioactive Substances (https://www.helcom.fi/wp-content/uploads/2019/08/Guidelines-for-Monitoring-of-Radioactive-Substances.pdf), which specifies reporting format, database structure, data types and obligatory parameters used for reporting data under Recommendation 26/3.\n\nThe database is updated and quality assured annually by HELCOM MORS EG.',
  'keywords': 'oceanography, Earth Science > Oceans > Ocean Chemistry> Radionuclides, Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure, Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments, Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes, Earth Science > Oceans > Water Quality > Ocean Contaminants, Earth Science > Biological Classification > Animals/Vertebrates > Fish, Earth Science > Biosphere > Ecosystems > Marine Ecosystems, Earth Science > Biological Classification > Animals/Invertebrates > Mollusks, Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans, Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)',
  'keywords_vocabulary': 'GCMD Science Keywords',
  'keywords_vocabulary_url': 'https://gcmd.earthdata.nasa.gov/static/kms/',
  'record': '',
  'featureType': '',
  'cdm_data_type': '',
  'Conventions': 'CF-1.10 ACDD-1.3',
  'publisher_name': 'Paul MCGINNITY, Iolanda OSVATH, Florence DESCROIX-COMANDUCCI',
  'publisher_email': 'p.mc-ginnity@iaea.org, i.osvath@iaea.org, F.Descroix-Comanducci@iaea.org',
  'publisher_url': 'https://maris.iaea.org',
  'publisher_institution': 'International Atomic Energy Agency - IAEA',
  'creator_name': 'author: HELCOM MORS',
  'institution': '',
  'metadata_link': '',
  'creator_email': '',
  'creator_url': '',
  'references': '',
  'license': 'Without prejudice to the applicable Terms and Conditions (https://nucleus.iaea.org/Pages/Others/Disclaimer.aspx), I hereby agree that any use of the data will contain appropriate acknowledgement of the data source(s) and the IAEA Marine Radioactivity Information System (MARIS).',
  'comment': '',
  'geospatial_lat_min': '31.1667',
  'geospatial_lon_min': '9.41',
  'geospatial_lat_max': '65.6347',
  'geospatial_lon_max': '53.458',
  'geospatial_vertical_min': '-460.0',
  'geospatial_vertical_max': '0',
  'geospatial_bounds': 'POLYGON ((9.41 53.458, 31.1667 53.458, 31.1667 65.6347, 9.41 65.6347, 9.41 53.458))',
  'geospatial_bounds_crs': 'EPSG:4326',
  'time_coverage_start': '1984-01-10T00:00:00',
  'time_coverage_end': '2018-12-12T00:00:00',
  'local_time_zone': '',
  'date_created': '',
  'date_modified': ''}}

### To NetCDF

In [ ]:
def units_fn(grp_name,
             rdn_name):
    lut = {'seawater': 'Bq/m³', 
           'sediment': 'Bq/kg', 
           'biota': 'Bq/kg'}
    return lut[grp_name]

In [ ]:
to_netcdf(dfs, NC_TPL_PATH, fname_out, CONFIGS, units_fn)

% of discarded data for grp seawater: 0.0
% of discarded data for grp sediment: 0.0
% of discarded data for grp biota: 7.010663611527276