In [ ]:
#| default_exp handlers.maris_legacy_long

# MARIS Legacy

> This notebook contains a data pipeline (handler) that converts the master MARIS database dump into `NetCDF` format. It enables batch encoding of all legacy datasets into NetCDF.


Key functions of this handler:

- **Load data** from a MARIS dump file
- **Transform data** by applying various transformations to clean and normalize the data
- **Reshape data** from long to wide format
- **Encode data** into NetCDF files


The **result** is a set of NetCDF files, one for each unique reference ID in the input data.

## Packages import

In [ ]:
#| hide
%load_ext autoreload
%autoreload 2

In [ ]:
#| export
from tqdm import tqdm
from pathlib import Path
import fastcore.all as fc
import pandas as pd
import numpy as np

from marisco.callbacks import (
    Callback, 
    Transformer, 
    SanitizeLonLatCB, 
    EncodeTimeCB, 
    RenameColumnsCB, 
    SelectColumnsCB,
    UniqueIndexCB
)

from marisco.metadata import (
    GlobAttrsFeeder, 
    BboxCB, 
    DepthRangeCB,
    TimeRangeCB,
    ZoteroCB,KeyValuePairCB
    )

from marisco.configs import (
    NC_GROUPS,
    lut_path,
    cdl_cfg,
    cfg,
    nc_tpl_path,
    Enums, get_lut
    )

from marisco.encoders import NetCDFEncoder

In [ ]:
#| hide
import warnings
pd.set_option('display.max_rows', 100)
warnings.filterwarnings('ignore')

## Configuration and file paths

In [ ]:
# | exports
# fname_in = Path().home() / 'pro/data/maris/MARIS_exportSample_20240313.txt'
# dir_dest = '../../_data/output/dump'


fname_in = Path().home() / 'pro/data/maris/2024-11-08 MARIS_QA_shapetype_id=1.xlsx'
dir_dest = '../../_data/output/dump'

## Utils

In [ ]:
#| exports
class DataLoader:
    "Load specific MARIS dataset through its ref_id."
    LUT = {
        'Biota': 'BIOTA', 
        'Seawater': 'SEAWATER', 
        'Sediment': 'SEDIMENT', 
        'Suspended matter': 'SUSPENDED_MATTER'
    }

    def __init__(self, 
                 fname: str # Path to the MARIS global dump file
                 ):
        self.fname = fname
        self.df = None  # Lazy loading

    def _load_data(self):
        if self.df is None:
            self.df = pd.read_excel(self.fname)

    def __call__(self, 
                 ref_id: int # Reference ID of interest
                 ) -> dict: # Dictionary of dataframes
        self._load_data()
        filtered_df = self.df[self.df.ref_id == ref_id]
        return {self.LUT[name]: grp for name, grp in filtered_df.groupby('samptype') if name in self.LUT}

In [ ]:
#| exports
def get_zotero_key(dfs):
    "Retrieve Zotero key from MARIS dump."
    return dfs[next(iter(dfs))][['zoterourl']].iloc[0].values[0].split('/')[-1]

In [ ]:
#| exports
def get_fname(dfs):
    "Retrieve filename from MARIS dump."
    id, name = dfs[next(iter(dfs))][['ref_id', 'displaytext']].iloc[0]
    name = name.replace(',', '').replace('.', '').replace('-', ' ').split(' ')
    return '-'.join(([str(id)] + name)) + '.nc'

## Load data

In [ ]:
#|eval: false
dataloader = DataLoader(fname_in)
ref_id = 100 # Some other ref_id examples: OSPAR: 191, HELCOM: 100, 717 (only seawater)

dfs = dataloader(ref_id=ref_id)
print(f'keys: {dfs.keys()}')
dfs['SEDIMENT'].head()

keys: dict_keys(['BIOTA', 'SEAWATER', 'SEDIMENT'])

,sample_id,area_id,areaname,samptype_id,samptype,ref_id,displaytext,zoterourl,ref_note,datbase,...,profile_id,sampnote,ref_fulltext,ref_yearpub,ref_sampleTypes,LongLat,shiftedcoordinates,shiftedlong,shiftedlat,id
576000,398412,2374,Kattegat,3,Sediment,100,"HELCOM MORS, 2018",https://www.zotero.org/groups/2432820/maris/it...,"Assumed Cs137, originally reported as 138Cs.",HELCOM MORS 2018 Environmental database,...,NaN,DENMARK,"HELCOM MORS, 2018. Environmental database - He...",2018,"1,2,3","10.998,55.375",0xE6100000010C0000000000B04B401F85EB51B8FE2540,10.9975,55.375,576001
576001,398412,2374,Kattegat,3,Sediment,100,"HELCOM MORS, 2018",https://www.zotero.org/groups/2432820/maris/it...,"Assumed Cs137, originally reported as 138Cs.",HELCOM MORS 2018 Environmental database,...,NaN,DENMARK,"HELCOM MORS, 2018. Environmental database - He...",2018,"1,2,3","10.998,55.375",0xE6100000010C0000000000B04B401F85EB51B8FE2540,10.9975,55.375,576002
576002,398412,2374,Kattegat,3,Sediment,100,"HELCOM MORS, 2018",https://www.zotero.org/groups/2432820/maris/it...,"Assumed Cs137, originally reported as 138Cs.",HELCOM MORS 2018 Environmental database,...,NaN,DENMARK,"HELCOM MORS, 2018. Environmental database - He...",2018,"1,2,3","10.998,55.375",0xE6100000010C0000000000B04B401F85EB51B8FE2540,10.9975,55.375,576003
576003,398412,2374,Kattegat,3,Sediment,100,"HELCOM MORS, 2018",https://www.zotero.org/groups/2432820/maris/it...,"Assumed Cs137, originally reported as 138Cs.",HELCOM MORS 2018 Environmental database,...,NaN,DENMARK,"HELCOM MORS, 2018. Environmental database - He...",2018,"1,2,3","10.998,55.375",0xE6100000010C0000000000B04B401F85EB51B8FE2540,10.9975,55.375,576004
576004,398412,2374,Kattegat,3,Sediment,100,"HELCOM MORS, 2018",https://www.zotero.org/groups/2432820/maris/it...,"Assumed Cs137, originally reported as 138Cs.",HELCOM MORS 2018 Environmental database,...,NaN,DENMARK,"HELCOM MORS, 2018. Environmental database - He...",2018,"1,2,3","10.998,55.375",0xE6100000010C0000000000B04B401F85EB51B8FE2540,10.9975,55.375,576005

In [ ]:
ref_id = 724

## Data transformation pipeline

### Select columns

In [ ]:
#| exports
cois_renaming_rules = {
    'sample_id': 'SMP_ID',
    'latitude': 'LAT',
    'longitude': 'LON',
    'begperiod': 'TIME',
    'sampdepth': 'SMP_DEPTH',
    'totdepth': 'TOT_DEPTH',
    'uncertaint': 'UNC',
    'unit_id': 'UNIT',
    'detection': 'DL',
    'area_id': 'AREA',
    'species_id': 'SPECIES',
    'biogroup_id': 'BIO_GROUP',
    'bodypar_id': 'BODY_PART',
    'sedtype_id': 'SED_TYPE',
    'volume': 'VOL',
    'salinity': 'SAL',
    'temperatur': 'TEMP',
    'sampmet_id': 'SAMP_MET',
    'prepmet_id': 'PREP_MET',
    'counmet_id': 'COUNT_MET',
    'activity': 'VALUE',
    'nuclide_id': 'NUCLIDE',
    'sliceup': 'TOP',
    'slicedown': 'BOTTOM'
}

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules)
    ])

print('Keys:', tfm().keys())
print('Columns:', tfm()['BIOTA'].columns)

Keys: dict_keys(['BIOTA'])
Columns: Index(['sample_id', 'latitude', 'longitude', 'begperiod', 'sampdepth',
       'totdepth', 'uncertaint', 'unit_id', 'detection', 'area_id',
       'species_id', 'biogroup_id', 'bodypar_id', 'sedtype_id', 'volume',
       'salinity', 'temperatur', 'sampmet_id', 'prepmet_id', 'counmet_id',
       'activity', 'nuclide_id', 'sliceup', 'slicedown'],
      dtype='object')

### Rename columns

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules),
    RenameColumnsCB(cois_renaming_rules)
    ])

dfs_tfm = tfm()
print('Keys:', dfs_tfm.keys())
print('Columns:', dfs_tfm['BIOTA'].columns)

Keys: dict_keys(['BIOTA'])
Columns: Index(['SMP_ID', 'LAT', 'LON', 'TIME', 'SMP_DEPTH', 'TOT_DEPTH', 'UNC', 'UNIT',
       'DL', 'AREA', 'SPECIES', 'BIO_GROUP', 'BODY_PART', 'SED_TYPE', 'VOL',
       'SAL', 'TEMP', 'SAMP_MET', 'PREP_MET', 'COUNT_MET', 'VALUE', 'NUCLIDE',
       'TOP', 'BOTTOM'],
      dtype='object')

### Drop NaN only columns

In [ ]:
#| exports
class DropNAColumnsCB(Callback):
    "Drop variable containing only NaN or 'Not available' (id=0 in MARIS lookup tables)."
    def __init__(self, na_value=0): fc.store_attr()
    def isMarisNA(self, col): 
        return len(col.unique()) == 1 and col.iloc[0] == self.na_value
    
    def dropMarisNA(self, df):
        na_cols = [col for col in df.columns if self.isMarisNA(df[col])]
        return df.drop(labels=na_cols, axis=1)
        
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k] = tfm.dfs[k].dropna(axis=1, how='all')
            tfm.dfs[k] = self.dropMarisNA(tfm.dfs[k])

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules),
    RenameColumnsCB(cois_renaming_rules),
    DropNAColumnsCB()
    ])

dfs_tfm = tfm()
print('Keys:', dfs_tfm.keys())
print('Columns:', dfs_tfm['BIOTA'].columns)

Keys: dict_keys(['BIOTA'])
Columns: Index(['SMP_ID', 'LAT', 'LON', 'TIME', 'UNC', 'UNIT', 'DL', 'AREA', 'SPECIES',
       'BIO_GROUP', 'BODY_PART', 'COUNT_MET', 'VALUE', 'NUCLIDE'],
      dtype='object')

### Remap detection limit values

In [ ]:
#| exports
dl_name_to_id = lambda: get_lut(lut_path(), 'dbo_detectlimit.xlsx', key='name', value='id')

In [ ]:
#| eval: false
dl_name_to_id()

{'Not applicable': -1, 'Not Available': 0, '=': 1, '<': 2, 'ND': 3, 'DE': 4}

In [ ]:
#| exports
class SanitizeDetectionLimitCB(Callback):
    "Assign Detection Limit name to its id based on MARIS nomenclature."
    def __init__(self,
                 fn_lut=dl_name_to_id,
                 dl_name='DL'):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k][self.dl_name] = tfm.dfs[k][self.dl_name].replace(lut)

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules),
    RenameColumnsCB(cois_renaming_rules),
    DropNAColumnsCB(),
    SanitizeDetectionLimitCB()
    ])

dfs_tfm = tfm()
print('Keys:', dfs_tfm.keys())
print('Columns:', dfs_tfm['BIOTA'].columns)
print(f'{dfs_tfm["BIOTA"]["DL"].unique()}')
print(f'{dfs_tfm["BIOTA"].head()}')

Keys: dict_keys(['BIOTA'])
Columns: Index(['SMP_ID', 'LAT', 'LON', 'TIME', 'UNC', 'UNIT', 'DL', 'AREA', 'SPECIES',
       'BIO_GROUP', 'BODY_PART', 'COUNT_MET', 'VALUE', 'NUCLIDE'],
      dtype='object')
[1 2]
       SMP_ID       LAT         LON       TIME  UNC  UNIT  DL  AREA  SPECIES  \
20796  681755  36.35828  140.666057 1978-11-01  NaN     5   1  1908      445
20797  681755  36.35828  140.666057 1978-11-01  NaN     5   1  1908      445
20798  681821  36.35828  140.666057 1979-07-06  NaN     5   1  1908      445
20799  681821  36.35828  140.666057 1979-07-06  NaN     5   1  1908      445
20800  681821  36.35828  140.666057 1979-07-06  NaN     5   1  1908      445

       BIO_GROUP  BODY_PART  COUNT_MET    VALUE  NUCLIDE
20796          4          1         20    0.300       33
20797          4          1         22    0.026       37
20798          4          1          9  148.000      103
20799          4          1         22    0.019       12
20800          4          1         20    0.240       33

### Parse and encode time

We remind that in `netCDF` format time need to be encoded as `integer` representing the number of seconds since a time of reference. In our case we chose `1970-01-01 00:00:00.0` as defined in `configs.ipynb`.

In [ ]:
#| exports
class ParseTimeCB(Callback):
    "Parse time column from MARIS dump."
    def __init__(self,
                 time_name='TIME'):
        fc.store_attr()
        
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k][self.time_name] = pd.to_datetime(tfm.dfs[k][self.time_name], format='ISO8601')

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules),
    RenameColumnsCB(cois_renaming_rules),
    DropNAColumnsCB(),
    SanitizeDetectionLimitCB(),
    ParseTimeCB(),
    EncodeTimeCB()
    ])

print(tfm()['BIOTA'])

        SMP_ID        LAT         LON        TIME    UNC  UNIT  DL  AREA  \
20796   681755  36.358280  140.666057   278726400    NaN     5   1  1908
20797   681755  36.358280  140.666057   278726400    NaN     5   1  1908
20798   681821  36.358280  140.666057   300067200    NaN     5   1  1908
20799   681821  36.358280  140.666057   300067200    NaN     5   1  1908
20800   681821  36.358280  140.666057   300067200    NaN     5   1  1908
...        ...        ...         ...         ...    ...   ...  ..   ...
944501  681221  36.188018  138.023379  1195084800  0.011     5   1  9999
944502  681221  36.188018  138.023379  1195084800  0.021     5   1  9999
944503  681222  36.188018  138.023379  1226880000  0.910     5   1  9999
944504  681222  36.188018  138.023379  1226880000  0.010     5   1  9999
944505  681222  36.188018  138.023379  1226880000  0.019     5   1  9999

        SPECIES  BIO_GROUP  BODY_PART  COUNT_MET    VALUE  NUCLIDE
20796       445          4          1         20    0.300       33
20797       445          4          1         22    0.026       37
20798       445          4          1          9  148.000      103
20799       445          4          1         22    0.019       12
20800       445          4          1         20    0.240       33
...         ...        ...        ...        ...      ...      ...
944501      262          4          1         22    0.120       33
944502      262          4          1         20    0.110       33
944503      262          4          1         20   85.000        4
944504      262          4          1         22    0.110       33
944505      262          4          1         20    0.150       33

[86651 rows x 14 columns]

### Sanitize coordinates

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules),
    RenameColumnsCB(cois_renaming_rules),
    DropNAColumnsCB(),
    SanitizeDetectionLimitCB(),
    ParseTimeCB(),
    EncodeTimeCB(),
    SanitizeLonLatCB()
    ])

dfs_test = tfm()
dfs_test['BIOTA']

,SMP_ID,LAT,LON,TIME,UNC,UNIT,DL,AREA,SPECIES,BIO_GROUP,BODY_PART,COUNT_MET,VALUE,NUCLIDE
20796,681755,36.358280,140.666057,278726400,NaN,5,1,1908,445,4,1,20,0.300,33
20797,681755,36.358280,140.666057,278726400,NaN,5,1,1908,445,4,1,22,0.026,37
20798,681821,36.358280,140.666057,300067200,NaN,5,1,1908,445,4,1,9,148.000,103
20799,681821,36.358280,140.666057,300067200,NaN,5,1,1908,445,4,1,22,0.019,12
20800,681821,36.358280,140.666057,300067200,NaN,5,1,1908,445,4,1,20,0.240,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944501,681221,36.188018,138.023379,1195084800,0.011,5,1,9999,262,4,1,22,0.120,33
944502,681221,36.188018,138.023379,1195084800,0.021,5,1,9999,262,4,1,20,0.110,33
944503,681222,36.188018,138.023379,1226880000,0.910,5,1,9999,262,4,1,20,85.000,4
944504,681222,36.188018,138.023379,1226880000,0.010,5,1,9999,262,4,1,22,0.110,33
944505,681222,36.188018,138.023379,1226880000,0.019,5,1,9999,262,4,1,20,0.150,33

### Set unique index

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules),
    RenameColumnsCB(cois_renaming_rules),
    DropNAColumnsCB(),
    SanitizeDetectionLimitCB(),
    ParseTimeCB(),
    EncodeTimeCB(),
    SanitizeLonLatCB(),
    UniqueIndexCB()
    ])

dfs_test = tfm()
dfs_test['BIOTA']

,ID,SMP_ID,LAT,LON,TIME,UNC,UNIT,DL,AREA,SPECIES,BIO_GROUP,BODY_PART,COUNT_MET,VALUE,NUCLIDE
0,0,681755,36.358280,140.666057,278726400,NaN,5,1,1908,445,4,1,20,0.300,33
1,1,681755,36.358280,140.666057,278726400,NaN,5,1,1908,445,4,1,22,0.026,37
2,2,681821,36.358280,140.666057,300067200,NaN,5,1,1908,445,4,1,9,148.000,103
3,3,681821,36.358280,140.666057,300067200,NaN,5,1,1908,445,4,1,22,0.019,12
4,4,681821,36.358280,140.666057,300067200,NaN,5,1,1908,445,4,1,20,0.240,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86646,86646,681221,36.188018,138.023379,1195084800,0.011,5,1,9999,262,4,1,22,0.120,33
86647,86647,681221,36.188018,138.023379,1195084800,0.021,5,1,9999,262,4,1,20,0.110,33
86648,86648,681222,36.188018,138.023379,1226880000,0.910,5,1,9999,262,4,1,20,85.000,4
86649,86649,681222,36.188018,138.023379,1226880000,0.010,5,1,9999,262,4,1,22,0.110,33
86650,86650,681222,36.188018,138.023379,1226880000,0.019,5,1,9999,262,4,1,20,0.150,33

## Encode to NetCDF

In [ ]:
#|eval: false
dfs = dataloader(ref_id=ref_id)
tfm = Transformer(dfs, cbs=[
    SelectColumnsCB(cois_renaming_rules),
    RenameColumnsCB(cois_renaming_rules),
    DropNAColumnsCB(),
    SanitizeDetectionLimitCB(),
    ParseTimeCB(),
    EncodeTimeCB(),
    SanitizeLonLatCB(),
    UniqueIndexCB()
    ])

dfs_tfm = tfm()
tfm.logs

['Select columns of interest.',
 'Renaming variables to MARIS standard names.',
 "Drop variable containing only NaN or 'Not available' (id=0 in MARIS lookup tables).",
 'Assign Detection Limit name to its id based on MARIS nomenclature.',
 'Parse time column from MARIS dump.',
 'Encode time as seconds since epoch.',
 'Drop rows with invalid longitude & latitude values. Convert `,` separator to `.` separator.',
 'Set unique index for each group.']

In [ ]:
#| exports
kw = ['oceanography', 'Earth Science > Oceans > Ocean Chemistry> Radionuclides',
      'Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure',
      'Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments',
      'Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes',
      'Earth Science > Oceans > Water Quality > Ocean Contaminants',
      'Earth Science > Biological Classification > Animals/Vertebrates > Fish',
      'Earth Science > Biosphere > Ecosystems > Marine Ecosystems',
      'Earth Science > Biological Classification > Animals/Invertebrates > Mollusks',
      'Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans',
      'Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)']

In [ ]:
#| exports
def get_attrs(tfm, zotero_key, kw=kw):
    "Retrieve global attributes from MARIS dump."
    return GlobAttrsFeeder(tfm.dfs, cbs=[
        BboxCB(),
        DepthRangeCB(),
        TimeRangeCB(),
        ZoteroCB(zotero_key, cfg=cfg()),
        KeyValuePairCB('keywords', ', '.join(kw)),
        KeyValuePairCB('publisher_postprocess_logs', ', '.join(tfm.logs))
        ])()

In [ ]:
#|eval: false
get_attrs(tfm, zotero_key='3W354SQG', kw=kw)

{'geospatial_lat_min': '30.4358333333333',
 'geospatial_lat_max': '65.75',
 'geospatial_lon_min': '9.63333333333333',
 'geospatial_lon_max': '53.5',
 'geospatial_bounds': 'POLYGON ((9.63333333333333 53.5, 30.4358333333333 53.5, 30.4358333333333 65.75, 9.63333333333333 65.75, 9.63333333333333 53.5))',
 'geospatial_vertical_max': '437.0',
 'geospatial_vertical_min': '-1.0',
 'time_coverage_start': '1984-01-10T00:00:00',
 'time_coverage_end': '2018-12-14T00:00:00',
 'title': 'Radioactivity Monitoring of the Irish Marine Environment 1991 and 1992',
 'summary': '',
 'creator_name': '[{"creatorType": "author", "firstName": "A.", "lastName": "McGarry"}, {"creatorType": "author", "firstName": "S.", "lastName": "Lyons"}, {"creatorType": "author", "firstName": "C.", "lastName": "McEnri"}, {"creatorType": "author", "firstName": "T.", "lastName": "Ryan"}, {"creatorType": "author", "firstName": "M.", "lastName": "O\'Colmain"}, {"creatorType": "author", "firstName": "J.D.", "lastName": "Cunningham"}]',
 'keywords': 'oceanography, Earth Science > Oceans > Ocean Chemistry> Radionuclides, Earth Science > Human Dimensions > Environmental Impacts > Nuclear Radiation Exposure, Earth Science > Oceans > Ocean Chemistry > Ocean Tracers, Earth Science > Oceans > Marine Sediments, Earth Science > Oceans > Ocean Chemistry, Earth Science > Oceans > Sea Ice > Isotopes, Earth Science > Oceans > Water Quality > Ocean Contaminants, Earth Science > Biological Classification > Animals/Vertebrates > Fish, Earth Science > Biosphere > Ecosystems > Marine Ecosystems, Earth Science > Biological Classification > Animals/Invertebrates > Mollusks, Earth Science > Biological Classification > Animals/Invertebrates > Arthropods > Crustaceans, Earth Science > Biological Classification > Plants > Macroalgae (Seaweeds)',
 'publisher_postprocess_logs': "Select columns of interest., Renaming variables to MARIS standard names., Drop variable containing only NaN or 'Not available' (id=0 in MARIS lookup tables)., Assign Detection Limit name to its id based on MARIS nomenclature., Parse time column from MARIS dump., Encode time as seconds since epoch., Drop rows with invalid longitude & latitude values. Convert `,` separator to `.` separator., Set unique index for each group."}

In [ ]:
#| exports
def encode(fname_in, fname_out, dataloader=None, **kwargs):
    if dataloader is None: dataloader = DataLoader(fname_in)._load_data()
    ref_ids = kwargs.get('ref_ids', dataloader.df.ref_id.unique())
    print('Encoding ...')
    for ref_id in tqdm(ref_ids, leave=False):
        dfs = dataloader(ref_id=ref_id)
        print(get_fname(dfs))
        tfm = Transformer(dfs, cbs=[
            SelectColumnsCB(cois_renaming_rules),
            RenameColumnsCB(cois_renaming_rules),
            DropNAColumnsCB(),
            SanitizeDetectionLimitCB(),
            ParseTimeCB(),
            EncodeTimeCB(),
            SanitizeLonLatCB(),
            UniqueIndexCB()
            ])
        
        tfm()
        encoder = NetCDFEncoder(tfm.dfs, 
                                dest_fname=Path(fname_out) / get_fname(dfs), 
                                global_attrs=get_attrs(tfm, zotero_key=get_zotero_key(dfs), kw=kw),
                                verbose=kwargs.get('verbose', False)
                                )
        encoder.encode()

### Single dataset

In [ ]:
#|eval: false
ref_id = 727
encode(
    fname_in,
    dir_dest,
    dataloader=dataloader,
    verbose=True, 
    ref_ids=[ref_id])

Encoding ...

  0%|          | 0/1 [00:00<?, ?it/s]

727-Muir-et-al-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

--------------------------------------------------------------------------------
Group: biota, Variable: id
--------------------------------------------------------------------------------
Group: biota, Variable: lon
--------------------------------------------------------------------------------
Group: biota, Variable: lat
--------------------------------------------------------------------------------
Group: biota, Variable: time
--------------------------------------------------------------------------------
Group: biota, Variable: area
--------------------------------------------------------------------------------
Group: biota, Variable: smp_id
--------------------------------------------------------------------------------
Group: biota, Variable: nuclide
--------------------------------------------------------------------------------
Group: biota, Variable: value
--------------------------------------------------------------------------------
Group: biota, Variable: unit
--------------------------------------------------------------------------------
Group: biota, Variable: unc
--------------------------------------------------------------------------------
Group: biota, Variable: dl
--------------------------------------------------------------------------------
Group: biota, Variable: count_met
--------------------------------------------------------------------------------
Group: biota, Variable: samp_met
--------------------------------------------------------------------------------
Group: biota, Variable: prep_met
--------------------------------------------------------------------------------
Group: biota, Variable: bio_group
--------------------------------------------------------------------------------
Group: biota, Variable: species

ValueError: trying to assign illegal value to Enum variable

### All datasets

In [ ]:
#|eval: false
encode(
    fname_in, 
    dir_dest, 
    dataloader=dataloader,
    verbose=False)

Encoding ...

  0%|          | 0/475 [00:00<?, ?it/s]

402-CCHDO-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  0%|          | 1/475 [00:01<15:22,  1.95s/it]

374-Ostlund-et-al-1987.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  0%|          | 2/475 [00:03<12:17,  1.56s/it]

376-IRSN---Institut-de-Radioprotection-et-de-Sûreté-Nucléaire-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  1%|          | 3/475 [00:05<15:06,  1.92s/it]

401-Olsen-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  1%|          | 4/475 [00:06<11:50,  1.51s/it]

16-Cherry-and-Heyraud-1981.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  1%|          | 5/475 [00:07<09:50,  1.26s/it]

18-Cherry-and-Heyraud-1982.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  1%|▏         | 6/475 [00:08<08:33,  1.10s/it]

30-Östlund-and-Grall-1991.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  1%|▏         | 7/475 [00:08<07:40,  1.02it/s]

182-Urban-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  2%|▏         | 8/475 [00:09<07:14,  1.08it/s]

183-Bokor-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  2%|▏         | 9/475 [00:10<06:41,  1.16it/s]

226-Sdraulig-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  2%|▏         | 10/475 [00:11<06:34,  1.18it/s]

323-Johansen-et-al-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  2%|▏         | 11/475 [00:12<06:42,  1.15it/s]

99-Aoyama-and-Hirose-2004.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  3%|▎         | 12/475 [00:13<08:40,  1.12s/it]

358-Kall-et-al-2014.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  3%|▎         | 13/475 [00:14<07:45,  1.01s/it]

395-Bailly-du-Bois-et-al-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  3%|▎         | 14/475 [00:17<12:35,  1.64s/it]

106-Yamada-et-al-2006.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  3%|▎         | 15/475 [00:18<10:43,  1.40s/it]

400-Boyer-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  3%|▎         | 16/475 [00:19<10:01,  1.31s/it]

509-Johansen-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  4%|▎         | 17/475 [00:20<09:14,  1.21s/it]

568-Johansen-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  4%|▍         | 18/475 [00:21<08:19,  1.09s/it]

97-ASPAMARD-2004.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  4%|▍         | 19/475 [00:22<07:31,  1.01it/s]

443-Heyraud-et-al-1994.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  4%|▍         | 20/475 [00:22<07:02,  1.08it/s]

508-Lee-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  4%|▍         | 21/475 [00:24<07:36,  1.00s/it]

103-RADNOR-2010.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  5%|▍         | 22/475 [00:26<09:57,  1.32s/it]

122-Casacuberta-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  5%|▍         | 23/475 [00:26<08:48,  1.17s/it]

190-Schlitzer-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  5%|▌         | 24/475 [00:28<09:08,  1.22s/it]

191-OSPAR-Comission’s-Radioactive-Substances-Committee-(RSC)-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  5%|▌         | 25/475 [00:30<10:52,  1.45s/it]

199-Skjerdal-et-al-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  5%|▌         | 26/475 [00:31<09:19,  1.25s/it]

200-Zaborska-et-al-2010.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  6%|▌         | 27/475 [00:32<08:47,  1.18s/it]

380-Smith-et-al-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  6%|▌         | 28/475 [00:33<08:23,  1.13s/it]

685-Chamizo-et-al-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  6%|▌         | 29/475 [00:33<07:32,  1.01s/it]

720-Payne-et-al-2024.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  6%|▋         | 30/475 [00:34<06:52,  1.08it/s]

381-Smith-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  7%|▋         | 31/475 [00:35<06:20,  1.17it/s]

432-Efurd-et-al-1997.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  7%|▋         | 32/475 [00:36<06:10,  1.20it/s]

477-Valette-Silver-et-al-1999.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  7%|▋         | 33/475 [00:36<06:13,  1.18it/s]

718-Smith-2024.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  7%|▋         | 34/475 [00:37<06:02,  1.22it/s]

222-Huang-et-al-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  7%|▋         | 35/475 [00:38<05:45,  1.27it/s]

201-Mietelski-et-al-2008.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  8%|▊         | 36/475 [00:39<06:25,  1.14it/s]

409-Cherry-et-al-1987.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  8%|▊         | 37/475 [00:40<06:14,  1.17it/s]

712-Fávaro-et-al-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  8%|▊         | 38/475 [00:40<05:53,  1.24it/s]

570-Szufa-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  8%|▊         | 39/475 [00:41<05:48,  1.25it/s]

109-Gulin-and-Stokozov-2005.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  8%|▊         | 40/475 [00:42<05:37,  1.29it/s]

571-Szufa-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  9%|▊         | 41/475 [00:43<05:33,  1.30it/s]

119-MEXT---Ministry-of-Education-Culture-Sports-Science-and-Technology-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  9%|▉         | 42/475 [00:44<06:10,  1.17it/s]

130-Wada-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  9%|▉         | 43/475 [00:50<17:05,  2.37s/it]

129-Wada-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  9%|▉         | 44/475 [00:51<14:49,  2.06s/it]

121-TEPCO---Tokyo-Electric-Power-Company-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

  9%|▉         | 45/475 [00:56<20:30,  2.86s/it]

132-Fukushima-Prefectural-Federation-of-Fisheries-Co-operative-Associations-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 10%|▉         | 46/475 [00:59<22:18,  3.12s/it]

120-NRA---Nuclear-Regulation-Authority-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 10%|▉         | 47/475 [01:00<17:31,  2.46s/it]

427-Yamamoto-et-al-1994.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 10%|█         | 48/475 [01:01<13:55,  1.96s/it]

428-Yu-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 10%|█         | 49/475 [01:02<11:17,  1.59s/it]

142-NRA---Nuclear-Regulation-Authority-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 11%|█         | 50/475 [01:03<09:44,  1.37s/it]

143-Fukushima-Prefecture-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 11%|█         | 51/475 [01:04<08:49,  1.25s/it]

445-Hoffman-et-al-1974.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 11%|█         | 52/475 [01:05<07:52,  1.12s/it]

446-Valette-Silver-and-Lauenstein-1995.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 11%|█         | 53/475 [01:05<07:23,  1.05s/it]

513-Madigan-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 11%|█▏        | 54/475 [01:06<06:49,  1.03it/s]

514-Miki-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 12%|█▏        | 55/475 [01:07<06:22,  1.10it/s]

520-Baumann-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 12%|█▏        | 56/475 [01:08<06:06,  1.14it/s]

542-Ruelas-Inzunza-et-al-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 12%|█▏        | 57/475 [01:09<05:53,  1.18it/s]

546-Takagi-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 12%|█▏        | 58/475 [01:09<05:57,  1.17it/s]

547-Ruelas-Inzunza-2014.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 12%|█▏        | 59/475 [01:10<05:48,  1.19it/s]

548-Suchanek-et-al-1996.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 13%|█▎        | 60/475 [01:11<06:10,  1.12it/s]

549-Shigeoka-et-al-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 13%|█▎        | 61/475 [01:12<06:35,  1.05it/s]

724-Environmental-Radioactivity-and-Radiation-in-Japan---Environmental-Radiation-Database-2024.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 13%|█▎        | 62/475 [01:17<14:10,  2.06s/it]

687-TEPCO---Tokyo-Electric-Power-Company-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 13%|█▎        | 63/475 [01:18<11:40,  1.70s/it]

688-NRA---Nuclear-Regulation-Authority-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 13%|█▎        | 64/475 [01:19<10:20,  1.51s/it]

131-Ibaraki-Prefecture-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 14%|█▎        | 65/475 [01:21<11:14,  1.64s/it]

682-NRA---Nuclear-Regulation-Authority-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 14%|█▍        | 66/475 [01:22<09:26,  1.38s/it]

683-NRA---Nuclear-Regulation-Authority-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 14%|█▍        | 67/475 [01:22<08:02,  1.18s/it]

203-MERI-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 14%|█▍        | 68/475 [01:23<07:30,  1.11s/it]

204-MERI-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 15%|█▍        | 69/475 [01:26<10:10,  1.50s/it]

149-JAEA---Japan-Atomic-Energy-Agency-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 15%|█▍        | 70/475 [01:27<08:49,  1.31s/it]

153-Yu-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 15%|█▍        | 71/475 [01:27<07:47,  1.16s/it]

155-Buesseler-et-al-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 15%|█▌        | 72/475 [01:28<07:15,  1.08s/it]

156-Yoshida-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 15%|█▌        | 73/475 [01:29<06:34,  1.02it/s]

157-Buesseler-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 16%|█▌        | 74/475 [01:30<06:03,  1.10it/s]

159-Buesseler-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 16%|█▌        | 75/475 [01:31<05:44,  1.16it/s]

193-Kusakabe-and-Takata-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 16%|█▌        | 76/475 [01:31<05:33,  1.20it/s]

134-MOE---Ministry-of-the-Environment-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 16%|█▌        | 77/475 [01:32<05:35,  1.19it/s]

135-Japan-Fisheries-Research-and-Education-Agency-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 16%|█▋        | 78/475 [01:33<05:38,  1.17it/s]

147-MOE---Ministry-of-the-Environment-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 17%|█▋        | 79/475 [01:34<05:24,  1.22it/s]

148-JAEA---Japan-Atomic-Energy-Agency-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 17%|█▋        | 80/475 [01:35<05:22,  1.22it/s]

133-Fisheries-Agency---Ministry-of-Agriculture-Forestry-and-Fisheries-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 17%|█▋        | 81/475 [01:36<05:49,  1.13it/s]

123-Fukushima-Prefecture-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 17%|█▋        | 82/475 [01:37<06:00,  1.09it/s]

124-MOE---Ministry-of-the-Environment-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 17%|█▋        | 83/475 [01:37<05:35,  1.17it/s]

125-MOE---Ministry-of-the-Environment-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 18%|█▊        | 84/475 [01:38<05:18,  1.23it/s]

126-Fukushima-Prefecture-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 18%|█▊        | 85/475 [01:39<06:01,  1.08it/s]

205-MERI-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 18%|█▊        | 86/475 [01:41<06:49,  1.05s/it]

225-Takata-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 18%|█▊        | 87/475 [01:42<06:38,  1.03s/it]

689-NRA---Nuclear-Regulation-Authority-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 19%|█▊        | 88/475 [01:42<05:58,  1.08it/s]

717-Smith-et-al-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 19%|█▊        | 89/475 [01:43<05:43,  1.12it/s]

224-Takata-et-al-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 19%|█▉        | 90/475 [01:44<05:44,  1.12it/s]

511-Zeng-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 19%|█▉        | 91/475 [01:45<05:26,  1.18it/s]

512-Takahashi-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 19%|█▉        | 92/475 [01:46<05:22,  1.19it/s]

516-Madigan-and-Fisher-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 20%|█▉        | 93/475 [01:47<05:38,  1.13it/s]

680-TEPCO---Tokyo-Electric-Power-Company-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 20%|█▉        | 94/475 [01:48<06:24,  1.01s/it]

206-MERI-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 20%|██        | 95/475 [01:49<06:14,  1.02it/s]

207-MERI-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 20%|██        | 96/475 [01:52<10:21,  1.64s/it]

117-Oikawa-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 20%|██        | 97/475 [01:53<08:46,  1.39s/it]

56-Kaeriyama-et-al-2014.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 21%|██        | 98/475 [01:53<07:32,  1.20s/it]

127-Fukushima-Prefecture-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 21%|██        | 99/475 [01:56<09:30,  1.52s/it]

141-TEPCO---Tokyo-Electric-Power-Company-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 21%|██        | 100/475 [01:57<08:35,  1.38s/it]

681-NRA---Nuclear-Regulation-Authority-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 21%|██▏       | 101/475 [01:58<07:21,  1.18s/it]

116-Suzuki-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 21%|██▏       | 102/475 [01:58<06:25,  1.03s/it]

128-NRA---Nuclear-Regulation-Authority-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 22%|██▏       | 103/475 [01:59<05:48,  1.07it/s]

202-MERI-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 22%|██▏       | 104/475 [02:00<05:49,  1.06it/s]

140-MEXT---Ministry-of-Education-Culture-Sports-Science-and-Technology-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 22%|██▏       | 105/475 [02:01<05:20,  1.16it/s]

146-MEXT---Ministry-of-Education-Culture-Sports-Science-and-Technology-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 22%|██▏       | 106/475 [02:01<05:06,  1.21it/s]

223-Buesseler-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 23%|██▎       | 107/475 [02:02<04:58,  1.23it/s]

178-Pham-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 23%|██▎       | 108/475 [02:03<04:55,  1.24it/s]

237-Takata-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 23%|██▎       | 109/475 [02:04<05:15,  1.16it/s]

234-Aoyama-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 23%|██▎       | 110/475 [02:05<05:01,  1.21it/s]

474-Madigan-et-al-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 23%|██▎       | 111/475 [02:05<04:55,  1.23it/s]

550-Sohtome-2014.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 24%|██▎       | 112/475 [02:06<04:53,  1.24it/s]

684-NRA---Nuclear-Regulation-Authority-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 24%|██▍       | 113/475 [02:07<05:04,  1.19it/s]

118-Kaeriyama-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 24%|██▍       | 114/475 [02:08<04:51,  1.24it/s]

114-Charette-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 24%|██▍       | 115/475 [02:09<04:42,  1.27it/s]

679-TEPCO---Tokyo-Electric-Power-Company-2021.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 24%|██▍       | 116/475 [02:10<05:48,  1.03it/s]

137-JCG---Japan-Coast-Guard-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 25%|██▍       | 117/475 [02:11<05:19,  1.12it/s]

139-MEXT---Ministry-of-Education-Culture-Sports-Science-and-Technology-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 25%|██▍       | 118/475 [02:12<05:27,  1.09it/s]

233-Aoyama-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 25%|██▌       | 119/475 [02:12<05:05,  1.17it/s]

113-Kitamura-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 25%|██▌       | 120/475 [02:13<04:50,  1.22it/s]

158-Buesseler-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 25%|██▌       | 121/475 [02:14<04:37,  1.27it/s]

194-Tateda-and-Misonou-1990.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 26%|██▌       | 122/475 [02:15<04:37,  1.27it/s]

195-Tateda-and-Koyanagi-1994.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 26%|██▌       | 123/475 [02:15<04:39,  1.26it/s]

196-Tateda-and-Koyanagi-1996.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 26%|██▌       | 124/475 [02:16<05:05,  1.15it/s]

144-Fukushima-Prefecture-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 26%|██▋       | 125/475 [02:17<04:51,  1.20it/s]

145-MOE---Ministry-of-the-Environment-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 27%|██▋       | 126/475 [02:18<04:48,  1.21it/s]

479-Morita-2010.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 27%|██▋       | 127/475 [02:19<04:42,  1.23it/s]

572-Aono-et-al-2000.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 27%|██▋       | 128/475 [02:20<04:38,  1.25it/s]

436-Nakamura-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 27%|██▋       | 129/475 [02:20<04:37,  1.25it/s]

440-Yamada-and-Nagaya-2000.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 27%|██▋       | 130/475 [02:21<04:26,  1.29it/s]

478-Yamada-et-al-1999.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 28%|██▊       | 131/475 [02:22<04:26,  1.29it/s]

404-Azouz-and-Dulai-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 28%|██▊       | 132/475 [02:23<04:25,  1.29it/s]

517-Morita-et-al-2007.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 28%|██▊       | 133/475 [02:23<04:35,  1.24it/s]

518-Morita-et-al-2010.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 28%|██▊       | 134/475 [02:26<07:10,  1.26s/it]

723-Robison-et-al-1981.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 28%|██▊       | 135/475 [02:27<06:49,  1.20s/it]

476-Ruelas-Inzunza-et-al-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 29%|██▊       | 136/475 [02:28<06:08,  1.09s/it]

22-Fowler-et-al-1983.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 29%|██▉       | 137/475 [02:28<05:30,  1.02it/s]

115-Casacuberta-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 29%|██▉       | 138/475 [02:29<05:12,  1.08it/s]

232-Honda-et-al-2012.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 29%|██▉       | 139/475 [02:30<05:00,  1.12it/s]

430-Baumann-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 29%|██▉       | 140/475 [02:31<04:46,  1.17it/s]

433-Smith-and-Towler-1993.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 30%|██▉       | 141/475 [02:32<04:47,  1.16it/s]

322-Département-de-Suivi-des-Centres-d’Expérimentations-Nucléaires-(DSCEN)-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 30%|██▉       | 142/475 [02:32<04:38,  1.20it/s]

279-Pearson-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 30%|███       | 143/475 [02:33<04:30,  1.23it/s]

282-Pearson-et-al-2016.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 30%|███       | 144/475 [02:34<04:26,  1.24it/s]

411-Guy-et-al-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 31%|███       | 145/475 [02:35<04:23,  1.25it/s]

169-Villa-Alfageme-et-al-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 31%|███       | 146/475 [02:35<04:12,  1.30it/s]

321-Département-de-Suivi-des-Centres-d’Expérimentations-Nucléaires-(DSCEN)-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 31%|███       | 147/475 [02:36<04:16,  1.28it/s]

467-Poletiko-et-al-1994.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 31%|███       | 148/475 [02:37<04:13,  1.29it/s]

569-Bellamy-and-Hunter-1997.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 31%|███▏      | 149/475 [02:38<04:14,  1.28it/s]

466-Jeffree-et-al-1997.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 32%|███▏      | 150/475 [02:39<04:25,  1.23it/s]

465-Tejera-et-al-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 32%|███▏      | 151/475 [02:40<04:26,  1.22it/s]

725-Dale-et-al-2024.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 32%|███▏      | 152/475 [02:40<04:16,  1.26it/s]

729-EPA-Ireland-2024.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 32%|███▏      | 153/475 [02:41<04:20,  1.24it/s]

692-Cunningham-et-al-1988.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 32%|███▏      | 154/475 [02:42<04:21,  1.23it/s]

693-O’Grady-and-Currivan-1990.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 33%|███▎      | 155/475 [02:44<05:55,  1.11s/it]

694-O’Grady-et-al-1991.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 33%|███▎      | 156/475 [02:45<05:30,  1.04s/it]

84-MAFF-(now-Cefas)-2004.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 33%|███▎      | 157/475 [02:47<07:07,  1.35s/it]

188-Thünen-Institute-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 33%|███▎      | 158/475 [02:48<07:16,  1.38s/it]

25-Nies-1989.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 33%|███▎      | 159/475 [02:49<06:21,  1.21s/it]

303-Carvalho-et-al-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 34%|███▎      | 160/475 [02:50<05:42,  1.09s/it]

341-CNESTEN-2019.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 34%|███▍      | 161/475 [02:51<05:11,  1.01it/s]

352-Hamid-et-al-2010.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 34%|███▍      | 162/475 [02:51<04:44,  1.10it/s]

371-CNESTEN-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 34%|███▍      | 163/475 [02:52<04:28,  1.16it/s]

408-Carvalho-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 35%|███▍      | 164/475 [02:53<04:23,  1.18it/s]

448-HEYRAUD-et-al-1988.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 35%|███▍      | 165/475 [02:54<04:15,  1.21it/s]

296-Carvalho-et-al-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 35%|███▍      | 166/475 [02:56<06:32,  1.27s/it]

301-Fonollosa-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 35%|███▌      | 167/475 [02:57<05:44,  1.12s/it]

316-Pollard-et-al-1998.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 35%|███▌      | 168/475 [02:58<05:20,  1.04s/it]

326-Benmansour-et-al-2006.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 36%|███▌      | 169/475 [02:58<04:49,  1.06it/s]

339-Benkdad-et-al-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 36%|███▌      | 170/475 [02:59<04:33,  1.12it/s]

179-Villa-Alfageme-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 36%|███▌      | 171/475 [03:00<04:16,  1.18it/s]

161-Gómez-Guzmán-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 36%|███▌      | 172/475 [03:01<04:04,  1.24it/s]

168-Vivo-Vilches-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 36%|███▋      | 173/475 [03:01<03:59,  1.26it/s]

186-Corcho-Alvarado-et-al-2014.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 37%|███▋      | 174/475 [03:02<03:50,  1.31it/s]

396-Ostlund-1984.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 37%|███▋      | 175/475 [03:03<03:51,  1.30it/s]

397-Ostlund-and-Grall-1987.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 37%|███▋      | 176/475 [03:04<03:48,  1.31it/s]

399-Andrié-et-al-1988.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 37%|███▋      | 177/475 [03:04<03:49,  1.30it/s]

357-Arnedo-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 37%|███▋      | 178/475 [03:05<03:43,  1.33it/s]

308-Jalili-et-al-2009.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 38%|███▊      | 179/475 [03:06<03:46,  1.31it/s]

174-Hurtado-Bermúdez-et-al-2018.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 38%|███▊      | 180/475 [03:07<03:45,  1.31it/s]

540-Deiaa-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 38%|███▊      | 181/475 [03:07<03:44,  1.31it/s]

41-Aarkrog-et-al-1994.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 38%|███▊      | 182/475 [03:08<03:39,  1.34it/s]

372-CNESTEN-2020.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 39%|███▊      | 183/475 [03:09<03:33,  1.37it/s]

431-Malta-and-Carvalho-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 39%|███▊      | 184/475 [03:09<03:36,  1.35it/s]

248-Štrok-and-Smodiš-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 39%|███▉      | 185/475 [03:10<03:47,  1.28it/s]

311-Ryan-et-al-1999.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 39%|███▉      | 186/475 [03:11<03:47,  1.27it/s]

175-Santos-et-al-2007.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 39%|███▉      | 187/475 [03:12<03:39,  1.31it/s]

177-Laissaoui-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 40%|███▉      | 188/475 [03:13<03:33,  1.34it/s]

31-Aarkrog-et-al-1992.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 40%|███▉      | 189/475 [03:13<03:30,  1.36it/s]

419-Kanisch-and-Aust-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 40%|████      | 190/475 [03:14<03:34,  1.33it/s]

559-Fiev-et-al-2013.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 40%|████      | 191/475 [03:15<03:35,  1.32it/s]

562-Joensen-2011.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 40%|████      | 192/475 [03:16<03:38,  1.29it/s]

691-Cunningham-and-O’Grady-1986.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 41%|████      | 193/475 [03:16<03:39,  1.28it/s]

405-Berrow-et-al-1998.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 41%|████      | 194/475 [03:17<03:46,  1.24it/s]

719-Environment-Agency-et-al-2023.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 41%|████      | 195/475 [03:18<04:06,  1.13it/s]

366-Onjefu-et-al-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 41%|████▏     | 196/475 [03:19<03:51,  1.21it/s]

441-Godoy-et-al-2003.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 41%|████▏     | 197/475 [03:20<03:47,  1.22it/s]

442-Moura-et-al-2015.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 42%|████▏     | 198/475 [03:21<03:44,  1.23it/s]

484-Saito-et-al-2003.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 42%|████▏     | 199/475 [03:21<03:41,  1.24it/s]

236-Teixeira-and-Mazzilli-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 42%|████▏     | 200/475 [03:22<03:32,  1.30it/s]

438-Cherry-et-al-1994.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 42%|████▏     | 201/475 [03:23<03:33,  1.28it/s]

711-Ramos-2010.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 43%|████▎     | 202/475 [03:24<03:35,  1.27it/s]

555-Gouvea-et-al-2008.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 43%|████▎     | 203/475 [03:26<05:00,  1.11s/it]

269-Mársico-et-al-2014.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 43%|████▎     | 204/475 [03:26<04:37,  1.03s/it]

235-Jesus-and-Mazzilli-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 43%|████▎     | 205/475 [03:27<04:10,  1.08it/s]

444-Gouvea-et-al-1992.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 43%|████▎     | 206/475 [03:28<03:55,  1.14it/s]

483-Cunha-et-al-1993.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 44%|████▎     | 207/475 [03:29<03:49,  1.17it/s]

108-Figueira-et-al-2006.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 44%|████▍     | 208/475 [03:29<03:36,  1.23it/s]

173-Hurtado-Bermudez-et-al-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

 44%|████▍     | 209/475 [03:30<03:36,  1.23it/s]

727-Muir-et-al-2017.nc
Warning: dbo_area.xlsx: found duplicate keys: ['Indian Ocean', 'Arctic Ocean', 'Southern Ocean', 'North Pacific Ocean', 'South Pacific Ocean', 'North Atlantic Ocean', 'South Atlantic Ocean']

ValueError: trying to assign illegal value to Enum variable