In [ ]:
#| default_exp netcdf_to_csv

# NetCDF to Open Refine CSV (WIP)

***

## Packages import

In [ ]:
#| export
from pathlib import Path # This module offers classes representing filesystem paths
import xarray as xr
from netCDF4 import Dataset
import pandas as pd
import xarray as xr
import numpy as np
from marisco.callbacks import (Callback, Transformer,
                               EncodeTimeCB, SanitizeLonLatCB)
import fastcore.all as fc # package that brings fastcore functionality, see https://fastcore.fast.ai/.
from cftime import num2pydate 
from marisco.configs import cfg, cdl_cfg, nuc_lut_path, unit_lut_path, detection_limit_lut_path, species_lut_path, bodyparts_lut_path, sediments_lut_path
from marisco.serializers import OpenRefineCsvEncoder
from functools import reduce,partial

Get the current working directory (cwd). .

In [ ]:
#|eval: false
Path.cwd()

Path('/home/marisco/downloads/marisco/nbs/handlers')

In [ ]:
# | export
fname_in = '../../_data/output/100-HELCOM-MORS-2024.nc'
fname_out = '../../_data/output/ospar_test.csv'
ref_id=191 # OSPAR ref_id

## Load NetCDF

In [ ]:
# | export
def netcdf4_to_df(fname_in):  
    # Read nc file
    with Dataset(fname_in, "r", format='NETCDF4' ) as nc:
        # Read groups ('seawater', 'biota', 'sediment')
        groups= nc.groups.keys()
        # Read fill values 
        fill_value={}
        for group in groups:
            fill_value[group] = nc.groups[group].variables['sample'][:].fill_value
    
    # Create dictionary of dataframes
    dfs={}
    for group in groups:
        # Read dataset
        ds = xr.open_dataset(fname_in, group=group,  decode_times=False)
        # Create Pandas dataframe 
        dfs[group]=ds.to_dataframe()
        # If the index is not 'sample' then set the index to be 'sample'
        if dfs[group].index.name != 'sample':
            dfs[group].set_index("sample", inplace=True)
        # Drop the rows where 'sample' uses the fill_value.
        dfs[group]=dfs[group].drop(fill_value[group], axis=0, errors='ignore') 
    return(dfs)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
dfs

{'seawater':               lon        lat  smp_depth  tot_depth        time  h3  h3_unc  \
 sample
 18083   14.257800  53.942200        0.0       10.0  1339545600 NaN     NaN
 18264   14.257800  53.942200        0.0       10.0  1339545600 NaN     NaN
 18592   14.257800  53.942200        0.0        9.0  1370390400 NaN     NaN
 18643   14.257800  53.942200        0.0        9.0  1370390400 NaN     NaN
 19023   14.263100  53.948101        0.0        9.0  1401753600 NaN     NaN
 ...           ...        ...        ...        ...         ...  ..     ...
 3633    18.233299  58.583302      433.0      435.0   614044800 NaN     NaN
 3634    18.233299  58.583302      433.0      435.0   614044800 NaN     NaN
 13276   18.231701  58.583302      437.0      460.0   965260800 NaN     NaN
 18604   19.333300  54.833302        NaN      107.0  1370476800 NaN     NaN
 18655   19.333300  54.833302        NaN      107.0  1370476800 NaN     NaN

         h3_dl  h3_sal  h3_temp  ...  pu239_240_tot_dl  pu239_240_tot_sal  \
 sample                          ...
 18083      -1     NaN      NaN  ...                -1                NaN
 18264      -1     NaN      NaN  ...                -1                NaN
 18592      -1     NaN      NaN  ...                -1                NaN
 18643      -1     NaN      NaN  ...                -1                NaN
 19023      -1     NaN      NaN  ...                -1                NaN
 ...       ...     ...      ...  ...               ...                ...
 3633       -1     NaN      NaN  ...                -1                NaN
 3634       -1     NaN      NaN  ...                 1               9.84
 13276      -1     NaN      NaN  ...                -1                NaN
 18604      -1     NaN      NaN  ...                -1                NaN
 18655      -1     NaN      NaN  ...                -1                NaN

         pu239_240_tot_temp  pu239_240_tot_unit  cm243_244_tot  \
 sample
 18083                  NaN                  -1            NaN
 18264                  NaN                  -1            NaN
 18592                  NaN                  -1            NaN
 18643                  NaN                  -1            NaN
 19023                  NaN                  -1            NaN
 ...                    ...                 ...            ...
 3633                   NaN                  -1            NaN
 3634                   4.0                   1            NaN
 13276                  NaN                  -1            NaN
 18604                  NaN                  -1            NaN
 18655                  NaN                  -1            NaN

         cm243_244_tot_unc  cm243_244_tot_dl  cm243_244_tot_sal  \
 sample
 18083                 NaN                -1                NaN
 18264                 NaN                -1                NaN
 18592                 NaN                -1                NaN
 18643                 NaN                -1                NaN
 19023                 NaN                -1                NaN
 ...                   ...               ...                ...
 3633                  NaN                -1                NaN
 3634                  NaN                -1                NaN
 13276                 NaN                -1                NaN
 18604                 NaN                -1                NaN
 18655                 NaN                -1                NaN

         cm243_244_tot_temp  cm243_244_tot_unit
 sample
 18083                  NaN                  -1
 18264                  NaN                  -1
 18592                  NaN                  -1
 18643                  NaN                  -1
 19023                  NaN                  -1
 ...                    ...                 ...
 3633                   NaN                  -1
 3634                   NaN                  -1
 13276                  NaN                  -1
 18604                  NaN                  -1
 18655                  NaN                  -1

 [20318 rows x 175 columns],
 'sediment':             lon        lat  tot_depth       time  sed_type  be7  be7_unc  \
 sample
 1126    14.4183  54.325001        9.0  487987200         0  NaN      NaN
 1127    14.4183  54.325001        9.0  487987200         0  NaN      NaN
 1128    14.4183  54.325001        9.0  487987200         0  NaN      NaN
 1129    14.4183  54.325001        9.0  487987200         0  NaN      NaN
 1057    14.4183  54.333302       63.0  455068800         0  NaN      NaN
 ...         ...        ...        ...        ...       ...  ...      ...
 9733    12.2500  54.583302       19.0  906508800        62  NaN      NaN
 9734    12.2500  54.583302       19.0  906508800        62  NaN      NaN
 9735    12.2500  54.583302       19.0  906508800        62  NaN      NaN
 9736    12.2500  54.583302       19.0  906508800        62  NaN      NaN
 9737    12.2500  54.583302       19.0  906508800        62  NaN      NaN

         be7_dl  be7_unit    k40  ...  pu238_240_tot_dl  pu238_240_tot_unit  \
 sample                           ...
 1126        -1        -1    NaN  ...                -1                  -1
 1127        -1        -1    NaN  ...                -1                  -1
 1128        -1        -1    NaN  ...                -1                  -1
 1129        -1        -1    NaN  ...                -1                  -1
 1057        -1        -1    NaN  ...                -1                  -1
 ...        ...       ...    ...  ...               ...                 ...
 9733        -1        -1  323.0  ...                -1                  -1
 9734        -1        -1    NaN  ...                -1                  -1
 9735        -1        -1  330.0  ...                -1                  -1
 9736        -1        -1    NaN  ...                -1                  -1
 9737        -1        -1  346.0  ...                -1                  -1

         tl208  tl208_unc  tl208_dl  tl208_unit  bi212  bi212_unc  bi212_dl  \
 sample
 1126      NaN        NaN        -1          -1    NaN        NaN        -1
 1127      NaN        NaN        -1          -1    NaN        NaN        -1
 1128      NaN        NaN        -1          -1    NaN        NaN        -1
 1129      NaN        NaN        -1          -1    NaN        NaN        -1
 1057      NaN        NaN        -1          -1    NaN        NaN        -1
 ...       ...        ...       ...         ...    ...        ...       ...
 9733      NaN        NaN        -1          -1    NaN        NaN        -1
 9734      NaN        NaN        -1          -1    NaN        NaN        -1
 9735      NaN        NaN        -1          -1    NaN        NaN        -1
 9736      NaN        NaN        -1          -1    NaN        NaN        -1
 9737      NaN        NaN        -1          -1    NaN        NaN        -1

         bi212_unit
 sample
 1126            -1
 1127            -1
 1128            -1
 1129            -1
 1057            -1
 ...            ...
 9733            -1
 9734            -1
 9735            -1
 9736            -1
 9737            -1

 [37346 rows x 179 columns],
 'biota':             lon        lat  smp_depth        time  bio_group  species  \
 sample
 7785    18.9550  54.383301        0.0   519955200          2       59
 7787    15.5333  54.208302        0.0   520387200          2       59
 7786    17.5350  54.833302        0.0   520387200          2       59
 7704    17.5000  54.833302        0.0   583804800          2       59
 7701    14.8333  54.083302        0.0   583891200          2       59
 ...         ...        ...        ...         ...        ...      ...
 14618   21.4233  61.240002        NaN  1505952000         14      129
 14696   21.4233  61.240002        NaN  1536019200         14      129
 14697   21.4233  61.240002        NaN  1536019200         14      129
 14698   21.4233  61.240002        NaN  1536019200         14      129
 14699   21.4233  61.240002        NaN  1536019200         14      129

         body_part    be7  be7_unc  be7_dl  ...  sn113_dl  sn113_unit  sn117m  \
 sample                                     ...
 7785            1    NaN      NaN      -1  ...        -1          -1     NaN
 7787            1    NaN      NaN      -1  ...        -1          -1     NaN
 7786            1    NaN      NaN      -1  ...        -1          -1     NaN
 7704            1    NaN      NaN      -1  ...        -1          -1     NaN
 7701            1    NaN      NaN      -1  ...        -1          -1     NaN
 ...           ...    ...      ...     ...  ...       ...         ...     ...
 14618           1    NaN      NaN      -1  ...        -1          -1     NaN
 14696           1    NaN      NaN      -1  ...        -1          -1     NaN
 14697           1  2.935   0.5283       1  ...        -1          -1     NaN
 14698           1    NaN      NaN      -1  ...        -1          -1     NaN
 14699           1    NaN      NaN      -1  ...        -1          -1     NaN

         sn117m_unc  sn117m_dl  sn117m_unit  tl208  tl208_unc  tl208_dl  \
 sample
 7785           NaN         -1           -1    NaN        NaN        -1
 7787           NaN         -1           -1    NaN        NaN        -1
 7786           NaN         -1           -1    NaN        NaN        -1
 7704           NaN         -1           -1    NaN        NaN        -1
 7701           NaN         -1           -1    NaN        NaN        -1
 ...            ...        ...          ...    ...        ...       ...
 14618          NaN         -1           -1    NaN        NaN        -1
 14696          NaN         -1           -1    NaN        NaN        -1
 14697          NaN         -1           -1    NaN        NaN        -1
 14698          NaN         -1           -1    NaN        NaN        -1
 14699          NaN         -1           -1    NaN        NaN        -1

         tl208_unit
 sample
 7785            -1
 7787            -1
 7786            -1
 7704            -1
 7701            -1
 ...            ...
 14618           -1
 14696           -1
 14697           -1
 14698           -1
 14699           -1

 [14893 rows x 211 columns]}

In [ ]:
#|eval: false
dfs['seawater']

,lon,lat,smp_depth,tot_depth,time,h3,h3_unc,h3_dl,h3_sal,h3_temp,...,pu239_240_tot_dl,pu239_240_tot_sal,pu239_240_tot_temp,pu239_240_tot_unit,cm243_244_tot,cm243_244_tot_unc,cm243_244_tot_dl,cm243_244_tot_sal,cm243_244_tot_temp,cm243_244_tot_unit
sample,,,,,,,,,,,,,,,,,,,,,
18083,14.257800,53.942200,0.0,10.0,1339545600,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
18264,14.257800,53.942200,0.0,10.0,1339545600,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
18592,14.257800,53.942200,0.0,9.0,1370390400,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
18643,14.257800,53.942200,0.0,9.0,1370390400,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
19023,14.263100,53.948101,0.0,9.0,1401753600,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3633,18.233299,58.583302,433.0,435.0,614044800,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
3634,18.233299,58.583302,433.0,435.0,614044800,NaN,NaN,-1,NaN,NaN,...,1,9.84,4.0,1,NaN,NaN,-1,NaN,NaN,-1
13276,18.231701,58.583302,437.0,460.0,965260800,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
18604,19.333300,54.833302,NaN,107.0,1370476800,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1
18655,19.333300,54.833302,NaN,107.0,1370476800,NaN,NaN,-1,NaN,NaN,...,-1,NaN,NaN,-1,NaN,NaN,-1,NaN,NaN,-1

## Transform data

### Reshape: wide to long

In [ ]:
#| export
class ReshapeWideToLong(Callback):
    "Convert data from wide to long with renamed columns."
    def __init__(self, columns='nuclide', values=['value']):
        fc.store_attr()
        # Retrieve all possible suffixes vars (e.g '_unc', '_dl', ...) from configs
        suff_cfg = [value['name'] for value in cdl_cfg()['vars']['suffixes'].values()]
        # Retrieve all possible nuclides
        nucs_cfg = pd.read_excel(nuc_lut_path())['nc_name'].to_list()
        nucs_cfg = [x for x in nucs_cfg if str(x) != 'nan'] # remove 'nan' from nuclide list
        # Retrieve all possible vars thats are not in vars suffixes
        self.vars_cfg=[x['name'] for var_key in cdl_cfg()['vars'].keys() for x in cdl_cfg()['vars'][var_key].values() if var_key != 'suffixes']
        # combine all possible nuclides with its suffixes.    
        value_name='Activity or MDA'
        derived_nucs_cols={value_name:nucs_cfg}     
        for suf in suff_cfg:
            derived_nucs_cols[suf]= [str(nuc)+str(suf) for nuc in nucs_cfg]
        self.derived_nucs_cols=derived_nucs_cols
           
    def melt(self, df):
        # Among all possible 'self.derived_nuc_cols' include the ones present in df.
        derived_nucs_cols={}
        for key,derived_nuc_cols in self.derived_nucs_cols.items():
            derived_nuc_cols = [col for col in derived_nuc_cols if col in df.columns]
            if derived_nuc_cols:
                derived_nucs_cols[key] = derived_nuc_cols
        
        # Among all possible 'self.vars_cfg' include the ones present in df.
        vars_cfg = [var for var in self.vars_cfg if var in df.columns]
        
        # Melt cols included in self.derived_nucs_cols        
        df=df.reset_index()  # Reset the index so 'sample' can be used with id_vars
        nuc_dfs={}
        for key,val in derived_nucs_cols.items():
            # Transpose nuclide_cols
            df_t=pd.melt(frame=df, id_vars=vars_cfg+['sample'], value_vars=val, var_name='nuclide', value_name=key)
            df_t['nuclide']=df_t['nuclide'].str.replace(key, '')
            # Keep rows where 'key' value is not nan
            df_t=df_t[df_t[key].notna()]
            nuc_dfs[key]=df_t
        
        # Merge dfs created from melt. 
        combine_on= vars_cfg + ['sample'] + ['nuclide']
        merged_df=reduce(lambda df1, df2: pd.merge(df1, df2,  how='outer', left_on= combine_on, right_on = combine_on), nuc_dfs.values())
        # Keep rows where either value_name (i.e.Activity or MDA ) or _unc are not 'nan'.
        merged_df = merged_df[merged_df[['Activity or MDA','_unc']].notna().any(axis=1)]
        return (merged_df)
    
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k] = self.melt(tfm.dfs[k])

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong()])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl       _sal  _temp  _unit
 8             13.000000     8.3200    1  19.370001    3.9      1
 39            69.000000     9.6600    1  19.370001    3.9      1
 68             5.740000     0.2870    1  18.410000    6.0      1
 99            64.800003     0.6480    1  18.410000    6.0      1
 128            3.790000     0.2653    1  19.660000    6.1      1
 ...                 ...        ...  ...        ...    ...    ...
 609415        15.100000     3.0200    1        NaN    NaN      1
 609430      3000.000000  1290.0000    1        NaN    NaN      1
 609459         3.000000     0.9900    1   0.000000    NaN      1
 609505         5.800000     1.2180    1   0.000000    NaN      1
 609520         5.100000     1.2750    1   0.000000    NaN      1

 [20242 rows x 13 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  _unit
 10                   0.1         NaN    0      4
 55                   0.3    0.108000    1      4
 101                  4.5    0.135000    1      4
 148                457.0    4.570000    1      4
 209                  0.6         NaN    0      4
 ...                  ...         ...  ...    ...
 1643020            710.0  220.100006    1      4
 1643064            680.0  210.800003    1      4
 1643108            610.0  189.100006    1      4
 1643152            590.0  182.899994    1      4
 1643196            620.0  192.199997    1      4

 [37089 rows x 11 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA      _unc  _dl  _unit
 11             52     192    co60          0.00848       NaN    2      5
 64             52     193   cs134          0.00545       NaN    2      5
 124            52     194     k40        117.00000  4.212000    1      0
 170            52     195   cs137          0.77600  0.029488    1      5
 219            52     184    co60          0.00794       NaN    2      5
 ...           ...     ...     ...              ...       ...  ...    ...
 774190          1    5959   cs137          8.00000  0.400000    1      5
 774242          1    5955   cs137          5.80000  0.290000    1      5
 774294          1    5951   cs137          6.50000  0.260000    1      5
 774346          1    5947   cs137          6.80000  0.136000    1      5
 774398          1    5989   cs137          3.00000  0.090000    1      5

 [14873 rows x 13 columns]}

In [ ]:
#|eval: false
tfm.dfs['biota']

,lon,lat,smp_depth,time,bio_group,species,body_part,sample,nuclide,Activity or MDA,_unc,_dl,_unit
11,9.683333,54.516666,2.0,1323561600,4,50,52,192,co60,0.00848,NaN,2,5
64,9.683333,54.516666,2.0,1323561600,4,50,52,193,cs134,0.00545,NaN,2,5
124,9.683333,54.516666,2.0,1323561600,4,50,52,194,k40,117.00000,4.212000,1,0
170,9.683333,54.516666,2.0,1323561600,4,50,52,195,cs137,0.77600,0.029488,1,5
219,10.000000,54.750000,4.0,1323734400,4,99,52,184,co60,0.00794,NaN,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
774190,27.750000,59.466999,0.0,1035763200,4,50,1,5959,cs137,8.00000,0.400000,1,5
774242,27.750000,59.466999,0.0,1069804800,4,50,1,5955,cs137,5.80000,0.290000,1,5
774294,27.750000,59.466999,0.0,1104364800,4,50,1,5951,cs137,6.50000,0.260000,1,5
774346,27.750000,59.466999,0.0,1134518400,4,50,1,5947,cs137,6.80000,0.136000,1,5
774398,27.900000,59.430000,0.0,1304467200,4,50,1,5989,cs137,3.00000,0.090000,1,5

***

### Format: Time

In [ ]:
#| export
class LookupTimeFromEncodedTime(Callback):
    def __init__(self, cfg): fc.store_attr()
    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp]['Sampling start date'] = tfm.dfs[grp]['time'].apply(lambda row: self.format_date(row)) 
            tfm.dfs[grp]['Sampling start time'] = tfm.dfs[grp]['time'].apply(lambda row: self.format_time(row))
    
    def format_date(self, x): 
        date_time = num2pydate(x, units=self.cfg['units']['time'])
        date = date_time.strftime('%d-%b-%Y')
        return date
    
    def format_time(self, x): 
        date_time = num2pydate(x, units=self.cfg['units']['time'])
        time = date_time.strftime('%H:%M:%S') 
        return time

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg())])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl       _sal  _temp  _unit  \
 8             13.000000     8.3200    1  19.370001    3.9      1
 39            69.000000     9.6600    1  19.370001    3.9      1
 68             5.740000     0.2870    1  18.410000    6.0      1
 99            64.800003     0.6480    1  18.410000    6.0      1
 128            3.790000     0.2653    1  19.660000    6.1      1
 ...                 ...        ...  ...        ...    ...    ...
 609415        15.100000     3.0200    1        NaN    NaN      1
 609430      3000.000000  1290.0000    1        NaN    NaN      1
 609459         3.000000     0.9900    1   0.000000    NaN      1
 609505         5.800000     1.2180    1   0.000000    NaN      1
 609520         5.100000     1.2750    1   0.000000    NaN      1

        Sampling start date Sampling start time
 8              09-Dec-1988            00:00:00
 39             09-Dec-1988            00:00:00
 68             23-Nov-1991            00:00:00
 99             23-Nov-1991            00:00:00
 128            16-Dec-1992            00:00:00
 ...                    ...                 ...
 609415         24-Jul-2012            00:00:00
 609430         24-Jul-2012            00:00:00
 609459         01-Jan-2011            00:00:00
 609505         01-Jan-2011            00:00:00
 609520         01-Jan-2011            00:00:00

 [20242 rows x 15 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  _unit Sampling start date  \
 10                   0.1         NaN    0      4         09-Dec-1988
 55                   0.3    0.108000    1      4         09-Dec-1988
 101                  4.5    0.135000    1      4         09-Dec-1988
 148                457.0    4.570000    1      4         09-Dec-1988
 209                  0.6         NaN    0      4         09-Dec-1988
 ...                  ...         ...  ...    ...                 ...
 1643020            710.0  220.100006    1      4         20-Jul-2012
 1643064            680.0  210.800003    1      4         20-Jul-2012
 1643108            610.0  189.100006    1      4         20-Jul-2012
 1643152            590.0  182.899994    1      4         20-Jul-2012
 1643196            620.0  192.199997    1      4         20-Jul-2012

         Sampling start time
 10                 00:00:00
 55                 00:00:00
 101                00:00:00
 148                00:00:00
 209                00:00:00
 ...                     ...
 1643020            00:00:00
 1643064            00:00:00
 1643108            00:00:00
 1643152            00:00:00
 1643196            00:00:00

 [37089 rows x 13 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA      _unc  _dl  _unit  \
 11             52     192    co60          0.00848       NaN    2      5
 64             52     193   cs134          0.00545       NaN    2      5
 124            52     194     k40        117.00000  4.212000    1      0
 170            52     195   cs137          0.77600  0.029488    1      5
 219            52     184    co60          0.00794       NaN    2      5
 ...           ...     ...     ...              ...       ...  ...    ...
 774190          1    5959   cs137          8.00000  0.400000    1      5
 774242          1    5955   cs137          5.80000  0.290000    1      5
 774294          1    5951   cs137          6.50000  0.260000    1      5
 774346          1    5947   cs137          6.80000  0.136000    1      5
 774398          1    5989   cs137          3.00000  0.090000    1      5

        Sampling start date Sampling start time
 11             11-Dec-2011            00:00:00
 64             11-Dec-2011            00:00:00
 124            11-Dec-2011            00:00:00
 170            11-Dec-2011            00:00:00
 219            13-Dec-2011            00:00:00
 ...                    ...                 ...
 774190         28-Oct-2002            00:00:00
 774242         26-Nov-2003            00:00:00
 774294         30-Dec-2004            00:00:00
 774346         14-Dec-2005            00:00:00
 774398         04-May-2011            00:00:00

 [14873 rows x 15 columns]}

In [ ]:
tfm.dfs['seawater']['Sampling start date']

8        1988-12-09
39       1988-12-09
68       1991-11-23
99       1991-11-23
128      1992-12-16
            ...
609415   2012-07-24
609430   2012-07-24
609459   2011-01-01
609505   2011-01-01
609520   2011-01-01
Name: Sampling start date, Length: 20242, dtype: datetime64[ns]

***

### Lookup: Sample Type

In [ ]:
#| export
class GetSampleTypeCB(Callback):
    def __init__(self): fc.store_attr()
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Sample type'] = k.upper()

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB()])
tfm()['biota']['Sample type']

11        BIOTA
64        BIOTA
124       BIOTA
170       BIOTA
219       BIOTA
          ...
774190    BIOTA
774242    BIOTA
774294    BIOTA
774346    BIOTA
774398    BIOTA
Name: Sample type, Length: 14873, dtype: object

***

### Lookup : Nuclide

In [ ]:
#| export
def get_nucnames_lut():
    df = pd.read_excel(nuc_lut_path(), usecols=['nc_name','nusymbol'])
    return df.set_index('nc_name').to_dict()['nusymbol']

In [ ]:
# | export
class LookupNuclideByIdCB(Callback):
    "Lookup MARIS nuclide_id."
    def __init__(self,
                 fn_lut=get_nucnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Nuclide'] = tfm.dfs[k]['nuclide'].replace(lut)
            tfm.dfs[k]['Nuclide']=tfm.dfs[k]['Nuclide'].str.strip()
            tfm.dfs[k]['Nuclide']=tfm.dfs[k]['Nuclide'].str.replace(',','_')

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl       _sal  _temp  _unit  \
 8             13.000000     8.3200    1  19.370001    3.9      1
 39            69.000000     9.6600    1  19.370001    3.9      1
 68             5.740000     0.2870    1  18.410000    6.0      1
 99            64.800003     0.6480    1  18.410000    6.0      1
 128            3.790000     0.2653    1  19.660000    6.1      1
 ...                 ...        ...  ...        ...    ...    ...
 609415        15.100000     3.0200    1        NaN    NaN      1
 609430      3000.000000  1290.0000    1        NaN    NaN      1
 609459         3.000000     0.9900    1   0.000000    NaN      1
 609505         5.800000     1.2180    1   0.000000    NaN      1
 609520         5.100000     1.2750    1   0.000000    NaN      1

        Sampling start date Sample type Nuclide
 8              09-Dec-1988    SEAWATER   134Cs
 39             09-Dec-1988    SEAWATER   137Cs
 68             23-Nov-1991    SEAWATER   134Cs
 99             23-Nov-1991    SEAWATER   137Cs
 128            16-Dec-1992    SEAWATER   134Cs
 ...                    ...         ...     ...
 609415         24-Jul-2012    SEAWATER    90Sr
 609430         24-Jul-2012    SEAWATER      3H
 609459         01-Jan-2011    SEAWATER   137Cs
 609505         01-Jan-2011    SEAWATER    90Sr
 609520         01-Jan-2011    SEAWATER      3H

 [20242 rows x 16 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  _unit Sampling start date  \
 10                   0.1         NaN    0      4         09-Dec-1988
 55                   0.3    0.108000    1      4         09-Dec-1988
 101                  4.5    0.135000    1      4         09-Dec-1988
 148                457.0    4.570000    1      4         09-Dec-1988
 209                  0.6         NaN    0      4         09-Dec-1988
 ...                  ...         ...  ...    ...                 ...
 1643020            710.0  220.100006    1      4         20-Jul-2012
 1643064            680.0  210.800003    1      4         20-Jul-2012
 1643108            610.0  189.100006    1      4         20-Jul-2012
 1643152            590.0  182.899994    1      4         20-Jul-2012
 1643196            620.0  192.199997    1      4         20-Jul-2012

         Sample type Nuclide
 10         SEDIMENT    60Co
 55         SEDIMENT   134Cs
 101        SEDIMENT   137Cs
 148        SEDIMENT     40K
 209        SEDIMENT   106Ru
 ...             ...     ...
 1643020    SEDIMENT     40K
 1643064    SEDIMENT     40K
 1643108    SEDIMENT     40K
 1643152    SEDIMENT     40K
 1643196    SEDIMENT     40K

 [37089 rows x 14 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA      _unc  _dl  _unit  \
 11             52     192    co60          0.00848       NaN    2      5
 64             52     193   cs134          0.00545       NaN    2      5
 124            52     194     k40        117.00000  4.212000    1      0
 170            52     195   cs137          0.77600  0.029488    1      5
 219            52     184    co60          0.00794       NaN    2      5
 ...           ...     ...     ...              ...       ...  ...    ...
 774190          1    5959   cs137          8.00000  0.400000    1      5
 774242          1    5955   cs137          5.80000  0.290000    1      5
 774294          1    5951   cs137          6.50000  0.260000    1      5
 774346          1    5947   cs137          6.80000  0.136000    1      5
 774398          1    5989   cs137          3.00000  0.090000    1      5

        Sampling start date Sample type Nuclide
 11             11-Dec-2011       BIOTA    60Co
 64             11-Dec-2011       BIOTA   134Cs
 124            11-Dec-2011       BIOTA     40K
 170            11-Dec-2011       BIOTA   137Cs
 219            13-Dec-2011       BIOTA    60Co
 ...                    ...         ...     ...
 774190         28-Oct-2002       BIOTA   137Cs
 774242         26-Nov-2003       BIOTA   137Cs
 774294         30-Dec-2004       BIOTA   137Cs
 774346         14-Dec-2005       BIOTA   137Cs
 774398         04-May-2011       BIOTA   137Cs

 [14873 rows x 16 columns]}

In [ ]:
#|eval: false
tfm.dfs['biota']['Nuclide'].unique()

array(['60Co', '134Cs', '40K', '137Cs', '241Am', '239_240Pu', '238Pu',
       '90Sr', '108mAg', '106Ru', '110mAg', '125Sb', '228Ra', '228Th',
       '226Ra', '54Mn', '7Be', '95Zr', '65Zn', '58Co', '103Ru', '95Nb',
       '99Tc', '210Po', '210Pb', '57Co', '235U', '214Bi', '214Pb',
       '212Pb', '208Tl', '228Ac', '223Ra', '144Ce', '141Ce', '134_137Cs',
       '117mSn', '153Gd', '155Eu', '152Eu', '59Fe', '46Sc', '124Sb',
       '86Rb', '113Sn', '224Ra', '232Th', '129mTe', '89Sr', '140La',
       '131I', '140Ba'], dtype=object)

***

### Format : Longitude and Latitude

Convert from Longitude and Latitude DDD.DDDDDÂ° to degrees, minutes, seconds and direction.

In [ ]:
# | export
def deg_to_dms(deg, coordinate='lat'):
    """Convert from decimal degrees to degrees, minutes, seconds."""
    m, s = divmod(abs(deg)*3600, 60)
    d, m = divmod(m, 60)
    
    if deg < 0:
        if coordinate == 'lat':
            cord = 'S'
        elif coordinate == 'lon':
            cord = 'W'
    else:
        if coordinate == 'lat':
            cord = 'N' 
        elif coordinate == 'lon':
            cord = 'E'                       
        
    d, m = int(d), int(m)
    
    return pd.Series([d, m, s, cord])

In [ ]:
# | export
class ConvertLonLatCB(Callback):
    "Convert from Longitude and Latitude DDD.DDDDDÂ° to degrees, minutes, seconds and direction."
    def __init__(self, fn_convert=deg_to_dms):
        fc.store_attr()

    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp][['Latitude degrees','Latitude minutes','Latitude seconds','Latitude direction']] = tfm.dfs[grp]['lat'].apply(self.fn_convert, coordinate='lat')
            tfm.dfs[grp][['Longitude degrees','Longitude minutes','Longitude seconds','Longitude direction']] = tfm.dfs[grp]['lon'].apply(self.fn_convert, coordinate='lon')

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB()
                            ])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl  ...  Sample type  Nuclide  \
 8             13.000000     8.3200    1  ...     SEAWATER    134Cs
 39            69.000000     9.6600    1  ...     SEAWATER    137Cs
 68             5.740000     0.2870    1  ...     SEAWATER    134Cs
 99            64.800003     0.6480    1  ...     SEAWATER    137Cs
 128            3.790000     0.2653    1  ...     SEAWATER    134Cs
 ...                 ...        ...  ...  ...          ...      ...
 609415        15.100000     3.0200    1  ...     SEAWATER     90Sr
 609430      3000.000000  1290.0000    1  ...     SEAWATER       3H
 609459         3.000000     0.9900    1  ...     SEAWATER    137Cs
 609505         5.800000     1.2180    1  ...     SEAWATER     90Sr
 609520         5.100000     1.2750    1  ...     SEAWATER       3H

         Latitude degrees Latitude minutes Latitude seconds Latitude direction  \
 8                     54               50        24.000549                  N
 39                    54               50        24.000549                  N
 68                    54               50        30.125427                  N
 99                    54               50        30.125427                  N
 128                   54               50        30.125427                  N
 ...                  ...              ...              ...                ...
 609415                60                0         0.000000                  N
 609430                60                0         0.000000                  N
 609459                60                0         0.000000                  N
 609505                60                0         0.000000                  N
 609520                60                0         0.000000                  N

         Longitude degrees  Longitude minutes  Longitude seconds  \
 8                       9                 37          59.879379
 39                      9                 37          59.879379
 68                      9                 37          59.879379
 99                      9                 37          59.879379
 128                     9                 37          59.879379
 ...                   ...                ...                ...
 609415                 31                 10           0.121307
 609430                 31                 10           0.121307
 609459                 31                 10          12.000275
 609505                 31                 10          12.000275
 609520                 31                 10          12.000275

        Longitude direction
 8                        E
 39                       E
 68                       E
 99                       E
 128                      E
 ...                    ...
 609415                   E
 609430                   E
 609459                   E
 609505                   E
 609520                   E

 [20242 rows x 24 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  ...  Sample type Nuclide  \
 10                   0.1         NaN    0  ...     SEDIMENT    60Co
 55                   0.3    0.108000    1  ...     SEDIMENT   134Cs
 101                  4.5    0.135000    1  ...     SEDIMENT   137Cs
 148                457.0    4.570000    1  ...     SEDIMENT     40K
 209                  0.6         NaN    0  ...     SEDIMENT   106Ru
 ...                  ...         ...  ...  ...          ...     ...
 1643020            710.0  220.100006    1  ...     SEDIMENT     40K
 1643064            680.0  210.800003    1  ...     SEDIMENT     40K
 1643108            610.0  189.100006    1  ...     SEDIMENT     40K
 1643152            590.0  182.899994    1  ...     SEDIMENT     40K
 1643196            620.0  192.199997    1  ...     SEDIMENT     40K

         Latitude degrees Latitude minutes  Latitude seconds  \
 10                    54               49         59.885559
 55                    54               49         59.885559
 101                   54               49         59.885559
 148                   54               49         59.885559
 209                   54               49         59.885559
 ...                  ...              ...               ...
 1643020               61               25          0.114441
 1643064               61               25          0.114441
 1643108               61               25          0.114441
 1643152               61               25          0.114441
 1643196               61               25          0.114441

          Latitude direction  Longitude degrees Longitude minutes  \
 10                        N                  9                37
 55                        N                  9                37
 101                       N                  9                37
 148                       N                  9                37
 209                       N                  9                37
 ...                     ...                ...               ...
 1643020                   N                 30                45
 1643064                   N                 30                45
 1643108                   N                 30                45
 1643152                   N                 30                45
 1643196                   N                 30                45

          Longitude seconds  Longitude direction
 10               59.879379                    E
 55               59.879379                    E
 101              59.879379                    E
 148              59.879379                    E
 209              59.879379                    E
 ...                    ...                  ...
 1643020           0.000000                    E
 1643064           0.000000                    E
 1643108           0.000000                    E
 1643152           0.000000                    E
 1643196           0.000000                    E

 [37089 rows x 22 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA  ...  Sample type  Nuclide  \
 11             52     192    co60          0.00848  ...        BIOTA     60Co
 64             52     193   cs134          0.00545  ...        BIOTA    134Cs
 124            52     194     k40        117.00000  ...        BIOTA      40K
 170            52     195   cs137          0.77600  ...        BIOTA    137Cs
 219            52     184    co60          0.00794  ...        BIOTA     60Co
 ...           ...     ...     ...              ...  ...          ...      ...
 774190          1    5959   cs137          8.00000  ...        BIOTA    137Cs
 774242          1    5955   cs137          5.80000  ...        BIOTA    137Cs
 774294          1    5951   cs137          6.50000  ...        BIOTA    137Cs
 774346          1    5947   cs137          6.80000  ...        BIOTA    137Cs
 774398          1    5989   cs137          3.00000  ...        BIOTA    137Cs

         Latitude degrees Latitude minutes Latitude seconds Latitude direction  \
 11                    54               30        59.999084                  N
 64                    54               30        59.999084                  N
 124                   54               30        59.999084                  N
 170                   54               30        59.999084                  N
 219                   54               45         0.000000                  N
 ...                  ...              ...              ...                ...
 774190                59               28         1.196594                  N
 774242                59               28         1.196594                  N
 774294                59               28         1.196594                  N
 774346                59               28         1.196594                  N
 774398                59               25        48.001099                  N

         Longitude degrees  Longitude minutes  Longitude seconds  \
 11                      9                 41           0.000229
 64                      9                 41           0.000229
 124                     9                 41           0.000229
 170                     9                 41           0.000229
 219                    10                  0           0.000000
 ...                   ...                ...                ...
 774190                 27                 45           0.000000
 774242                 27                 45           0.000000
 774294                 27                 45           0.000000
 774346                 27                 45           0.000000
 774398                 27                 53          59.998627

        Longitude direction
 11                       E
 64                       E
 124                      E
 170                      E
 219                      E
 ...                    ...
 774190                   E
 774242                   E
 774294                   E
 774346                   E
 774398                   E

 [14873 rows x 24 columns]}

In [ ]:
#|eval: false
tfm.dfs['seawater'].columns

Index(['lon', 'lat', 'smp_depth', 'tot_depth', 'time', 'sample', 'nuclide',
       'Activity or MDA', '_unc', '_dl', '_sal', '_temp', '_unit',
       'Sampling start date', 'Sample type', 'Nuclide', 'Latitude degrees',
       'Latitude minutes', 'Latitude seconds', 'Latitude direction',
       'Longitude degrees', 'Longitude minutes', 'Longitude seconds',
       'Longitude direction'],
      dtype='object')

***

### Lookup : Units

In [ ]:
#| export
def get_unitnames_lut():
    df = pd.read_excel(unit_lut_path(), usecols=['unit_id','unit'])
    return df.set_index('unit_id').to_dict()['unit']

In [ ]:
# | export
class LookupUnitByIdCB(Callback):
    "Lookup MARIS unit by unit_id."
    def __init__(self,
                 fn_lut=get_unitnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Unit'] = tfm.dfs[k]['_unit'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB()
                            ])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl  ...  Nuclide  Latitude degrees  \
 8             13.000000     8.3200    1  ...    134Cs                54
 39            69.000000     9.6600    1  ...    137Cs                54
 68             5.740000     0.2870    1  ...    134Cs                54
 99            64.800003     0.6480    1  ...    137Cs                54
 128            3.790000     0.2653    1  ...    134Cs                54
 ...                 ...        ...  ...  ...      ...               ...
 609415        15.100000     3.0200    1  ...     90Sr                60
 609430      3000.000000  1290.0000    1  ...       3H                60
 609459         3.000000     0.9900    1  ...    137Cs                60
 609505         5.800000     1.2180    1  ...     90Sr                60
 609520         5.100000     1.2750    1  ...       3H                60

         Latitude minutes Latitude seconds Latitude direction  \
 8                     50        24.000549                  N
 39                    50        24.000549                  N
 68                    50        30.125427                  N
 99                    50        30.125427                  N
 128                   50        30.125427                  N
 ...                  ...              ...                ...
 609415                 0         0.000000                  N
 609430                 0         0.000000                  N
 609459                 0         0.000000                  N
 609505                 0         0.000000                  N
 609520                 0         0.000000                  N

        Longitude degrees  Longitude minutes  Longitude seconds  \
 8                      9                 37          59.879379
 39                     9                 37          59.879379
 68                     9                 37          59.879379
 99                     9                 37          59.879379
 128                    9                 37          59.879379
 ...                  ...                ...                ...
 609415                31                 10           0.121307
 609430                31                 10           0.121307
 609459                31                 10          12.000275
 609505                31                 10          12.000275
 609520                31                 10          12.000275

         Longitude direction   Unit
 8                         E  Bq/m3
 39                        E  Bq/m3
 68                        E  Bq/m3
 99                        E  Bq/m3
 128                       E  Bq/m3
 ...                     ...    ...
 609415                    E  Bq/m3
 609430                    E  Bq/m3
 609459                    E  Bq/m3
 609505                    E  Bq/m3
 609520                    E  Bq/m3

 [20242 rows x 25 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  ...  Nuclide Latitude degrees  \
 10                   0.1         NaN    0  ...     60Co               54
 55                   0.3    0.108000    1  ...    134Cs               54
 101                  4.5    0.135000    1  ...    137Cs               54
 148                457.0    4.570000    1  ...      40K               54
 209                  0.6         NaN    0  ...    106Ru               54
 ...                  ...         ...  ...  ...      ...              ...
 1643020            710.0  220.100006    1  ...      40K               61
 1643064            680.0  210.800003    1  ...      40K               61
 1643108            610.0  189.100006    1  ...      40K               61
 1643152            590.0  182.899994    1  ...      40K               61
 1643196            620.0  192.199997    1  ...      40K               61

         Latitude minutes Latitude seconds  Latitude direction  \
 10                    49        59.885559                   N
 55                    49        59.885559                   N
 101                   49        59.885559                   N
 148                   49        59.885559                   N
 209                   49        59.885559                   N
 ...                  ...              ...                 ...
 1643020               25         0.114441                   N
 1643064               25         0.114441                   N
 1643108               25         0.114441                   N
 1643152               25         0.114441                   N
 1643196               25         0.114441                   N

          Longitude degrees  Longitude minutes Longitude seconds  \
 10                       9                 37         59.879379
 55                       9                 37         59.879379
 101                      9                 37         59.879379
 148                      9                 37         59.879379
 209                      9                 37         59.879379
 ...                    ...                ...               ...
 1643020                 30                 45          0.000000
 1643064                 30                 45          0.000000
 1643108                 30                 45          0.000000
 1643152                 30                 45          0.000000
 1643196                 30                 45          0.000000

          Longitude direction    Unit
 10                         E  Bq/kgd
 55                         E  Bq/kgd
 101                        E  Bq/kgd
 148                        E  Bq/kgd
 209                        E  Bq/kgd
 ...                      ...     ...
 1643020                    E  Bq/kgd
 1643064                    E  Bq/kgd
 1643108                    E  Bq/kgd
 1643152                    E  Bq/kgd
 1643196                    E  Bq/kgd

 [37089 rows x 23 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA  ...  Nuclide  \
 11             52     192    co60          0.00848  ...     60Co
 64             52     193   cs134          0.00545  ...    134Cs
 124            52     194     k40        117.00000  ...      40K
 170            52     195   cs137          0.77600  ...    137Cs
 219            52     184    co60          0.00794  ...     60Co
 ...           ...     ...     ...              ...  ...      ...
 774190          1    5959   cs137          8.00000  ...    137Cs
 774242          1    5955   cs137          5.80000  ...    137Cs
 774294          1    5951   cs137          6.50000  ...    137Cs
 774346          1    5947   cs137          6.80000  ...    137Cs
 774398          1    5989   cs137          3.00000  ...    137Cs

         Latitude degrees  Latitude minutes Latitude seconds  \
 11                    54                30        59.999084
 64                    54                30        59.999084
 124                   54                30        59.999084
 170                   54                30        59.999084
 219                   54                45         0.000000
 ...                  ...               ...              ...
 774190                59                28         1.196594
 774242                59                28         1.196594
 774294                59                28         1.196594
 774346                59                28         1.196594
 774398                59                25        48.001099

        Latitude direction Longitude degrees  Longitude minutes  \
 11                      N                 9                 41
 64                      N                 9                 41
 124                     N                 9                 41
 170                     N                 9                 41
 219                     N                10                  0
 ...                   ...               ...                ...
 774190                  N                27                 45
 774242                  N                27                 45
 774294                  N                27                 45
 774346                  N                27                 45
 774398                  N                27                 53

         Longitude seconds  Longitude direction           Unit
 11               0.000229                    E         Bq/kgw
 64               0.000229                    E         Bq/kgw
 124              0.000229                    E  NOT AVAILABLE
 170              0.000229                    E         Bq/kgw
 219              0.000000                    E         Bq/kgw
 ...                   ...                  ...            ...
 774190           0.000000                    E         Bq/kgw
 774242           0.000000                    E         Bq/kgw
 774294           0.000000                    E         Bq/kgw
 774346           0.000000                    E         Bq/kgw
 774398          59.998627                    E         Bq/kgw

 [14873 rows x 25 columns]}

In [ ]:
#|eval: false
tfm.dfs['seawater'].columns

Index(['lon', 'lat', 'smp_depth', 'tot_depth', 'time', 'sample', 'nuclide',
       'Activity or MDA', '_unc', '_dl', '_sal', '_temp', '_unit',
       'Sampling start date', 'Sample type', 'Nuclide', 'Latitude degrees',
       'Latitude minutes', 'Latitude seconds', 'Latitude direction',
       'Longitude degrees', 'Longitude minutes', 'Longitude seconds',
       'Longitude direction', 'Unit'],
      dtype='object')

In [ ]:
#|eval: false
tfm.dfs['seawater']['_dl']

8         1
39        1
68        1
99        1
128       1
         ..
609415    1
609430    1
609459    1
609505    1
609520    1
Name: _dl, Length: 20242, dtype: int64

***

### Lookup : Value type (_dl)

In [ ]:
#| export
def get_detectionlimitnames_lut():
    df = pd.read_excel(detection_limit_lut_path(), usecols=['id','name'])
    return df.set_index('id').to_dict()['name']

In [ ]:
# | export
class LookupValueTypeByIdCB(Callback):
    "Lookup MARIS Value Type."
    def __init__(self,
                 fn_lut=get_detectionlimitnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Value type'] = tfm.dfs[k]['_dl'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB()
                            ])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl  ...  Latitude degrees  \
 8             13.000000     8.3200    1  ...                54
 39            69.000000     9.6600    1  ...                54
 68             5.740000     0.2870    1  ...                54
 99            64.800003     0.6480    1  ...                54
 128            3.790000     0.2653    1  ...                54
 ...                 ...        ...  ...  ...               ...
 609415        15.100000     3.0200    1  ...                60
 609430      3000.000000  1290.0000    1  ...                60
 609459         3.000000     0.9900    1  ...                60
 609505         5.800000     1.2180    1  ...                60
 609520         5.100000     1.2750    1  ...                60

         Latitude minutes  Latitude seconds Latitude direction  \
 8                     50         24.000549                  N
 39                    50         24.000549                  N
 68                    50         30.125427                  N
 99                    50         30.125427                  N
 128                   50         30.125427                  N
 ...                  ...               ...                ...
 609415                 0          0.000000                  N
 609430                 0          0.000000                  N
 609459                 0          0.000000                  N
 609505                 0          0.000000                  N
 609520                 0          0.000000                  N

        Longitude degrees Longitude minutes  Longitude seconds  \
 8                      9                37          59.879379
 39                     9                37          59.879379
 68                     9                37          59.879379
 99                     9                37          59.879379
 128                    9                37          59.879379
 ...                  ...               ...                ...
 609415                31                10           0.121307
 609430                31                10           0.121307
 609459                31                10          12.000275
 609505                31                10          12.000275
 609520                31                10          12.000275

         Longitude direction   Unit Value type
 8                         E  Bq/m3          =
 39                        E  Bq/m3          =
 68                        E  Bq/m3          =
 99                        E  Bq/m3          =
 128                       E  Bq/m3          =
 ...                     ...    ...        ...
 609415                    E  Bq/m3          =
 609430                    E  Bq/m3          =
 609459                    E  Bq/m3          =
 609505                    E  Bq/m3          =
 609520                    E  Bq/m3          =

 [20242 rows x 26 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  ...  Latitude degrees  \
 10                   0.1         NaN    0  ...                54
 55                   0.3    0.108000    1  ...                54
 101                  4.5    0.135000    1  ...                54
 148                457.0    4.570000    1  ...                54
 209                  0.6         NaN    0  ...                54
 ...                  ...         ...  ...  ...               ...
 1643020            710.0  220.100006    1  ...                61
 1643064            680.0  210.800003    1  ...                61
 1643108            610.0  189.100006    1  ...                61
 1643152            590.0  182.899994    1  ...                61
 1643196            620.0  192.199997    1  ...                61

         Latitude minutes Latitude seconds Latitude direction  \
 10                    49        59.885559                  N
 55                    49        59.885559                  N
 101                   49        59.885559                  N
 148                   49        59.885559                  N
 209                   49        59.885559                  N
 ...                  ...              ...                ...
 1643020               25         0.114441                  N
 1643064               25         0.114441                  N
 1643108               25         0.114441                  N
 1643152               25         0.114441                  N
 1643196               25         0.114441                  N

          Longitude degrees  Longitude minutes  Longitude seconds  \
 10                       9                 37          59.879379
 55                       9                 37          59.879379
 101                      9                 37          59.879379
 148                      9                 37          59.879379
 209                      9                 37          59.879379
 ...                    ...                ...                ...
 1643020                 30                 45           0.000000
 1643064                 30                 45           0.000000
 1643108                 30                 45           0.000000
 1643152                 30                 45           0.000000
 1643196                 30                 45           0.000000

         Longitude direction    Unit     Value type
 10                        E  Bq/kgd  Not Available
 55                        E  Bq/kgd              =
 101                       E  Bq/kgd              =
 148                       E  Bq/kgd              =
 209                       E  Bq/kgd  Not Available
 ...                     ...     ...            ...
 1643020                   E  Bq/kgd              =
 1643064                   E  Bq/kgd              =
 1643108                   E  Bq/kgd              =
 1643152                   E  Bq/kgd              =
 1643196                   E  Bq/kgd              =

 [37089 rows x 24 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA  ...  Latitude degrees  \
 11             52     192    co60          0.00848  ...                54
 64             52     193   cs134          0.00545  ...                54
 124            52     194     k40        117.00000  ...                54
 170            52     195   cs137          0.77600  ...                54
 219            52     184    co60          0.00794  ...                54
 ...           ...     ...     ...              ...  ...               ...
 774190          1    5959   cs137          8.00000  ...                59
 774242          1    5955   cs137          5.80000  ...                59
 774294          1    5951   cs137          6.50000  ...                59
 774346          1    5947   cs137          6.80000  ...                59
 774398          1    5989   cs137          3.00000  ...                59

         Latitude minutes  Latitude seconds Latitude direction  \
 11                    30         59.999084                  N
 64                    30         59.999084                  N
 124                   30         59.999084                  N
 170                   30         59.999084                  N
 219                   45          0.000000                  N
 ...                  ...               ...                ...
 774190                28          1.196594                  N
 774242                28          1.196594                  N
 774294                28          1.196594                  N
 774346                28          1.196594                  N
 774398                25         48.001099                  N

        Longitude degrees Longitude minutes  Longitude seconds  \
 11                     9                41           0.000229
 64                     9                41           0.000229
 124                    9                41           0.000229
 170                    9                41           0.000229
 219                   10                 0           0.000000
 ...                  ...               ...                ...
 774190                27                45           0.000000
 774242                27                45           0.000000
 774294                27                45           0.000000
 774346                27                45           0.000000
 774398                27                53          59.998627

         Longitude direction           Unit Value type
 11                        E         Bq/kgw          <
 64                        E         Bq/kgw          <
 124                       E  NOT AVAILABLE          =
 170                       E         Bq/kgw          =
 219                       E         Bq/kgw          <
 ...                     ...            ...        ...
 774190                    E         Bq/kgw          =
 774242                    E         Bq/kgw          =
 774294                    E         Bq/kgw          =
 774346                    E         Bq/kgw          =
 774398                    E         Bq/kgw          =

 [14873 rows x 26 columns]}

***

### Lookup : Biogroup

Biogroup not used in OPEN REfINE csv format. Confirm this

***

### Lookup : Species

In [ ]:
#| export
def get_species_lut():
    df = pd.read_excel(species_lut_path(), usecols=['species_id','species'])
    return df.set_index('species_id').to_dict()['species']

In [ ]:
# | export
class LookupSpeciesByIdCB(Callback):
    "Lookup MARIS species by species_id."
    def __init__(self,
                 fn_lut=get_species_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            if 'species' in tfm.dfs[k].columns: 
                tfm.dfs[k]['Species'] = tfm.dfs[k]['species'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB()
                            ])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl  ...  Latitude degrees  \
 8             13.000000     8.3200    1  ...                54
 39            69.000000     9.6600    1  ...                54
 68             5.740000     0.2870    1  ...                54
 99            64.800003     0.6480    1  ...                54
 128            3.790000     0.2653    1  ...                54
 ...                 ...        ...  ...  ...               ...
 609415        15.100000     3.0200    1  ...                60
 609430      3000.000000  1290.0000    1  ...                60
 609459         3.000000     0.9900    1  ...                60
 609505         5.800000     1.2180    1  ...                60
 609520         5.100000     1.2750    1  ...                60

         Latitude minutes  Latitude seconds Latitude direction  \
 8                     50         24.000549                  N
 39                    50         24.000549                  N
 68                    50         30.125427                  N
 99                    50         30.125427                  N
 128                   50         30.125427                  N
 ...                  ...               ...                ...
 609415                 0          0.000000                  N
 609430                 0          0.000000                  N
 609459                 0          0.000000                  N
 609505                 0          0.000000                  N
 609520                 0          0.000000                  N

        Longitude degrees Longitude minutes  Longitude seconds  \
 8                      9                37          59.879379
 39                     9                37          59.879379
 68                     9                37          59.879379
 99                     9                37          59.879379
 128                    9                37          59.879379
 ...                  ...               ...                ...
 609415                31                10           0.121307
 609430                31                10           0.121307
 609459                31                10          12.000275
 609505                31                10          12.000275
 609520                31                10          12.000275

         Longitude direction   Unit Value type
 8                         E  Bq/m3          =
 39                        E  Bq/m3          =
 68                        E  Bq/m3          =
 99                        E  Bq/m3          =
 128                       E  Bq/m3          =
 ...                     ...    ...        ...
 609415                    E  Bq/m3          =
 609430                    E  Bq/m3          =
 609459                    E  Bq/m3          =
 609505                    E  Bq/m3          =
 609520                    E  Bq/m3          =

 [20242 rows x 26 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  ...  Latitude degrees  \
 10                   0.1         NaN    0  ...                54
 55                   0.3    0.108000    1  ...                54
 101                  4.5    0.135000    1  ...                54
 148                457.0    4.570000    1  ...                54
 209                  0.6         NaN    0  ...                54
 ...                  ...         ...  ...  ...               ...
 1643020            710.0  220.100006    1  ...                61
 1643064            680.0  210.800003    1  ...                61
 1643108            610.0  189.100006    1  ...                61
 1643152            590.0  182.899994    1  ...                61
 1643196            620.0  192.199997    1  ...                61

         Latitude minutes Latitude seconds Latitude direction  \
 10                    49        59.885559                  N
 55                    49        59.885559                  N
 101                   49        59.885559                  N
 148                   49        59.885559                  N
 209                   49        59.885559                  N
 ...                  ...              ...                ...
 1643020               25         0.114441                  N
 1643064               25         0.114441                  N
 1643108               25         0.114441                  N
 1643152               25         0.114441                  N
 1643196               25         0.114441                  N

          Longitude degrees  Longitude minutes  Longitude seconds  \
 10                       9                 37          59.879379
 55                       9                 37          59.879379
 101                      9                 37          59.879379
 148                      9                 37          59.879379
 209                      9                 37          59.879379
 ...                    ...                ...                ...
 1643020                 30                 45           0.000000
 1643064                 30                 45           0.000000
 1643108                 30                 45           0.000000
 1643152                 30                 45           0.000000
 1643196                 30                 45           0.000000

         Longitude direction    Unit     Value type
 10                        E  Bq/kgd  Not Available
 55                        E  Bq/kgd              =
 101                       E  Bq/kgd              =
 148                       E  Bq/kgd              =
 209                       E  Bq/kgd  Not Available
 ...                     ...     ...            ...
 1643020                   E  Bq/kgd              =
 1643064                   E  Bq/kgd              =
 1643108                   E  Bq/kgd              =
 1643152                   E  Bq/kgd              =
 1643196                   E  Bq/kgd              =

 [37089 rows x 24 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA  ...  Latitude minutes  \
 11             52     192    co60          0.00848  ...                30
 64             52     193   cs134          0.00545  ...                30
 124            52     194     k40        117.00000  ...                30
 170            52     195   cs137          0.77600  ...                30
 219            52     184    co60          0.00794  ...                45
 ...           ...     ...     ...              ...  ...               ...
 774190          1    5959   cs137          8.00000  ...                28
 774242          1    5955   cs137          5.80000  ...                28
 774294          1    5951   cs137          6.50000  ...                28
 774346          1    5947   cs137          6.80000  ...                28
 774398          1    5989   cs137          3.00000  ...                25

         Latitude seconds  Latitude direction Longitude degrees  \
 11             59.999084                   N                 9
 64             59.999084                   N                 9
 124            59.999084                   N                 9
 170            59.999084                   N                 9
 219             0.000000                   N                10
 ...                  ...                 ...               ...
 774190          1.196594                   N                27
 774242          1.196594                   N                27
 774294          1.196594                   N                27
 774346          1.196594                   N                27
 774398         48.001099                   N                27

        Longitude minutes Longitude seconds  Longitude direction  \
 11                    41          0.000229                    E
 64                    41          0.000229                    E
 124                   41          0.000229                    E
 170                   41          0.000229                    E
 219                    0          0.000000                    E
 ...                  ...               ...                  ...
 774190                45          0.000000                    E
 774242                45          0.000000                    E
 774294                45          0.000000                    E
 774346                45          0.000000                    E
 774398                53         59.998627                    E

                  Unit  Value type          Species
 11             Bq/kgw           <  Clupea harengus
 64             Bq/kgw           <  Clupea harengus
 124     NOT AVAILABLE           =  Clupea harengus
 170            Bq/kgw           =  Clupea harengus
 219            Bq/kgw           <     Gadus morhua
 ...               ...         ...              ...
 774190         Bq/kgw           =  Clupea harengus
 774242         Bq/kgw           =  Clupea harengus
 774294         Bq/kgw           =  Clupea harengus
 774346         Bq/kgw           =  Clupea harengus
 774398         Bq/kgw           =  Clupea harengus

 [14873 rows x 27 columns]}

***

### Lookup : Body part

In [ ]:
#| export
def get_bodypart_lut():
    df = pd.read_excel(bodyparts_lut_path(), usecols=['bodypar_id','bodypar'])
    return df.set_index('bodypar_id').to_dict()['bodypar']

In [ ]:
# | export
class LookupBodypartByIdCB(Callback):
    "Lookup MARIS bodypart by bodypar_id."
    def __init__(self,
                 fn_lut=get_bodypart_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            if 'body_part' in tfm.dfs[k].columns: 
                tfm.dfs[k]['Body part'] = tfm.dfs[k]['body_part'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB()
                            ])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl  ...  Latitude degrees  \
 8             13.000000     8.3200    1  ...                54
 39            69.000000     9.6600    1  ...                54
 68             5.740000     0.2870    1  ...                54
 99            64.800003     0.6480    1  ...                54
 128            3.790000     0.2653    1  ...                54
 ...                 ...        ...  ...  ...               ...
 609415        15.100000     3.0200    1  ...                60
 609430      3000.000000  1290.0000    1  ...                60
 609459         3.000000     0.9900    1  ...                60
 609505         5.800000     1.2180    1  ...                60
 609520         5.100000     1.2750    1  ...                60

         Latitude minutes  Latitude seconds Latitude direction  \
 8                     50         24.000549                  N
 39                    50         24.000549                  N
 68                    50         30.125427                  N
 99                    50         30.125427                  N
 128                   50         30.125427                  N
 ...                  ...               ...                ...
 609415                 0          0.000000                  N
 609430                 0          0.000000                  N
 609459                 0          0.000000                  N
 609505                 0          0.000000                  N
 609520                 0          0.000000                  N

        Longitude degrees Longitude minutes  Longitude seconds  \
 8                      9                37          59.879379
 39                     9                37          59.879379
 68                     9                37          59.879379
 99                     9                37          59.879379
 128                    9                37          59.879379
 ...                  ...               ...                ...
 609415                31                10           0.121307
 609430                31                10           0.121307
 609459                31                10          12.000275
 609505                31                10          12.000275
 609520                31                10          12.000275

         Longitude direction   Unit Value type
 8                         E  Bq/m3          =
 39                        E  Bq/m3          =
 68                        E  Bq/m3          =
 99                        E  Bq/m3          =
 128                       E  Bq/m3          =
 ...                     ...    ...        ...
 609415                    E  Bq/m3          =
 609430                    E  Bq/m3          =
 609459                    E  Bq/m3          =
 609505                    E  Bq/m3          =
 609520                    E  Bq/m3          =

 [20242 rows x 26 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  ...  Latitude degrees  \
 10                   0.1         NaN    0  ...                54
 55                   0.3    0.108000    1  ...                54
 101                  4.5    0.135000    1  ...                54
 148                457.0    4.570000    1  ...                54
 209                  0.6         NaN    0  ...                54
 ...                  ...         ...  ...  ...               ...
 1643020            710.0  220.100006    1  ...                61
 1643064            680.0  210.800003    1  ...                61
 1643108            610.0  189.100006    1  ...                61
 1643152            590.0  182.899994    1  ...                61
 1643196            620.0  192.199997    1  ...                61

         Latitude minutes Latitude seconds Latitude direction  \
 10                    49        59.885559                  N
 55                    49        59.885559                  N
 101                   49        59.885559                  N
 148                   49        59.885559                  N
 209                   49        59.885559                  N
 ...                  ...              ...                ...
 1643020               25         0.114441                  N
 1643064               25         0.114441                  N
 1643108               25         0.114441                  N
 1643152               25         0.114441                  N
 1643196               25         0.114441                  N

          Longitude degrees  Longitude minutes  Longitude seconds  \
 10                       9                 37          59.879379
 55                       9                 37          59.879379
 101                      9                 37          59.879379
 148                      9                 37          59.879379
 209                      9                 37          59.879379
 ...                    ...                ...                ...
 1643020                 30                 45           0.000000
 1643064                 30                 45           0.000000
 1643108                 30                 45           0.000000
 1643152                 30                 45           0.000000
 1643196                 30                 45           0.000000

         Longitude direction    Unit     Value type
 10                        E  Bq/kgd  Not Available
 55                        E  Bq/kgd              =
 101                       E  Bq/kgd              =
 148                       E  Bq/kgd              =
 209                       E  Bq/kgd  Not Available
 ...                     ...     ...            ...
 1643020                   E  Bq/kgd              =
 1643064                   E  Bq/kgd              =
 1643108                   E  Bq/kgd              =
 1643152                   E  Bq/kgd              =
 1643196                   E  Bq/kgd              =

 [37089 rows x 24 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA  ...  Latitude seconds  \
 11             52     192    co60          0.00848  ...         59.999084
 64             52     193   cs134          0.00545  ...         59.999084
 124            52     194     k40        117.00000  ...         59.999084
 170            52     195   cs137          0.77600  ...         59.999084
 219            52     184    co60          0.00794  ...          0.000000
 ...           ...     ...     ...              ...  ...               ...
 774190          1    5959   cs137          8.00000  ...          1.196594
 774242          1    5955   cs137          5.80000  ...          1.196594
 774294          1    5951   cs137          6.50000  ...          1.196594
 774346          1    5947   cs137          6.80000  ...          1.196594
 774398          1    5989   cs137          3.00000  ...         48.001099

         Latitude direction  Longitude degrees Longitude minutes  \
 11                       N                  9                41
 64                       N                  9                41
 124                      N                  9                41
 170                      N                  9                41
 219                      N                 10                 0
 ...                    ...                ...               ...
 774190                   N                 27                45
 774242                   N                 27                45
 774294                   N                 27                45
 774346                   N                 27                45
 774398                   N                 27                53

        Longitude seconds Longitude direction           Unit  Value type  \
 11              0.000229                   E         Bq/kgw           <
 64              0.000229                   E         Bq/kgw           <
 124             0.000229                   E  NOT AVAILABLE           =
 170             0.000229                   E         Bq/kgw           =
 219             0.000000                   E         Bq/kgw           <
 ...                  ...                 ...            ...         ...
 774190          0.000000                   E         Bq/kgw           =
 774242          0.000000                   E         Bq/kgw           =
 774294          0.000000                   E         Bq/kgw           =
 774346          0.000000                   E         Bq/kgw           =
 774398         59.998627                   E         Bq/kgw           =

                 Species            Body part
 11      Clupea harengus  Flesh without bones
 64      Clupea harengus  Flesh without bones
 124     Clupea harengus  Flesh without bones
 170     Clupea harengus  Flesh without bones
 219        Gadus morhua  Flesh without bones
 ...                 ...                  ...
 774190  Clupea harengus         Whole animal
 774242  Clupea harengus         Whole animal
 774294  Clupea harengus         Whole animal
 774346  Clupea harengus         Whole animal
 774398  Clupea harengus         Whole animal

 [14873 rows x 28 columns]}

***

### Lookup : Sediment type

In [ ]:
#| export
def get_sediments_lut():
    df = pd.read_excel(sediments_lut_path(), usecols=['sedtype_id','sedtype'])
    return df.set_index('sedtype_id').to_dict()['sedtype']

In [ ]:
# | export
class LookupSedimentTypeByIdCB(Callback):
    "Lookup MARIS sedtype by sedtype_id."
    def __init__(self,
                 fn_lut=get_bodypart_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            if 'sed_type' in tfm.dfs[k].columns: 
                tfm.dfs[k]['Sediment type'] = tfm.dfs[k]['sed_type'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB(),
                            LookupSedimentTypeByIdCB()
                            ])
tfm()

{'seawater':             lon        lat  smp_depth  tot_depth        time  sample nuclide  \
 8        9.6333  54.840000        0.0       17.0   597628800    3437   cs134
 39       9.6333  54.840000        0.0       17.0   597628800    3438   cs137
 68       9.6333  54.841702        0.0       16.0   690854400    4683   cs134
 99       9.6333  54.841702        0.0       16.0   690854400    4684   cs137
 128      9.6333  54.841702        0.0       17.0   724464000    5116   cs134
 ...         ...        ...        ...        ...         ...     ...     ...
 609415  31.1667  60.000000        5.0        NaN  1343088000      60    sr90
 609430  31.1667  60.000000        5.0        NaN  1343088000      91      h3
 609459  31.1700  60.000000        0.0        0.0  1293840000   17353   cs137
 609505  31.1700  60.000000        0.0        0.0  1293840000   17396    sr90
 609520  31.1700  60.000000        0.0        0.0  1293840000   17439      h3

         Activity or MDA       _unc  _dl  ...  Latitude degrees  \
 8             13.000000     8.3200    1  ...                54
 39            69.000000     9.6600    1  ...                54
 68             5.740000     0.2870    1  ...                54
 99            64.800003     0.6480    1  ...                54
 128            3.790000     0.2653    1  ...                54
 ...                 ...        ...  ...  ...               ...
 609415        15.100000     3.0200    1  ...                60
 609430      3000.000000  1290.0000    1  ...                60
 609459         3.000000     0.9900    1  ...                60
 609505         5.800000     1.2180    1  ...                60
 609520         5.100000     1.2750    1  ...                60

         Latitude minutes  Latitude seconds Latitude direction  \
 8                     50         24.000549                  N
 39                    50         24.000549                  N
 68                    50         30.125427                  N
 99                    50         30.125427                  N
 128                   50         30.125427                  N
 ...                  ...               ...                ...
 609415                 0          0.000000                  N
 609430                 0          0.000000                  N
 609459                 0          0.000000                  N
 609505                 0          0.000000                  N
 609520                 0          0.000000                  N

        Longitude degrees Longitude minutes  Longitude seconds  \
 8                      9                37          59.879379
 39                     9                37          59.879379
 68                     9                37          59.879379
 99                     9                37          59.879379
 128                    9                37          59.879379
 ...                  ...               ...                ...
 609415                31                10           0.121307
 609430                31                10           0.121307
 609459                31                10          12.000275
 609505                31                10          12.000275
 609520                31                10          12.000275

         Longitude direction   Unit Value type
 8                         E  Bq/m3          =
 39                        E  Bq/m3          =
 68                        E  Bq/m3          =
 99                        E  Bq/m3          =
 128                       E  Bq/m3          =
 ...                     ...    ...        ...
 609415                    E  Bq/m3          =
 609430                    E  Bq/m3          =
 609459                    E  Bq/m3          =
 609505                    E  Bq/m3          =
 609520                    E  Bq/m3          =

 [20242 rows x 26 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 10        9.6333  54.833302       17.0   597628800        55    5768    co60
 55        9.6333  54.833302       17.0   597628800        55    5769   cs134
 101       9.6333  54.833302       17.0   597628800        55    5770   cs137
 148       9.6333  54.833302       17.0   597628800        55    5771     k40
 209       9.6333  54.833302       17.0   597628800        55    5772   ru106
 ...          ...        ...        ...         ...       ...     ...     ...
 1643020  30.7500  61.416698      154.0  1342742400         0    1029     k40
 1643064  30.7500  61.416698      154.0  1342742400         0    1030     k40
 1643108  30.7500  61.416698      154.0  1342742400         0    1031     k40
 1643152  30.7500  61.416698      154.0  1342742400         0    1032     k40
 1643196  30.7500  61.416698      154.0  1342742400         0    1033     k40

          Activity or MDA        _unc  _dl  ...  Latitude minutes  \
 10                   0.1         NaN    0  ...                49
 55                   0.3    0.108000    1  ...                49
 101                  4.5    0.135000    1  ...                49
 148                457.0    4.570000    1  ...                49
 209                  0.6         NaN    0  ...                49
 ...                  ...         ...  ...  ...               ...
 1643020            710.0  220.100006    1  ...                25
 1643064            680.0  210.800003    1  ...                25
 1643108            610.0  189.100006    1  ...                25
 1643152            590.0  182.899994    1  ...                25
 1643196            620.0  192.199997    1  ...                25

         Latitude seconds Latitude direction Longitude degrees  \
 10             59.885559                  N                 9
 55             59.885559                  N                 9
 101            59.885559                  N                 9
 148            59.885559                  N                 9
 209            59.885559                  N                 9
 ...                  ...                ...               ...
 1643020         0.114441                  N                30
 1643064         0.114441                  N                30
 1643108         0.114441                  N                30
 1643152         0.114441                  N                30
 1643196         0.114441                  N                30

          Longitude minutes  Longitude seconds  Longitude direction    Unit  \
 10                      37          59.879379                    E  Bq/kgd
 55                      37          59.879379                    E  Bq/kgd
 101                     37          59.879379                    E  Bq/kgd
 148                     37          59.879379                    E  Bq/kgd
 209                     37          59.879379                    E  Bq/kgd
 ...                    ...                ...                  ...     ...
 1643020                 45           0.000000                    E  Bq/kgd
 1643064                 45           0.000000                    E  Bq/kgd
 1643108                 45           0.000000                    E  Bq/kgd
 1643152                 45           0.000000                    E  Bq/kgd
 1643196                 45           0.000000                    E  Bq/kgd

             Value type          Sediment type
 10       Not Available  Loose-drifting plants
 55                   =  Loose-drifting plants
 101                  =  Loose-drifting plants
 148                  =  Loose-drifting plants
 209      Not Available  Loose-drifting plants
 ...                ...                    ...
 1643020              =        (Not available)
 1643064              =        (Not available)
 1643108              =        (Not available)
 1643152              =        (Not available)
 1643196              =        (Not available)

 [37089 rows x 25 columns],
 'biota':               lon        lat  smp_depth        time  bio_group  species  \
 11       9.683333  54.516666        2.0  1323561600          4       50
 64       9.683333  54.516666        2.0  1323561600          4       50
 124      9.683333  54.516666        2.0  1323561600          4       50
 170      9.683333  54.516666        2.0  1323561600          4       50
 219     10.000000  54.750000        4.0  1323734400          4       99
 ...           ...        ...        ...         ...        ...      ...
 774190  27.750000  59.466999        0.0  1035763200          4       50
 774242  27.750000  59.466999        0.0  1069804800          4       50
 774294  27.750000  59.466999        0.0  1104364800          4       50
 774346  27.750000  59.466999        0.0  1134518400          4       50
 774398  27.900000  59.430000        0.0  1304467200          4       50

         body_part  sample nuclide  Activity or MDA  ...  Latitude seconds  \
 11             52     192    co60          0.00848  ...         59.999084
 64             52     193   cs134          0.00545  ...         59.999084
 124            52     194     k40        117.00000  ...         59.999084
 170            52     195   cs137          0.77600  ...         59.999084
 219            52     184    co60          0.00794  ...          0.000000
 ...           ...     ...     ...              ...  ...               ...
 774190          1    5959   cs137          8.00000  ...          1.196594
 774242          1    5955   cs137          5.80000  ...          1.196594
 774294          1    5951   cs137          6.50000  ...          1.196594
 774346          1    5947   cs137          6.80000  ...          1.196594
 774398          1    5989   cs137          3.00000  ...         48.001099

         Latitude direction  Longitude degrees Longitude minutes  \
 11                       N                  9                41
 64                       N                  9                41
 124                      N                  9                41
 170                      N                  9                41
 219                      N                 10                 0
 ...                    ...                ...               ...
 774190                   N                 27                45
 774242                   N                 27                45
 774294                   N                 27                45
 774346                   N                 27                45
 774398                   N                 27                53

        Longitude seconds Longitude direction           Unit  Value type  \
 11              0.000229                   E         Bq/kgw           <
 64              0.000229                   E         Bq/kgw           <
 124             0.000229                   E  NOT AVAILABLE           =
 170             0.000229                   E         Bq/kgw           =
 219             0.000000                   E         Bq/kgw           <
 ...                  ...                 ...            ...         ...
 774190          0.000000                   E         Bq/kgw           =
 774242          0.000000                   E         Bq/kgw           =
 774294          0.000000                   E         Bq/kgw           =
 774346          0.000000                   E         Bq/kgw           =
 774398         59.998627                   E         Bq/kgw           =

                 Species            Body part
 11      Clupea harengus  Flesh without bones
 64      Clupea harengus  Flesh without bones
 124     Clupea harengus  Flesh without bones
 170     Clupea harengus  Flesh without bones
 219        Gadus morhua  Flesh without bones
 ...                 ...                  ...
 774190  Clupea harengus         Whole animal
 774242  Clupea harengus         Whole animal
 774294  Clupea harengus         Whole animal
 774346  Clupea harengus         Whole animal
 774398  Clupea harengus         Whole animal

 [14873 rows x 28 columns]}

***

### Rename columns

In [ ]:
#| export
# Define columns of interest (keys) and renaming rules (values).
renaming_rules = {('seawater','biota', 'sediment') : {    
                                                        ## DEFAULT
                                                        'Sample type' : 'Sample type',
                                                        'Latitude degrees' : 'Latitude degrees',
                                                        'Latitude minutes' : 'Latitude minutes',
                                                        'Latitude seconds' : 'Latitude seconds',
                                                        'Latitude direction' : 'Latitude direction',
                                                        'Longitude degrees' : 'Longitude degrees',
                                                        'Longitude minutes' : 'Longitude minutes',
                                                        'Longitude seconds' : 'Longitude seconds', 
                                                        'Longitude direction' : 'Longitude direction',    
                                                        'lat' : 'Latitude decimal' ,
                                                        'lon' : 'Longitude decimal',
                                                        'Sampling start date': 'Sampling start date',
                                                        #'Sampling start time' : 'Sampling start time'',
                                                        #'Sampling end date' : 'Sampling end date',
                                                        #'Sampling end time' : 'Sampling end time',
                                                        'Nuclide': 'Nuclide',
                                                        'Value type': 'Value type',
                                                        'Unit' : 'Unit',
                                                        'Activity or MDA' : 'Activity or MDA',
                                                        '_unc' : 'Uncertainty',
                                                        #'Quality flag' : 'Quality flag'
                                                        #'Station ID' : 'Station ID '
                                                        #'Sample ID' : 'Sample ID'
                                                        #'Profile or transect ID' : 'Profile or transect ID'
                                                        #'Sampling method' : 'Sampling method'
                                                        #'Preparation method' : 'Preparation method'
                                                        #'Counting method' : 'Counting method'
                                                        #'Sample notes' : 'Sample notes'
                                                        #'Measurement notes' : 'Measurement notes'
                                                    },
                  ('seawater',) : {
                                ## SEAWATER
                                #'smp_depth': 'Sampling depth',
                                #'Salinity' : 'Salinity',
                                #'Temperature' : 'Temperature',
                                #'Filtered' : 'Filtered',
                                #'Mesh size' : 'Mesh size',
                                #'Total depth' : 'Total depth'
                                },
                  ('biota', 'sediment') : {
                                            ## BIOTA & SEDIMENT
                                            #'Dry weight' : 'Dry weight',
                                            #'Wet weight' : 'Wet weight',
                                            #'Dry/wet ratio' : 'Dry/wet ratio',
                                            #'Drying method' : 'Drying method'
                                            },
                  ('biota',) : { 
                                ## BIOTA
                                'Species' : 'Species',
                                'Body part' : 'Body part'
                                },
                  ('sediment',) : {
                                ## SEDIMENT
                                #'Top' : 'Top',
                                #'Bottom' : 'Bottom',
                                #'Sediment type' : 'Sediment type'
                                }
                    }

In [ ]:
#| export
class RenameColumnCB(Callback):
    def __init__(self,
                 renaming_rules=renaming_rules):
        fc.store_attr()

    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            # Get list of renaming rules keys for the group of interest
            rules_of_interest=[key for key in self.renaming_rules.keys() if grp in key]
            # Merge the dictionaries
            rules={k: v for d in [self.renaming_rules[key] for key in rules_of_interest] for k, v in d.items()}
            # Select cols of interest
            tfm.dfs[grp] = tfm.dfs[grp].loc[:,list(rules.keys())]
            # Rename cols
            tfm.dfs[grp].rename(columns=rules, inplace=True)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB(),
                            LookupSedimentTypeByIdCB(),
                            RenameColumnCB()
                            ])
tfm()

{'seawater':        Sample type  Latitude degrees  Latitude minutes  Latitude seconds  \
 8         SEAWATER                54                50         24.000549
 39        SEAWATER                54                50         24.000549
 68        SEAWATER                54                50         30.125427
 99        SEAWATER                54                50         30.125427
 128       SEAWATER                54                50         30.125427
 ...            ...               ...               ...               ...
 609415    SEAWATER                60                 0          0.000000
 609430    SEAWATER                60                 0          0.000000
 609459    SEAWATER                60                 0          0.000000
 609505    SEAWATER                60                 0          0.000000
 609520    SEAWATER                60                 0          0.000000

        Latitude direction  Longitude degrees  Longitude minutes  \
 8                       N                  9                 37
 39                      N                  9                 37
 68                      N                  9                 37
 99                      N                  9                 37
 128                     N                  9                 37
 ...                   ...                ...                ...
 609415                  N                 31                 10
 609430                  N                 31                 10
 609459                  N                 31                 10
 609505                  N                 31                 10
 609520                  N                 31                 10

         Longitude seconds Longitude direction  Latitude decimal  \
 8               59.879379                   E         54.840000
 39              59.879379                   E         54.840000
 68              59.879379                   E         54.841702
 99              59.879379                   E         54.841702
 128             59.879379                   E         54.841702
 ...                   ...                 ...               ...
 609415           0.121307                   E         60.000000
 609430           0.121307                   E         60.000000
 609459          12.000275                   E         60.000000
 609505          12.000275                   E         60.000000
 609520          12.000275                   E         60.000000

         Longitude decimal Sampling start date Nuclide Value type   Unit  \
 8                  9.6333         09-Dec-1988   134Cs          =  Bq/m3
 39                 9.6333         09-Dec-1988   137Cs          =  Bq/m3
 68                 9.6333         23-Nov-1991   134Cs          =  Bq/m3
 99                 9.6333         23-Nov-1991   137Cs          =  Bq/m3
 128                9.6333         16-Dec-1992   134Cs          =  Bq/m3
 ...                   ...                 ...     ...        ...    ...
 609415            31.1667         24-Jul-2012    90Sr          =  Bq/m3
 609430            31.1667         24-Jul-2012      3H          =  Bq/m3
 609459            31.1700         01-Jan-2011   137Cs          =  Bq/m3
 609505            31.1700         01-Jan-2011    90Sr          =  Bq/m3
 609520            31.1700         01-Jan-2011      3H          =  Bq/m3

         Activity or MDA  Uncertainty
 8             13.000000       8.3200
 39            69.000000       9.6600
 68             5.740000       0.2870
 99            64.800003       0.6480
 128            3.790000       0.2653
 ...                 ...          ...
 609415        15.100000       3.0200
 609430      3000.000000    1290.0000
 609459         3.000000       0.9900
 609505         5.800000       1.2180
 609520         5.100000       1.2750

 [20242 rows x 17 columns],
 'sediment':         Sample type  Latitude degrees  Latitude minutes  Latitude seconds  \
 10         SEDIMENT                54                49         59.885559
 55         SEDIMENT                54                49         59.885559
 101        SEDIMENT                54                49         59.885559
 148        SEDIMENT                54                49         59.885559
 209        SEDIMENT                54                49         59.885559
 ...             ...               ...               ...               ...
 1643020    SEDIMENT                61                25          0.114441
 1643064    SEDIMENT                61                25          0.114441
 1643108    SEDIMENT                61                25          0.114441
 1643152    SEDIMENT                61                25          0.114441
 1643196    SEDIMENT                61                25          0.114441

         Latitude direction  Longitude degrees  Longitude minutes  \
 10                       N                  9                 37
 55                       N                  9                 37
 101                      N                  9                 37
 148                      N                  9                 37
 209                      N                  9                 37
 ...                    ...                ...                ...
 1643020                  N                 30                 45
 1643064                  N                 30                 45
 1643108                  N                 30                 45
 1643152                  N                 30                 45
 1643196                  N                 30                 45

          Longitude seconds Longitude direction  Latitude decimal  \
 10               59.879379                   E         54.833302
 55               59.879379                   E         54.833302
 101              59.879379                   E         54.833302
 148              59.879379                   E         54.833302
 209              59.879379                   E         54.833302
 ...                    ...                 ...               ...
 1643020           0.000000                   E         61.416698
 1643064           0.000000                   E         61.416698
 1643108           0.000000                   E         61.416698
 1643152           0.000000                   E         61.416698
 1643196           0.000000                   E         61.416698

          Longitude decimal Sampling start date Nuclide     Value type    Unit  \
 10                  9.6333         09-Dec-1988    60Co  Not Available  Bq/kgd
 55                  9.6333         09-Dec-1988   134Cs              =  Bq/kgd
 101                 9.6333         09-Dec-1988   137Cs              =  Bq/kgd
 148                 9.6333         09-Dec-1988     40K              =  Bq/kgd
 209                 9.6333         09-Dec-1988   106Ru  Not Available  Bq/kgd
 ...                    ...                 ...     ...            ...     ...
 1643020            30.7500         20-Jul-2012     40K              =  Bq/kgd
 1643064            30.7500         20-Jul-2012     40K              =  Bq/kgd
 1643108            30.7500         20-Jul-2012     40K              =  Bq/kgd
 1643152            30.7500         20-Jul-2012     40K              =  Bq/kgd
 1643196            30.7500         20-Jul-2012     40K              =  Bq/kgd

          Activity or MDA  Uncertainty
 10                   0.1          NaN
 55                   0.3     0.108000
 101                  4.5     0.135000
 148                457.0     4.570000
 209                  0.6          NaN
 ...                  ...          ...
 1643020            710.0   220.100006
 1643064            680.0   210.800003
 1643108            610.0   189.100006
 1643152            590.0   182.899994
 1643196            620.0   192.199997

 [37089 rows x 17 columns],
 'biota':        Sample type  Latitude degrees  Latitude minutes  Latitude seconds  \
 11           BIOTA                54                30         59.999084
 64           BIOTA                54                30         59.999084
 124          BIOTA                54                30         59.999084
 170          BIOTA                54                30         59.999084
 219          BIOTA                54                45          0.000000
 ...            ...               ...               ...               ...
 774190       BIOTA                59                28          1.196594
 774242       BIOTA                59                28          1.196594
 774294       BIOTA                59                28          1.196594
 774346       BIOTA                59                28          1.196594
 774398       BIOTA                59                25         48.001099

        Latitude direction  Longitude degrees  Longitude minutes  \
 11                      N                  9                 41
 64                      N                  9                 41
 124                     N                  9                 41
 170                     N                  9                 41
 219                     N                 10                  0
 ...                   ...                ...                ...
 774190                  N                 27                 45
 774242                  N                 27                 45
 774294                  N                 27                 45
 774346                  N                 27                 45
 774398                  N                 27                 53

         Longitude seconds Longitude direction  Latitude decimal  \
 11               0.000229                   E         54.516666
 64               0.000229                   E         54.516666
 124              0.000229                   E         54.516666
 170              0.000229                   E         54.516666
 219              0.000000                   E         54.750000
 ...                   ...                 ...               ...
 774190           0.000000                   E         59.466999
 774242           0.000000                   E         59.466999
 774294           0.000000                   E         59.466999
 774346           0.000000                   E         59.466999
 774398          59.998627                   E         59.430000

         Longitude decimal Sampling start date Nuclide Value type  \
 11               9.683333         11-Dec-2011    60Co          <
 64               9.683333         11-Dec-2011   134Cs          <
 124              9.683333         11-Dec-2011     40K          =
 170              9.683333         11-Dec-2011   137Cs          =
 219             10.000000         13-Dec-2011    60Co          <
 ...                   ...                 ...     ...        ...
 774190          27.750000         28-Oct-2002   137Cs          =
 774242          27.750000         26-Nov-2003   137Cs          =
 774294          27.750000         30-Dec-2004   137Cs          =
 774346          27.750000         14-Dec-2005   137Cs          =
 774398          27.900000         04-May-2011   137Cs          =

                  Unit  Activity or MDA  Uncertainty          Species  \
 11             Bq/kgw          0.00848          NaN  Clupea harengus
 64             Bq/kgw          0.00545          NaN  Clupea harengus
 124     NOT AVAILABLE        117.00000     4.212000  Clupea harengus
 170            Bq/kgw          0.77600     0.029488  Clupea harengus
 219            Bq/kgw          0.00794          NaN     Gadus morhua
 ...               ...              ...          ...              ...
 774190         Bq/kgw          8.00000     0.400000  Clupea harengus
 774242         Bq/kgw          5.80000     0.290000  Clupea harengus
 774294         Bq/kgw          6.50000     0.260000  Clupea harengus
 774346         Bq/kgw          6.80000     0.136000  Clupea harengus
 774398         Bq/kgw          3.00000     0.090000  Clupea harengus

                   Body part
 11      Flesh without bones
 64      Flesh without bones
 124     Flesh without bones
 170     Flesh without bones
 219     Flesh without bones
 ...                     ...
 774190         Whole animal
 774242         Whole animal
 774294         Whole animal
 774346         Whole animal
 774398         Whole animal

 [14873 rows x 19 columns]}

***

### Encoding

In [ ]:
#| export
def encode(fname_in, fname_out, ref_id=-1, **kwargs):
    dfs = netcdf4_to_df(fname_in)
    tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB(),
                            LookupSedimentTypeByIdCB(),
                            RenameColumnCB()
                            ])
    
    encoder = OpenRefineCsvEncoder(tfm(), 
                            dest_fname=fname_out,
                            ref_id = ref_id,
                            **kwargs)
    encoder.encode()
    return encoder

In [ ]:
encode(fname_in, fname_out, ref_id, verbose=False)

TODO Review nuclides. Cs127?

TODO: check the dfs as the dimensions should be longer. this means each row has a single nuclide. Is this what we want?

TODO: Include refid in encoder

TODO HELCOM seawater is missing depth

TODO Check : OSPAR weight missing in netcdf?

TODO: Should the var be called 'detection limit'? Is 'value type' more appropriate?

TODO Biogroup not used in OPEN REfINE csv format. Confirm this

TODO Ask about Species dbo. Paul said there is a larger one.