# NetCDF to Open Refine CSV (WIP)

***

## Packages import

mamba install dask --force-reinstall

In [11]:

from pathlib import Path # This module offers classes representing filesystem paths
import xarray as xr
from netCDF4 import Dataset
import pandas as pd
import xarray as xr
import numpy as np
from marisco.callbacks import (Callback, Transformer,
                               EncodeTimeCB, SanitizeLonLatCB)
import fastcore.all as fc # package that brings fastcore functionality, see https://fastcore.fast.ai/.
from cftime import num2pydate 
from marisco.configs import cfg, lut_path
from marisco.serializers import OpenRefineCsvEncoder

Get the current working directory (cwd).

In [12]:
Path.cwd()

Path('/home/marisco/downloads/marisco/nbs/handlers')

In [13]:
fname_in = '../../_data/output/helcom.nc'
fname_out = '../../_data/output/helcom_test.csv'

***

### Load NetCDF

load netcdf4 data

In [14]:
def netcdf4_to_df(fname_in):
    # read nc file
    netcdf4_data = Dataset(fname_in, "r")
    # Create dictionary of dataframes
    dfs={}
    for group in (netcdf4_data.groups.keys()):
        ds = xr.open_dataset(fname_in, group=group,  decode_times=False)
        dfs[group]=ds.to_dataframe()
    netcdf4_data.close()
    return(dfs)

***

In [15]:
dfs = netcdf4_to_df(fname_in)
dfs['seawater']

,lon,lat,depth,time,h3,h3_unc,h3_unit,k40,k40_unc,k40_unit,...,cm242_unit,cm244,cm244_unc,cm244_unit,pu239_240_tot,pu239_240_tot_unc,pu239_240_tot_unit,cm243_244_tot,cm243_244_tot_unc,cm243_244_tot_unit
sample,,,,,,,,,,,,,,,,,,,,,
0,11.078300,54.349998,0.0,515980800,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
1,10.316700,54.500000,0.0,516153600,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
2,21.026600,55.305000,0.0,1549929600,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
3,16.448299,55.348301,0.0,515980800,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
4,18.879999,55.500000,0.0,1280707200,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,18.233299,58.583302,459.0,613440000,6520.0,1791.099976,1,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
4815,18.233299,58.580002,460.0,769478400,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,0.00356,0.000494,1,NaN,NaN,0
4816,18.233299,58.583302,460.0,743472000,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
4817,18.231701,58.583302,460.0,965260800,2370.0,23.700001,1,NaN,NaN,0,...,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
4818,18.235001,58.583302,460.0,838252800,NaN,NaN,0,NaN,NaN,0,...,0,NaN,NaN,0,0.00231,0.000231,1,NaN,NaN,0

In [16]:
dfs['seawater'].columns

Index(['lon', 'lat', 'depth', 'time', 'h3', 'h3_unc', 'h3_unit', 'k40',
       'k40_unc', 'k40_unit', 'mn54', 'mn54_unit', 'co60', 'co60_unc',
       'co60_unit', 'sr89', 'sr89_unit', 'sr90', 'sr90_unc', 'sr90_unit',
       'zr95', 'zr95_unc', 'zr95_unit', 'nb95', 'nb95_unc', 'nb95_unit',
       'tc99', 'tc99_unc', 'tc99_unit', 'ru103', 'ru103_unc', 'ru103_unit',
       'ru106', 'ru106_unc', 'ru106_unit', 'ag110m', 'ag110m_unc',
       'ag110m_unit', 'sb125', 'sb125_unc', 'sb125_unit', 'cs134', 'cs134_unc',
       'cs134_unit', 'cs137', 'cs137_unc', 'cs137_unit', 'ba140', 'ba140_unc',
       'ba140_unit', 'ce144', 'ce144_unc', 'ce144_unit', 'pb210', 'pb210_unc',
       'pb210_unit', 'po210', 'po210_unc', 'po210_unit', 'u234', 'u234_unit',
       'u238', 'u238_unit', 'np237', 'np237_unc', 'np237_unit', 'pu238',
       'pu238_unc', 'pu238_unit', 'pu239', 'pu239_unc', 'pu239_unit', 'pu240',
       'pu240_unc', 'pu240_unit', 'am241', 'am241_unc', 'am241_unit', 'cm242',
       'cm242_unc', 'cm242_unit', 'cm244', 'cm244_unc', 'cm244_unit',
       'pu239_240_tot', 'pu239_240_tot_unc', 'pu239_240_tot_unit',
       'cm243_244_tot', 'cm243_244_tot_unc', 'cm243_244_tot_unit'],
      dtype='object')

### Transpose Nuclides

In [17]:
#| export
# Define cols that are not nuclides
sample_cols_grp = {'seawater': ['sample','lon', 'lat', 'depth', 'time'],
           'sediment': ['sample', 'lon', 'lat', 'depth', 'time', 'sed_type'],
           'biota': ['sample', 'lon', 'lat', 'depth', 'time', 'species_id', 'body_part']}

In [18]:
#| export
class TransposeNuclideColumns(Callback):
    
    " Transpose NetCDF nuclide data."
    def __init__(self, cols_grp=sample_cols_grp): fc.store_attr()
    
    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp]=self.transpose_nuclides(tfm.dfs[grp], grp)
            
    def transpose_nuclides(self, df, group):
        sample_cols=self.cols_grp[group]
        nuclide_unc_unit_cols=list(set(df.columns) - set(sample_cols))
        unc_cols=[x for x in nuclide_unc_unit_cols if '_unc' in x]
        unit_cols=[x for x in nuclide_unc_unit_cols if '_unit' in x]
        dl_cols=[x for x in nuclide_unc_unit_cols if '_dl' in x]
        nuclide_cols= list(set(nuclide_unc_unit_cols) - set(unit_cols+unc_cols+dl_cols))
              
        # Transpose nuclide_cols
        nuclide_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=nuclide_cols, var_name='nuclide', value_name='activity')
        
        # Transpose unc_cols
        unc_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=unc_cols, var_name='nuclide', value_name='uncertainty')
        unc_df['nuclide'] = unc_df['nuclide'].str.replace('_unc', '')    
            
        # Transpose unit_cols
        unit_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=unit_cols, var_name='nuclide', value_name='unit_id')       
        unit_df['nuclide'] = unit_df['nuclide'].str.replace('_unit', '')
        
        # Transpose dl_cols
        dl_df=pd.melt(frame=df, id_vars=sample_cols, value_vars=dl_cols, var_name='nuclide', value_name='dl')       
        dl_df['nuclide'] = dl_df['nuclide'].str.replace('_dl', '')        
        
        # Combine nuclide_df, unc_df, unit_df and dl_df
        combine_on=sample_cols+['nuclide']
        df = pd.merge(nuclide_df, unc_df,  how='outer', left_on= combine_on, right_on = combine_on)
        df = pd.merge(df, unit_df,  how='outer', left_on= combine_on, right_on = combine_on)
        df = pd.merge(df, dl_df,  how='outer', left_on= combine_on, right_on = combine_on)
        
        # Keep all rows where 'activity' is not 'nan' OR 'uncertainty' is not 'nan' OR 'dl' is not 'nan' OR'unit_id' not equal 0.
        df=df[(df['activity'].notna()) | (df['uncertainty'].notna()) | (df['dl'].notna()) | (df['unit_id'] != 0 )]
        return(df)

In [19]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns()])
tfm()

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['sample']"

***

### Parse Time

In [ ]:
#| export
class ParseTimeCB(Callback):
    def __init__(self, cfg): fc.store_attr()
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['time'] = tfm.dfs[k]['time'].apply(self.format_time)
    def format_time(self, x): 
        return num2pydate(x, units=self.cfg['units']['time'])

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg())])
tfm()

{'seawater':         sample        lon        lat  depth       time nuclide    activity  \
 9           10  14.257800  53.942200   10.0 2012-06-13   cs137   23.500000
 25          10  14.257800  53.942200   10.0 2012-06-13    sr90    4.950000
 39          11  14.263300  53.948299   10.0 1997-07-30   cs137   40.000000
 55          11  14.263300  53.948299   10.0 1997-07-30    sr90    7.100000
 69          12  14.263300  53.948299   10.0 2000-08-20   cs137   52.099998
 ...        ...        ...        ...    ...        ...     ...         ...
 144218    4817  24.334999  65.634697   17.0 1992-05-25   cs134    2.100000
 144219    4817  24.334999  65.634697   17.0 1992-05-25   cs137   22.000000
 144221    4817  24.334999  65.634697   17.0 1992-05-25     k40  220.000000
 144249    4818  24.334999  65.634697   17.0 1996-08-28   cs137   38.500000
 144251    4818  24.334999  65.634697   17.0 1996-08-28     k40  525.000000

         uncertainty  unit_id  dl
 9           0.95871        1 NaN
 25          0.43845        1 NaN
 39          0.80000        1 NaN
 55          0.38340        1 NaN
 69          2.60500        1 NaN
 ...             ...      ...  ..
 144218      0.37800        1 NaN
 144219      1.32000        1 NaN
 144221     15.40000        1 NaN
 144249      1.54000        1 NaN
 144251     21.00000        1 NaN

 [11416 rows x 10 columns],
 'sediment':         sample      lon        lat  depth       time  sed_type nuclide  \
 13           0  14.4183  54.325001    9.0 1985-06-19         0   cs137
 57           1  14.4183  54.333302   63.0 1984-06-03         0   cs137
 101          2  19.1133  54.500000   70.0 1984-06-13         0   cs137
 145          3  19.1133  54.500000   70.0 1985-06-21         0   cs137
 187          4  19.1133  54.500000   70.0 1988-07-09         0   cs134
 ...        ...      ...        ...    ...        ...       ...     ...
 103856    2360  22.1000  64.566704  106.0 1987-08-14        61     k40
 103873    2360  22.1000  64.566704  106.0 1987-08-14        61   ru106
 103875    2360  22.1000  64.566704  106.0 1987-08-14        61   sb125
 103897    2361  12.2500  54.583302   19.0 1998-09-23        62   cs137
 103900    2361  12.2500  54.583302   19.0 1998-09-23        62     k40

           activity  uncertainty  unit_id  dl
 13       42.250000       9.6200        3 NaN
 57       20.980000       2.1804        3 NaN
 101      35.049999       3.1990        3 NaN
 145      42.000000      10.2980        3 NaN
 187      26.940001       2.4402        3 NaN
 ...            ...          ...      ...  ..
 103856  555.000000      11.1000        3 NaN
 103873   13.400000       5.0920        3 NaN
 103875    9.700000       1.6490        3 NaN
 103897    5.300000       0.1120        3 NaN
 103900  324.399994       3.2440        3 NaN

 [7605 rows x 11 columns],
 'biota':         sample     lon        lat      depth       time  species_id  \
 14           0  14.241  53.458000   0.000000 1998-09-04         280
 65           1  14.150  54.040001  14.000000 1987-06-27          59
 116          2  14.150  54.040001  13.000000 1990-07-07          59
 117          2  14.150  54.040001  13.000000 1990-07-07          59
 118          2  14.150  54.040001  13.000000 1990-07-07          59
 ...        ...     ...        ...        ...        ...         ...
 204299    3953  13.450  55.020000  48.799999 1989-12-12         122
 204302    3953  13.450  55.020000  48.799999 1989-12-12         122
 204328    3954  11.330  54.188999  22.000000 1984-11-18         273
 204374    3955  12.470  54.433998  22.000000 1989-06-03         120
 204392    3955  12.470  54.433998  22.000000 1989-06-03         120

         body_part        nuclide   activity  uncertainty  unit_id  dl
 14              1          cs137  15.300000       0.1836        3 NaN
 65              1  cs134_137_tot  23.900000       1.1950        3 NaN
 116             1          cs134   3.600000       1.6920        3 NaN
 117             1  cs134_137_tot  37.200001       1.4880        3 NaN
 118             1          cs137  32.799999       2.6240        3 NaN
 ...           ...            ...        ...          ...      ...  ..
 204299         59           sr90   7.600000       0.2888        3 NaN
 204302         59          th228   4.200000       0.2058        3 NaN
 204328         59            k40  50.599998       8.6020        3 NaN
 204374         59          cs137   3.070000       0.5526        3 NaN
 204392         59          ra226   3.600000       0.6840        3 NaN

 [14221 rows x 12 columns]}

***

### Sample Type

In [ ]:
#| export
# Define sample types groups
sample_type_lut = {'seawater': 1,
           'sediment': 2,
           'biota': 3,
           'suspended matter': 4}

In [ ]:
#| export
class LookupSampleType(Callback):
    def __init__(self, lut=sample_type_lut): fc.store_attr()
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['samptype_id'] = self.lut[k]

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg()),
                            LookupSampleType()])
tfm()

{'seawater':         sample        lon        lat  depth       time nuclide    activity  \
 9           10  14.257800  53.942200   10.0 2012-06-13   cs137   23.500000
 25          10  14.257800  53.942200   10.0 2012-06-13    sr90    4.950000
 39          11  14.263300  53.948299   10.0 1997-07-30   cs137   40.000000
 55          11  14.263300  53.948299   10.0 1997-07-30    sr90    7.100000
 69          12  14.263300  53.948299   10.0 2000-08-20   cs137   52.099998
 ...        ...        ...        ...    ...        ...     ...         ...
 144218    4817  24.334999  65.634697   17.0 1992-05-25   cs134    2.100000
 144219    4817  24.334999  65.634697   17.0 1992-05-25   cs137   22.000000
 144221    4817  24.334999  65.634697   17.0 1992-05-25     k40  220.000000
 144249    4818  24.334999  65.634697   17.0 1996-08-28   cs137   38.500000
 144251    4818  24.334999  65.634697   17.0 1996-08-28     k40  525.000000

         uncertainty  unit_id  dl  samptype_id
 9           0.95871        1 NaN            1
 25          0.43845        1 NaN            1
 39          0.80000        1 NaN            1
 55          0.38340        1 NaN            1
 69          2.60500        1 NaN            1
 ...             ...      ...  ..          ...
 144218      0.37800        1 NaN            1
 144219      1.32000        1 NaN            1
 144221     15.40000        1 NaN            1
 144249      1.54000        1 NaN            1
 144251     21.00000        1 NaN            1

 [11416 rows x 11 columns],
 'sediment':         sample      lon        lat  depth       time  sed_type nuclide  \
 13           0  14.4183  54.325001    9.0 1985-06-19         0   cs137
 57           1  14.4183  54.333302   63.0 1984-06-03         0   cs137
 101          2  19.1133  54.500000   70.0 1984-06-13         0   cs137
 145          3  19.1133  54.500000   70.0 1985-06-21         0   cs137
 187          4  19.1133  54.500000   70.0 1988-07-09         0   cs134
 ...        ...      ...        ...    ...        ...       ...     ...
 103856    2360  22.1000  64.566704  106.0 1987-08-14        61     k40
 103873    2360  22.1000  64.566704  106.0 1987-08-14        61   ru106
 103875    2360  22.1000  64.566704  106.0 1987-08-14        61   sb125
 103897    2361  12.2500  54.583302   19.0 1998-09-23        62   cs137
 103900    2361  12.2500  54.583302   19.0 1998-09-23        62     k40

           activity  uncertainty  unit_id  dl  samptype_id
 13       42.250000       9.6200        3 NaN            2
 57       20.980000       2.1804        3 NaN            2
 101      35.049999       3.1990        3 NaN            2
 145      42.000000      10.2980        3 NaN            2
 187      26.940001       2.4402        3 NaN            2
 ...            ...          ...      ...  ..          ...
 103856  555.000000      11.1000        3 NaN            2
 103873   13.400000       5.0920        3 NaN            2
 103875    9.700000       1.6490        3 NaN            2
 103897    5.300000       0.1120        3 NaN            2
 103900  324.399994       3.2440        3 NaN            2

 [7605 rows x 12 columns],
 'biota':         sample     lon        lat      depth       time  species_id  \
 14           0  14.241  53.458000   0.000000 1998-09-04         280
 65           1  14.150  54.040001  14.000000 1987-06-27          59
 116          2  14.150  54.040001  13.000000 1990-07-07          59
 117          2  14.150  54.040001  13.000000 1990-07-07          59
 118          2  14.150  54.040001  13.000000 1990-07-07          59
 ...        ...     ...        ...        ...        ...         ...
 204299    3953  13.450  55.020000  48.799999 1989-12-12         122
 204302    3953  13.450  55.020000  48.799999 1989-12-12         122
 204328    3954  11.330  54.188999  22.000000 1984-11-18         273
 204374    3955  12.470  54.433998  22.000000 1989-06-03         120
 204392    3955  12.470  54.433998  22.000000 1989-06-03         120

         body_part        nuclide   activity  uncertainty  unit_id  dl  \
 14              1          cs137  15.300000       0.1836        3 NaN
 65              1  cs134_137_tot  23.900000       1.1950        3 NaN
 116             1          cs134   3.600000       1.6920        3 NaN
 117             1  cs134_137_tot  37.200001       1.4880        3 NaN
 118             1          cs137  32.799999       2.6240        3 NaN
 ...           ...            ...        ...          ...      ...  ..
 204299         59           sr90   7.600000       0.2888        3 NaN
 204302         59          th228   4.200000       0.2058        3 NaN
 204328         59            k40  50.599998       8.6020        3 NaN
 204374         59          cs137   3.070000       0.5526        3 NaN
 204392         59          ra226   3.600000       0.6840        3 NaN

         samptype_id
 14                3
 65                3
 116               3
 117               3
 118               3
 ...             ...
 204299            3
 204302            3
 204328            3
 204374            3
 204392            3

 [14221 rows x 13 columns]}

***

### Nuclide lookup

In [ ]:
#| export
def get_nucnames_lut():
    fname = lut_path() / 'dbo_nuclide.xlsx'
    df_nuclide = pd.read_excel(fname, usecols=['nuclide_id', 'nc_name'])
    return df_nuclide.set_index('nc_name').to_dict()['nuclide_id']

In [ ]:
# | export
class LookupNuclideIdCB(Callback):
    "Lookup MARIS nuclide_id."
    def __init__(self,
                 fn_lut=get_nucnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
            tfm.dfs[k]['nuclide_id']=tfm.dfs[k]['nuclide_id'].astype('int64')

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg()),
                            LookupSampleType(),
                            LookupNuclideIdCB(),
                            ])
tfm()

/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)

{'seawater':         sample        lon        lat  depth       time nuclide    activity  \
 9           10  14.257800  53.942200   10.0 2012-06-13   cs137   23.500000
 25          10  14.257800  53.942200   10.0 2012-06-13    sr90    4.950000
 39          11  14.263300  53.948299   10.0 1997-07-30   cs137   40.000000
 55          11  14.263300  53.948299   10.0 1997-07-30    sr90    7.100000
 69          12  14.263300  53.948299   10.0 2000-08-20   cs137   52.099998
 ...        ...        ...        ...    ...        ...     ...         ...
 144218    4817  24.334999  65.634697   17.0 1992-05-25   cs134    2.100000
 144219    4817  24.334999  65.634697   17.0 1992-05-25   cs137   22.000000
 144221    4817  24.334999  65.634697   17.0 1992-05-25     k40  220.000000
 144249    4818  24.334999  65.634697   17.0 1996-08-28   cs137   38.500000
 144251    4818  24.334999  65.634697   17.0 1996-08-28     k40  525.000000

         uncertainty  unit_id  dl  samptype_id  nuclide_id
 9           0.95871        1 NaN            1          33
 25          0.43845        1 NaN            1          12
 39          0.80000        1 NaN            1          33
 55          0.38340        1 NaN            1          12
 69          2.60500        1 NaN            1          33
 ...             ...      ...  ..          ...         ...
 144218      0.37800        1 NaN            1          31
 144219      1.32000        1 NaN            1          33
 144221     15.40000        1 NaN            1           4
 144249      1.54000        1 NaN            1          33
 144251     21.00000        1 NaN            1           4

 [11416 rows x 12 columns],
 'sediment':         sample      lon        lat  depth       time  sed_type nuclide  \
 13           0  14.4183  54.325001    9.0 1985-06-19         0   cs137
 57           1  14.4183  54.333302   63.0 1984-06-03         0   cs137
 101          2  19.1133  54.500000   70.0 1984-06-13         0   cs137
 145          3  19.1133  54.500000   70.0 1985-06-21         0   cs137
 187          4  19.1133  54.500000   70.0 1988-07-09         0   cs134
 ...        ...      ...        ...    ...        ...       ...     ...
 103856    2360  22.1000  64.566704  106.0 1987-08-14        61     k40
 103873    2360  22.1000  64.566704  106.0 1987-08-14        61   ru106
 103875    2360  22.1000  64.566704  106.0 1987-08-14        61   sb125
 103897    2361  12.2500  54.583302   19.0 1998-09-23        62   cs137
 103900    2361  12.2500  54.583302   19.0 1998-09-23        62     k40

           activity  uncertainty  unit_id  dl  samptype_id  nuclide_id
 13       42.250000       9.6200        3 NaN            2          33
 57       20.980000       2.1804        3 NaN            2          33
 101      35.049999       3.1990        3 NaN            2          33
 145      42.000000      10.2980        3 NaN            2          33
 187      26.940001       2.4402        3 NaN            2          31
 ...            ...          ...      ...  ..          ...         ...
 103856  555.000000      11.1000        3 NaN            2           4
 103873   13.400000       5.0920        3 NaN            2          17
 103875    9.700000       1.6490        3 NaN            2          24
 103897    5.300000       0.1120        3 NaN            2          33
 103900  324.399994       3.2440        3 NaN            2           4

 [7605 rows x 13 columns],
 'biota':         sample     lon        lat      depth       time  species_id  \
 14           0  14.241  53.458000   0.000000 1998-09-04         280
 65           1  14.150  54.040001  14.000000 1987-06-27          59
 116          2  14.150  54.040001  13.000000 1990-07-07          59
 117          2  14.150  54.040001  13.000000 1990-07-07          59
 118          2  14.150  54.040001  13.000000 1990-07-07          59
 ...        ...     ...        ...        ...        ...         ...
 204299    3953  13.450  55.020000  48.799999 1989-12-12         122
 204302    3953  13.450  55.020000  48.799999 1989-12-12         122
 204328    3954  11.330  54.188999  22.000000 1984-11-18         273
 204374    3955  12.470  54.433998  22.000000 1989-06-03         120
 204392    3955  12.470  54.433998  22.000000 1989-06-03         120

         body_part        nuclide   activity  uncertainty  unit_id  dl  \
 14              1          cs137  15.300000       0.1836        3 NaN
 65              1  cs134_137_tot  23.900000       1.1950        3 NaN
 116             1          cs134   3.600000       1.6920        3 NaN
 117             1  cs134_137_tot  37.200001       1.4880        3 NaN
 118             1          cs137  32.799999       2.6240        3 NaN
 ...           ...            ...        ...          ...      ...  ..
 204299         59           sr90   7.600000       0.2888        3 NaN
 204302         59          th228   4.200000       0.2058        3 NaN
 204328         59            k40  50.599998       8.6020        3 NaN
 204374         59          cs137   3.070000       0.5526        3 NaN
 204392         59          ra226   3.600000       0.6840        3 NaN

         samptype_id  nuclide_id
 14                3          33
 65                3          76
 116               3          31
 117               3          76
 118               3          33
 ...             ...         ...
 204299            3          12
 204302            3          57
 204328            3           4
 204374            3          33
 204392            3          53

 [14221 rows x 14 columns]}

In [ ]:
tfm.dfs['biota']

,sample,lon,lat,depth,time,species_id,body_part,nuclide,activity,uncertainty,unit_id,dl,samptype_id,nuclide_id
14,0,14.241,53.458000,0.000000,1998-09-04,280,1,cs137,15.300000,0.1836,3,NaN,3,33
65,1,14.150,54.040001,14.000000,1987-06-27,59,1,cs134_137_tot,23.900000,1.1950,3,NaN,3,76
116,2,14.150,54.040001,13.000000,1990-07-07,59,1,cs134,3.600000,1.6920,3,NaN,3,31
117,2,14.150,54.040001,13.000000,1990-07-07,59,1,cs134_137_tot,37.200001,1.4880,3,NaN,3,76
118,2,14.150,54.040001,13.000000,1990-07-07,59,1,cs137,32.799999,2.6240,3,NaN,3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204299,3953,13.450,55.020000,48.799999,1989-12-12,122,59,sr90,7.600000,0.2888,3,NaN,3,12
204302,3953,13.450,55.020000,48.799999,1989-12-12,122,59,th228,4.200000,0.2058,3,NaN,3,57
204328,3954,11.330,54.188999,22.000000,1984-11-18,273,59,k40,50.599998,8.6020,3,NaN,3,4
204374,3955,12.470,54.433998,22.000000,1989-06-03,120,59,cs137,3.070000,0.5526,3,NaN,3,33
204392,3955,12.470,54.433998,22.000000,1989-06-03,120,59,ra226,3.600000,0.6840,3,NaN,3,53

***

### Rename columns

Rename

TODO: What is ref_id? 
Should/is 'sample' used to create a ref_id?

TODO: List COI in order

TODO 'nuclide' will be dropped in the actual OR

In [ ]:
#| export
# Define columns of interest by sample type
coi_grp = {'seawater': ['sample', 'lon', 'lat', 'depth', 'time', 'nuclide', 'activity',
                     'uncertainty', 'unit_id', 'dl', 'samptype_id', 'nuclide_id'],
       'sediment' : ['sample', 'lon', 'lat', 'depth', 'time', 'sed_type', 'nuclide',
                     'activity', 'uncertainty', 'unit_id', 'dl', 'samptype_id', 'nuclide_id'],
       'biota' : ['sample', 'lon', 'lat', 'depth', 'time', 'species_id', 'body_part',
                     'nuclide', 'activity', 'uncertainty', 'unit_id', 'dl', 'samptype_id', 'nuclide_id']}

In [ ]:
#| export
# Define column names renaming rules
renaming_rules = {
    'lat': 'latitude',
    'lon': 'longitude',
    'time': 'begperiod',
    'depth': 'sampdepth',
    'nuclide': 'nuclide_id',
    'uncertainty': 'uncertaint',
    'dl': 'detection',
    'sed_type': 'sedtype_id (0)',
    'species_id': 'species_id (0)',
    'body_part': 'bodypar_id',
}

In [ ]:
#| export
class RenameColumnCB(Callback):
    def __init__(self,
                 coi=coi_grp,
                 renaming_rules=renaming_rules):
        fc.store_attr()

    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            # Select cols of interest
            tfm.dfs[k] = tfm.dfs[k].loc[:, self.coi[k]]

            # Rename cols
            tfm.dfs[k].rename(columns=self.renaming_rules, inplace=True)

In [ ]:
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                            ParseTimeCB(cfg()),
                            LookupSampleType(),
                            LookupNuclideIdCB(),
                            RenameColumnCB()
                            ])
tfm()

/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)

{'seawater':         sample  longitude   latitude  sampdepth  begperiod  nuclide_id  \
 9           10  14.257800  53.942200       10.0 2012-06-13       cs137
 25          10  14.257800  53.942200       10.0 2012-06-13        sr90
 39          11  14.263300  53.948299       10.0 1997-07-30       cs137
 55          11  14.263300  53.948299       10.0 1997-07-30        sr90
 69          12  14.263300  53.948299       10.0 2000-08-20       cs137
 ...        ...        ...        ...        ...        ...         ...
 144218    4817  24.334999  65.634697       17.0 1992-05-25       cs134
 144219    4817  24.334999  65.634697       17.0 1992-05-25       cs137
 144221    4817  24.334999  65.634697       17.0 1992-05-25         k40
 144249    4818  24.334999  65.634697       17.0 1996-08-28       cs137
 144251    4818  24.334999  65.634697       17.0 1996-08-28         k40

           activity  uncertaint  unit_id  detection  samptype_id  nuclide_id
 9        23.500000     0.95871        1        NaN            1          33
 25        4.950000     0.43845        1        NaN            1          12
 39       40.000000     0.80000        1        NaN            1          33
 55        7.100000     0.38340        1        NaN            1          12
 69       52.099998     2.60500        1        NaN            1          33
 ...            ...         ...      ...        ...          ...         ...
 144218    2.100000     0.37800        1        NaN            1          31
 144219   22.000000     1.32000        1        NaN            1          33
 144221  220.000000    15.40000        1        NaN            1           4
 144249   38.500000     1.54000        1        NaN            1          33
 144251  525.000000    21.00000        1        NaN            1           4

 [11416 rows x 12 columns],
 'sediment':         sample  longitude   latitude  sampdepth  begperiod  sedtype_id (0)  \
 13           0    14.4183  54.325001        9.0 1985-06-19               0
 57           1    14.4183  54.333302       63.0 1984-06-03               0
 101          2    19.1133  54.500000       70.0 1984-06-13               0
 145          3    19.1133  54.500000       70.0 1985-06-21               0
 187          4    19.1133  54.500000       70.0 1988-07-09               0
 ...        ...        ...        ...        ...        ...             ...
 103856    2360    22.1000  64.566704      106.0 1987-08-14              61
 103873    2360    22.1000  64.566704      106.0 1987-08-14              61
 103875    2360    22.1000  64.566704      106.0 1987-08-14              61
 103897    2361    12.2500  54.583302       19.0 1998-09-23              62
 103900    2361    12.2500  54.583302       19.0 1998-09-23              62

         nuclide_id    activity  uncertaint  unit_id  detection  samptype_id  \
 13           cs137   42.250000      9.6200        3        NaN            2
 57           cs137   20.980000      2.1804        3        NaN            2
 101          cs137   35.049999      3.1990        3        NaN            2
 145          cs137   42.000000     10.2980        3        NaN            2
 187          cs134   26.940001      2.4402        3        NaN            2
 ...            ...         ...         ...      ...        ...          ...
 103856         k40  555.000000     11.1000        3        NaN            2
 103873       ru106   13.400000      5.0920        3        NaN            2
 103875       sb125    9.700000      1.6490        3        NaN            2
 103897       cs137    5.300000      0.1120        3        NaN            2
 103900         k40  324.399994      3.2440        3        NaN            2

         nuclide_id
 13              33
 57              33
 101             33
 145             33
 187             31
 ...            ...
 103856           4
 103873          17
 103875          24
 103897          33
 103900           4

 [7605 rows x 13 columns],
 'biota':         sample  longitude   latitude  sampdepth  begperiod  species_id (0)  \
 14           0     14.241  53.458000   0.000000 1998-09-04             280
 65           1     14.150  54.040001  14.000000 1987-06-27              59
 116          2     14.150  54.040001  13.000000 1990-07-07              59
 117          2     14.150  54.040001  13.000000 1990-07-07              59
 118          2     14.150  54.040001  13.000000 1990-07-07              59
 ...        ...        ...        ...        ...        ...             ...
 204299    3953     13.450  55.020000  48.799999 1989-12-12             122
 204302    3953     13.450  55.020000  48.799999 1989-12-12             122
 204328    3954     11.330  54.188999  22.000000 1984-11-18             273
 204374    3955     12.470  54.433998  22.000000 1989-06-03             120
 204392    3955     12.470  54.433998  22.000000 1989-06-03             120

         bodypar_id     nuclide_id   activity  uncertaint  unit_id  detection  \
 14               1          cs137  15.300000      0.1836        3        NaN
 65               1  cs134_137_tot  23.900000      1.1950        3        NaN
 116              1          cs134   3.600000      1.6920        3        NaN
 117              1  cs134_137_tot  37.200001      1.4880        3        NaN
 118              1          cs137  32.799999      2.6240        3        NaN
 ...            ...            ...        ...         ...      ...        ...
 204299          59           sr90   7.600000      0.2888        3        NaN
 204302          59          th228   4.200000      0.2058        3        NaN
 204328          59            k40  50.599998      8.6020        3        NaN
 204374          59          cs137   3.070000      0.5526        3        NaN
 204392          59          ra226   3.600000      0.6840        3        NaN

         samptype_id  nuclide_id
 14                3          33
 65                3          76
 116               3          31
 117               3          76
 118               3          33
 ...             ...         ...
 204299            3          12
 204302            3          57
 204328            3           4
 204374            3          33
 204392            3          53

 [14221 rows x 14 columns]}

***

### Encoding

In [ ]:
#| export
def encode(fname_in, fname_out, **kwargs):
    dfs = netcdf4_to_df(fname_in)
    tfm = Transformer(dfs, cbs=[TransposeNuclideColumns(),
                                ParseTimeCB(cfg()),
                                LookupSampleType(),
                                LookupNuclideIdCB(),
                                RenameColumnCB()
                                ])
    
    encoder = OpenRefineCsvEncoder(tfm(), 
                            dest_fname=fname_out, 
                            **kwargs)
    encoder.encode()
    return encoder

In [ ]:
encode(fname_in, fname_out, verbose=False)

/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)
/tmp/ipykernel_886/3595716019.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tfm.dfs[k]['nuclide_id'] = tfm.dfs[k]['nuclide'].replace(lut)