In [ ]:
#| default_exp netcdf_to_csv

# Open Refine CSV (WIP)

***

## Packages import

In [ ]:
#| export
from pathlib import Path # This module offers classes representing filesystem paths
import xarray as xr
from netCDF4 import Dataset
import pandas as pd
import xarray as xr
import numpy as np
from marisco.callbacks import (Callback, Transformer,
                               EncodeTimeCB, SanitizeLonLatCB)
import fastcore.all as fc # package that brings fastcore functionality, see https://fastcore.fast.ai/.
from cftime import num2pydate 
from marisco.configs import cfg, cdl_cfg, nuc_lut_path, unit_lut_path, detection_limit_lut_path, species_lut_path, bodyparts_lut_path, sediments_lut_path
from marisco.serializers import OpenRefineCsvEncoder
from functools import reduce,partial

Get the current working directory (cwd). .

In [ ]:
#|eval: false
Path.cwd()

Path('/home/marisco/downloads/marisco/nbs/handlers')

## Transform data

### Reshape: wide to long

In [ ]:
#| export
class ReshapeWideToLong(Callback):
    "Convert data from wide to long with renamed columns."
    def __init__(self, columns='nuclide', values=['value']):
        fc.store_attr()
        # Retrieve all possible suffixes vars (e.g '_unc', '_dl', ...) from configs
        suff_cfg = [value['name'] for value in cdl_cfg()['vars']['suffixes'].values()]
        # Retrieve all possible nuclides
        nucs_cfg = pd.read_excel(nuc_lut_path())['nc_name'].to_list()
        nucs_cfg = [x for x in nucs_cfg if str(x) != 'nan'] # remove 'nan' from nuclide list
        # Retrieve all possible vars thats are not in vars suffixes
        self.vars_cfg=[x['name'] for var_key in cdl_cfg()['vars'].keys() for x in cdl_cfg()['vars'][var_key].values() if var_key != 'suffixes']
        # combine all possible nuclides with its suffixes.    
        value_name='value'
        derived_nucs_cols={value_name:nucs_cfg}     
        for suf in suff_cfg:
            derived_nucs_cols[suf]= [str(nuc)+str(suf) for nuc in nucs_cfg]
        self.derived_nucs_cols=derived_nucs_cols
           
    def melt(self, df):
        # Among all possible 'self.derived_nuc_cols' include the ones present in df.
        derived_nucs_cols={}
        for key,derived_nuc_cols in self.derived_nucs_cols.items():
            derived_nuc_cols = [col for col in derived_nuc_cols if col in df.columns]
            if derived_nuc_cols:
                derived_nucs_cols[key] = derived_nuc_cols
        
        # Among all possible 'self.vars_cfg' include the ones present in df.
        vars_cfg = [var for var in self.vars_cfg if var in df.columns]
        
        # Melt cols included in self.derived_nucs_cols        
        df=df.reset_index()  # Reset the index so 'sample' can be used with id_vars
        nuc_dfs={}

        for key,val in derived_nucs_cols.items():
            # Transpose nuclide_cols
            df_t=pd.melt(frame=df, id_vars=vars_cfg+['sample'], value_vars=val, var_name='nuclide', value_name=key)
            # Remove the key from thr nuclide columns (e.g '_unit', '_dl', etc.).
            df_t['nuclide']=df_t['nuclide'].str.replace(key, '')
            # Keep rows where 'key' value is not nan
            df_t=df_t[df_t[key].notna()]
            nuc_dfs[key]=df_t    
            
        # Merge dfs created from melt. 
        combine_on= vars_cfg + ['sample'] + ['nuclide']
        merged_df=reduce(lambda df1, df2: pd.merge(df1, df2,  how='left', left_on= combine_on, right_on = combine_on), nuc_dfs.values())
        
        # Keep rows where either value_name (i.e.Activity or MDA ) is not 'nan'.
        merged_df = merged_df[merged_df[['value']].notna().any(axis=1)]
                
        return (merged_df)
    
    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp] = self.melt(tfm.dfs[grp])

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong()])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  _sal  _temp  _unit
 0                 h3   850.0000  59.669998    1  7.50    NaN      1
 1                 h3   970.0000  29.100000    1  6.77    NaN      1
 2                 h3   910.0000  24.570000    1  6.80    NaN      1
 3                 h3  1070.0000  21.400000    1  5.82    NaN      1
 4                 h3  1020.0000  20.400000    1  5.40    NaN      1
 ...              ...        ...        ...  ...   ...    ...    ...
 20237  cm243_244_tot     0.0064   0.001280    1  6.90    NaN      1
 20238  cm243_244_tot     0.0045   0.000900    1  6.75    NaN      1
 20239  cm243_244_tot     0.0022   0.000660    1  5.83   20.4      1
 20240  cm243_244_tot     0.0064   0.001920    1  9.77    3.9      1
 20241  cm243_244_tot     0.0039   0.001170    1  3.10   15.6      1

 [20242 rows x 13 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  _unit
 0      24.299999  7.7760    1      4
 1      45.500000  4.5500    1      4
 2       7.000000     NaN    2      4
 3       4.800000     NaN    2      4
 4       6.900000  1.9320    1      4
 ...          ...     ...  ...    ...
 37084  42.900002  6.1347    1      4
 37085  58.400002  6.1904    1      4
 37086  51.400002  5.9624    1      4
 37087  41.799999  5.4758    1      4
 37088  43.700001  3.4523    1      4

 [37089 rows x 11 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value      _unc  _dl  _unit
 0             54     150     be7  46.500  1.813500    1      4
 1             54     159     be7  66.500  6.317500    1      4
 2              1     168     be7   5.430  1.574700    1      4
 3              1     177     be7  13.700  4.384000    1      4
 4             54     183     be7  11.300  0.000000    2      4
 ...          ...     ...     ...     ...       ...  ...    ...
 14868         54   11586   tl208   0.880  0.079200    1      4
 14869         54   11598   tl208   0.770  0.069300    1      4
 14870         54   11620   tl208   1.310  0.142790    1      4
 14871         54   11766   tl208   0.668  0.057448    1      4
 14872         54   11775   tl208   0.684  0.072504    1      4

 [14873 rows x 13 columns]}

In [ ]:
#|eval: false
tfm.dfs['sediment']

,lon,lat,tot_depth,time,sed_type,sample,nuclide,value,_unc,_dl,_unit
0,10.850000,54.049999,22.0,866592000,58,842,be7,24.299999,7.7760,1,4
1,10.203300,54.415001,13.0,811641600,58,4064,be7,45.500000,4.5500,1,4
2,10.203300,54.415001,13.0,811641600,58,4069,be7,7.000000,NaN,2,4
3,10.203300,54.415001,13.0,811641600,58,4074,be7,4.800000,NaN,2,4
4,11.750000,54.416698,24.0,838512000,58,4535,be7,6.900000,1.9320,1,4
...,...,...,...,...,...,...,...,...,...,...,...
37084,23.391199,65.277496,90.0,1283299200,2,37039,bi212,42.900002,6.1347,1,4
37085,23.391199,65.277496,90.0,1283299200,2,37048,bi212,58.400002,6.1904,1,4
37086,23.391199,65.277496,90.0,1283299200,2,37065,bi212,51.400002,5.9624,1,4
37087,23.391199,65.277496,90.0,1283299200,2,37074,bi212,41.799999,5.4758,1,4
37088,23.391199,65.277496,90.0,1283299200,2,37083,bi212,43.700001,3.4523,1,4

***

### Format: Time

In [ ]:
#| export
class LookupTimeFromEncodedTime(Callback):
    def __init__(self, cfg): fc.store_attr()
    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp]['Sampling start date'] = tfm.dfs[grp]['time'].apply(lambda row: self.format_date(row)) 
            tfm.dfs[grp]['Sampling start time'] = tfm.dfs[grp]['time'].apply(lambda row: self.format_time(row))
    
    
    def format_date(self, x): 
        date_time = num2pydate(x, units=self.cfg['units']['time'])
        date = date_time.strftime('%d-%b-%Y')
        return date
    
    def format_time(self, x): 
        date_time = num2pydate(x, units=self.cfg['units']['time'])
        time = date_time.strftime('%H:%M:%S') 
        return time

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg())])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  _sal  _temp  _unit  \
 0                 h3   850.0000  59.669998    1  7.50    NaN      1
 1                 h3   970.0000  29.100000    1  6.77    NaN      1
 2                 h3   910.0000  24.570000    1  6.80    NaN      1
 3                 h3  1070.0000  21.400000    1  5.82    NaN      1
 4                 h3  1020.0000  20.400000    1  5.40    NaN      1
 ...              ...        ...        ...  ...   ...    ...    ...
 20237  cm243_244_tot     0.0064   0.001280    1  6.90    NaN      1
 20238  cm243_244_tot     0.0045   0.000900    1  6.75    NaN      1
 20239  cm243_244_tot     0.0022   0.000660    1  5.83   20.4      1
 20240  cm243_244_tot     0.0064   0.001920    1  9.77    3.9      1
 20241  cm243_244_tot     0.0039   0.001170    1  3.10   15.6      1

       Sampling start date Sampling start time
 0             18-Jun-2017            00:00:00
 1             14-Jun-2012            00:00:00
 2             16-Jun-2014            00:00:00
 3             07-Jul-2010            00:00:00
 4             06-Jul-2011            00:00:00
 ...                   ...                 ...
 20237         17-Aug-1986            00:00:00
 20238         04-Aug-1987            00:00:00
 20239         21-Jul-1988            00:00:00
 20240         21-Jul-1988            00:00:00
 20241         08-Aug-1988            00:00:00

 [20242 rows x 15 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  _unit Sampling start date Sampling start time
 0      24.299999  7.7760    1      4         18-Jun-1997            00:00:00
 1      45.500000  4.5500    1      4         21-Sep-1995            00:00:00
 2       7.000000     NaN    2      4         21-Sep-1995            00:00:00
 3       4.800000     NaN    2      4         21-Sep-1995            00:00:00
 4       6.900000  1.9320    1      4         28-Jul-1996            00:00:00
 ...          ...     ...  ...    ...                 ...                 ...
 37084  42.900002  6.1347    1      4         01-Sep-2010            00:00:00
 37085  58.400002  6.1904    1      4         01-Sep-2010            00:00:00
 37086  51.400002  5.9624    1      4         01-Sep-2010            00:00:00
 37087  41.799999  5.4758    1      4         01-Sep-2010            00:00:00
 37088  43.700001  3.4523    1      4         01-Sep-2010            00:00:00

 [37089 rows x 13 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value      _unc  _dl  _unit  \
 0             54     150     be7  46.500  1.813500    1      4
 1             54     159     be7  66.500  6.317500    1      4
 2              1     168     be7   5.430  1.574700    1      4
 3              1     177     be7  13.700  4.384000    1      4
 4             54     183     be7  11.300  0.000000    2      4
 ...          ...     ...     ...     ...       ...  ...    ...
 14868         54   11586   tl208   0.880  0.079200    1      4
 14869         54   11598   tl208   0.770  0.069300    1      4
 14870         54   11620   tl208   1.310  0.142790    1      4
 14871         54   11766   tl208   0.668  0.057448    1      4
 14872         54   11775   tl208   0.684  0.072504    1      4

       Sampling start date Sampling start time
 0             19-Oct-1998            00:00:00
 1             16-Jul-1998            00:00:00
 2             18-Sep-1997            00:00:00
 3             10-Jun-1997            00:00:00
 4             22-Sep-1997            00:00:00
 ...                   ...                 ...
 14868         17-Sep-2009            00:00:00
 14869         03-Nov-2008            00:00:00
 14870         09-Oct-2006            00:00:00
 14871         27-Sep-2013            00:00:00
 14872         04-Sep-2014            00:00:00

 [14873 rows x 15 columns]}

In [ ]:
tfm.dfs['seawater']['Sampling start date']

0        18-Jun-2017
1        14-Jun-2012
2        16-Jun-2014
3        07-Jul-2010
4        06-Jul-2011
            ...
20237    17-Aug-1986
20238    04-Aug-1987
20239    21-Jul-1988
20240    21-Jul-1988
20241    08-Aug-1988
Name: Sampling start date, Length: 20242, dtype: object

***

### Lookup: Sample Type

In [ ]:
#| export
class GetSampleTypeCB(Callback):
    def __init__(self): fc.store_attr()
    def __call__(self, tfm):
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Sample type'] = k.upper()

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB()])
tfm()['biota']['Sample type']

0        BIOTA
1        BIOTA
2        BIOTA
3        BIOTA
4        BIOTA
         ...
14868    BIOTA
14869    BIOTA
14870    BIOTA
14871    BIOTA
14872    BIOTA
Name: Sample type, Length: 14873, dtype: object

***

### Lookup : Nuclide

In [ ]:
#| export
def get_nucnames_lut():
    df = pd.read_excel(nuc_lut_path(), usecols=['nc_name','nusymbol'])
    return df.set_index('nc_name').to_dict()['nusymbol']

In [ ]:
# | export
class LookupNuclideByIdCB(Callback):
    "Lookup MARIS nuclide_id."
    def __init__(self,
                 fn_lut=get_nucnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Nuclide'] = tfm.dfs[k]['nuclide'].replace(lut)
            tfm.dfs[k]['Nuclide']=tfm.dfs[k]['Nuclide'].str.strip()
            tfm.dfs[k]['Nuclide']=tfm.dfs[k]['Nuclide'].str.replace(',','_')

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  _sal  _temp  _unit  \
 0                 h3   850.0000  59.669998    1  7.50    NaN      1
 1                 h3   970.0000  29.100000    1  6.77    NaN      1
 2                 h3   910.0000  24.570000    1  6.80    NaN      1
 3                 h3  1070.0000  21.400000    1  5.82    NaN      1
 4                 h3  1020.0000  20.400000    1  5.40    NaN      1
 ...              ...        ...        ...  ...   ...    ...    ...
 20237  cm243_244_tot     0.0064   0.001280    1  6.90    NaN      1
 20238  cm243_244_tot     0.0045   0.000900    1  6.75    NaN      1
 20239  cm243_244_tot     0.0022   0.000660    1  5.83   20.4      1
 20240  cm243_244_tot     0.0064   0.001920    1  9.77    3.9      1
 20241  cm243_244_tot     0.0039   0.001170    1  3.10   15.6      1

       Sampling start date Sampling start time Sample type    Nuclide
 0             18-Jun-2017            00:00:00    SEAWATER         3H
 1             14-Jun-2012            00:00:00    SEAWATER         3H
 2             16-Jun-2014            00:00:00    SEAWATER         3H
 3             07-Jul-2010            00:00:00    SEAWATER         3H
 4             06-Jul-2011            00:00:00    SEAWATER         3H
 ...                   ...                 ...         ...        ...
 20237         17-Aug-1986            00:00:00    SEAWATER  243_244Cm
 20238         04-Aug-1987            00:00:00    SEAWATER  243_244Cm
 20239         21-Jul-1988            00:00:00    SEAWATER  243_244Cm
 20240         21-Jul-1988            00:00:00    SEAWATER  243_244Cm
 20241         08-Aug-1988            00:00:00    SEAWATER  243_244Cm

 [20242 rows x 17 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  _unit Sampling start date Sampling start time  \
 0      24.299999  7.7760    1      4         18-Jun-1997            00:00:00
 1      45.500000  4.5500    1      4         21-Sep-1995            00:00:00
 2       7.000000     NaN    2      4         21-Sep-1995            00:00:00
 3       4.800000     NaN    2      4         21-Sep-1995            00:00:00
 4       6.900000  1.9320    1      4         28-Jul-1996            00:00:00
 ...          ...     ...  ...    ...                 ...                 ...
 37084  42.900002  6.1347    1      4         01-Sep-2010            00:00:00
 37085  58.400002  6.1904    1      4         01-Sep-2010            00:00:00
 37086  51.400002  5.9624    1      4         01-Sep-2010            00:00:00
 37087  41.799999  5.4758    1      4         01-Sep-2010            00:00:00
 37088  43.700001  3.4523    1      4         01-Sep-2010            00:00:00

       Sample type Nuclide
 0        SEDIMENT     7Be
 1        SEDIMENT     7Be
 2        SEDIMENT     7Be
 3        SEDIMENT     7Be
 4        SEDIMENT     7Be
 ...           ...     ...
 37084    SEDIMENT   212Bi
 37085    SEDIMENT   212Bi
 37086    SEDIMENT   212Bi
 37087    SEDIMENT   212Bi
 37088    SEDIMENT   212Bi

 [37089 rows x 15 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value      _unc  _dl  _unit  \
 0             54     150     be7  46.500  1.813500    1      4
 1             54     159     be7  66.500  6.317500    1      4
 2              1     168     be7   5.430  1.574700    1      4
 3              1     177     be7  13.700  4.384000    1      4
 4             54     183     be7  11.300  0.000000    2      4
 ...          ...     ...     ...     ...       ...  ...    ...
 14868         54   11586   tl208   0.880  0.079200    1      4
 14869         54   11598   tl208   0.770  0.069300    1      4
 14870         54   11620   tl208   1.310  0.142790    1      4
 14871         54   11766   tl208   0.668  0.057448    1      4
 14872         54   11775   tl208   0.684  0.072504    1      4

       Sampling start date Sampling start time Sample type Nuclide
 0             19-Oct-1998            00:00:00       BIOTA     7Be
 1             16-Jul-1998            00:00:00       BIOTA     7Be
 2             18-Sep-1997            00:00:00       BIOTA     7Be
 3             10-Jun-1997            00:00:00       BIOTA     7Be
 4             22-Sep-1997            00:00:00       BIOTA     7Be
 ...                   ...                 ...         ...     ...
 14868         17-Sep-2009            00:00:00       BIOTA   208Tl
 14869         03-Nov-2008            00:00:00       BIOTA   208Tl
 14870         09-Oct-2006            00:00:00       BIOTA   208Tl
 14871         27-Sep-2013            00:00:00       BIOTA   208Tl
 14872         04-Sep-2014            00:00:00       BIOTA   208Tl

 [14873 rows x 17 columns]}

In [ ]:
#|eval: false
tfm.dfs['biota']['Nuclide'].unique()

array(['7Be', '40K', '54Mn', '57Co', '58Co', '60Co', '65Zn', '89Sr',
       '90Sr', '95Zr', '95Nb', '99Tc', '103Ru', '106Ru', '108mAg',
       '110mAg', '124Sb', '125Sb', '129mTe', '131I', '134Cs', '137Cs',
       '140Ba', '140La', '141Ce', '144Ce', '155Eu', '210Pb', '212Pb',
       '214Pb', '214Bi', '210Po', '223Ra', '224Ra', '226Ra', '228Ra',
       '228Ac', '228Th', '232Th', '235U', '238Pu', '241Am', '134_137Cs',
       '239_240Pu', '152Eu', '59Fe', '153Gd', '86Rb', '46Sc', '113Sn',
       '117mSn', '208Tl'], dtype=object)

***

### Format : Longitude and Latitude

Convert from Longitude and Latitude DDD.DDDDD° to degrees, minutes, seconds and direction.

In [ ]:
# | export
def deg_to_dms(deg, coordinate='lat'):
    """Convert from decimal degrees to degrees, minutes, seconds."""
    m, s = divmod(abs(deg)*3600, 60)
    d, m = divmod(m, 60)
    
    if deg < 0:
        if coordinate == 'lat':
            cord = 'S'
        elif coordinate == 'lon':
            cord = 'W'
    else:
        if coordinate == 'lat':
            cord = 'N' 
        elif coordinate == 'lon':
            cord = 'E'                       
        
    d, m = int(d), int(m)
    
    return pd.Series([d, m, s, cord])

In [ ]:
# | export
class ConvertLonLatCB(Callback):
    "Convert from Longitude and Latitude DDD.DDDDD° to degrees, minutes, seconds and direction."
    def __init__(self, fn_convert=deg_to_dms):
        fc.store_attr()

    def __call__(self, tfm):
        for grp in tfm.dfs.keys():
            tfm.dfs[grp][['Latitude degrees','Latitude minutes','Latitude seconds','Latitude direction']] = tfm.dfs[grp]['lat'].apply(self.fn_convert, coordinate='lat')
            tfm.dfs[grp][['Longitude degrees','Longitude minutes','Longitude seconds','Longitude direction']] = tfm.dfs[grp]['lon'].apply(self.fn_convert, coordinate='lon')

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB()
                            ])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  ...  Sample type    Nuclide  \
 0                 h3   850.0000  59.669998    1  ...     SEAWATER         3H
 1                 h3   970.0000  29.100000    1  ...     SEAWATER         3H
 2                 h3   910.0000  24.570000    1  ...     SEAWATER         3H
 3                 h3  1070.0000  21.400000    1  ...     SEAWATER         3H
 4                 h3  1020.0000  20.400000    1  ...     SEAWATER         3H
 ...              ...        ...        ...  ...  ...          ...        ...
 20237  cm243_244_tot     0.0064   0.001280    1  ...     SEAWATER  243_244Cm
 20238  cm243_244_tot     0.0045   0.000900    1  ...     SEAWATER  243_244Cm
 20239  cm243_244_tot     0.0022   0.000660    1  ...     SEAWATER  243_244Cm
 20240  cm243_244_tot     0.0064   0.001920    1  ...     SEAWATER  243_244Cm
 20241  cm243_244_tot     0.0039   0.001170    1  ...     SEAWATER  243_244Cm

        Latitude degrees Latitude minutes Latitude seconds Latitude direction  \
 0                    54                0        21.601868                  N
 1                    54                0        22.315979                  N
 2                    54                0        22.686768                  N
 3                    54                0        23.400879                  N
 4                    54                0        24.005127                  N
 ...                 ...              ...              ...                ...
 20237                57               20        35.879517                  N
 20238                59               25        59.880066                  N
 20239                59               26        23.280945                  N
 20240                59               26        23.280945                  N
 20241                65               14        23.992310                  N

       Longitude degrees  Longitude minutes  Longitude seconds  \
 0                    14                 11          59.278336
 1                    14                 12           8.280258
 2                    14                 11          58.200302
 3                    14                 12           3.600769
 4                    14                 12           1.798325
 ...                 ...                ...                ...
 20237                20                  1          48.002472
 20238                21                 30           0.000000
 20239                21                 31          32.882538
 20240                21                 31          32.882538
 20241                23                 33          18.001099

        Longitude direction
 0                        E
 1                        E
 2                        E
 3                        E
 4                        E
 ...                    ...
 20237                    E
 20238                    E
 20239                    E
 20240                    E
 20241                    E

 [20242 rows x 25 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  ...  Sample type Nuclide Latitude degrees  \
 0      24.299999  7.7760    1  ...     SEDIMENT     7Be               54
 1      45.500000  4.5500    1  ...     SEDIMENT     7Be               54
 2       7.000000     NaN    2  ...     SEDIMENT     7Be               54
 3       4.800000     NaN    2  ...     SEDIMENT     7Be               54
 4       6.900000  1.9320    1  ...     SEDIMENT     7Be               54
 ...          ...     ...  ...  ...          ...     ...              ...
 37084  42.900002  6.1347    1  ...     SEDIMENT   212Bi               65
 37085  58.400002  6.1904    1  ...     SEDIMENT   212Bi               65
 37086  51.400002  5.9624    1  ...     SEDIMENT   212Bi               65
 37087  41.799999  5.4758    1  ...     SEDIMENT   212Bi               65
 37088  43.700001  3.4523    1  ...     SEDIMENT   212Bi               65

       Latitude minutes Latitude seconds  Latitude direction  \
 0                    2        59.997253                   N
 1                   24        54.003296                   N
 2                   24        54.003296                   N
 3                   24        54.003296                   N
 4                   25         0.114441                   N
 ...                ...              ...                 ...
 37084               16        38.986816                   N
 37085               16        38.986816                   N
 37086               16        38.986816                   N
 37087               16        38.986816                   N
 37088               16        38.986816                   N

        Longitude degrees  Longitude minutes Longitude seconds  \
 0                     10                 51          0.001373
 1                     10                 12         11.881714
 2                     10                 12         11.881714
 3                     10                 12         11.881714
 4                     11                 45          0.000000
 ...                  ...                ...               ...
 37084                 23                 23         28.316803
 37085                 23                 23         28.316803
 37086                 23                 23         28.316803
 37087                 23                 23         28.316803
 37088                 23                 23         28.316803

        Longitude direction
 0                        E
 1                        E
 2                        E
 3                        E
 4                        E
 ...                    ...
 37084                    E
 37085                    E
 37086                    E
 37087                    E
 37088                    E

 [37089 rows x 23 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value  ...  Sample type  Nuclide  \
 0             54     150     be7  46.500  ...        BIOTA      7Be
 1             54     159     be7  66.500  ...        BIOTA      7Be
 2              1     168     be7   5.430  ...        BIOTA      7Be
 3              1     177     be7  13.700  ...        BIOTA      7Be
 4             54     183     be7  11.300  ...        BIOTA      7Be
 ...          ...     ...     ...     ...  ...          ...      ...
 14868         54   11586   tl208   0.880  ...        BIOTA    208Tl
 14869         54   11598   tl208   0.770  ...        BIOTA    208Tl
 14870         54   11620   tl208   1.310  ...        BIOTA    208Tl
 14871         54   11766   tl208   0.668  ...        BIOTA    208Tl
 14872         54   11775   tl208   0.684  ...        BIOTA    208Tl

        Latitude degrees Latitude minutes Latitude seconds Latitude direction  \
 0                    54                4        48.006592                  N
 1                    54                4        48.006592                  N
 2                    54                4        48.006592                  N
 3                    54                4        48.006592                  N
 4                    54                4        48.006592                  N
 ...                 ...              ...              ...                ...
 14868                57               20         6.724548                  N
 14869                57               20         6.724548                  N
 14870                57               20         6.724548                  N
 14871                57               20         6.724548                  N
 14872                57               20         6.724548                  N

       Longitude degrees  Longitude minutes  Longitude seconds  \
 0                    11                 30           0.000000
 1                    11                 30           0.000000
 2                    11                 30           0.000000
 3                    11                 30           0.000000
 4                    11                 30           0.000000
 ...                 ...                ...                ...
 14868                12                  4          27.118835
 14869                12                  4          27.118835
 14870                12                  4          27.118835
 14871                12                  4          27.118835
 14872                12                  4          27.118835

        Longitude direction
 0                        E
 1                        E
 2                        E
 3                        E
 4                        E
 ...                    ...
 14868                    E
 14869                    E
 14870                    E
 14871                    E
 14872                    E

 [14873 rows x 25 columns]}

In [ ]:
#|eval: false
tfm.dfs['seawater'].columns

Index(['lon', 'lat', 'smp_depth', 'tot_depth', 'time', 'sample', 'nuclide',
       'value', '_unc', '_dl', '_sal', '_temp', '_unit', 'Sampling start date',
       'Sampling start time', 'Sample type', 'Nuclide', 'Latitude degrees',
       'Latitude minutes', 'Latitude seconds', 'Latitude direction',
       'Longitude degrees', 'Longitude minutes', 'Longitude seconds',
       'Longitude direction'],
      dtype='object')

***

### Lookup : Units

In [ ]:
#| export
def get_unitnames_lut():
    df = pd.read_excel(unit_lut_path(), usecols=['unit_id','unit'])
    return df.set_index('unit_id').to_dict()['unit']

In [ ]:
# | export
class LookupUnitByIdCB(Callback):
    "Lookup MARIS unit by unit_id."
    def __init__(self,
                 fn_lut=get_unitnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Unit'] = tfm.dfs[k]['_unit'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB()
                            ])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  ...    Nuclide  \
 0                 h3   850.0000  59.669998    1  ...         3H
 1                 h3   970.0000  29.100000    1  ...         3H
 2                 h3   910.0000  24.570000    1  ...         3H
 3                 h3  1070.0000  21.400000    1  ...         3H
 4                 h3  1020.0000  20.400000    1  ...         3H
 ...              ...        ...        ...  ...  ...        ...
 20237  cm243_244_tot     0.0064   0.001280    1  ...  243_244Cm
 20238  cm243_244_tot     0.0045   0.000900    1  ...  243_244Cm
 20239  cm243_244_tot     0.0022   0.000660    1  ...  243_244Cm
 20240  cm243_244_tot     0.0064   0.001920    1  ...  243_244Cm
 20241  cm243_244_tot     0.0039   0.001170    1  ...  243_244Cm

        Latitude degrees  Latitude minutes Latitude seconds Latitude direction  \
 0                    54                 0        21.601868                  N
 1                    54                 0        22.315979                  N
 2                    54                 0        22.686768                  N
 3                    54                 0        23.400879                  N
 4                    54                 0        24.005127                  N
 ...                 ...               ...              ...                ...
 20237                57                20        35.879517                  N
 20238                59                25        59.880066                  N
 20239                59                26        23.280945                  N
 20240                59                26        23.280945                  N
 20241                65                14        23.992310                  N

       Longitude degrees Longitude minutes  Longitude seconds  \
 0                    14                11          59.278336
 1                    14                12           8.280258
 2                    14                11          58.200302
 3                    14                12           3.600769
 4                    14                12           1.798325
 ...                 ...               ...                ...
 20237                20                 1          48.002472
 20238                21                30           0.000000
 20239                21                31          32.882538
 20240                21                31          32.882538
 20241                23                33          18.001099

        Longitude direction   Unit
 0                        E  Bq/m3
 1                        E  Bq/m3
 2                        E  Bq/m3
 3                        E  Bq/m3
 4                        E  Bq/m3
 ...                    ...    ...
 20237                    E  Bq/m3
 20238                    E  Bq/m3
 20239                    E  Bq/m3
 20240                    E  Bq/m3
 20241                    E  Bq/m3

 [20242 rows x 26 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  ...  Nuclide Latitude degrees Latitude minutes  \
 0      24.299999  7.7760    1  ...      7Be               54                2
 1      45.500000  4.5500    1  ...      7Be               54               24
 2       7.000000     NaN    2  ...      7Be               54               24
 3       4.800000     NaN    2  ...      7Be               54               24
 4       6.900000  1.9320    1  ...      7Be               54               25
 ...          ...     ...  ...  ...      ...              ...              ...
 37084  42.900002  6.1347    1  ...    212Bi               65               16
 37085  58.400002  6.1904    1  ...    212Bi               65               16
 37086  51.400002  5.9624    1  ...    212Bi               65               16
 37087  41.799999  5.4758    1  ...    212Bi               65               16
 37088  43.700001  3.4523    1  ...    212Bi               65               16

       Latitude seconds Latitude direction  Longitude degrees  \
 0            59.997253                  N                 10
 1            54.003296                  N                 10
 2            54.003296                  N                 10
 3            54.003296                  N                 10
 4             0.114441                  N                 11
 ...                ...                ...                ...
 37084        38.986816                  N                 23
 37085        38.986816                  N                 23
 37086        38.986816                  N                 23
 37087        38.986816                  N                 23
 37088        38.986816                  N                 23

        Longitude minutes  Longitude seconds Longitude direction    Unit
 0                     51           0.001373                   E  Bq/kgd
 1                     12          11.881714                   E  Bq/kgd
 2                     12          11.881714                   E  Bq/kgd
 3                     12          11.881714                   E  Bq/kgd
 4                     45           0.000000                   E  Bq/kgd
 ...                  ...                ...                 ...     ...
 37084                 23          28.316803                   E  Bq/kgd
 37085                 23          28.316803                   E  Bq/kgd
 37086                 23          28.316803                   E  Bq/kgd
 37087                 23          28.316803                   E  Bq/kgd
 37088                 23          28.316803                   E  Bq/kgd

 [37089 rows x 24 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value  ...  Nuclide  Latitude degrees  \
 0             54     150     be7  46.500  ...      7Be                54
 1             54     159     be7  66.500  ...      7Be                54
 2              1     168     be7   5.430  ...      7Be                54
 3              1     177     be7  13.700  ...      7Be                54
 4             54     183     be7  11.300  ...      7Be                54
 ...          ...     ...     ...     ...  ...      ...               ...
 14868         54   11586   tl208   0.880  ...    208Tl                57
 14869         54   11598   tl208   0.770  ...    208Tl                57
 14870         54   11620   tl208   1.310  ...    208Tl                57
 14871         54   11766   tl208   0.668  ...    208Tl                57
 14872         54   11775   tl208   0.684  ...    208Tl                57

        Latitude minutes Latitude seconds Latitude direction Longitude degrees  \
 0                     4        48.006592                  N                11
 1                     4        48.006592                  N                11
 2                     4        48.006592                  N                11
 3                     4        48.006592                  N                11
 4                     4        48.006592                  N                11
 ...                 ...              ...                ...               ...
 14868                20         6.724548                  N                12
 14869                20         6.724548                  N                12
 14870                20         6.724548                  N                12
 14871                20         6.724548                  N                12
 14872                20         6.724548                  N                12

       Longitude minutes  Longitude seconds  Longitude direction    Unit
 0                    30           0.000000                    E  Bq/kgd
 1                    30           0.000000                    E  Bq/kgd
 2                    30           0.000000                    E  Bq/kgd
 3                    30           0.000000                    E  Bq/kgd
 4                    30           0.000000                    E  Bq/kgd
 ...                 ...                ...                  ...     ...
 14868                 4          27.118835                    E  Bq/kgd
 14869                 4          27.118835                    E  Bq/kgd
 14870                 4          27.118835                    E  Bq/kgd
 14871                 4          27.118835                    E  Bq/kgd
 14872                 4          27.118835                    E  Bq/kgd

 [14873 rows x 26 columns]}

In [ ]:
#|eval: false
tfm.dfs['seawater'].columns

Index(['lon', 'lat', 'smp_depth', 'tot_depth', 'time', 'sample', 'nuclide',
       'value', '_unc', '_dl', '_sal', '_temp', '_unit', 'Sampling start date',
       'Sampling start time', 'Sample type', 'Nuclide', 'Latitude degrees',
       'Latitude minutes', 'Latitude seconds', 'Latitude direction',
       'Longitude degrees', 'Longitude minutes', 'Longitude seconds',
       'Longitude direction', 'Unit'],
      dtype='object')

***

### Lookup : Value type (_dl)

In [ ]:
#| export
def get_detectionlimitnames_lut():
    df = pd.read_excel(detection_limit_lut_path(), usecols=['id','name'])
    return df.set_index('id').to_dict()['name']

In [ ]:
# | export
class LookupValueTypeByIdCB(Callback):
    "Lookup MARIS Value Type."
    def __init__(self,
                 fn_lut=get_detectionlimitnames_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            tfm.dfs[k]['Value type'] = tfm.dfs[k]['_dl'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB()
                            ])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  ...  Latitude degrees  \
 0                 h3   850.0000  59.669998    1  ...                54
 1                 h3   970.0000  29.100000    1  ...                54
 2                 h3   910.0000  24.570000    1  ...                54
 3                 h3  1070.0000  21.400000    1  ...                54
 4                 h3  1020.0000  20.400000    1  ...                54
 ...              ...        ...        ...  ...  ...               ...
 20237  cm243_244_tot     0.0064   0.001280    1  ...                57
 20238  cm243_244_tot     0.0045   0.000900    1  ...                59
 20239  cm243_244_tot     0.0022   0.000660    1  ...                59
 20240  cm243_244_tot     0.0064   0.001920    1  ...                59
 20241  cm243_244_tot     0.0039   0.001170    1  ...                65

        Latitude minutes  Latitude seconds Latitude direction  \
 0                     0         21.601868                  N
 1                     0         22.315979                  N
 2                     0         22.686768                  N
 3                     0         23.400879                  N
 4                     0         24.005127                  N
 ...                 ...               ...                ...
 20237                20         35.879517                  N
 20238                25         59.880066                  N
 20239                26         23.280945                  N
 20240                26         23.280945                  N
 20241                14         23.992310                  N

       Longitude degrees Longitude minutes Longitude seconds  \
 0                    14                11         59.278336
 1                    14                12          8.280258
 2                    14                11         58.200302
 3                    14                12          3.600769
 4                    14                12          1.798325
 ...                 ...               ...               ...
 20237                20                 1         48.002472
 20238                21                30          0.000000
 20239                21                31         32.882538
 20240                21                31         32.882538
 20241                23                33         18.001099

        Longitude direction   Unit  Value type
 0                        E  Bq/m3           =
 1                        E  Bq/m3           =
 2                        E  Bq/m3           =
 3                        E  Bq/m3           =
 4                        E  Bq/m3           =
 ...                    ...    ...         ...
 20237                    E  Bq/m3           =
 20238                    E  Bq/m3           =
 20239                    E  Bq/m3           =
 20240                    E  Bq/m3           =
 20241                    E  Bq/m3           =

 [20242 rows x 27 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  ...  Latitude degrees Latitude minutes  \
 0      24.299999  7.7760    1  ...                54                2
 1      45.500000  4.5500    1  ...                54               24
 2       7.000000     NaN    2  ...                54               24
 3       4.800000     NaN    2  ...                54               24
 4       6.900000  1.9320    1  ...                54               25
 ...          ...     ...  ...  ...               ...              ...
 37084  42.900002  6.1347    1  ...                65               16
 37085  58.400002  6.1904    1  ...                65               16
 37086  51.400002  5.9624    1  ...                65               16
 37087  41.799999  5.4758    1  ...                65               16
 37088  43.700001  3.4523    1  ...                65               16

       Latitude seconds Latitude direction Longitude degrees  \
 0            59.997253                  N                10
 1            54.003296                  N                10
 2            54.003296                  N                10
 3            54.003296                  N                10
 4             0.114441                  N                11
 ...                ...                ...               ...
 37084        38.986816                  N                23
 37085        38.986816                  N                23
 37086        38.986816                  N                23
 37087        38.986816                  N                23
 37088        38.986816                  N                23

        Longitude minutes  Longitude seconds  Longitude direction    Unit  \
 0                     51           0.001373                    E  Bq/kgd
 1                     12          11.881714                    E  Bq/kgd
 2                     12          11.881714                    E  Bq/kgd
 3                     12          11.881714                    E  Bq/kgd
 4                     45           0.000000                    E  Bq/kgd
 ...                  ...                ...                  ...     ...
 37084                 23          28.316803                    E  Bq/kgd
 37085                 23          28.316803                    E  Bq/kgd
 37086                 23          28.316803                    E  Bq/kgd
 37087                 23          28.316803                    E  Bq/kgd
 37088                 23          28.316803                    E  Bq/kgd

        Value type
 0               =
 1               =
 2               <
 3               <
 4               =
 ...           ...
 37084           =
 37085           =
 37086           =
 37087           =
 37088           =

 [37089 rows x 25 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value  ...  Latitude degrees  \
 0             54     150     be7  46.500  ...                54
 1             54     159     be7  66.500  ...                54
 2              1     168     be7   5.430  ...                54
 3              1     177     be7  13.700  ...                54
 4             54     183     be7  11.300  ...                54
 ...          ...     ...     ...     ...  ...               ...
 14868         54   11586   tl208   0.880  ...                57
 14869         54   11598   tl208   0.770  ...                57
 14870         54   11620   tl208   1.310  ...                57
 14871         54   11766   tl208   0.668  ...                57
 14872         54   11775   tl208   0.684  ...                57

        Latitude minutes  Latitude seconds Latitude direction  \
 0                     4         48.006592                  N
 1                     4         48.006592                  N
 2                     4         48.006592                  N
 3                     4         48.006592                  N
 4                     4         48.006592                  N
 ...                 ...               ...                ...
 14868                20          6.724548                  N
 14869                20          6.724548                  N
 14870                20          6.724548                  N
 14871                20          6.724548                  N
 14872                20          6.724548                  N

       Longitude degrees Longitude minutes Longitude seconds  \
 0                    11                30          0.000000
 1                    11                30          0.000000
 2                    11                30          0.000000
 3                    11                30          0.000000
 4                    11                30          0.000000
 ...                 ...               ...               ...
 14868                12                 4         27.118835
 14869                12                 4         27.118835
 14870                12                 4         27.118835
 14871                12                 4         27.118835
 14872                12                 4         27.118835

        Longitude direction    Unit  Value type
 0                        E  Bq/kgd           =
 1                        E  Bq/kgd           =
 2                        E  Bq/kgd           =
 3                        E  Bq/kgd           =
 4                        E  Bq/kgd           <
 ...                    ...     ...         ...
 14868                    E  Bq/kgd           =
 14869                    E  Bq/kgd           =
 14870                    E  Bq/kgd           =
 14871                    E  Bq/kgd           =
 14872                    E  Bq/kgd           =

 [14873 rows x 27 columns]}

***

### Lookup : Biogroup

Biogroup is in netcdf but not in OPEN REfINE csv format.  Should we include this in Netcdf?

***

### Lookup : Species

In [ ]:
#| export
def get_species_lut():
    df = pd.read_excel(species_lut_path(), usecols=['species_id','species'])
    return df.set_index('species_id').to_dict()['species']

In [ ]:
# | export
class LookupSpeciesByIdCB(Callback):
    "Lookup MARIS species by species_id."
    def __init__(self,
                 fn_lut=get_species_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            if 'species' in tfm.dfs[k].columns: 
                tfm.dfs[k]['Species'] = tfm.dfs[k]['species'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB()
                            ])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  ...  Latitude degrees  \
 0                 h3   850.0000  59.669998    1  ...                54
 1                 h3   970.0000  29.100000    1  ...                54
 2                 h3   910.0000  24.570000    1  ...                54
 3                 h3  1070.0000  21.400000    1  ...                54
 4                 h3  1020.0000  20.400000    1  ...                54
 ...              ...        ...        ...  ...  ...               ...
 20237  cm243_244_tot     0.0064   0.001280    1  ...                57
 20238  cm243_244_tot     0.0045   0.000900    1  ...                59
 20239  cm243_244_tot     0.0022   0.000660    1  ...                59
 20240  cm243_244_tot     0.0064   0.001920    1  ...                59
 20241  cm243_244_tot     0.0039   0.001170    1  ...                65

        Latitude minutes  Latitude seconds Latitude direction  \
 0                     0         21.601868                  N
 1                     0         22.315979                  N
 2                     0         22.686768                  N
 3                     0         23.400879                  N
 4                     0         24.005127                  N
 ...                 ...               ...                ...
 20237                20         35.879517                  N
 20238                25         59.880066                  N
 20239                26         23.280945                  N
 20240                26         23.280945                  N
 20241                14         23.992310                  N

       Longitude degrees Longitude minutes Longitude seconds  \
 0                    14                11         59.278336
 1                    14                12          8.280258
 2                    14                11         58.200302
 3                    14                12          3.600769
 4                    14                12          1.798325
 ...                 ...               ...               ...
 20237                20                 1         48.002472
 20238                21                30          0.000000
 20239                21                31         32.882538
 20240                21                31         32.882538
 20241                23                33         18.001099

        Longitude direction   Unit  Value type
 0                        E  Bq/m3           =
 1                        E  Bq/m3           =
 2                        E  Bq/m3           =
 3                        E  Bq/m3           =
 4                        E  Bq/m3           =
 ...                    ...    ...         ...
 20237                    E  Bq/m3           =
 20238                    E  Bq/m3           =
 20239                    E  Bq/m3           =
 20240                    E  Bq/m3           =
 20241                    E  Bq/m3           =

 [20242 rows x 27 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  ...  Latitude degrees Latitude minutes  \
 0      24.299999  7.7760    1  ...                54                2
 1      45.500000  4.5500    1  ...                54               24
 2       7.000000     NaN    2  ...                54               24
 3       4.800000     NaN    2  ...                54               24
 4       6.900000  1.9320    1  ...                54               25
 ...          ...     ...  ...  ...               ...              ...
 37084  42.900002  6.1347    1  ...                65               16
 37085  58.400002  6.1904    1  ...                65               16
 37086  51.400002  5.9624    1  ...                65               16
 37087  41.799999  5.4758    1  ...                65               16
 37088  43.700001  3.4523    1  ...                65               16

       Latitude seconds Latitude direction Longitude degrees  \
 0            59.997253                  N                10
 1            54.003296                  N                10
 2            54.003296                  N                10
 3            54.003296                  N                10
 4             0.114441                  N                11
 ...                ...                ...               ...
 37084        38.986816                  N                23
 37085        38.986816                  N                23
 37086        38.986816                  N                23
 37087        38.986816                  N                23
 37088        38.986816                  N                23

        Longitude minutes  Longitude seconds  Longitude direction    Unit  \
 0                     51           0.001373                    E  Bq/kgd
 1                     12          11.881714                    E  Bq/kgd
 2                     12          11.881714                    E  Bq/kgd
 3                     12          11.881714                    E  Bq/kgd
 4                     45           0.000000                    E  Bq/kgd
 ...                  ...                ...                  ...     ...
 37084                 23          28.316803                    E  Bq/kgd
 37085                 23          28.316803                    E  Bq/kgd
 37086                 23          28.316803                    E  Bq/kgd
 37087                 23          28.316803                    E  Bq/kgd
 37088                 23          28.316803                    E  Bq/kgd

        Value type
 0               =
 1               =
 2               <
 3               <
 4               =
 ...           ...
 37084           =
 37085           =
 37086           =
 37087           =
 37088           =

 [37089 rows x 25 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value  ...  Latitude minutes  \
 0             54     150     be7  46.500  ...                 4
 1             54     159     be7  66.500  ...                 4
 2              1     168     be7   5.430  ...                 4
 3              1     177     be7  13.700  ...                 4
 4             54     183     be7  11.300  ...                 4
 ...          ...     ...     ...     ...  ...               ...
 14868         54   11586   tl208   0.880  ...                20
 14869         54   11598   tl208   0.770  ...                20
 14870         54   11620   tl208   1.310  ...                20
 14871         54   11766   tl208   0.668  ...                20
 14872         54   11775   tl208   0.684  ...                20

        Latitude seconds  Latitude direction Longitude degrees  \
 0             48.006592                   N                11
 1             48.006592                   N                11
 2             48.006592                   N                11
 3             48.006592                   N                11
 4             48.006592                   N                11
 ...                 ...                 ...               ...
 14868          6.724548                   N                12
 14869          6.724548                   N                12
 14870          6.724548                   N                12
 14871          6.724548                   N                12
 14872          6.724548                   N                12

       Longitude minutes Longitude seconds Longitude direction    Unit  \
 0                    30          0.000000                   E  Bq/kgd
 1                    30          0.000000                   E  Bq/kgd
 2                    30          0.000000                   E  Bq/kgd
 3                    30          0.000000                   E  Bq/kgd
 4                    30          0.000000                   E  Bq/kgd
 ...                 ...               ...                 ...     ...
 14868                 4         27.118835                   E  Bq/kgd
 14869                 4         27.118835                   E  Bq/kgd
 14870                 4         27.118835                   E  Bq/kgd
 14871                 4         27.118835                   E  Bq/kgd
 14872                 4         27.118835                   E  Bq/kgd

        Value type            Species
 0               =  Fucus vesiculosus
 1               =  Fucus vesiculosus
 2               =     Mytilus edulis
 3               =     Mytilus edulis
 4               <  Fucus vesiculosus
 ...           ...                ...
 14868           =  Fucus vesiculosus
 14869           =  Fucus vesiculosus
 14870           =  Fucus vesiculosus
 14871           =  Fucus vesiculosus
 14872           =  Fucus vesiculosus

 [14873 rows x 28 columns]}

***

### Lookup : Body part

In [ ]:
#| export
def get_bodypart_lut():
    df = pd.read_excel(bodyparts_lut_path(), usecols=['bodypar_id','bodypar'])
    return df.set_index('bodypar_id').to_dict()['bodypar']

In [ ]:
# | export
class LookupBodypartByIdCB(Callback):
    "Lookup MARIS bodypart by bodypar_id."
    def __init__(self,
                 fn_lut=get_bodypart_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            if 'body_part' in tfm.dfs[k].columns: 
                tfm.dfs[k]['Body part'] = tfm.dfs[k]['body_part'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB()
                            ])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  ...  Latitude degrees  \
 0                 h3   850.0000  59.669998    1  ...                54
 1                 h3   970.0000  29.100000    1  ...                54
 2                 h3   910.0000  24.570000    1  ...                54
 3                 h3  1070.0000  21.400000    1  ...                54
 4                 h3  1020.0000  20.400000    1  ...                54
 ...              ...        ...        ...  ...  ...               ...
 20237  cm243_244_tot     0.0064   0.001280    1  ...                57
 20238  cm243_244_tot     0.0045   0.000900    1  ...                59
 20239  cm243_244_tot     0.0022   0.000660    1  ...                59
 20240  cm243_244_tot     0.0064   0.001920    1  ...                59
 20241  cm243_244_tot     0.0039   0.001170    1  ...                65

        Latitude minutes  Latitude seconds Latitude direction  \
 0                     0         21.601868                  N
 1                     0         22.315979                  N
 2                     0         22.686768                  N
 3                     0         23.400879                  N
 4                     0         24.005127                  N
 ...                 ...               ...                ...
 20237                20         35.879517                  N
 20238                25         59.880066                  N
 20239                26         23.280945                  N
 20240                26         23.280945                  N
 20241                14         23.992310                  N

       Longitude degrees Longitude minutes Longitude seconds  \
 0                    14                11         59.278336
 1                    14                12          8.280258
 2                    14                11         58.200302
 3                    14                12          3.600769
 4                    14                12          1.798325
 ...                 ...               ...               ...
 20237                20                 1         48.002472
 20238                21                30          0.000000
 20239                21                31         32.882538
 20240                21                31         32.882538
 20241                23                33         18.001099

        Longitude direction   Unit  Value type
 0                        E  Bq/m3           =
 1                        E  Bq/m3           =
 2                        E  Bq/m3           =
 3                        E  Bq/m3           =
 4                        E  Bq/m3           =
 ...                    ...    ...         ...
 20237                    E  Bq/m3           =
 20238                    E  Bq/m3           =
 20239                    E  Bq/m3           =
 20240                    E  Bq/m3           =
 20241                    E  Bq/m3           =

 [20242 rows x 27 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  ...  Latitude degrees Latitude minutes  \
 0      24.299999  7.7760    1  ...                54                2
 1      45.500000  4.5500    1  ...                54               24
 2       7.000000     NaN    2  ...                54               24
 3       4.800000     NaN    2  ...                54               24
 4       6.900000  1.9320    1  ...                54               25
 ...          ...     ...  ...  ...               ...              ...
 37084  42.900002  6.1347    1  ...                65               16
 37085  58.400002  6.1904    1  ...                65               16
 37086  51.400002  5.9624    1  ...                65               16
 37087  41.799999  5.4758    1  ...                65               16
 37088  43.700001  3.4523    1  ...                65               16

       Latitude seconds Latitude direction Longitude degrees  \
 0            59.997253                  N                10
 1            54.003296                  N                10
 2            54.003296                  N                10
 3            54.003296                  N                10
 4             0.114441                  N                11
 ...                ...                ...               ...
 37084        38.986816                  N                23
 37085        38.986816                  N                23
 37086        38.986816                  N                23
 37087        38.986816                  N                23
 37088        38.986816                  N                23

        Longitude minutes  Longitude seconds  Longitude direction    Unit  \
 0                     51           0.001373                    E  Bq/kgd
 1                     12          11.881714                    E  Bq/kgd
 2                     12          11.881714                    E  Bq/kgd
 3                     12          11.881714                    E  Bq/kgd
 4                     45           0.000000                    E  Bq/kgd
 ...                  ...                ...                  ...     ...
 37084                 23          28.316803                    E  Bq/kgd
 37085                 23          28.316803                    E  Bq/kgd
 37086                 23          28.316803                    E  Bq/kgd
 37087                 23          28.316803                    E  Bq/kgd
 37088                 23          28.316803                    E  Bq/kgd

        Value type
 0               =
 1               =
 2               <
 3               <
 4               =
 ...           ...
 37084           =
 37085           =
 37086           =
 37087           =
 37088           =

 [37089 rows x 25 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value  ...  Latitude seconds  \
 0             54     150     be7  46.500  ...         48.006592
 1             54     159     be7  66.500  ...         48.006592
 2              1     168     be7   5.430  ...         48.006592
 3              1     177     be7  13.700  ...         48.006592
 4             54     183     be7  11.300  ...         48.006592
 ...          ...     ...     ...     ...  ...               ...
 14868         54   11586   tl208   0.880  ...          6.724548
 14869         54   11598   tl208   0.770  ...          6.724548
 14870         54   11620   tl208   1.310  ...          6.724548
 14871         54   11766   tl208   0.668  ...          6.724548
 14872         54   11775   tl208   0.684  ...          6.724548

        Latitude direction  Longitude degrees Longitude minutes  \
 0                       N                 11                30
 1                       N                 11                30
 2                       N                 11                30
 3                       N                 11                30
 4                       N                 11                30
 ...                   ...                ...               ...
 14868                   N                 12                 4
 14869                   N                 12                 4
 14870                   N                 12                 4
 14871                   N                 12                 4
 14872                   N                 12                 4

       Longitude seconds Longitude direction    Unit  Value type  \
 0              0.000000                   E  Bq/kgd           =
 1              0.000000                   E  Bq/kgd           =
 2              0.000000                   E  Bq/kgd           =
 3              0.000000                   E  Bq/kgd           =
 4              0.000000                   E  Bq/kgd           <
 ...                 ...                 ...     ...         ...
 14868         27.118835                   E  Bq/kgd           =
 14869         27.118835                   E  Bq/kgd           =
 14870         27.118835                   E  Bq/kgd           =
 14871         27.118835                   E  Bq/kgd           =
 14872         27.118835                   E  Bq/kgd           =

                  Species                 Body part
 0      Fucus vesiculosus  Whole haptophytic plants
 1      Fucus vesiculosus  Whole haptophytic plants
 2         Mytilus edulis              Whole animal
 3         Mytilus edulis              Whole animal
 4      Fucus vesiculosus  Whole haptophytic plants
 ...                  ...                       ...
 14868  Fucus vesiculosus  Whole haptophytic plants
 14869  Fucus vesiculosus  Whole haptophytic plants
 14870  Fucus vesiculosus  Whole haptophytic plants
 14871  Fucus vesiculosus  Whole haptophytic plants
 14872  Fucus vesiculosus  Whole haptophytic plants

 [14873 rows x 29 columns]}

***

### Lookup : Sediment type

In [ ]:
#| export
def get_sediments_lut():
    df = pd.read_excel(sediments_lut_path(), usecols=['sedtype_id','sedtype'])
    return df.set_index('sedtype_id').to_dict()['sedtype']

In [ ]:
# | export
class LookupSedimentTypeByIdCB(Callback):
    "Lookup MARIS sedtype by sedtype_id."
    def __init__(self,
                 fn_lut=get_sediments_lut):
        fc.store_attr()

    def __call__(self, tfm):
        lut = self.fn_lut()
        for k in tfm.dfs.keys():
            if 'sed_type' in tfm.dfs[k].columns: 
                tfm.dfs[k]['Sediment type'] = tfm.dfs[k]['sed_type'].replace(lut)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB(),
                            LookupSedimentTypeByIdCB()
                            ])
tfm()

{'seawater':              lon        lat  smp_depth  tot_depth        time  sample  \
 0      14.199800  54.006001        0.0       11.0  1497744000      78
 1      14.202300  54.006199        0.0       12.0  1339632000      83
 2      14.199500  54.006302        0.0       12.0  1402876800      86
 3      14.201000  54.006500        0.0       12.0  1278460800      91
 4      14.200500  54.006668        0.0       12.0  1309910400     101
 ...          ...        ...        ...        ...         ...     ...
 20237  20.030001  57.343300        0.0      236.0   524620800   14175
 20238  21.500000  59.433300        0.0      156.0   555033600   15712
 20239  21.525801  59.439800        0.0      160.0   585446400   15840
 20240  21.525801  59.439800      150.0      160.0   585446400   15847
 20241  23.555000  65.239998        0.0       73.0   587001600   20130

              nuclide      value       _unc  _dl  ...  Latitude degrees  \
 0                 h3   850.0000  59.669998    1  ...                54
 1                 h3   970.0000  29.100000    1  ...                54
 2                 h3   910.0000  24.570000    1  ...                54
 3                 h3  1070.0000  21.400000    1  ...                54
 4                 h3  1020.0000  20.400000    1  ...                54
 ...              ...        ...        ...  ...  ...               ...
 20237  cm243_244_tot     0.0064   0.001280    1  ...                57
 20238  cm243_244_tot     0.0045   0.000900    1  ...                59
 20239  cm243_244_tot     0.0022   0.000660    1  ...                59
 20240  cm243_244_tot     0.0064   0.001920    1  ...                59
 20241  cm243_244_tot     0.0039   0.001170    1  ...                65

        Latitude minutes  Latitude seconds Latitude direction  \
 0                     0         21.601868                  N
 1                     0         22.315979                  N
 2                     0         22.686768                  N
 3                     0         23.400879                  N
 4                     0         24.005127                  N
 ...                 ...               ...                ...
 20237                20         35.879517                  N
 20238                25         59.880066                  N
 20239                26         23.280945                  N
 20240                26         23.280945                  N
 20241                14         23.992310                  N

       Longitude degrees Longitude minutes Longitude seconds  \
 0                    14                11         59.278336
 1                    14                12          8.280258
 2                    14                11         58.200302
 3                    14                12          3.600769
 4                    14                12          1.798325
 ...                 ...               ...               ...
 20237                20                 1         48.002472
 20238                21                30          0.000000
 20239                21                31         32.882538
 20240                21                31         32.882538
 20241                23                33         18.001099

        Longitude direction   Unit  Value type
 0                        E  Bq/m3           =
 1                        E  Bq/m3           =
 2                        E  Bq/m3           =
 3                        E  Bq/m3           =
 4                        E  Bq/m3           =
 ...                    ...    ...         ...
 20237                    E  Bq/m3           =
 20238                    E  Bq/m3           =
 20239                    E  Bq/m3           =
 20240                    E  Bq/m3           =
 20241                    E  Bq/m3           =

 [20242 rows x 27 columns],
 'sediment':              lon        lat  tot_depth        time  sed_type  sample nuclide  \
 0      10.850000  54.049999       22.0   866592000        58     842     be7
 1      10.203300  54.415001       13.0   811641600        58    4064     be7
 2      10.203300  54.415001       13.0   811641600        58    4069     be7
 3      10.203300  54.415001       13.0   811641600        58    4074     be7
 4      11.750000  54.416698       24.0   838512000        58    4535     be7
 ...          ...        ...        ...         ...       ...     ...     ...
 37084  23.391199  65.277496       90.0  1283299200         2   37039   bi212
 37085  23.391199  65.277496       90.0  1283299200         2   37048   bi212
 37086  23.391199  65.277496       90.0  1283299200         2   37065   bi212
 37087  23.391199  65.277496       90.0  1283299200         2   37074   bi212
 37088  23.391199  65.277496       90.0  1283299200         2   37083   bi212

            value    _unc  _dl  ...  Latitude minutes Latitude seconds  \
 0      24.299999  7.7760    1  ...                 2        59.997253
 1      45.500000  4.5500    1  ...                24        54.003296
 2       7.000000     NaN    2  ...                24        54.003296
 3       4.800000     NaN    2  ...                24        54.003296
 4       6.900000  1.9320    1  ...                25         0.114441
 ...          ...     ...  ...  ...               ...              ...
 37084  42.900002  6.1347    1  ...                16        38.986816
 37085  58.400002  6.1904    1  ...                16        38.986816
 37086  51.400002  5.9624    1  ...                16        38.986816
 37087  41.799999  5.4758    1  ...                16        38.986816
 37088  43.700001  3.4523    1  ...                16        38.986816

       Latitude direction Longitude degrees Longitude minutes  \
 0                      N                10                51
 1                      N                10                12
 2                      N                10                12
 3                      N                10                12
 4                      N                11                45
 ...                  ...               ...               ...
 37084                  N                23                23
 37085                  N                23                23
 37086                  N                23                23
 37087                  N                23                23
 37088                  N                23                23

        Longitude seconds  Longitude direction    Unit Value type  \
 0               0.001373                    E  Bq/kgd          =
 1              11.881714                    E  Bq/kgd          =
 2              11.881714                    E  Bq/kgd          <
 3              11.881714                    E  Bq/kgd          <
 4               0.000000                    E  Bq/kgd          =
 ...                  ...                  ...     ...        ...
 37084          28.316803                    E  Bq/kgd          =
 37085          28.316803                    E  Bq/kgd          =
 37086          28.316803                    E  Bq/kgd          =
 37087          28.316803                    E  Bq/kgd          =
 37088          28.316803                    E  Bq/kgd          =

        Sediment type
 0           Pure mud
 1           Pure mud
 2           Pure mud
 3           Pure mud
 4           Pure mud
 ...              ...
 37084         Gravel
 37085         Gravel
 37086         Gravel
 37087         Gravel
 37088         Gravel

 [37089 rows x 26 columns],
 'biota':            lon        lat  smp_depth        time  bio_group  species  \
 0      11.5000  54.080002        0.0   908755200         11       96
 1      11.5000  54.080002        0.0   900547200         11       96
 2      11.5000  54.080002        0.0   874540800         14      129
 3      11.5000  54.080002        0.0   865900800         14      129
 4      11.5000  54.080002        0.0   874886400         11       96
 ...        ...        ...        ...         ...        ...      ...
 14868  12.0742  57.335201        0.0  1253145600         11       96
 14869  12.0742  57.335201        0.0  1225670400         11       96
 14870  12.0742  57.335201        0.0  1160352000         11       96
 14871  12.0742  57.335201        0.0  1380240000         11       96
 14872  12.0742  57.335201        0.0  1409788800         11       96

        body_part  sample nuclide   value  ...  Latitude seconds  \
 0             54     150     be7  46.500  ...         48.006592
 1             54     159     be7  66.500  ...         48.006592
 2              1     168     be7   5.430  ...         48.006592
 3              1     177     be7  13.700  ...         48.006592
 4             54     183     be7  11.300  ...         48.006592
 ...          ...     ...     ...     ...  ...               ...
 14868         54   11586   tl208   0.880  ...          6.724548
 14869         54   11598   tl208   0.770  ...          6.724548
 14870         54   11620   tl208   1.310  ...          6.724548
 14871         54   11766   tl208   0.668  ...          6.724548
 14872         54   11775   tl208   0.684  ...          6.724548

        Latitude direction  Longitude degrees Longitude minutes  \
 0                       N                 11                30
 1                       N                 11                30
 2                       N                 11                30
 3                       N                 11                30
 4                       N                 11                30
 ...                   ...                ...               ...
 14868                   N                 12                 4
 14869                   N                 12                 4
 14870                   N                 12                 4
 14871                   N                 12                 4
 14872                   N                 12                 4

       Longitude seconds Longitude direction    Unit  Value type  \
 0              0.000000                   E  Bq/kgd           =
 1              0.000000                   E  Bq/kgd           =
 2              0.000000                   E  Bq/kgd           =
 3              0.000000                   E  Bq/kgd           =
 4              0.000000                   E  Bq/kgd           <
 ...                 ...                 ...     ...         ...
 14868         27.118835                   E  Bq/kgd           =
 14869         27.118835                   E  Bq/kgd           =
 14870         27.118835                   E  Bq/kgd           =
 14871         27.118835                   E  Bq/kgd           =
 14872         27.118835                   E  Bq/kgd           =

                  Species                 Body part
 0      Fucus vesiculosus  Whole haptophytic plants
 1      Fucus vesiculosus  Whole haptophytic plants
 2         Mytilus edulis              Whole animal
 3         Mytilus edulis              Whole animal
 4      Fucus vesiculosus  Whole haptophytic plants
 ...                  ...                       ...
 14868  Fucus vesiculosus  Whole haptophytic plants
 14869  Fucus vesiculosus  Whole haptophytic plants
 14870  Fucus vesiculosus  Whole haptophytic plants
 14871  Fucus vesiculosus  Whole haptophytic plants
 14872  Fucus vesiculosus  Whole haptophytic plants

 [14873 rows x 29 columns]}

***

### Rename columns

In [ ]:
#| export
# Define columns of interest (keys) and renaming rules (values).
def get_renaming_rules_netcdf2OpenRefine():
    vars = cdl_cfg()['vars']
    return {('seawater','biota', 'sediment') : {    
                                                        ## DEFAULT
                                                        'Sample type' : 'Sample type',
                                                        'Latitude degrees' : 'Latitude degrees',
                                                        'Latitude minutes' : 'Latitude minutes',
                                                        'Latitude seconds' : 'Latitude seconds',
                                                        'Latitude direction' : 'Latitude direction',
                                                        'Longitude degrees' : 'Longitude degrees',
                                                        'Longitude minutes' : 'Longitude minutes',
                                                        'Longitude seconds' : 'Longitude seconds', 
                                                        'Longitude direction' : 'Longitude direction', 
                                                        vars['defaults']['lat']['name'] : 'Latitude decimal',
                                                        vars['defaults']['lon']['name'] : 'Longitude decimal',
                                                        'Sampling start date' : 'Sampling start date',
                                                        'Sampling start time' : 'Sampling start time',
                                                        'Nuclide' : 'Nuclide',
                                                        'Value type': 'Value type',
                                                        'Unit' : 'Unit',
                                                        'value' : 'Activity or MDA',
                                                        vars['suffixes']['uncertainty']['name'] : 'Uncertainty',
                                                        #'data_provider_station_id' : 'Station ID',
                                                        #vars['defaults']['data_provider_sample_id']['name'] :'Sample ID',
                                                        #'profile_id' : 'Profile or transect ID',                                                        
                                                        #'Sampling method' : 'sampling_method'
                                                        #'Preparation method' : 'preparation_method'
                                                        #'Counting method' : 'counting_method'
                                                        #'Sample notes' : 'sample_notes'
                                                        #'Measurement notes' : 'measurement_notes'
                                                    },
                  ('seawater',) : {
                                ## SEAWATER
                                vars['defaults']['tot_depth']['name'] : 'Total depth',
                                vars['defaults']['smp_depth']['name'] : 'Sampling depth' ,
                                vars['suffixes']['salinity']['name'] : 'Salinity',
                                vars['suffixes']['temperature']['name'] : 'Temperature',
                                #vars['suffixes']['filtered']['name'] : 'Filtered' TODO: Include in NetCDF encoder. 
                                },
                  ('biota',) : { 
                                ## BIOTA
                                'Species' : 'Species',
                                'Body part' : 'Body part',
                                'bio_group' : vars['bio']['bio_group']['name'],
                                #'SDEPTH' : vars['defaults']['smp_depth']['name'],
                                #'dry_wet_ratio' : 'Dry/wet ratio'
                                #'Drying Method' : drying_method
                                
                                },
                  ('sediment',) : {
                                ## SEDIMENT
                                vars['defaults']['tot_depth']['name'] : 'Total depth',
                                'Sediment type' : 'Sediment type',
                                #'top' : 'Top',
                                #'bottom' : 'Bottom', 
                                #'dry_wet_ratio' : 'Dry/wet ratio'
                                #'Drying Method' : drying_method
                                }
                    }

In [ ]:
class SelectAndRenameColumnCB(Callback):
    def __init__(self,
                 fn_renaming_rules,
                ):
        fc.store_attr()
    def __call__(self, tfm):
        renaming = self.fn_renaming_rules()
        for grp in tfm.dfs.keys():            
            # get columns related to the grp (e.g. 'biota').
            coi = [v for k, v in renaming.items() if grp in k]
            # Join cols of interest
            coi_rename = {}
            for d in coi:
                for k, v in d.items(): 
                    coi_rename[k]=v
            # list cols
            cols = list(coi_rename.keys()) 
            # select cols in df 
            tfm.dfs[grp] = tfm.dfs[grp].loc[:, cols]
            # Rename cols
            tfm.dfs[grp].rename(columns=coi_rename, inplace=True)

In [ ]:
#|eval: false
dfs = netcdf4_to_df(fname_in)
tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB(),
                            LookupSedimentTypeByIdCB(),
                            SelectAndRenameColumnCB(get_renaming_rules_netcdf2OpenRefine)
                            ])
tfm()

{'seawater':       Sample type  Latitude degrees  Latitude minutes  Latitude seconds  \
 0        SEAWATER                54                 0         21.601868
 1        SEAWATER                54                 0         22.315979
 2        SEAWATER                54                 0         22.686768
 3        SEAWATER                54                 0         23.400879
 4        SEAWATER                54                 0         24.005127
 ...           ...               ...               ...               ...
 20237    SEAWATER                57                20         35.879517
 20238    SEAWATER                59                25         59.880066
 20239    SEAWATER                59                26         23.280945
 20240    SEAWATER                59                26         23.280945
 20241    SEAWATER                65                14         23.992310

       Latitude direction  Longitude degrees  Longitude minutes  \
 0                      N                 14                 11
 1                      N                 14                 12
 2                      N                 14                 11
 3                      N                 14                 12
 4                      N                 14                 12
 ...                  ...                ...                ...
 20237                  N                 20                  1
 20238                  N                 21                 30
 20239                  N                 21                 31
 20240                  N                 21                 31
 20241                  N                 23                 33

        Longitude seconds Longitude direction  Latitude decimal  ...  \
 0              59.278336                   E         54.006001  ...
 1               8.280258                   E         54.006199  ...
 2              58.200302                   E         54.006302  ...
 3               3.600769                   E         54.006500  ...
 4               1.798325                   E         54.006668  ...
 ...                  ...                 ...               ...  ...
 20237          48.002472                   E         57.343300  ...
 20238           0.000000                   E         59.433300  ...
 20239          32.882538                   E         59.439800  ...
 20240          32.882538                   E         59.439800  ...
 20241          18.001099                   E         65.239998  ...

        Sampling start time    Nuclide Value type   Unit Activity or MDA  \
 0                 00:00:00         3H          =  Bq/m3        850.0000
 1                 00:00:00         3H          =  Bq/m3        970.0000
 2                 00:00:00         3H          =  Bq/m3        910.0000
 3                 00:00:00         3H          =  Bq/m3       1070.0000
 4                 00:00:00         3H          =  Bq/m3       1020.0000
 ...                    ...        ...        ...    ...             ...
 20237             00:00:00  243_244Cm          =  Bq/m3          0.0064
 20238             00:00:00  243_244Cm          =  Bq/m3          0.0045
 20239             00:00:00  243_244Cm          =  Bq/m3          0.0022
 20240             00:00:00  243_244Cm          =  Bq/m3          0.0064
 20241             00:00:00  243_244Cm          =  Bq/m3          0.0039

       Uncertainty  Total depth  Sampling depth  Salinity  Temperature
 0       59.669998         11.0             0.0      7.50          NaN
 1       29.100000         12.0             0.0      6.77          NaN
 2       24.570000         12.0             0.0      6.80          NaN
 3       21.400000         12.0             0.0      5.82          NaN
 4       20.400000         12.0             0.0      5.40          NaN
 ...           ...          ...             ...       ...          ...
 20237    0.001280        236.0             0.0      6.90          NaN
 20238    0.000900        156.0             0.0      6.75          NaN
 20239    0.000660        160.0             0.0      5.83         20.4
 20240    0.001920        160.0           150.0      9.77          3.9
 20241    0.001170         73.0             0.0      3.10         15.6

 [20242 rows x 22 columns],
 'sediment':       Sample type  Latitude degrees  Latitude minutes  Latitude seconds  \
 0        SEDIMENT                54                 2         59.997253
 1        SEDIMENT                54                24         54.003296
 2        SEDIMENT                54                24         54.003296
 3        SEDIMENT                54                24         54.003296
 4        SEDIMENT                54                25          0.114441
 ...           ...               ...               ...               ...
 37084    SEDIMENT                65                16         38.986816
 37085    SEDIMENT                65                16         38.986816
 37086    SEDIMENT                65                16         38.986816
 37087    SEDIMENT                65                16         38.986816
 37088    SEDIMENT                65                16         38.986816

       Latitude direction  Longitude degrees  Longitude minutes  \
 0                      N                 10                 51
 1                      N                 10                 12
 2                      N                 10                 12
 3                      N                 10                 12
 4                      N                 11                 45
 ...                  ...                ...                ...
 37084                  N                 23                 23
 37085                  N                 23                 23
 37086                  N                 23                 23
 37087                  N                 23                 23
 37088                  N                 23                 23

        Longitude seconds Longitude direction  Latitude decimal  \
 0               0.001373                   E         54.049999
 1              11.881714                   E         54.415001
 2              11.881714                   E         54.415001
 3              11.881714                   E         54.415001
 4               0.000000                   E         54.416698
 ...                  ...                 ...               ...
 37084          28.316803                   E         65.277496
 37085          28.316803                   E         65.277496
 37086          28.316803                   E         65.277496
 37087          28.316803                   E         65.277496
 37088          28.316803                   E         65.277496

        Longitude decimal Sampling start date Sampling start time Nuclide  \
 0              10.850000         18-Jun-1997            00:00:00     7Be
 1              10.203300         21-Sep-1995            00:00:00     7Be
 2              10.203300         21-Sep-1995            00:00:00     7Be
 3              10.203300         21-Sep-1995            00:00:00     7Be
 4              11.750000         28-Jul-1996            00:00:00     7Be
 ...                  ...                 ...                 ...     ...
 37084          23.391199         01-Sep-2010            00:00:00   212Bi
 37085          23.391199         01-Sep-2010            00:00:00   212Bi
 37086          23.391199         01-Sep-2010            00:00:00   212Bi
 37087          23.391199         01-Sep-2010            00:00:00   212Bi
 37088          23.391199         01-Sep-2010            00:00:00   212Bi

       Value type    Unit  Activity or MDA  Uncertainty  Total depth  \
 0              =  Bq/kgd        24.299999       7.7760         22.0
 1              =  Bq/kgd        45.500000       4.5500         13.0
 2              <  Bq/kgd         7.000000          NaN         13.0
 3              <  Bq/kgd         4.800000          NaN         13.0
 4              =  Bq/kgd         6.900000       1.9320         24.0
 ...          ...     ...              ...          ...          ...
 37084          =  Bq/kgd        42.900002       6.1347         90.0
 37085          =  Bq/kgd        58.400002       6.1904         90.0
 37086          =  Bq/kgd        51.400002       5.9624         90.0
 37087          =  Bq/kgd        41.799999       5.4758         90.0
 37088          =  Bq/kgd        43.700001       3.4523         90.0

       Sediment type
 0          Pure mud
 1          Pure mud
 2          Pure mud
 3          Pure mud
 4          Pure mud
 ...             ...
 37084        Gravel
 37085        Gravel
 37086        Gravel
 37087        Gravel
 37088        Gravel

 [37089 rows x 20 columns],
 'biota':       Sample type  Latitude degrees  Latitude minutes  Latitude seconds  \
 0           BIOTA                54                 4         48.006592
 1           BIOTA                54                 4         48.006592
 2           BIOTA                54                 4         48.006592
 3           BIOTA                54                 4         48.006592
 4           BIOTA                54                 4         48.006592
 ...           ...               ...               ...               ...
 14868       BIOTA                57                20          6.724548
 14869       BIOTA                57                20          6.724548
 14870       BIOTA                57                20          6.724548
 14871       BIOTA                57                20          6.724548
 14872       BIOTA                57                20          6.724548

       Latitude direction  Longitude degrees  Longitude minutes  \
 0                      N                 11                 30
 1                      N                 11                 30
 2                      N                 11                 30
 3                      N                 11                 30
 4                      N                 11                 30
 ...                  ...                ...                ...
 14868                  N                 12                  4
 14869                  N                 12                  4
 14870                  N                 12                  4
 14871                  N                 12                  4
 14872                  N                 12                  4

        Longitude seconds Longitude direction  Latitude decimal  ...  \
 0               0.000000                   E         54.080002  ...
 1               0.000000                   E         54.080002  ...
 2               0.000000                   E         54.080002  ...
 3               0.000000                   E         54.080002  ...
 4               0.000000                   E         54.080002  ...
 ...                  ...                 ...               ...  ...
 14868          27.118835                   E         57.335201  ...
 14869          27.118835                   E         57.335201  ...
 14870          27.118835                   E         57.335201  ...
 14871          27.118835                   E         57.335201  ...
 14872          27.118835                   E         57.335201  ...

        Sampling start date Sampling start time Nuclide Value type    Unit  \
 0              19-Oct-1998            00:00:00     7Be          =  Bq/kgd
 1              16-Jul-1998            00:00:00     7Be          =  Bq/kgd
 2              18-Sep-1997            00:00:00     7Be          =  Bq/kgd
 3              10-Jun-1997            00:00:00     7Be          =  Bq/kgd
 4              22-Sep-1997            00:00:00     7Be          <  Bq/kgd
 ...                    ...                 ...     ...        ...     ...
 14868          17-Sep-2009            00:00:00   208Tl          =  Bq/kgd
 14869          03-Nov-2008            00:00:00   208Tl          =  Bq/kgd
 14870          09-Oct-2006            00:00:00   208Tl          =  Bq/kgd
 14871          27-Sep-2013            00:00:00   208Tl          =  Bq/kgd
 14872          04-Sep-2014            00:00:00   208Tl          =  Bq/kgd

       Activity or MDA  Uncertainty            Species  \
 0              46.500     1.813500  Fucus vesiculosus
 1              66.500     6.317500  Fucus vesiculosus
 2               5.430     1.574700     Mytilus edulis
 3              13.700     4.384000     Mytilus edulis
 4              11.300     0.000000  Fucus vesiculosus
 ...               ...          ...                ...
 14868           0.880     0.079200  Fucus vesiculosus
 14869           0.770     0.069300  Fucus vesiculosus
 14870           1.310     0.142790  Fucus vesiculosus
 14871           0.668     0.057448  Fucus vesiculosus
 14872           0.684     0.072504  Fucus vesiculosus

                       Body part bio_group
 0      Whole haptophytic plants        11
 1      Whole haptophytic plants        11
 2                  Whole animal        14
 3                  Whole animal        14
 4      Whole haptophytic plants        11
 ...                         ...       ...
 14868  Whole haptophytic plants        11
 14869  Whole haptophytic plants        11
 14870  Whole haptophytic plants        11
 14871  Whole haptophytic plants        11
 14872  Whole haptophytic plants        11

 [14873 rows x 21 columns]}

***

### Encoding

In [ ]:
#| export
def encode(fname_in, fname_out, ref_id=-1, **kwargs):
    dfs = netcdf4_to_df(fname_in)
    tfm = Transformer(dfs, cbs=[ReshapeWideToLong(),
                            LookupTimeFromEncodedTime(cfg()),
                            GetSampleTypeCB(),
                            LookupNuclideByIdCB(),
                            ConvertLonLatCB(), 
                            LookupUnitByIdCB(),
                            LookupValueTypeByIdCB(),
                            LookupSpeciesByIdCB(),
                            LookupBodypartByIdCB(),
                            LookupSedimentTypeByIdCB(),
                            SelectAndRenameColumnCB(get_renaming_rules_netcdf2OpenRefine)
                            ])
    
    encoder = OpenRefineCsvEncoder(tfm(), 
                            dest_fname=fname_out,
                            ref_id = ref_id,
                            **kwargs)
    encoder.encode()
    return encoder

In [ ]:
encode(fname_in, fname_out, ref_id, verbose=False)

## TODO

TODO Review Maris Nuclides lut. Cs127?

TODO: Should the var be called 'detection limit'? Is 'value type' more appropriate?

TODO Biogroup not used in OPEN REfINE csv format. Confirm this

TODO Ask about Species dbo. Paul said there is a larger one.

TODO: Maintain sample (i.e. index) in the output.